[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[% IF comment.type == constants.CMT_MOVED_TO %]
[% comment.body %]

[%+ terms.Blad %] został przeniesiony do [% Param("move-to-url") %].
Jeśli przenoszenie zakończy się prawidłowo, [% comment.extra_data FILTER email %] otrzyma powiadomienie zawierające
numer nowego [% terms.bledu %] w innej bazie danych.
Jeśli wszystko zakończyło się pomyślnie, wklej odnośnik do nowego [% terms.bledu %]. 
Jeśli nie, otwórz ponownie ten [% terms.blad %].
[% END %]
