[%# 4.4rc1PL@aviary.pl %]
[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

From: [% Param('mailfrom') %]
To: [% Param('maintainer') %]
Subject: [[% terms.Bugzilla %]] – odmowa dostępu do konta: [% locked_user.login %] ([% address %])
X-Bugzilla-Type: admin

Ten adres IP [% address %] został zablokowany z powodu zbyt dużej liczby prób logowania ([%- constants.MAX_LOGIN_ATTEMPTS +%]) na konto [% locked_user.login %]. 

Liczba prób logowania:

[% FOREACH login = attempts %]
  [%+ login.login_time FILTER time %]
[% END %]

Ponowne logowanie z tego adresu IP będzie możliwe o [%+ unlock_at FILTER time %].
