[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

Content-Type: text/plain
From: [% Param('mailfrom') %]
To: [% user.email %]
Subject: [[% terms.Bugzilla %]] – Użyto tożsamości Twojego konta [% user.login %]
X-Bugzilla-Type: admin

    Użytkownik [% sudoer.identity %] użył funkcji „sudo” do pracy w [% terms.Bugzilli %] za pomocą Twojego konta.

[% IF reason %]
    Użytkownik [% sudoer.identity %] podał następujący powód:

[% reason FILTER wrap_comment %]
[% ELSE %]
    Użytkownik [% sudoer.identity %] nie podał powodu użycia funkcji „sudo”.
[% END %]

    Jeśli masz wątpliwości, skontaktuj się z administratorem [% Param("maintainer") %]. Więcej informacji o funkcji „sudo” można znaleźć pod adresem <[% urlbase %]page.cgi?id=sudo.html>.
