[%# 4.3PL@aviary.pl %]
[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

From: [% Param("mailfrom") %]
To: [% email %][% Param("emailsuffix") %]
Subject: Przypomnienie o [% terms.bledach %] w systemie [% terms.Bugzilla %].
X-Bugzilla-Type: whine

[Ta wiadomość została wygenerowana automatycznie.]

W systemie śledzenia [% terms.bledow %] [%+ terms.Bugzilla %] ([% urlbase %]) jest co najmniej jeden [% terms.blad %] przypisany do Ciebie, który wymaga uwagi.

Wszystkie te [% terms.bledy %] mają status [% display_value("bug_status", "CONFIRMED") %] i nikt się nimi nie zajmował 
od co najmniej [% Param("whinedays") %] dni[% "a" IF Param("whinedays") == 1 %].
Należy przejrzeć ww. [% terms.bledy %] i podjąć decyzję co do ich dalszego losu.

Możliwe decyzje:

(1) Ten [% terms.blad %] jest prosty do rozwiązania (np. jest [% display_value("resolution", "INVALID") %]), 
    więc można go wyeliminować natychmiast.
(2) Ten [% terms.blad %] nie należy do Ciebie, więc trzeba go do kogoś przypisać.
    (Podpowiedź: Jeśli nie wiesz komu przypisać ten [% terms.blad %], wybierz odpowiedni 
    komponent i użyj funkcji „Przywróć domyślną osobę odpowiedzialną”.)
(3) Jeśli [% terms.blad %] jest przypisany do Ciebie, lecz nie możesz rozwiązać go w tej chwili,
    zaakceptuj [% terms.blad %], ustawiając status [% display_value("bug_status", "IN_PROGRESS") %].

Pełną listę [% terms.bledow %] ze statusem [% display_value("bug_status", "CONFIRMED") %] można uzyskać pod adresem:

 [% urlbase %]buglist.cgi?bug_status=CONFIRMED&assigned_to=[% email %]

lub można użyć strony wyszukiwania [% terms.bledow %]:

[%+ urlbase %]query.cgi

Poniżej dołączono poszczególne adresy URL do wszystkich Twoich [% terms.bledow %] 
ze statusem [% display_value("bug_status", "CONFIRMED") %], którymi nikt się nie zajmował od co najmniej [% Param("whinedays") %] dni[% "a" IF Param("whinedays") == 1 %].

Wiadomość tę będziesz otrzymywać codziennie do czasu podjęcia kroków w celu rozwiązania tych [% terms.bledow %].

[% FOREACH bug = bugs %]
 [%+ bug.summary %]
    -> [% urlbase %]show_bug.cgi?id=[% bug.id %]
[% END %]
