[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Emmanuel Seyman <eseyman@linagora.com>
  #%]

[% PROCESS "global/field-descs.none.tmpl" %]
From: [% Param("mailfrom") %]
To: [% email %][% Param("emailsuffix") %]
Subject: Przypomnienie o [% terms.bledach %] w [% terms.Bugzilla %].
X-Bugzilla-Type: whine

[Wiadomość e-mail wygenerowana automatycznie.]

W systemie [% terms.Bugzilla %] znaleziono conajmniej jeden [% terms.blad %] przypisany do Ciebie, 
który wymaga uwagi.

Wszystkie te [% terms.bledy %] są w stanie [% status_descs.NEW %] lub 
[% status_descs.REOPENED %] i nie zostały zmienione od co najmniej
[% Param("whinedays") %] dni.
Należy przejrzeć ww. [% terms.bledy %] i zdecydować co do ich dalszego losu.

Możliwe sytuacje:

(1) Ten [% terms.blad %] jest prosty do rozwiązania (np. [% get_resolution("INVALID") %]),
    więc można się go pozbyć natychmiast.
(2) Ten [% terms.blad %] należy do kogoś innego, więc należy go przepisać tej osobie.
    (Podpowiedź: jeśli osoba nie jest znana, należy określic dobrze pole Komponent,
    a następnie przepisac [% terms.blad %] do domyślnego właściciela tego komponentu.)
(3) Jeśli [% terms.blad %] należy do Ciebie, lecz nie można go rozwiązać natychmiast,
    należy wydać polecenie "Akceptuj [% terms.blad %]".

Pełną listę [% terms.bledow %] ze statusem [% status_descs.NEW %]/[% status_descs.REOPENED %] 
można uzyskać pod adresem:

 [% Param("urlbase") %]buglist.cgi?bug_status=NEW&bug_status=REOPENED&assigned_to=[% email %]

lub można użyć zwykłej strony zapytań:
[%+ Param("urlbase") %]query.cgi

Poniżej dołączono poszczególne adresy URLs do wszystkich [% terms.bledow %] ze statusem
[% status_descs.NEW %], które nie były modyfikowane conajmniej tydzień.

Wiadomość ta będzie wysyłana codziennie do czasu podjęcia kroków w celu rozwiązania
tych [% terms.bledow %].

[% FOREACH bug = bugs %]
 [%+ bug.summary %]
    -> [% Param("urlbase") %]show_bug.cgi?id=[% bug.id %]
[% END %]
