[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Eli Goldberg <eli@prometheus-music.com>
  #                 Gervase Markham <gerv@gerv.net>
  #                 Vera Horiuchi
  #                 Claudius Gayle
  #                 Peter Mock
  #                 Chris Pratt
  #                 Tom Schutter
  #                 Chris Yeh
  #%]

[% PROCESS "global/field-descs.none.tmpl" %]

[% INCLUDE global/header.html.tmpl title = "Wytyczne zgłaszania $terms.bledow" %] 

<h3>Spis treści</h3>
<ul>
<li><a href="#why">Dlaczego to jest ważne</a></li>
<li><a href="#useful">Co sprawia, że zgłoszenie [% terms.bledu %] jest przydatne?</a></li>
<li><a href="#before">Zanim zaczniesz...</a></li>
<li><a href="#reporting">Zgłaszanie [% terms.bledu %]</a></li>
<li><a href="#more">Dalsze wskazówki dotyczące tworzenia dobrych zgłoszeń [% terms.bledow %]</a></li>
</ul>

<h3><a name="why">Dlaczego to jest ważne</a></h3>

<blockquote>
  <p>Zwykle jakość raportu jednoznacznie wpływa na możliwość rozwiązania 
  [% terms.bledu %] przez programistę.</p>

  <p>Ten dokument ma pomóc nowicjuszom i średnio-zaawansowanym
  użytkownikom [% terms.Bugzilli %] w tworzeniu wartościowych raportów o 
  [% terms.bledach %]. Nie wszystkie uwagi zawarte w tym dokumencie muszą
  być adekwatne dla konkretnego projektu, w którym wykorzystywana jest [% terms.Bugzilla %].</p>
</blockquote>

<h3><a name="useful">Co sprawia, że zgłoszenie [% terms.bledu %] jest przydatne</a></h3>

<blockquote>
  <p>Wartościowe raporty o [% terms.bledach %] to takie, które pozwalają
  rozwiązać [% terms.blad %].
  Tego typu raporty zwykle mają dwie następujące własności:</p>

  <ul>
    <li><b>Powtarzalność.</b> Jeśli osoba odpowiedzialna za pracę nad
    raportami [% terms.bledow %] nie jest w stanie samodzielnie potwierdzić
    istnienia danego [% terms.bledu %], istnieje duża szansa że taki
    raport zostanie oznaczony jako "[% get_resolution("WORKSFORME") FILTER html %]"
    lub "[% get_resolution("INVALID") FILTER html %]" i osoba ta
    przejdzie do kolejnego [% terms.bledu %]. Każdy szczegół może być
    ważny.<br>
    <br>
    </li>

    <li><b>Wyrazistość.</b> Im szybciej programista będzie w stanie określić
    zasięg występowania [% terms.bledu %], tym szybciej będzie w stanie
    go rozwiązać (jeśli programista lub osoba testujące będą zmuszone
    rozgryzać zawiłości [% terms.bledu %], prawdopodobnie więcej czasu spędzi ona
    na przeklinaniu zgłaszającego, niż na rzeczywistym rozwiązywaniu problemu).
    <br>
    </li>
  </ul>

</blockquote>

<h3><a name="before">Zanim zaczniesz...</a></h3>

<ol>
  <li>Przed zgłoszeniem [% terms.bledu %], proszę użyć 
  <a href="query.cgi?format=specific">strony wyszukiwania</a> [% terms.Bugzilli %],
aby określić czy czasem [% terms.blad %] ten nie jest już znany.</li>

  <li>Należy sprawdzić występowanie [% terms.bledu %] w najnowszej wersji programu. 
  Programiści są najbardziej zainteresowani błędami w wersjach, nad
  którymi pracują. Zgłaszany [% terms.blad %] może być już dawno poprawiony.</li>
</ol>

<blockquote>
Nie można znaleźć takiego [% terms.bledu %] w [% terms.Bugzilli %]? Występuje w
 najnowszej wersji? No to zgłaszamy.
</blockquote>

<h3><a name="reporting">Zgłaszanie [% terms.bledu %]</a></h3>

<ol>
 <li>Na głównej stronie [% terms.Bugzilli %] należy otworzyć odnośnik
 "<a href="enter_bug.cgi">Zgłoszenie nowego [% terms.bledu %]</a>".</li>

 <li>Następnie należy wybrać produkt, w którym znaleziono [% terms.blad %].</li>

 <li>Potem należy zalogować się do [% terms.Bugzilli %]...</li>

 <li>...i wypełnić formularz:</li>

</ol>


  <p><b>Gdzie [% terms.blad %] został wykryty?</b></p>

  <blockquote>
    <p><b>Produkt: W którym produkcie został znaleziony ten [% terms.blad %]?</b><br>
     Wartość dla tego pola podano na poprzedniej stronie, więc jego edycja jest
     niemożliwa.</p>

    <p><b>Wersja: W której wersji produktu znaleziono [% terms.blad %]?</b><br>
     (jeśli dostępne)</p>

    <p><b>Komponent: W którym komponencie istnieje ten [% terms.blad %]?</b><br>
    [% terms.Bugzilla %] wymaga wyboru komponentu podczas procesu zgłaszania 
    [% terms.bledu %]. (Jeśli nie ma pewności, który komponent wybrać, proszę wybrać odnośnik Komponent.
    Spowoduje to wyświetlenie opisu dla każdego komponentu, co może być pomocne w 
    wyborze właściwego).</p>

    <p><b>OS: Na jakim systemie operacyjnym występuje [% terms.blad %]?</b>
    (np. Linux, Windows 2000, Mac OS 9.)<br>
    Jeśli wiadomo, że ten problem występuje na każdym systemie operacyjnym, proszę wybrać 'Wszystkie'. 
    W przeciwnym wypadku należy wybrać system operacyjny, na którym udało się zlokalizować [% terms.blad %],
    lub 'Inny' jeśli tego systemu operacyjnego nie ma na liście.</p>
  </blockquote>

  <p><b>Jak ważny jest ten [% terms.blad %]?</b></p>

  <blockquote>
    <p><b>Waga błędu: w jakim stopniu poważny jest dany [% terms.blad %]?</b><br>
     Wartością domyślną pola jest 'normalny'. Jeśli nie ma pewności, jaką wagę przypisać 
     [% terms.bledowi %], należy otworzyć odnośnik Waga błędu. Zostanie wyświetlona strona, na
     której opisane są poszczególne wagi błędów.<br>
    </p>
  </blockquote>

  <p><b>Kto będzie śledził dany [% terms.blad %]?</b></p>

  <blockquote>
    <p><b>Przypisany do: Która osoba jest odpowiedzialna za rozwiązanie 
    [% terms.bledu %]?</b><br>
    [% terms.Bugzilla %] automatycznie przypisze [% terms.blad %] osobie, która
    została ustawiona jako domyślna dla danego komponentu. Jeśli chcemy przypisać 
    [% terms.blad %] innej osobie, należy wpisać jej adres e-mail w tym polu (aby zobaczyć,
    kto jest osobą domyślnie przypisaną do danego komponentu, należy otworzyć odnośnik 
    Komponent).</p>

    <p><b>Obserwatorzy: Kto jeszcze powinien otrzymywać wiadomości dotyczące zmian
    w tym [% terms.bledzie %]?</b><br>
     Tu należy podać listę osób które, naszym zdaniem powinne otrzymywać powiadomienia o
    wszystkich zmianach tego raportu [% terms.bledu %]. Można podać dowolną liczbę
    adresów e-mail osób, które mają konto w 
    [% terms.Bugzilli %]. Adresy należy oddzielić spacją lub przecinkiem.</p>
  </blockquote>

  <p><b>Co jeszcze można powiedzieć o tym [% terms.bledzie %]?</b></p>

  <blockquote>
    <p><b>Podsumowanie:</b> <b>W jaki sposób można opisać [% terms.blad %] w
    około 60 znakach?</b><br>
     Dobre podsumowanie powinno <b>szybko i jednoznacznie opisywać [% terms.blad %]</b>.
    W przeciwnym przypadku programista nie będzie w stanie jednoznacznie zidentyfikować
    Twojego [% terms.bledu %], co może sprawić, że zostanie on niezauważony podczas
    przeglądania 10 stronicowej listy [% terms.bledow %].<br>
    
    <br>
     Dobre podsumowanie to np: "<tt>Anulowanie kopiowania plików powoduje zamknięcie Nautilusa</tt>".
     Niepoprawne podsumowania: "<tt>Program się zawiesza</tt>" lub "<tt>problem przy kopiowaniu</tt>".<br>
    <br>
     <b>Opis:</b><br>
     W tym polu proszę podać wyczerpujący opis problemu. Czytelnicy  raportu
     prawdopodobnie będą oczekiwać co najmniej tych informacji:</p>

    <blockquote>
      <p><b>Ogólny opis:</b> Nieco bardziej szczegółowe rozwinięcie zawartości
      podsumowania.</p>

      <blockquote>
			<pre>
			Zaznaczenie myszką na dowolnej stronie powoduje że na Macu program wyłącza się w NSGetFactory.
			</pre>
      </blockquote>

      <p><b>Postępowanie aby powtórzyć:</b> Możliwie nieskomplikowany opis czynności,
      których powtórzenie pozwala na zauważenie [% terms.bledu %]. Powinien zawierać
      początkowe ustawienia wymagane do wystąpienia [% terms.bledu %].</p>

      <blockquote>
			<pre>
			1) Włącz dowolną stronę (ja użyłem jednej z przykładowych stron dołączanych do programu:
			  resource:/res/samples/test0.html).

			2) Zaznacz stronę używając myszki (Przyciskając przycisk myszki nad dowolnym elementem
			  na stronie, przeciągnij ją na sam dół strony). 
			</pre>
      </blockquote>

      <p><b>Otrzymany wynik:</b> Co stało się po wykonaniu tych czynności.</p>

      <blockquote>
			<pre>
			Program wyłączył się z błędem. Poniżej zamieszczam zrzut stosu z MacsBug.
			</pre>
      </blockquote>

      <p><b>Oczekiwany wynik:</b> Co powinno się otrzymać, gdyby ten [% terms.blad %]
      nie występował.</p>

      <blockquote>
		<pre>
		Okienko powinno zostać przewinięte w dół. Przewinięta zawartość powinna zostać zaznaczona
		(przynajmniej program powinien działać dalej).
		</pre>
      </blockquote>

      <p><b>Wersja i platforma:</b> Wersja oraz platforma na której zaobserwowano 
      [% terms.blad %].</p>

      <blockquote>
		<pre>
		Build 2006-08-10 dla Mac OS 10.4.3
		</pre>
      </blockquote>

      <p><b>Dodatkowe wersje i platformy:</b> Inne wersje i platformy, które testowano
      na występowanie tego [% terms.bledu %], oraz wyniki testów (jeśli taki test ma sens
      to również wyniki z innych programów).</p>

      <blockquote>
		<pre>
		- Nie pojawia się na Build 2006-08-10 na Windows XP Home (Service Pack 2)
		</pre>
      </blockquote>

      <p><b>Dodatkowe informacje:</b> Dodatkowe informacje, które mogą pomóc w
      poprawieniu błedu.
      Przykładowo dla [% terms.bledow %] powodujących awarię programu:</p>

      <ul>
        <li><b>Windows:</b> typ awarii i moduł, w którym nastąpił błąd
        (np. access violation in apprunner.exe).</li>

        <li><b>Mac OS X:</b> dołącz log "Crash Reporter", który pojawia się po awarii.
        Przydatny jest tylko fragment poniżej wątku, który spowodował awarię, zwykle nazywa iś on
        "Thread 0 Crashed". Proszę nie podawać całego pliku!</li>

      </ul>

    </blockquote>

  <p>Zakończone!<br>
  <br>
   Po sprawdzeniu czy sporządzone zgłoszenie nie zawiera żadnych błędów, proszę nacisnąć 
  przycisk "Wyślij", a raport o [% terms.bledzie %] zostanie dodany do
  bazy danych [% terms.Bugzilli %].<br>
  </p>
</blockquote>
<hr>

<h3><a name="more">Dalsze wskazówki dotyczące tworzenia dobrych zgłoszeń [% terms.bledow %]</a></h3>

<blockquote>
  <p><b><a name="tips"></a> 1. Ogólne porady</b></p>

  <blockquote>
    <p><b>Proszę używać formalnej struktury, dzięki temu sporządzone raporty będą łatwe do
    przejrzenia.</b> Osoby czytające raporty o [% terms.bledach %] często potrzebują
    dotrzeć do określonej części opisu [% terms.bledu %]. Jeśli używana instalacja 
    [% terms.Bugzilli %] zawiera narzędzie ułatwiające zgłaszanie 
    [% terms.bledow %] - proszę go użyć.</p>

    <p><b>Należy przedkładać wyrazistość nad elokwencje.</b> Nikt nie będzie śmiał się
    z zabawnego tytułu zgłoszenia, gdy o 3 nad ranem będzie starał przypomnieć
    sobie jak odnaleźć ten [% terms.blad %].</p>

    <p><b>Jeden [% terms.blad %] na jeden raport.</b> Zwykle zupełnie inne osoby
    naprawiają, weryfikują i ustalają priorytety dla [% terms.bledow %]. Jeśli w
    jednym raporcie zostanie zawartych kilka [% terms.bledow %], prawdopodobnie odpowiednie
    osoby nie dowiedzą się odpowiednio szybko o zgłoszonym raporcie. Dodatkowo, niektóre 
    [% terms.bledy %] mogą być ważniejsze niż inne i tym samym prawidłowe
    ustalenie priorytetu dla raportu może być niemożliwe.</p>

    <p><b>Żaden [% terms.blad %] nie jest na tyle trywialny, aby go nie zgłosić.</b>
    Rzeczywiste występowanie niektórych [% terms.bledow %], np. używanie zwolnionej
    pamięci, można zauważyć tylko przeglądając kod źródłowy - objawy tego typu 
    [% terms.bledu %] są postrzegane przez zwykłego użytkownika jako awaria programu.
    Niektóre klasy błędów ujawniają się w niezwykle trywialny sposób, więc zgłoszenia
    nawet dla takich przypadków, może pomóc w wyeliminowaniu rzeczywistych, nie tak 
    całkiem prostych [% terms.bledow %].<br>
    </p>
  </blockquote>

  <p><b><a name="summary"></a>2. Jak i dlaczego pisać dobre podsumowania [% terms.bledow %]</b></p>

  <blockquote>
    <p><b>Trzeba zrobić dobre wrażenie na odbiorcach raportu o [% terms.bledzie %].</b>
    Podobnie jak gazetowy nagłówek pozwala czytelnikowi wybrać interesujące go artykuły
    spośród wielu innych, podsumowanie [% terms.bledu %] pozwala stwierdzić osobie
    przeglądającej raporty, czy dany raport wart jest tego, by go wybrać spośród tuzinów
    lub setek innych</p>

    <p>Ogólne podsumowanie, jak np. <tt>problem z instalacją</tt>, wymusza na każdej osobie
    zainteresowanej błędami w instalatorze stratę czasu na przejrzenie całego raportu,
    żeby zobaczyć czy [% terms.blad %] ten, w rzeczywistości mieści się w zakresie
    obowiązków/zainteresowań danej osoby.</p>

    <p><b>[% terms.Bledy %] są zwykle wyszukiwane po ich podsumowaniu.</b> Podobnie
    jak wyszukuje się strony w Google przy użyciu intuicyjnych słów kluczowych, tak też
    próbuj się znaleźć określone zgłoszenie [% terms.bledu %]. Opisowe podsumowanie [% terms.bledu %] są
    łatwiejsze do znalezienia przy użyciu słów kluczowych, intuicyjnych dla danego problemu.</p>

    <p>Przykładowo, dla [% terms.bledu %] zatytułowanego "<tt>Przeciągnięcie
    ikony z widoku listy do okna gnome-terminala nie powoduje wstawienie ścieżki</tt>"
    wpisanie "lista", "terminal", lub "ścieżka" powinno być wystarczające. Dla
    "<tt>Przeciągnięcie ikony nie wkleja tekstu</tt>" nie.</p>

    <p>Należy zapytać siebie: "Czy ktoś zrozumie [% terms.blad %] po przeczytaniu samego
    podsumowania?". Jeśli tak, podsumowanie jest dobre.</p>

    <p><b>Przykłady złych wpisów:</b></p>

    <ol>
      <li>"Nie mogę zainstalować" - Dlaczego nie można zainstalować? Co się dzieje gdy
      podczas próby instalacji?</li>

      <li>"Poważne problemy z wydajnością" - ...które kiedy występują? W jakich okolicznościach?</li>

      <li>"Przycisk Wróć nie działa" - Zawsze?</li>
    </ol>

    <p><b>...i dobrych:</b></p>

    <ol>
      <li>"Nieudane uaktualnienie do 1.0 przy zainstalowanej Mozilli M18 package" -
      Opisuje problem i kontekst.</li>

      <li>"Instalacja przy użyciu RPM 4 nie udaje się na Red Hat 6.2 (RPM 3)" - 
      Wyjaśnia co się dzieje, i w jakim przypadku.</li>
    </ol>
  </blockquote>
</blockquote>

[% INCLUDE global/footer.html.tmpl %]
