[%# 4.3PL@aviary.pl %]
[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[% PROCESS "global/field-descs.none.tmpl" %]
[% PROCESS global/header.html.tmpl 
  title = "Cykl życia $terms.bledu"
  style_urls = ['skins/standard/page.css']
%]

<p>Opis pól widocznych na stronach [% terms.bledow %].</p>

<table class="field_value_explanation">
  <thead>
  <tr>
    <td id="bug_status">
      <h2>[% field_descs.bug_status FILTER upper FILTER html %]</h2>
    </td>

    <td id="resolution">
      <h2>[% field_descs.resolution FILTER upper FILTER html %]</h2>
    </td>
  </tr>

  <tr>
    <td>W polu [% field_descs.bug_status FILTER html %] określa się ogólny status [% terms.bledu %]. 
      Tylko niektóre przejścia pomiędzy różnymi wartościami tego pola
      są dozwolone.</td>

    <td>W polu [% field_descs.resolution FILTER html %] określa się, co stało się z danym
      [%+ terms.bledem %].</td>
  </tr>
  </thead>

  <tbody>
  <tr class="header_row">
    <td colspan="2">Otwarte [% terms.bledy %]</td>
  </tr>
  <tr>
    <td>
      <dl>
        <dt class="unconfirmed">
          [% display_value("bug_status", "UNCONFIRMED") FILTER html %]
        </dt>
        <dd class="unconfirmed">
          Ten [% terms.blad %] został niedawno dodany do bazy [% terms.bledow %]. 
          Nikt nie potwierdził, czy dany [% terms.blad %] występuje. Użytkownicy,
          którzy mają uprawnienie „Potwierdzanie [% terms.bledow %]”, mogą potwierdzić [% terms.blad %],
          zmieniając jego status na 
          <b>[% display_value("bug_status", "CONFIRMED") FILTER html %]</b>. 
          Ewentualnie może on być bezpośrednio rozwiązany i oznaczony jako
          <b>[% display_value("bug_status", "RESOLVED") FILTER html %]</b>.
        </dd>

        <dt class="confirmed">
          [% display_value("bug_status", "CONFIRMED") FILTER html %]
        </dt>
        <dd class="confirmed">
          Ten [% terms.blad %] został niedawno zgłoszony i jest potwierdzony.
          Taki [% terms.blad %] może zostać przypisany i zmienić status na
          <b>[% display_value("bug_status", "IN_PROGRESS") FILTER html %]</b> albo zostać
          rozwiązany ze zmianą statusu na <b>[% display_value("bug_status", "RESOLVED") FILTER html %]</b>.
        </dd>

        <dt class="in_progress">
          [% display_value("bug_status", "IN_PROGRESS") FILTER html %]
        </dt>
        <dd class="in_progress">
          Ten [% terms.blad %] nie został jeszcze rozwiązany, lecz został już przypisany
          do właściwej osoby. Taki [% terms.blad %] może zostać przypisany innej osobie
          i zmienić status na 
          <b>[% display_value("bug_status", "CONFIRMED") FILTER html %]</b> albo zostać
          rozwiązany ze zmianą statusu na 
          <b>[% display_value("bug_status", "RESOLVED") FILTER html %]</b>.
        </dd>
        
        [% Hook.process('open-status') %]
      </dl>
    </td>

    <td>
          Brak jeszcze rozwiązania. Dla [% terms.bledow %] o „otwartych” statusach
          pole rozwiązanie jest puste.
    </td>
  </tr>

  <tr class="header_row">
    <td colspan="2">Zamknięte [% terms.bledy %]</td>
  </tr>

  <tr>
    <td>
      <dl>
        <dt class="resolved">
          [% display_value("bug_status", "RESOLVED") FILTER html %]
        </dt>
        <dd class="resolved">
          Rozwiązanie [% terms.bledu %] zostało znalezione i czeka na weryfikację
          przez specjalistę QA. Taki [% terms.blad %] może zostać powtórnie otwarty lub 
          oznaczony jako
          <b>[% display_value("bug_status", "VERIFIED") FILTER html %]</b>.
        </dd>

        <dt class="verified">
          [% display_value("bug_status", "VERIFIED") FILTER html %]
        </dt>
        <dd class="verified">
          Specjalista QA zapoznał się z proponowanym rozwiązaniem [% terms.bledu %] i uznał,
          że jest ono wystarczające. Jest to ostateczny status [% terms.bledu %].
        </dd>
        
        [% Hook.process('closed-status') %]
      </dl>
    </td>

    <td>
      <dl>
        <dt class="fixed">
          [% display_value("resolution", "FIXED") FILTER html %]
        </dt>
        <dd class="fixed">
          Rozwiązanie takiego [% terms.bledu %] zostało przetestowane i wysłane do
          repozytorium.
        </dd>

        <dt class="invalid">
          [% display_value("resolution", "INVALID") FILTER html %]
        </dt>
        <dd class="invalid">
          Problem opisany w zgłoszeniu nie jest [% terms.bledem %].
        </dd>

        <dt class="wontfix">
          [% display_value("resolution", "WONTFIX") FILTER html %]
        </dt>
        <dd class="wontfix">
          Problem opisany w zgłoszeniu [% terms.bledu %] nigdy nie zostanie
          naprawiony.
        </dd>

        <dt class="duplicate">
         [% display_value("resolution", "DUPLICATE") FILTER html %]
        </dt>
        <dd class="duplicate">
          Zgłoszenie [% terms.bledu %] jest duplikatem istniejącego zgłoszenia.
          Po oznaczeniu [% terms.bledu %] jako
          <b>[% display_value("resolution", "DUPLICATE") FILTER html %]</b>,
          przy polu rozwiązanie, podawany jest numeru [% terms.bledu %], którego
          duplikatem jest ten [% terms.blad %].
        </dd>

        <dt class="worksforme">
          [% display_value("resolution", "WORKSFORME") FILTER html %]
        </dt>
        <dd class="worksforme">
          Próby powtórzenia [% terms.bledu %] zakończyły się fiaskiem, a kod źródłowy nie
          pozwala znaleźć powodu zaobserwowanego zachowania.
          Jeśli w późniejszym okresie pojawią się dodatkowe informacje, należy zmienić
          status [% terms.bledu %].
        </dd>
        
        [% Hook.process('resolution') %]
      </dl>
    </td>
  </tr>
  </tbody>
</table>

<h2>Pozostałe pola</h2>

[% SET field_help_map = {} %]
[% FOREACH field = bug_fields.keys %]
  [% SET field_desc = field_descs.$field %]
  [% field_help_map.$field_desc = { help  => help_html.$field, 
                                    field => field } %]
[% END %]

[%# These are fields that don't need to be documented, either because
  # they have docs somewhere else in the UI, or they don't show up on bugs. 
  # %]
[% SET skip_fields = [ 
  'days_elapsed', 
  'everconfirmed',
  'reporter_accessible',
  'cclist_accessible',
  'bug_group',
  'commenter',
  'owner_idle_time',
  'bug_status',
  'resolution',
] %]

<dl class="field_descriptions">
[% FOREACH field_desc = field_help_map.keys.sort %]
  [% SET field = field_help_map.${field_desc}.field %]
  [% SET field_object = bug_fields.$field %]

  [% NEXT IF field_object.obsolete %]
  [% NEXT IF !user.is_timetracker AND field_object.is_timetracking %]

  [% NEXT IF field == 'status_whiteboard' AND !Param('usestatuswhiteboard') %]
  [% NEXT IF field == 'target_milestone' AND !Param('usetargetmilestone') %]

  [%# For now we don't have help for attachment fields and so on. %]
  [% NEXT IF field.match('\.') %]

  [% NEXT IF skip_fields.contains(field) %]

  <dt id="[% field FILTER html %]">[% field_desc FILTER html %]</dt>
    <dd>
      [% SET help_text = field_help_map.${field_desc}.help %]
      [% help_text FILTER none %]
    </dd>
[% END %]
</dl>

[% PROCESS global/footer.html.tmpl %]
