[%# 4.4rc2+PL@aviary.pl %]
[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[% INCLUDE global/header.html.tmpl title = "Tworzenie odnośników w tekście" %]
[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]

<p>
  Skopiuj i wklej poniższy tekst:
</p>

<hr>

<p>
<pre class="bz_comment_text">
[%- cgi.param("text") FILTER quoteUrls FILTER html -%]
</pre>
</p>

<hr>

<p>
  Jeśli tekst ten zostanie umieszczony pomiędzy znacznikami <tt>&lt;pre&gt;</tt>,
  będzie wyglądał następująco:
</p>

<hr>

<p>
<pre class="bz_comment_text">
[%- cgi.param("text") FILTER quoteUrls -%]
</pre>
</p>

<hr>

[% INCLUDE global/footer.html.tmpl %]
