[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): N.N.
  #                 Marc Schumann <wurblzap@gmail.com>
  #%]

[% PROCESS global/variables.none.tmpl %]

[% INCLUDE global/header.html.tmpl
   title  = "Szybkie wyszukiwanie w $terms.Bugzilli",
   style  = 'ul {margin-bottom: 2ex}
             ul li {margin-top: 2ex}
             ul li ul li {margin-top: 0}'
   onload = 'document.forms[\'f\'].quicksearch.focus()'
 %]

<p style="font-size: 80%">
  Dla użytkowników zaznajomionych ze zwykłym formularzem wyszukiwania
  <a href="query.cgi">formularzem wyszukiwania</a> [% terms.Bugzilli %],
  interesujący może być <a href="page.cgi?id=quicksearchhack.html">ten formularz</a>.
</p>

<p>
  Proszę podać jedno lub więcej haseł do wyszukiwania:
</p>

<form name="f" action="buglist.cgi" method="get"
      onsubmit="if (this.quicksearch.value == '')
                { alert('Proszę podać hasła do wyszukiwania.');
                  return false; } return true;">
  <input type="text" size="40" name="quicksearch">
  <input type="submit" value="Znajdź" id="find">
</form>

<h2>Podstawy</h2>

<ul>
  <li>
    Jest to wyszukiwanie <strong>ignorujące wielkość znaków</strong>:<br />
    <ul>
      <li>Ciągi <tt>tabela</tt>, <tt>Tabela</tt> i <tt>TABELA</tt> są takie same.</li>
    </ul>
  </li>
  <li>
    Jest to wyszukiwanie traktujące <strong>wszystkie słowa jako podciągi</strong>.<br />
    Należy więc używać <strong>rdzeni słów</strong>:
    <ul>
      <li>
        <tt>lokaliz</tt> zamiast <tt>lokalizuj</tt> lub
        <tt>lokalizacja</tt>.
      </li>
     <li>
       <tt>bookmark</tt> zamiast <tt>bookmarks</tt> lub
       <tt>bookmarking</tt>.
     </li>
   </ul>
  </li>
</ul>

<h2><a name="features">Funkcje</a></h2>

<ul>
  <li>
    Operacje bulowskie: &ldquo;<tt>-foo</tt>&rdquo;&nbsp;(NOT),
    &ldquo;<tt>foo&nbsp;bar</tt>&rdquo;&nbsp;(AND),
    &ldquo;<tt>foo|bar</tt>&rdquo;&nbsp;(OR).
    <ul>
      <li>
        <strong>NOT</strong>:<br />
        Np: <tt><b>-</b><i>foo</i></tt> wyłącza [% terms.bledy %]
        z tekstem <tt><i>foo</i></tt> w podsumowaniu.
      </li>
      <li>
        <strong>AND</strong>:<br />
        Słowa oddzielone spacją są traktowane jako koniunkcja.
      </li>
      <li>
        <strong>OR</strong>:<br />
        Wewnątrz słowa części oddzielone "|" oznaczają alternatywy.
      </li>
      <li>
        Obok "|" można także użyć przecinka do oznaczenia alternatywy.
      </li>
      <li>
        OR has higher precedence than AND; AND is the top level operation.
      </li>
    </ul>
    <i>Przykład:</i>
    <tt>url,location bar,field -focus</tt> oznacza
    (<tt>url</tt> OR <tt>location</tt>) AND (<tt>bar</tt> OR <tt>field</tt>)
    AND (NOT <tt>focus</tt>)
  </li>
  <li>
    <tt>+foo</tt> wyszukuje [% terms.bledy %] gdzie 
    <strong>podsumowanie</strong> zawiera <tt>foo</tt> jako
    <strong>podciąg</strong>.<br/>
    <tt>#foo</tt> wyszukuje [% terms.bledy %] gdzie 
    <strong>podsumowanie</strong> zawiera <strong>słowo</strong> <tt>foo</tt>.
    <ul>
      <li>
        <tt>+brow</tt> nie znajduje szystkich [% terms.bledow %] w prdukcie
        <tt>Browser</tt>.
      </li>
      <li>
        <tt>#title</tt> nie znajduje [% terms.bledow %] ze słowem <tt>titlebar</tt>
        lub <tt>titled</tt>.
      </li>
    </ul>
    Frazy ze znakami specjalnymi (spacja, przecinek, +, -, #, &hellip;) mogą być
    <strong>umieszczane w cudzysłowach</strong>:
    <ul>
      <li>
        <tt>"ikona kłódki"</tt>
      </li>
    </ul>
  </li>
  <li>
    <strong>[% terms.Bledy %] otwarte a rozwiązane</strong>:<br />
    Domyślnie wyświetlane są tylko [% terms.bledy %] otwarte.
    Opcja <tt>+DUP</tt> jako pierwsze słowo zapytania włącza wyszukiwanie
	w [% terms.bledach %]o statusie duplikat,
    <tt>FIXED</tt> wyszukuje tylko [%+ terms.bledy %] FIXED,
    a <tt>ALL</tt> przeszukuje wszystkie [% terms.bledy %]
    niezależnie od stanu i rozwiązania.
	Wyszukiwanie duplikatów jest zalecane gdy nie można znaleźć otwartego
	[%+ terms.bledu %] bezpośrednio.
    <ul>
      <li>
        <tt>+DUP,FIXED table border</tt>
      </li>
      <li>
        <tt>ALL mouse wheel</tt>
      </li>
    </ul>
  </li>
  <li>
    <strong>Powiązanie wyszukiwania z produktami i komponentami</strong>:<br />
    Aby szukać [% terms.bledow %] w tylko w produkcie "Foo Bar", należy dodać 
    <tt>:foo</tt>, <tt>:bar</tt> lub oba do wyszukiwania.
    Można to zrobić z każdym podciągiem nazwy 
    <a href="describecomponents.cgi">produktu lub komponentu</a>.
  </li>
</ul>

<h2>Więcej wskazówek</h2>

<ul>
  <li>
    Można także <strong>wyszukiwać</strong> [% terms.bledy %] wg
    ich numerów:<br />
    <ul>
      <li><tt>12345</tt></li>
    </ul>
  </li>
  <li>
    Lista numerów [% terms.bledow %] oddzielona przecinkami wyświetla listę tych
    [%+ terms.bledow %]:<br />
    <ul>
      <li><tt>12345,23456,34567</tt></li>
    </ul>
  </li>
</ul>

<p>
  Domyślnie przeszukiwane są pola podsumowanie, słowa kluczowe, produkt, komponent i tablica.
  Jeśli słowo wygląda jak część adresu URL, to przeszukiwane jest równiez pole URL.
</p>
<hr>

<p>
  Do zaawansowanych zapytań lepszy jest <a href="query.cgi">formularz wyszukiwania [% terms.Bugzilli %]</a>.
</p>

[% PROCESS global/footer.html.tmpl %]
