[%# 4.4rc1PL@aviary.pl %]
[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[% INCLUDE global/header.html.tmpl title = "Funkcja „sudo” – przejęcie tożsamości" %]

<p>
  Funkcja <b>sudo</b> w [% terms.Bugzilli %] umożliwia czasowe przyjęcie tożsamości
  innego użytkownika. Jest ona dostępna tylko dla użytkowników
  posiadających odpowiednie uprawnienia.
</p>

<p>
  Podczas sesji „sudo” wszystkie czynności wykonywane są
  tak, jakby były wykonywane przez użytkownika, którego tożsamość przyjęto.
  Funkcja ta jest przydatna do testowania i wykonywania ważnych zadań podczas
  nieobecności danego użytkownika. Użytkownik, którego tożsamość została 
  przejęta, otrzyma powiadomienie z informacją o użyciu funkcji „sudo”.
</p>

<p>
  Aby korzystać z tej funkcji, trzeba należeć do odpowiedniej grupy, która
  skupia domyślnie wszystkich administratorów. Inni użytkownicy mogą
  być dodani do tej grupy ręcznie. Aby uzyskać dostęp do funkcji „sudo”,
  należy skontaktować się z opiekunem systemu: 
  <a href="mailto:[% Param("maintainer") %]">
  [%- Param("maintainer") %]</a>.
</p>

<p>
  W celu ochrony przed przejęciem tożsamości przez innych użytkowników należy skontaktować
  się z opiekunem instalacji [% terms.Bugzilli %] i zapytać o taką możliwość. Użytkownicy, którzy mają
  dostęp do tej funkcji, są chronieni automatycznie.
</p>

<p id="message">
  [% IF user.in_group('bz_sudoers') %]
    Jesteś członkiem grupy <b>bz_sudoers</b>. Możesz użyć tej funkcji
    do przejęcia tożsamości innych użytkowników.
  [% ELSE %]
    Nie jesteś członkiem odpowiedniej grupy i nie możesz użyć tej funkcji
    do przejęcia tożsamości innych użytkowników.
  [% END %]
  [% IF user.in_group('bz_sudo_protect') %]
    <br>
    Jesteś członkiem grupy <b>bz_sudo_protect</b>. Inni użytkownicy
    nie mogą użyć funkcji „sudo” do przejęcia twojej tożsamości.
  [% END %]
</p>

[% INCLUDE global/footer.html.tmpl %]
