[%# 4.2rc1PL@aviary.pl %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Myk Melez <myk@mozilla.org>
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[% PROCESS global/variables.none.tmpl %]

[% title = BLOCK %]Potwierdzenie usunięcia flagi „[% flag_type.name FILTER html %]”[% END %]

[% PROCESS global/header.html.tmpl
  title = title
  doc_section = "flags-overview.html#flags-delete"
%]

<p>
  [% IF flag_type.flag_count %]
    [% PROCESS ODMIEN c=flag_type.flag_count o1="Istnieje" o2="Istnieją" o3="Istnieje" %]&nbsp;[% flag_type.flag_count %]&nbsp;[% PROCESS ODMIEN c=flag_type.flag_count o1="wystąpienie" o2="wystąpienia" o3="wystąpień" %] flagi „[% flag_type.name FILTER html %]”.
    W przypadku usunięcia tej flagi zostaną usunięte wszystkie jej wystąpienia.
  [% END %]

 Zamiast usuwania flagi można dokonać jej 
   <a href="editflagtypes.cgi?action=deactivate&amp;id=[% flag_type.id %]&amp;token=
           [%- token FILTER html %]">dezaktywacji</a>, która sprawi, że 
   flaga [% IF flag_type.flag_count %] i jej stany [% END %] pozostanie w
   bazie danych, ale nie będzie wyświetlana w interfejsie użytkownika.
</p>

<table>
   <tr>
      <td colspan="2">
         Czy na pewno chcesz usunąć tę flagę?
      </td>
   </tr>
   <tr>
      <td>
         <a href="editflagtypes.cgi?action=delete&amp;id=[% flag_type.id %]&amp;token=
                 [%- token FILTER html %]">Tak
         </a>
      </td>
      <td align="right">
         <a href="editflagtypes.cgi">
            Nie
         </a>
      </td>
   </tr>
</table>

[% PROCESS global/footer.html.tmpl %]
