[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s):     John Vandenberg <zeroj@null.net>
  #                     Tobias Burnus <burnus@net-b.de>
  #%]

[% PROCESS global/variables.none.tmpl %]

From: [% Param('mailfrom') %]
To: [% emailaddress %]
Subject: [% PROCESS subject %]
X-Bugzilla-Type: admin

Żądanie zostało anulowane z adresu [% remoteaddress %].

Jeśli żądanie to nie zostało wysłane z tego konta, to może
to być pomyłka lub próba włamania na konto [% terms.Bugzilli %].

W razie podejrzeń proszę przesłać tę wiadomość na adres
[% Param('maintainer') %].

            Żeton: [% token %]
       Typ żetonu: [% tokentype %]
       Użytkownik: [% emailaddress %]
 Data wystawienia: [% issuedate %]
   Data zdarzenia: [% eventdata %]
 Powód anulowania: [% PROCESS cancelactionmessage %]

[% BLOCK subject %]
  [% IF tokentype == 'new_account' %]
    Tworzenie konta zostało anulowane
  [% ELSIF tokentype == 'password' %]
    Żądanie zmiany hasła zostało anulowane
  [% ELSIF tokentype == 'emailnew' OR tokentype == 'emailold' %]
    Żądanie zmiany adresu e-mail zostało anulowane
  [% ELSE %]
    Żeton [% tokentype %] anulowany
  [% END %]
[% END %]

[% BLOCK cancelactionmessage %]
  [% IF    cancelaction == 'account_exists' %]
    Konto [% email %] już istnieje.

  [% ELSIF cancelaction == 'email_change_canceled' %]
    Żądanie zmiany adresu e-mail z [% old_email %] na
    [% new_email %] zostało anulowane.

  [% ELSIF cancelaction == 'email_change_canceled_reinstated' %]
    Żądanie zmiany adresu e-mail dla konta na 
    [% new_email %] zostało anulowane. Przywócone zostały
    dotychczasowe ustawienia.

  [% ELSIF cancelaction == 'emailold_change_canceled' %]
    Żądanie zmiany adresu e-mail dla konta na
    [% new_email %] zostało anulowane.

  [% ELSIF cancelaction == 'password_change_canceled' %]
    Zażądano anulowania.

  [% ELSIF cancelaction == 'account_creation_canceled' %]
    Tworzenie konta użytkownika [% emailaddress %]
    zostało anulowane.

  [% ELSIF cancelaction == 'user_logged_in' %]
    Nastąpiło poprawne logowanie.

  [% ELSIF cancelaction == 'wrong_token_for_changing_passwd' %]
    Podjęto próbę użycia żetonu do zmiany hasła.

  [% ELSIF cancelaction == 'wrong_token_for_cancelling_email_change' %]
    Podjęto próbę użycia żetoni do zmiany adresu e-mail.

  [% ELSIF cancelaction == 'wrong_token_for_confirming_email_change' %]
    Podjęto próbę użycia żetonu do potwierdzenia zmiany adresu e-mail.

  [% ELSIF cancelaction == 'wrong_token_for_creating_account' %]
    Podjęto próbę użycia żetonu do utworzenia konta.

  [% ELSE %]
    [%# Give sensible error if the cancel-token function is used incorrectly.
      #%]
    Funkcja żetonów [% terms.Bugzilli %] nie jest używana poprawnie. Przekazano
    ciąg znaków '[% cancelaction %]'. Poprawny sposób użycia to przekazanie znacznika
    i zdefiniowanie go w pliku cancel-token.txt.tmpl.

    Zwykli użytkownicy [% terms.Bugzilli %] proszeni są przekazanie tej wiadomośc
    do [% Param('maintainer') %].
  [% END %]
[% END %]
