[%# 3.6.1PLRC@aviary.pl %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[%# INTERFACE:
  # bug_id: integer. The number of the bug(s).
  # multiple_bugs: boolean. True if bug_id contains > 1 bug number.
  # doall: boolean. True if we are displaying every bug in the database.
  # showsummary: boolean. True if we are showing bug summaries.
  # rankdir: string. "TB" if we are ranking top-to-bottom,
                     "LR" if left-to-right.
  # image_url: string. The URL of the graphic showing the dependencies.
  # map_url: string. The URL of the map file for the image.  (Optional)
  # image_map: string. The image map for the graphic showing the
                       dependencies. (Optional)
  #%]

[% PROCESS global/variables.none.tmpl %]

[% title = "Graf zależności"
   header = title
 %]

[% IF NOT multiple_bugs AND NOT doall %]
  [% filtered_desc = short_desc FILTER html %]
  [% title = "$title dla $terms.bledu $bug_id"
     header = "$header dla $terms.bledu <a href=\"show_bug.cgi?id=$bug_id\">$bug_id</a>"
     subheader = filtered_desc
   %]
[% END %]

[% PROCESS global/header.html.tmpl %]

[% image_map %]

<p>
  Zielone pola oznaczają otwarte [% terms.bledy %].
</p>

[% IF image_map %]
  <img src="[% image_url %]" alt="Graf zależności" usemap="#imagemap">
[% ELSE %]
  <a href="[% map_url %]">
    <img src="[% image_url %]" alt="Graf zależności" ismap="ismap">
  </a>
[% END %]

<hr>

<form action="showdependencygraph.cgi" method="GET">
  <table>
    <tr>
      <th align="left"><label for="id">Numery [% terms.bledow %]</label>:</th>
      <td><input id="id" name="id" value="[% bug_id %]"></td>
      <td>
        <input type="checkbox" id="showsummary" name="showsummary" [% " checked" IF showsummary %]>
        <label for="showsummary">Wyświetl krótkie opisy wszystkich wyświetlonych [% terms.bledow %]</label>
      </td>
    </tr>

    <tr>
      <th align="left"><label for="display">Wyświetlanie:</label></th>
      <td colspan="2">
        <select id="display" name="display">
          <option value="tree"[% 'selected="selected"' IF (!display || display == "tree") %]>
            Wyświetlaj tylko [% terms.bledy %] mające bezpośrednie powiązania z otwartymi [% terms.bledami %]</option>
          <option value="web" [% 'selected="selected"' IF display == "web" %]>
            Wyświetlaj wszystkie [% terms.bledy %] mające jakiekolwiek powiązania z otwartymi [% terms.bledami %]</option>
          <option value="doall" [% 'selected="selected"' IF display == "doall" %]>
            Wyświetlaj każdy [% terms.blad %] z zależnościami w systemie</option>
        </select>
      </td>
    </tr>

    <tr>
      <th align="left"><label for="rankdir">Układ:</label></th>
      <td colspan="2">
        <select id="rankdir" name="rankdir">
          <option value="TB"[% " selected" IF rankdir == "TB" %]>Z góry na dół</option>
          <option value="BT"[% " selected" IF rankdir == "BT" %]>Z dołu do góry</option>
          <option value="LR"[% " selected" IF rankdir == "LR" %]>Od lewej do prawej</option>
          <option value="RL"[% " selected" IF rankdir == "RL" %]>Od prawej do lewej</option>
        </select>
      </td>
    </tr>
  </table>
  <input type="submit" id="change" value="Zmień parametry">
</form>

[% PROCESS global/footer.html.tmpl %]
