[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Shane H. W. Travis <travis@sedsystems.ca>
  #
  #%]

[%# Remember to PROCESS rather than INCLUDE this template. %]

[% PROCESS global/variables.none.tmpl %]

[% setting_descs = { 
   "comment_sort_order"               => "Kolejność komentarzy na stronach $terms.bledow",
   "csv_colsepchar"                   => "Separator pól w plikach CSV",
   "display_quips"                    => "Wyświetlanie sentencji na stronie listy $terms.bledow",
   "zoom_textareas"                   => "Powiększaj aktywne pola tekstowe (wymaga JavaScriptu)",
   "newest_to_oldest"                 => "od najnowszego do najstarszego",
   "newest_to_oldest_desc_first"      => "od najnowszego do najstarszego (opis na górze)",
   "off"                              => "wyłączone",
   "oldest_to_newest"                 => "od najstarszego do najnowszego",
   "on"                               => "włączone"
   "per_bug_queries"                  => "Etykiety $terms.bledow",
   "post_bug_submit_action"           => "Po zmianie $terms.bledu",
   "next_bug"                         => "pokaż następny $terms.blad w mojej liście",
   "same_bug"                         => "pokaż uaktualniony $terms.blad",
   "standard"                         => "klasyczny",
   "skin"                             => "Wygląd $terms.Bugzilli (motyw)",
   "nothing"                          => "nie rób nic",
   "state_addselfcc"                  => "Dodawaj mnie do obserwatorów $terms.bledow, które zmieniam",
   "always"                           => "zawsze",
   "never"                            => "nigdy",
   "cc_unless_role"                   => "tylko, gdy nie mam w nich żadnej roli",
   "lang"                             => "Język używany w wiadomościach e-mail",
                   } 
		   
    fieldsa = [
    {name => 'bug_id',       description => 'Nr błędu',      in_new_bugmail => 1},                                                                                             
    {name => 'short_desc',   description => 'Podsumowanie',    in_new_bugmail => 1},                                                                                             
    {name => 'classification', description => 'Klasyfikacja', in_new_bugmail => 1},                                                                                       
    {name => 'product',      description => 'Produkt',    in_new_bugmail => 1},                                                                                             
    {name => 'version',      description => 'Wersja',    in_new_bugmail => 1},                                                                                             
    {name => 'rep_platform', description => 'Platforma',   in_new_bugmail => 1},                                                                                             
    {name => 'bug_file_loc', description => 'URL',        in_new_bugmail => 1},                                                                                             
    {name => 'op_sys',       description => 'OS/Wersja', in_new_bugmail => 1},                                                                                             
    {name => 'bug_status',   description => 'Status',     in_new_bugmail => 1},                                                                                             
    {name => 'status_whiteboard', description => 'Tablica statusu',                                                                                                       
     in_new_bugmail => 1},                                                                                                                                           
    {name => 'keywords',     description => 'Słowa kluczowe',   in_new_bugmail => 1},                                                                                             
    {name => 'resolution',   description => 'Rozwiązanie'},                                                                                                                  
    {name => 'bug_severity', description => 'Waga',   in_new_bugmail => 1},                                                                                             
    {name => 'priority',     description => 'Priorytet',   in_new_bugmail => 1},                                                                                             
    {name => 'component',    description => 'Komponent',  in_new_bugmail => 1},                                                                                             
    {name => 'assigned_to',  description => 'Przypisany do', in_new_bugmail => 1},                                                                                             
    {name => 'reporter',     description => 'Zgłaszający', in_new_bugmail => 1},                                                                                             
    {name => 'votes',        description => 'Głosy'},                                                                                                                       
    {name => 'qa_contact',   description => 'Kontact QA',  in_new_bugmail => 1},                                                                                             
    {name => 'cc',           description => 'Obserwatorzy',         in_new_bugmail => 1},                                                                                             
    {name => 'dependson',    description => 'Zależy od', in_new_bugmail => 1},                                                                                             
    {name => 'blocked',      description => 'Blokuje',     in_new_bugmail => 1},                                                                                             
                                                                                                                                                                     
    {name => 'attachments.description', description => 'Załącznik - opis'},                                                                                           
    {name => 'attachments.filename',    description => 'Załącznik - nazwa pliku'},                                                                                              
    {name => 'attachments.mimetype',    description => 'Załącznik - typ mime'},                                                                                             
    {name => 'attachments.ispatch',     description => 'Załącznik - łatka'},                                                                                              
    {name => 'attachments.isobsolete',  description => 'Załącznik - nieaktualny'},                                                                                           
    {name => 'attachments.isprivate',   description => 'Załącznik - prywatny'},                                                                                            
    {name => 'attachments.submitter',   description => 'Załącznik - twórca'},                                                                                               
                                                                                                                                                                     
    {name => 'target_milestone',      description => 'Wersja docelowa'},                                                                                                   
    {name => 'creation_ts', description => 'Data utworzenia', in_new_bugmail => 1},                                                                                           
    {name => 'delta_ts', description => 'Data ost. zmiany', in_new_bugmail => 1},                                                                                          
    {name => 'longdesc',              description => 'Komentarz'},                                                                                                            
    {name => 'longdescs.isprivate',   description => 'Komentarz prywatny'},                                                                                                 
    {name => 'alias',                 description => 'Alias'},                                                                                                              
    {name => 'everconfirmed',         description => 'Potwierdzony'},                                                                                                     
    {name => 'reporter_accessible',   description => 'Zgłaszający dostępny'},                                                                                                
    {name => 'cclist_accessible',     description => 'Obserwatorzy dostępni'},                                                                                                      
    {name => 'bug_group',             description => 'Grupa'},                                                                                                              
    {name => 'estimated_time', description => 'Szacowana l.godzin', in_new_bugmail => 1},                                                                                      
    {name => 'remaining_time',        description => 'Pozostała l. godzin'},                                                                                                    
    {name => 'deadline',              description => 'Termin', in_new_bugmail => 1},                                                                                      
    {name => 'commenter',             description => 'Komentujący'},                                                                                                          
    {name => 'flagtypes.name',        description => 'Flaga'},                                                                                                               
    {name => 'requestees.login_name', description => 'Żądający ust. flagi'},                                                                                                     
    {name => 'setters.login_name',    description => 'Ustawiający flagę'},                                                                                                        
    {name => 'work_time',             description => 'Godzin przepracowanych'},                                                                                                       
    {name => 'percentage_complete',   description => 'Procent zaawansowania'},                                                                                                
    {name => 'content',               description => 'Treść'},                                                                                                            
    {name => 'attach_data.thedata',   description => 'Załącznik - dane'},                                                                                                    
    {name => 'attachments.isurl',     description => 'Załącznik jest adresem URL'},                                                                                                
    {name => "owner_idle_time",       description => "Czas od ost. akcji właściciela"} ]
%]
