[%# 4.0+PL@aviary.pl %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gavin Shelley <bugzilla@chimpychompy.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[%# INTERFACE:
  # product : Bugzilla::Product Object; new product.
  # classification: Bugzilla::Classification Object; The product classification (may be empty or missing)
  # changes: hashref with all changes made to the product. Each key is an edited field,
  #          and its value is an arrayref of the form [old values, new values].
  #%]

[% IF classification %]
  [% classification_text = BLOCK %]
    kategorii „[% classification.name FILTER html %]”
  [% END %]
[% END %]

[% title = BLOCK %]Aktualizacja produktu „[% product.name FILTER html %]” 
                   [% classification_text FILTER none %][% END %]
[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css']
%]

[% PROCESS "global/field-descs.none.tmpl" %]

[% IF changes.name.defined %]
  <p>
  Zaktualizowano nazwę produktu z „[% changes.name.0 FILTER html %]” na
  „<a href="editproducts.cgi?action=edit&amp;product=
  [%- product.name FILTER url_quote %]">[% product.name FILTER html %]</a>”.
  </p>
[% END %]


[% IF changes.description.defined %]
  <p>
    Zmieniono opis na:
  </p>
  <p style="margin: 1em 3em 1em 3em">[% product.description FILTER html_light %]</p>
[% END %]

[% IF changes.isactive.defined %]
  <p>
  Produkt jest teraz
  [% IF product.is_active %]
    otwarty
  [% ELSE %]
    zamknięty
  [% END %]
  na zgłaszanie nowych [% terms.bledow %].
  </p>
[% END %]

[% IF changes.defaultmilestone.defined %]
  <p>
  Zaktualizowano domyślną wersję docelową produktu z „[% changes.defaultmilestone.0 FILTER html %]” na
  „[% product.default_milestone FILTER html %]”.
  </p>
[% END %]

[% IF changes.allows_unconfirmed.defined %]
  <p>
  [% IF product.allows_unconfirmed %]
    Produkt obecnie zezwala na status 
    [%+ display_value('bug_status', 'UNCONFIRMED') FILTER html %].
  [% ELSE %]
    Produkt obecnie nie zezwala na status 
    [%+ display_value('bug_status', 'UNCONFIRMED') FILTER html %].
    Wszystkie 
    <a href="buglist.cgi?product=
            [%- product.name FILTER url_quote %]&amp;bug_status=UNCONFIRMED"> 
    [%- terms.bledy %], które obecnie mają status
    [%+ display_value('bug_status', 'UNCONFIRMED') FILTER html %]</a>
    będą miały ten status do czasu ich edycji.
  [% END %]
  </p>
[% END %]

[% Hook.process('changes') %]

[% IF !changes.keys.size %]
  <p>Nie dokonano żadnych zmian w produkcie „[% product.name FILTER html %]”.</p>

[% END %]

[% PROCESS admin/products/footer.html.tmpl %]

[% PROCESS global/footer.html.tmpl %]
