[%# 3.4.11PLRC@aviary.pl %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gavin Shelley <bugzilla@chimpychompy.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[%# INTERFACE:
  # product : Bugzilla::Product Object; new product.
  # classification: Bugzilla::Classification Object; The product classification (may be empty or missing)
  # changes: hashref with all changes made to the product. Each key is an edited field,
  #          and its value is an arrayref of the form [old values, new values].
  #%]

[% IF classification %]
  [% classification_text = BLOCK %]
    kategorii „[% classification.name FILTER html %]”
  [% END %]
[% END %]

[% title = BLOCK %]Aktualizacja produktu „[% product.name FILTER html %]” 
                   [% classification_text FILTER none %][% END %]
[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css']
%]

[% IF changes.name.defined %]
  <p>
  Zaktualizowano nazwę produktu z „[% changes.name.0 FILTER html %]” na
  „<a href="editproducts.cgi?action=edit&amp;product=
  [%- product.name FILTER url_quote %]">[% product.name FILTER html %]</a>”.
  </p>
[% END %]


[% IF changes.description.defined %]
  <p>
    Zmieniono opis na:
  </p>
  <p style="margin: 1em 3em 1em 3em">[% product.description FILTER html_light %]</p>
[% END %]

[% IF changes.disallownew.defined %]
  <p>
  Produkt jest teraz
  [% IF product.disallow_new %]
    zamknięty
  [% ELSE %]
    otwarty
  [% END %]
  na zgłaszanie nowych [% terms.bledow %].
  </p>
[% END %]

[% IF changes.milestoneurl.defined %]
  <p>
  Zaktualizowano adres URL wersji docelowej 
  [% IF changes.milestoneurl.0 != '' %]
    z<br> <a href="[%- changes.milestoneurl.0 FILTER html %]">
    [%- changes.milestoneurl.0 FILTER html %]</a>
  [% END %]
  na
  [% IF product.milestone_url != '' %]
     <br><a href="[%- product.milestone_url FILTER html %]">
     [%- product.milestone_url FILTER html %]</a>.
  [% ELSE %]
    pusty.
  [% END %]
  </p>
[% END %]

[% IF changes.defaultmilestone.defined %]
  <p>
  Zaktualizowano domyślną wersję docelową produktu z „[% changes.defaultmilestone.0 FILTER html %]” na
  „[% product.default_milestone FILTER html %]”.
  </p>
[% END %]
  
[% IF changes.votesperuser.defined %]
  <p>
  Zaktualizowano liczbę głosów użytkownika z
  [%+ changes.votesperuser.0 FILTER html %] na
  [%+ product.votes_per_user FILTER html %].
  </p>
  [% checkvotes = 1 %]
[% END %]

[% IF changes.maxvotesperbug.defined %]
  <p>
  Zaktualizowano maksymalną liczbę głosów na [% terms.blad %] z 
  [%+ changes.maxvotesperbug.0 FILTER html %] na
  [%+ product.max_votes_per_bug FILTER html %].
  </p>
  [% checkvotes = 1 %]
[% END %]

[% IF changes.votestoconfirm.defined %]
  <p>
  Zaktualizowano liczbę głosów wymaganą do potwierdzenia [% terms.bledu %] z
  [%+ changes.votestoconfirm.0 FILTER html %] na
  [%+ product.votes_to_confirm FILTER html %].
  </p>
  [% checkvotes = 1 %]
[% END %]

[% IF !changes.keys.size %]
  <p>Nie dokonano żadnych zmian w produkcie „[% product.name FILTER html %]”.</p>
[% END %]

[%# Note that this display of changed votes and/or confirmed bugs is
    not very scalable. We could have a _lot_, and we just list them all.
    One day we should limit this perhaps, or have a more scalable display %]


[% IF checkvotes %]
  <hr>

  <p>Sprawdzanie istniejących głosów w tym produkcie w poszukiwaniu użytkowników, którzy
  oddali zbyt dużo głosów na [% terms.blad %]…<br>
  [% IF changes.too_many_votes.size %]
    [% FOREACH detail = changes.too_many_votes %]
      &rarr;usunięto głosy oddane na [% terms.blad %] <a href="show_bug.cgi?id=
     [%- detail.id FILTER url_quote %]">
     [%- detail.id FILTER html %]</a> przez [% detail.name FILTER html %]<br>
    [% END %]
  [% ELSE %]
    &rarr;nie znaleziono.
  [% END %]
  </p>

  <p>Sprawdzanie istniejących głosów w tym produkcie w poszukiwaniu użytkowników, którzy
  oddali za dużo głosów…<br>
  [% IF changes.too_many_total_votes.size %]
    [% FOREACH detail = changes.too_many_total_votes %]
      &rarr;usunięto głosy oddane na [% terms.blad %] <a href="show_bug.cgi?id=
     [%- detail.id FILTER url_quote %]">
     [%- detail.id FILTER html %]</a> przez [% detail.name FILTER html %]<br>
    [% END %]
  [% ELSE %]
    &rarr;nie znaleziono.
  [% END %]
  </p>

  <p>Wyszukiwanie niepotwierdzonych [% terms.bledow %] w tym produkcie w poszukiwaniu tych,
  które po zmianach ustawień głosowania mają wystarczającą liczbę głosów do potwierdzenia…<br>
  [% IF changes.confirmed_bugs.size %]
    [% FOREACH id = changes.confirmed_bugs %]

      [%# This is INCLUDED instead of PROCESSED to avoid variables getting
          overwritten, which happens otherwise %]
      [% INCLUDE bug/process/results.html.tmpl
        type = 'votes'
        mailrecipients = { 'changer' => user.login }
        header_done = 1
        id = id
      %]
    [% END %]
  [% ELSE %]
    &rarr;nic nie znaleziono.
  [% END %]
  </p>

[% END %]

[% PROCESS admin/products/footer.html.tmpl %]

[% PROCESS global/footer.html.tmpl %]
