[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Myk Melez <myk@mozilla.org>
  #%]

[%# INTERFACE:
  # original_bug_id: number; the bug number for the bug
  #   against which a bug is being duped
  # duplicate_bug_id: number; the bug number for the bug
  #   being duped
  # cclist_accessible: boolean; whether or not users on the cc: list
  #   of the original bug can access that bug.
  #%]

[% PROCESS global/variables.none.tmpl %]
[% PROCESS global/header.html.tmpl title="Ostrzeżenie przed duplikatem" %]
[% orig_bug = "$terms.bug $original_bug_id"
     FILTER bug_link(original_bug_id) %]

<p>
  Po oznaczeniu [% terms.bledu %] jako duplikat zgłaszający duplikat 
  jest dodawany do listy obserwatorów oryginalnego  [% terms.bledu %]. Uprawnienia
  [% orig_bug FILTER none %] (oryginał) są takie, że 
  zgłaszający nie będzie miał do niego dostępu.
</p>

<p>
  <b>Dodanie zgłaszającego do listy obserwatorów [% orig_bug FILTER none %]
  [% IF cclist_accessible %]
    natychmiast umożliwi 
  [% ELSE %]
    może w przyszłości umożliwić
  [% END %]
  dostęp do tego [% terms.bledu %].</b>
  Czy kontynuować?
</p>

<form method="post" action="process_bug.cgi">

[% PROCESS "global/hidden-fields.html.tmpl" exclude="^Bugzilla_(login|password)$" %]

<p>
  <input type="radio" name="confirm_add_duplicate" value="1">
    Tak, dodaj zgłaszającego do listy obserwatrów w [% orig_bug FILTER none %]
</p>
<p>
  <input type="radio" name="confirm_add_duplicate" value="0" checked="checked">
    Nie, nie dodawaj zgłaszającego do lity obserwatorów w [% orig_bug FILTER none %]
</p>
<p>
  [% "Odrzuć moje zmiany i otwórz stronę $terms.bledu $duplicate_bug_id ponownie"
     FILTER bug_link(duplicate_bug_id) FILTER none %]
</p>
<p>
  <input type="submit" id="process" value="Wyślij">
</p>

</form>

[% PROCESS global/footer.html.tmpl %]
