[%# 3.6@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Frédéric Buclin <LpSolit@gmail.com>
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[% PROCESS global/variables.none.tmpl %]

[% title = BLOCK %]
  Administrowanie instalacją ([% terms.Bugzilla %]
  [%+ constants.BUGZILLA_VERSION FILTER html %])
[% END %]

[% PROCESS global/header.html.tmpl title = title
                                   style_urls = ['skins/standard/admin.css']
                                   doc_section = "administration.html"
%]

<div>
  Ta strona jest dostępna tylko dla upoważnionych użytkowników. Z tego miejsca masz –
  w zależności od uprawnień – dostęp do stron administracyjnych, na których możesz
  konfigurować różne ustawienia tej instalacji. Sekcje wyróżnione jaśniejszym kolorem
  są dla ciebie niedostępne.
</div>

<table>
  <tr>
    <td class="admin_links">
      <dl>
        [% class = user.in_group('tweakparams') ? "" : "forbidden" %]
        <dt id="parameters" class="[% class %]"><a href="editparams.cgi">Parametry</a></dt>
        <dd class="[% class %]">Tutaj definiuje się istotne parametry instalacji. Jest to miejsce,
        gdzie można ustalić adres URL tej instalacji, sposób uwierzytelniania
        użytkowników, wybrać, jakie pola [% terms.bledu %] będą wyświetlane; wybrać
        agenta transferowego poczty do wysyłania powiadomień, określić, które grupy
        użytkowników mają dostęp do wykresów, udostępniać zapytania i wiele innych opcji.</dd>

        <dt id="preferences" class="[% class %]"><a href="editsettings.cgi">Ustawienia domyślne</a></dt>
        <dd class="[% class %]">Ustawienia określające domyślne preferencje użytkowników. Są to wartości, które
        będą używane jako parametry domyślne dla wszystkich użytkowników. Użytkownicy będą mogli określić swoje
        preferencje z poziomu sekcji <a href="userprefs.cgi?tab=settings">Ustawienia</a>.</dd>

        [% class = user.in_group('editcomponents') ? "" : "forbidden" %]
        <dt id="sanitycheck" class="[% class %]"><a href="sanitycheck.cgi">Sprawdzanie spójności danych</a></dt>
        <dd class="[% class %]">W celu zlokalizowania problemów w bazie danych, należy uruchomić sprawdzenie
        spójności danych. W zależności od rozmiaru instalacji operacja ta może zająć nawet kilkadziesiąt
        minut. Proces ten można zautomatyzować uruchamiając skrypt <tt>sanitycheck.pl</tt>. O wykrytych
        błędach zostanie mailem powiadomiony właściwy użytkownik.</dd>

        [% class = (user.in_group('editusers') || user.can_bless) ? "" : "forbidden" %]
        <dt id="users" class="[% class %]"><a href="editusers.cgi">Użytkownicy</a></dt>
        <dd class="[% class %]">W tej sekcji można tworzyć nowe konta użytkowników lub modyfikować istniejące. 
        Można także dodawać/usuwać użytkowników z grup. Sekcja ta zwana jest również „Uprawnienia użytkowników”.</dd>

        [% class = (Param('useclassification') && user.in_group('editclassifications')) ? "" : "forbidden" %]
        <dt id="classifications" class="[% class %]"><a href="editclassifications.cgi">Kategorie</a></dt>
        <dd class="[% class %]">Jeśli w instalacji zarządza się jednocześnie wieloma produktami, dobrze
        jest zgrupować te produkty w odpowiednie kategorie. Umożliwia to użytkownikom łatwiejsze odnalezienie
        informacji podczas szukania, czy zgłaszania nowych [% terms.bledow %].</dd>

        [% class = (user.in_group('editcomponents')
                    || user.get_products_by_permission("editcomponents").size) ? "" : "forbidden" %]
        <dt id="products" class="[% class %]"><a href="editproducts.cgi">Produkty</a></dt>
        <dd class="[% class %]">Tutaj można modyfikować wszystkie ustawienia produktów włącznie z
        ograniczeniami grup, które pozwalają określić dostęp do [% terms.bledow %] znajdujących się w tych
        produktach. Można także bezpośrednio modyfikować niektóre konkretne atrybuty produktów, takie jak:
        <a href="editcomponents.cgi">komponenty</a>, <a href="editversions.cgi">wersje</a>
        i <a href="editmilestones.cgi">wersje docelowe</a>.</dd>

        [% class = user.in_group('editcomponents') ? "" : "forbidden" %]
        <dt id="flags" class="[% class %]"><a href="editflagtypes.cgi">Flagi</a></dt>
        <dd class="[% class %]">Flaga jest atrybutem [% terms.bledow %] i załączników
        posiadającym własne cztery stany: zatwierdzona, odrzucona, prośba i nie zdefiniowano.
        Dla każdego [% terms.bledu %] można ustawić dowolną liczbę flag i określić użytkowników,
        którzy będą mogli je modyfikować.</dd>

        [% Hook.process('end_links_left') %]
      </dl>
    </td>

    <td class="admin_links">
      <dl>
        [% class = user.in_group('admin') ? "" : "forbidden" %]
        <dt id="custom_fields" class="[% class %]"><a href="editfields.cgi">Pola dodatkowe</a></dt>
        <dd class="[% class %]">[% terms.Bugzilla %] umożliwia określenie dodatkowych pól,
        które nie są domyślnie zdefiniowane, a są potrzebne. Pola te można również wykorzystywać
        w innych [% terms.bledach %] oraz jako elementy funkcji wyszukiwania.<br>Przed utworzeniem nowego
        pola, należy wziąć pod uwagę, że zbyt duża liczba pól może skomplikować interfejs użytkownika
        i uczynić go trudnym w użyciu. Przed utworzeniem dodatkowego pola, należy upewnić się,
        czy nie ma innych, satysfakcjonujących sposobów uzyskania pożądanego efektu.</dd>

        <dt id="field_values" class="[% class %]"><a href="editvalues.cgi">Wartości pól</a></dt>
        <dd class="[% class %]">Tutaj można określić poprawne wartości dla pól, których wartości
        muszą należeć do niektórych podanych list oraz zdefiniować poprawne wartości
        niektórych typów pól dodatkowych.</dd>

        <dt id="status_workflow" class="[% class %]"><a href="editworkflow.cgi">Zmiany statusu [%terms.bledow %]</a></dt>
        <dd class="[% class %]">W tej sekcji można określić zmiany statusu i wybrać dostępne podczas
        tworzenia [% terms.bledu %] jego początkowe statusy. Można także określić dozwolone przekształcenia
        statusu [% terms.bledu %] podczas modyfikacji istniejących [% terms.bledow %].</dd>

        [% class = user.in_group('creategroups') ? "" : "forbidden" %]
        <dt id="groups" class="[% class %]"><a href="editgroups.cgi">Grupy</a></dt>
        <dd class="[% class %]">Tutaj można zdefiniować grupy, które będą wykorzystane w instalacji.
        Mogą one być używane do zdefiniowania nowych uprawnień użytkowników lub ograniczenia
        dostępu do niektórych [% terms.bledow %].</dd>

        [% class = user.in_group('editkeywords') ? "" : "forbidden" %]
        <dt id="keywords" class="[% class %]"><a href="editkeywords.cgi">Słowa kluczowe</a></dt>
        <dd class="[% class %]">Słowa kluczowe to łatwy sposób „oznaczenia” [% terms.bledow %]
        umożliwiający w przyszłości łatwiejsze ich odnalezienie. Tutaj można określić słowa
        kluczowe używane z [% terms.bledami %].</dd>

        [% class = user.in_group('bz_canusewhines') ? "" : "forbidden" %]
        <dt id="whining" class="[% class %]"><a href="editwhines.cgi">Powiadomienia</a></dt>
        <dd class="[% class %]">Tutaj można określić zapytania, które będą uruchamiane zgodnie z
        określoną datą i godziną. Wyniki zapytań będą przekazywane bezpośrednio e-mailem. Jest
        to dobry sposób tworzenia przypomnień i śledzenia aktywności w instalacji.</dd>

        [% Hook.process('end_links_right') %]
      </dl>
    </td>
  </tr>
</table>

[% PROCESS global/footer.html.tmpl %]
