[%# 4.4rc1+PL@aviary.pl %]
[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

From: [% Param('mailfrom') %]
To: [% emailaddress %]
Subject: [% terms.Bugzilla %] – Prośba o zmianę adresu e-mail
X-Bugzilla-Type: admin

[%+ terms.Bugzilla %] otrzymała prośbę o zmianę adresu e-mail dla konta [% oldemailaddress %] na Twój adres.

Aby potwierdzić zmianę, otwórz poniższy odnośnik:

[%+ urlbase %]token.cgi?t=[% token FILTER uri %]&a=cfmem

Jeśli nie jesteś osobą, która wysłała tę prośbę, lub chcesz prośbę anulować, otwórz poniższy odnośnik:

[%+ urlbase %]token.cgi?t=[% token FILTER uri %]&a=cxlem

W przypadku braku reakcji prośba wygaśnie po [% constants.MAX_TOKEN_AGE %] dniach ([% expiration_ts FILTER time("%d.%m.%Y o godzinie %H:%M %Z") %]).
