[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

From: [% Param('mailfrom') %]
To: [% emailaddress %]
Subject: [% terms.Bugzilla %] – Prośba o zmianę hasła
X-Bugzilla-Type: admin

Ty lub ktoś, kto przejął Twoją tożsamość, poprosił o zmianę hasła w [% terms.Bugzilli %].
Aby dokonać zmiany, otwórz poniższy odnośnik:

[%+ urlbase %]token.cgi?t=[% token FILTER uri %]&a=cfmpw

Jeśli nie jesteś osobą, która prosiła o zmianę hasła, lub chcesz anulować 
prośbę, otwórz poniższy odnośnik:

[%+ urlbase %]token.cgi?t=[% token FILTER uri %]&a=cxlpw

W przypadku braku reakcji prośba wygaśnie po [% constants.MAX_TOKEN_AGE %] dniach
([% expiration_ts FILTER time("%d.%m.%Y o godzinie %H:%M %Z", timezone) %]) lub gdy
się poprawnie zalogujesz.
