[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Myk Melez <myk@mozilla.org>
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
  title = 'Administracja typami flag'
  style = "
    table#flag_types tr th { text-align: left; }
    .inactive { color: #787878; }
  "
%]

<p>
  Flagi są znacznikami określającymi czy [% terms.blad %] lub załącznik uzyskały 
  lub nie pewien status. Flagi pojawiają się w interfejsie jako nazwy i symbol statusu
  ("+" dla przyznanych, "-" dla odrzuconych i "?" dla statusów zażądanych przez użytkowników).
</p>

<p>
  Możesz na przykład zdefinować status "review", aby użytkownicy mogli zażądać sprawdzenia 
  ich łatek. Gdy autor łatki zażąda jej sprawdzenia, obok załącznika pojawi się napis "review?"
  Gdy łatka zostanie sprawdzona przez odpowiednią osobę,
  obok łatki pojawi się napis "review+" lub "review-",
  w zależności od tego, czy kontrola powiodła się czy nie.
</p>

<h3>Typy flag dla [% terms.bledow %]</h3>

[% PROCESS display_flag_types types=bug_types %]

<p>
  <a href="editflagtypes.cgi?action=enter&amp;target_type=bug">Utwórz typ flagi dla [% terms.bledow %]</a>
</p>

<h3>Typy flag dla załączników</h3>

[% PROCESS display_flag_types types=attachment_types %]

<p>
  <a href="editflagtypes.cgi?action=enter&amp;target_type=attachment">Utwórz typ flagi dla załączników</a>
</p>

<script type="text/javascript" language="JavaScript">
  <!--
  function confirmDelete(id, name, count)
  {
    if (count > 0) {
        var msg = 'Liczba flag typu ' + name + ' to ' + count + '. ' +
                  'Jeśli usuniesz ten typ, również te flagi zostaną ' +
                  'usunięte.\n\nUwaga: aby deaktywować typ zamiast ' +
                  'go usuwać, edytuj go i odznacz jego flagę "aktywny".' +
                  '\n\nCzy na pewno chcesz usunąć ten typ flagi?';
        if (!confirm(msg)) return false;
    }
    location.href = "editflagtypes.cgi?action=delete&id=" + id;
    return false; // prevent strict JavaScript warning that this function
                  // does not always return a value
  }
  //-->
</script>

[% PROCESS global/footer.html.tmpl %]


[% BLOCK display_flag_types %]
  <table id="flag_types" cellspacing="0" cellpadding="4" border="1">

    <tr>
      <th>Edycja nazwy...</th>
      <th>Opis</th>
      <th>Akcja</th>
    </tr>

    [% FOREACH type = types %]

      <tr class="[% IF type.is_active %]active[% ELSE %]inactive[% END %]">
        <td><a href="editflagtypes.cgi?action=edit&amp;id=[% type.id %]">[% type.name FILTER html %]</a></td>
        <td>[% type.description FILTER html %]</td>
        <td>
          <a href="editflagtypes.cgi?action=copy&amp;id=[% type.id %]">Kopiuj</a>
          | <a href="editflagtypes.cgi?action=confirmdelete&amp;id=[% type.id %]"
               onclick="return confirmDelete([% type.id %], '[% type.name FILTER js FILTER html %]',
                                             [% type.flag_count %]);">Usuń</a>
        </td>
      </tr>

    [% END %]

  </table>
[% END %]
