[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #%]
  
[% help_html = [ 
{ id => "short_desc_type", 
  html => "Wybór sposobu wyszukiwania tekstu w podsumowaniu" },   
{ id => "short_desc", 
  html => "Podsumowanie $terms.bledu to krótki tekst wyjaśniający
           <br> o czym jest ten raport ${terms.bledu}." },   
{ id => "classification", 
  html => "$terms.Bugs are categorised into Classifications, Products and Components. classifications is the<br>
           top-level categorisation." },   
{ id => "product", 
  html => Param('useclassification') ?
       "$terms.Bugs are categorised into Products and Components. Select a Classification to narrow down this list" :
   "$terms.Bledy są podzielone pomiędzy produkty i komponenty.
           <br>Produkt jest najwyższym poziomem podziału." },   
{ id => "component", 
  html => "Komponent jest drugim poziomom podziału $terms.bledow; każdy należy do<br>
           określonego produktu. Wybierz produkt, aby ograniczyć zawartość tej listy" },   
{ id => "version", 
  html => "Pole wersji definiuje wersje oprogramowania, dla którego został<br>
           znaleziony ${terms.blad}." },   
{ id => "target_milestone", 
  html => "Pole docelowej wersji jest używane do szacunkowego określenia<br>
           kiedy dany $terms.blad powinien zostać poprawiony." },   
{ id => "long_desc", 
  html => "Do $terms.bledow w $terms.Bugzilli użytkownicy mogą dopisywać komentarze.
           <br>To pole pozwala podać tekst do wyszukania w tych komentarzach." },   
{ id => "long_desc_type", 
  html => "Wybór sposobu wyszukiwania tekstu w komentarzu" },   
{ id => "bug_file_loc", 
  html => "$terms.Bledy mogą mieć przypisany URL - przykładowo może on wskazywać<br>
           na stronę WWW na której został zaobserwowany ten błąd." },   
{ id => "bug_file_loc_type", 
  html => "Wybór sposobu wyszukiwania tekstu w polu URL" },   
{ id => "status_whiteboard", 
  html => "Każdy $terms.blad może mieć linijkę tekstu, która może zawierać dowolną<br>
           treść, np. do przechowywania informacji o statusie." },   
{ id => "status_whiteboard_type", 
  html => "Wybór sposobu wyszukiwania tekstu w tablicy" },   
{ id => "keywords", 
  html => "Dla $terms.bledu, z przygotowanej listy, można przypisać słowa kluczowe.<br>
           Mogą one służyć do grupowania lub oznaczania." },   
{ id => "keywords_type", 
  html => "Wybór sposobu wyszukiwania słów kluczowych" },   
{ id => "bug_status", 
  html => "Lista statusów w których może być szukany ${terms.blad}." },   
{ id => "resolution", 
  html => "Jeśli $terms.blad został rozwiązany, jedna z tych metod rozwiązania musi zostać<br>
           określona dla takiego ${terms.bledu}." },   
{ id => "bug_severity", 
  html => "Jak ważny jest $terms.blad, lub czy jest to tylko propozycja." },   
{ id => "priority", 
  html => "Osoba odpowiedzialna za $terms.blad może, przy pomocy tego pola<br>
           określić priorytet danego ${terms.bledu}." },   
{ id => "rep_platform", 
  html => "Platforma sprzętowa na której został zaobserwowany ${terms.blad}." },   
{ id => "op_sys", 
  html => "System operacyjny na którym został zaobserwowany ${terms.blad}." },   
{ id => "email1", 
  html => "Do każdego $terms.bledu są przypisane osoby w różnych rolach.<br>
           W tym miejscu możesz wyszukać terms.bledy dla których dane<br>
           osoby występują w określonych rolach." },
{ id => "email2", 
  html => "Do każdego $terms.bledu są przypisane osoby w różnych rolach.<br>
           W tym miejscu możesz wyszukać terms.bledy dla których dane<br>
           osoby występują w określonych rolach." },
{ id => "bug_id", 
  html => "Możesz ograniczyć wyszukiwanie do określonego zbioru ${terms.bledow}." },   
{ id => "votes", 
  html => "Na niektóre $terms.bledy użytkownicy mogą oddawać głosy, tutaj możesz<br>
           ograniczyć wyszukiwanie do $terms.bledow na które oddano określoną liczbę głosów." },
{ id => "chfield", 
  html => "W tym polu możesz wyszukać określone typy zmian." },   
{ id => "chfieldfrom", 
  html => "Datę początkową i końcową możesz podać w formacie RRRR-MM-DD<br>
           (opcjonalnie z czasem zapisanym jako GG:mm), lub w jednostkach<br>
           relatywnych, np. 1d, 2w, 3m, 4y, które oznaczają kolejno jeden dzień,<br>
           dwa tygodnie, trzy miesiące, lub cztery lata temu. 0d oznacza<br>
           ostatnią północ, a 0w, 0m, 0y początek tygodnia, roku i miesiąca." },
{ id => "chfieldto", 
  html => "Datę początkową i końcową możesz podać w formacie RRRR-MM-DD<br>
           (opcjonalnie z czasem zapisanym jako GG:mm), lub w jednostkach<br>
           relatywnych, np. 1d, 2w, 3m, 4y, które oznaczają kolejno jeden dzień,<br>
           dwa tygodnie, trzy miesiące, lub cztery lata temu. 0d oznacza<br>
           ostatnią północ, a 0w, 0m, 0y początek tygodnia, roku i miesiąca." },
{ id => "chfieldvalue", 
  html => "Wartość na którą zostały zmienione powyższe pola, w zadanym<br>
           przedziale czasu." },   
] %]
