[%# 4.0.9PL@aviary.pl %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@syndicomm.com>
  #                 Joel Peshkin <bugreport@peshkin.net>
  #                 Jacob Steenhagen <jake@bugzilla.org>
  #                 Vlad Dascalu <jocuri@softhome.net>
  #                 Max Kanat-Alexander <mkanat@bugzilla.org>
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[%# INTERFACE:
  # group: A Bugzilla::Group object representing the group that is
  #        about to be deleted.
  # shared_queries: int; The number of queries being shared with this
  #                 group.
  #%]


[% PROCESS "global/field-descs.none.tmpl" %]
[% PROCESS global/header.html.tmpl
  title = "Usuwanie grupy"
  doc_section = "groups.html"
%]

<table border="1">
  <tr>
    <th>ID</th>
    <th>Nazwa</th>
    <th>Opis</th>
  </tr>
  <tr>
    <td>[% group.id FILTER html %]</td>
    <td>[% group.name FILTER html %]</td>
    <td>[% display_value("permissions", group.description) FILTER html_light %]</td>
  </tr>
</table>

<form method="post" action="editgroups.cgi">
  [% IF group.members_non_inherited.size %]
    <p><b>Użytkownicy należący do tej grupy: [% group.members_non_inherited.size FILTER html %].
      Nie można usunąć grupy, dopóki są w niej
      użytkownicy.</b>

    <br><a href="editusers.cgi?action=list&amp;groupid=
                 [%- group.id FILTER url_quote %]&amp;grouprestrict=1">Wyświetl
    użytkowników</a>&nbsp;&nbsp;<label><input type="checkbox" name="removeusers">Usuń
    wszystkich użytkowników z tej grupy</label></p>
  [% END %]

  [% IF group.granted_by_direct(constants.GROUP_MEMBERSHIP).size %]
    <p><b>Użytkownicy tej grupy dziedziczą członkostwo w następujących grupach:</b></p>
    <ul>
      [% FOREACH grantor = group.granted_by_direct(constants.GROUP_MEMBERSHIP) %]
        <li>[% grantor.name FILTER html %]</li>
      [% END %]
    </ul>
  [% END %]

  [% IF group.bugs.size %]
    <p><b>Tylko dla tej grupy są widoczne zgłoszenia [% terms.bledow %]: 
     [% group.bugs.size FILTER html %]. Nie można usunąć grupy, dopóki 
     [%+ terms.bledy %] używają tej grupy.</b>

    <br><a href="buglist.cgi?field0-0-0=bug_group&amp;type0-0-0=equals&amp;value0-0-0=
                 [%- group.name FILTER url_quote %]">Wyświetl 
    [% terms.bledy %]</a>&nbsp;&nbsp; 
    <label><input type="checkbox" name="removebugs">Usuń
    wszystkie [% terms.bledy %] z tej grupy</label></p>

    <p><b>Uwaga:</b> Zaznaczając tę funkcję, można spowodować ujawnienie poufnych 
    [% terms.bledow %]. <b>Zdecydowanie</b> zaleca się przejrzenie 
    [% terms.bledow %] w tej grupie przed zaznaczeniem
    funkcji.</p>
  [% END %]

  [% IF group.products.size %]
    <p><b>Ta grupa powiązana jest z następującymi produktami:</b></p>
    [% SET any_hidden = 0 %]
    <ul>
      [% FOREACH data = group.products %]

        [% SET active = [] %]
        [% FOREACH control = data.controls.keys.sort %]
          [% NEXT IF !data.controls.$control %]
          [% IF control == 'othercontrol' OR control == 'membercontrol' %]
            [% SWITCH data.controls.$control %]
              [% CASE constants.CONTROLMAPMANDATORY %]
                [% SET type = "Obligatoryjna" %]
              [% CASE constants.CONTROLMAPSHOWN %]
                [% SET type = "Widoczna" %]
              [% CASE constants.CONTROLMAPDEFAULT %]
                [% SET type = "Domyślna" %]
            [% END %]
            [% active.push("$control: $type") %]
          [% ELSE %]
            [% active.push(control) %]
          [% END %]
        [% END %]

        [% SET hidden = 0 %]
        [% IF data.controls.othercontrol == constants.CONTROLMAPMANDATORY
              AND data.controls.membercontrol == constants.CONTROLMAPMANDATORY
              AND data.controls.entry 
        %]
          [% SET hidden = 1 %]
        [% END %]

        <li><a href="editproducts.cgi?action=editgroupcontrols&amp;product=
                    [%- data.product.name FILTER url_quote %]">
          [%- data.product.name FILTER html %]</a>
          ([% active.join(', ') FILTER html %])
          [% IF hidden %]
            <strong>Ostrzeżenie: Ten produkt jest obecnie ukryty.
            Usunięcie grupy spowoduje jego upublicznienie.
            </strong>
          [% END %]</li>
      [% END %]
    </ul>

    <p><label><input type="checkbox" name="unbind">Mimo wszystko usuń grupę i
      relacje grupa/produkt</label></p>
  [% END %]
  
  [% IF group.flag_types.size %]
    <p><b>Ta grupa określa, kto może zmieniać niektóre flagi.
    Nie można usunąć grupy, dopóki istnieją flagi z niej korzystające.</b>

    <br><a href="editflagtypes.cgi?action=list&amp;group=
                 [%- group.id FILTER url_quote %]">Wyświetl
    flagi</a>&nbsp;&nbsp;
    <label><input type="checkbox" name="removeflags">Usuń wszystkie
    flagi z tej grupy</label></p>
  [% END %]

  [% IF shared_queries %]
    <p>
      <b>
      [% IF shared_queries > 1 %]
        Istnieją [% shared_queries %] zapisane wyszukiwania
      [% ELSE %]
        Istnieje zapisane wyszukiwanie
      [% END %]
      współdzielone z tą grupą.</b>
      Jeśli grupa zostanie usunięta,
      [% IF shared_queries > 1 %]
        zapisane wyszukiwania
      [% ELSE %]
        zapisane wyszukiwanie
      [% END %]
      stanie/staną się na powrót prywatnymi.
    </p>
  [% END %]

  <h2>Potwierdzenie</h2>

  <p>Czy na pewno chcesz usunąć tę grupę?</p>
  [% IF group.users.size || group.bugs.size || group.products.size 
        || group.flags.size
  %]
    <p><b>By móc kontynuować, należy zaznaczyć wszystkie powyższe opcje
          lub wyjaśnić wskazane problemy.</b></p>
  [% END %]

  <p>
    <input type="submit" id="delete" value="Tak">
    <input type="hidden" name="action" value="delete">
    <input type="hidden" name="group" value="[% group.id FILTER html %]">
    <input type="hidden" name="token" value="[% token FILTER html %]">
  </p>
</form>

<a href="editgroups.cgi">Lista grup</a>

[% PROCESS global/footer.html.tmpl %] 
