[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@syndicomm.com>
  #                 Joel Peshkin <bugreport@peshkin.net>
  #                 Jacob Steenhagen <jake@bugzilla.org>
  #                 Vlad Dascalu <jocuri@softhome.net>
  #%]

[%# INTERFACE:
  # groups: array with group objects having the properties:
  #   - id: number. The ID of the group.
  #   - name: string. The name of the group.
  #   - description: string. The description of the group.
  #   - userregexp: string. The user regexp for the given group.
  #   - isactive: boolean int. Specifies if the group is active or not.
  #   - isbuggroup: boolean int. Specifies if it can be used for bugs.
  #%]

[% PROCESS global/header.html.tmpl
  title = "Edycja grup"
  subheader = "Ta strona pozwala ustawić grupy, do których można przypisać użytkowników."
%]

[% edit_contentlink = "editgroups.cgi?action=changeform&amp;group=%%id%%" %]
[% del_contentlink = "editgroups.cgi?action=del&amp;group=%%id%%" %]

[% columns =
  [{name               => 'name'
    heading            => 'Nazwa'
    contentlink        => edit_contentlink
   }
   {name               => 'description'
    heading            => 'Opis'
    allow_html_content => 1
   }
   {name               => 'userregexp'
    heading            => 'Wyr. regularne'
   }
   {name               => 'is_active_bug_group'
    heading            => "Używana dla $terms.bledow"
    align              => 'center'
   }
   {name               => 'type'
    heading            => 'Typ'
    align              => 'center'
   }
   {name               => 'action'
    heading            => 'Akcja'
   }
  ]
%]

[% overrides.is_active_bug_group = [ {
     match_value => "0"
     match_field => 'is_active_bug_group'
     override_content => 1
     content => "&nbsp;"
   },
   {
     match_value => "1"
     match_field => 'is_active_bug_group'
     override_content => 1
     content => "X"
   }]
   overrides.userregexp = [ {
     match_value => ""
     match_field => 'userregexp'
     override_content => 1
     content => "&nbsp;"
   }]
   overrides.action = [ {
     match_value => Param("chartgroup")
     match_field => 'name'
     override_content => 1
     content => "(używana jako 'chartgroup')"
   },
   {
     match_value => Param("insidergroup")
     match_field => 'name'
     override_content => 1
     content => "(używana jako 'insidergroup')"
   },
   {
     match_value => Param("timetrackinggroup")
     match_field => 'name'
     override_content => 1
     content => "(używana jako 'timetrackinggroup')"
   },
   {
     match_value => Param("querysharegroup")
     match_field => 'name'
     override_content => 1
     content => "(używana jako 'querysharegroup')"
   },
   {
     match_value => "1"
     match_field => 'isbuggroup'
     override_content => 1
     content => "Usuń"
     override_contentlink => 1
     contentlink => del_contentlink
   }]
   overrides.type = [ {
     match_value => "0"
     match_field => 'isbuggroup'
     override_content => 1
     content => "systemowa"
   },
   {
     match_value => "1"
     match_field => 'isbuggroup'
     override_content => 1
     content => "użytkownika"
   }]
%] 

[% PROCESS admin/table.html.tmpl
  columns = columns
  data    = groups
  overrides = overrides
%]

<p><a href="editgroups.cgi?action=add">Nowa grupa</a></p>

<p>
<b>Nazwa</b> to nazwa, która używana jest z funkcją b<!-- blah -->ugzilla->user->in_group() 
w każdym ze zmodyfikowanych przez użytkownika plików cgi. 
Może być ona także używana przez użytkowników wpisujących [% terms.bledy %] poprzez email 
w celu ograniczenia [% terms.bledu %] do określonego zbioru grup. 
Nazwa ta nie może zawierać spacji. 
</p>

<p>
p><b>Opis</b> pojawia się przy polach wyboru ograniczenia                                                                                                                       
dostępu do zgłoszenia [% terms.bledu %].                                                                                                                                         
Za ich pomocą można określić, czy raport o [% terms.bledzie %] będzie                                                                                                               
wyświetlany jedynie dla członków danej grupy.</p>                          

<p>
<b>Wyrażenie regularne użytkowników</b> (opcjonalne) 
w przypadku wypełnienia automatycznie udzieli członkostwa
w tej grupie każdemu, kogo adres e-mail 
pasuje do tego wyrażenia regularnego. Np: '@mycompany\.com$'
</p>

<p>

Flaga <b>Używana dla [% terms.bledow %]</b> określa, czy grupa
może być używana dla [% terms.bledow %]. Jeśli zostanie ona odznaczona,
nie będzie możliwe dodawanie nowych [% terms.bledow %] do tej grupy,
jednakże [% terms.bledy %] będące już w grupie, pozostaną w niej.
Jest to mniej drastyczny sposób na powstrzymanie wzrostu grupy
niż jej usunięcie.
</p>

<p>
  Pole <b>Typ</b> określa grupy systemowe.
</p>

[% PROCESS global/footer.html.tmpl %]
