[%# 4.0.10PL@aviary.pl %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[%
   title = "Pola $terms.bledu"
   desc = "Wybór wyświetlanych pól."
%]

[% param_descs = {
  useclassification => "Gdy ten parametr zostanie włączony, będzie można powiązać każdy produkt z " _
                       "określoną kategorią. Aby móc modyfikować kategorie, należy mieć " _
                       "uprawnienie <code>editclassification</code>.",

  usetargetmilestone => "Parametr ten określa, czy będzie używane pole <strong>Wersja docelowa</strong>.",

  useqacontact => "Parametr ten określa, czy będzie używane pole <strong>Specjalista QA</strong>.",

  usestatuswhiteboard => "Parametr ten określa, czy będzie używane pole <strong>Tablica</strong>.",

  usebugaliases => "Parametr ten definiuje, czy będzie można korzystać z aliasów $terms.bledow, które pozwalają przypisać " _
                   "$terms.bledom łatwe do zapamiętania identyfikatory lub nazwy.",

  use_see_also => 
    "Parametr ten określa, czy będzie można używać funkcji <strong>Zobacz też</strong>. Umożliwia ona odnoszenie się do"
    _ " $terms.bledow w innych instalacjach. Nawet jeśli funkcja zostanie wyłączona,"
    _ " $terms.bledy z już określonymi relacjami (URL-mi) $terms.bledu, będą"
    _ " nadal wyświetlane i mogą być usuwane.",

  defaultpriority => "Domyślny priorytet tworzonych ${terms.bledow}.",

  defaultseverity => "Domyślna waga tworzonych ${terms.bledow}.",

  defaultplatform => "Domyślnie wybrana platforma w formularzu zgłaszania ${terms.bledow}. " _
                     "<br> " _
                     "Można nie określać tego parametru, " _
                     "wówczas zostanie użyty system operacyjny " _
                     "zgłaszany przez przeglądarkę.",

  defaultopsys => "Domyślnie wybrany system operacyjny w formularzu zgłaszania ${terms.bledow}. " _
                  "<br> " _
                  "Można nie określać tego parametru, " _
                  "wówczas zostanie użyty system operacyjny " _
                  "zgłaszany przez przeglądarkę." }
%]