[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #%]
[%
   title = "Pola $terms.bledu"
   desc = "Wybór wyświetlanych pól"
%]

[% param_descs = {
  useclassification => "Włączenie opcji powoduje, że $terms.Bugzilla powiąże każdy produkt z " _
                       "określoną klasyfikacją. Aby móc edytować klasyfikacje, należy posiadać " _
                       "uprawnienie 'editclassification'.",

  showallproducts => "Jeśli ta opcja i opcja useclassification jest włączona, do listy produktow " _
                     "na stronie Nowy $terms.blad dodany zostanie odnośnik 'Wszystkie' do listy wszystkich produktów.",

  usetargetmilestone => "Określa czy będzie używane pole Wersja docelowa.",

  useqacontact => "Określa czy będzie używane pole Kontakt QA.",

  usestatuswhiteboard => "Określa czy będzie używane pole Tablica.",

  usevotes => "Określa czy zezwolić na głosowanie na ${terms.bledy}. Aby opcja ta była " _
              "efektywna, należy zmienić maksymalną liczbę dozwolonych głosów " _
              "na wartość różną od zera. Można to zrobić na stronie " _
              "<a href=\"editproducts.cgi\">edycji produktu</a>.",

  usebugaliases => "Określa czy korzystać z aliasów ${terms.bledow}, które pozwalają przypisać " _
                   "$terms.bledom łatwe do zapamiętania identyfikatory lub nazwy.",

  defaultpriority => "Domyślny priorytet nowotworzonych ${terms.bledow}.",

  defaultseverity => "Domyślna waga nowotworzonych ${terms.bledow}.",

  defaultplatform => "Domyślnie wybrana platforma w formularzu zgłaszania ${terms.bledow}. " _
                     "<br> " _
                     "Można pozostawić wartość pustą: " _
                     "w takim przypadku zostania użyta wartość z nagłówków przeglądarki " _
                     "wykryta przez ${terms.Bugzille}.",

  defaultopsys => 	 "Domyślnie wybrany system operacyjny w formularzu zgłaszania ${terms.bledow}. " _
                     "<br> " _
                     "Można pozostawić wartość pustą: " _
                     "w takim przypadku zostania użyta wartość z nagłówków przeglądarki " _
                     "wykryta przez ${terms.Bugzille}." }
%]