[%# 4.2.5PL@aviary.pl %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[% 
   title = "Ustawienia wymagane"
   desc = "Ustawienia, które są wymagane do poprawnego działania ${terms.Bugzilli}." 
%]

[% param_descs = {
  urlbase => "Początkowa część adresu URL wszystkich adresów generowanych przez " _
             "${terms.Bugzille}.",

  sslbase => "Początkowa część adresu URL wszystkich adresów HTTPS " _
             "(SSL) ${terms.Bugzilli}.",

  ssl_redirect => 
    "Włączenie tego parametru spowoduje komunikację z $terms.Bugzillaa za"
    _ " pomocą protokołu SSL. Odbywa się to poprzez przekierowanie żądań"
    _ " HTTP na HTTPS, używając parametru <tt>sslbase</tt>. Również odnośniki"
    _ " w e-mailach wysyłane przez $terms.Bugzille będą miały postać <tt>sslbase</tt>"
    _ " zamiast <tt>urlbase</tt>.",

  cookiepath => "Ścieżka relatywna do głównego katalogu serwera WWW, do której ograniczone " _
                "będą ciasteczka ${terms.Bugzilli}. Zwykle jest to część URI bazowego adresu URL, " _
                "którego wartość powinna rozpoczynać się znakiem / (ukośnik). Np., jeśli " _
                "$terms.Bugzilla znajduje się pod adresem „http://www.domena.com/bugzilla/”, " _
                "należy ustawić tu wartość /bugzilla/. Wartość / pozwoli na odczyt " _
                "ciasteczek $terms.Bugzilli wszystkim witrynom udostępnianym " _
                "przez dany serwer WWW lub host wirtualny.",
} %]
