[%# 4.0.1+PL@aviary.pl %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[%
   title = "Grafy zależności"
   desc = "Dodatkowe ustawienia dla rysowania grafów zależności."
%]

[% param_descs = {
  webdotbase => "Możliwe jest wyświetlanie grafów zależności ${terms.bledow}.
                 W tym parametrze można określić jedną z następujących wartości:
                 <ul>
                   <li>
                     pełna ścieżka do narzędzia <code>dot</code> (część pakietu 
                     <a href=\"http://www.graphviz.org\">GraphViz</a>) – grafy będą 
                     generowane lokalnie,
                   </li>
                   <li>
                     przedrostek adresu URL wskazujący na instalację pakietu 
                     <a href=\"http://www.research.att.com/~north/cgi-bin/webdot.cgi\">webdot</a>
                      – grafy będą generowane zdalnie,
                   </li>
                   <li>
                     nie określać żadnej wartości – nastąpi wyłączenie rysowania grafów.
                   </li>
                 </ul>
                 Domyślną wartością jest publicznie dostępny serwer webdot. W razie zmiany
                 tego parametru należy upewnić się, że serwer webdot może odczytywać pliki
                 z katalogu webdot na tym serwerze. W przypadku serwera Apache należy
                 zmodyfikować plik <code>.htaccess</code>. Dla innych serwerów prawdopodobnie trzeba
                 wykonać inne czynności. W razie utraty pliku <code>.htaccess</code> należy ponownie
                 uruchomić skrypt <kbd>checksetup.pl</kbd>."}
%]