[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #%]
[%
   title = "Wartości domyślne zapytań"
   desc = "Wartości domyślne zapytań i list błędów"
%]

[% param_descs = {
  quip_list_entry_control => "Określa zasady rozszerzania listy sentencji:
                              <ul>
                                <li>
                                  open - użytkownicy mogą dowolnie dodawać sentencje, a
                                  ich wpisy będą natychmiast dostępne i używane.
                                </li>
                                <li>
                                  moderated - można dodawać sentencje, ale przed ich użyciem muszą być
                                  one zatwierdzone przez administratora.
                                </li>
                                <li>
                                  closed - nie można dodawać nowych sentencji.
                                </li>
                              </ul>",

  mostfreqthreshold => "Ilość duplikatów $terms.bledu, po osiągnięciu której zostanie on wyświetlony w liście " _
                       "<a href=\"duplicates.cgi\">najczęściej zgłaszanych $terms.bledow</a>. " _
                       "W przypadku dużej bazy i długiego czasu wczytywania strony z ww. listą, należy " _
                       "zwiększyć tą wartość.",

  mybugstemplate => "Adres URL wyświetlający prostą listę 'wszystkie moje $terms.bledy'. " _
                    "Zmienna %userid% będzie zamieniona na nazwę użytkownika.",

  defaultquery => "Domyślne zapytanie po otwarciu strony zaawansowanego wyszukiwania. " _
                  "Zapytanie w trudno czytelnym formacie parametrów URL. Przepraszamy.",

  quicksearch_comment_cutoff => "Maksymalna liczba słów dla szybkiego wyszukiwania w komentarzach. " _
                                "Jeśli szybkie zapytanie zawiera więcej słów niż podana wartość, to " _
                                "komentarze nie będą przeszukiwane.",

  specific_search_allow_empty_words => "Określa, czy na stronie wyszukiwania zezwolić na wyszukiwanie błędów z pustym polem 'Słowa'."
  }
%]
