[%# 4.0.7PL@aviary.pl %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[%
   title = "Kopia bazy danych"
   desc = "Dodatkowa metoda zwiększająca wydajność operacji na bazie danych."
%]

[% param_descs = {
  shadowdbhost => "Host dodatkowej bazy danych.",

  shadowdbport => "Port dodatkowej bazy danych. Wartość ignorowana, jeśli " _
                  "parametr <tt>shadowdbhost</tt> jest pusty. Uwaga: Jeśli hostem bazy jest " _
                  "lokalny komputer, MySQL zignoruje ten parametr. W takim przypadku " _
                  "należy poniżej określić gniazdo.",

  shadowdbsock => "Gniazdo połączenia do dodatkowej bazy danych, jeśli znajduje się ona " _
                  "na lokalnym komputerze. Parametr ten jest wymagany, ponieważ baza MySQL " _
                  "ignoruje podany port i łączy się z lokalnym serwerem za pomocą domyślnej " _
                  "ścieżki do gniazda (na komputerach z systemami UNIX). " _
                  "Pozostawienie pustej wartości w przypadku posiadania bazy na lokalnym komputerze " _
                  "(localhost) spowoduje, że parametr <tt>shadowdbport</tt> " _
                  "zostanie zignorowany.",

  shadowdb => "Nazwa dodatkowej bazy danych, której $terms.Bugzilla będzie " _
              "używać jako kopii bazy do odczytu. Długie, blokujące połączenia " _
              "i wyszukiwania będą wykonywane na tej bazie, a inni użytkownicy " _
              "nie będą odczuwali żadnych opóźnień. Baza ta znajduje się na komputerze " _
              "określonym dla parametru <tt>shadowdbhost</tt>. " _
              "$terms.Bugzilla sama z siebie nie replikuje bazy. W przypadku korzystania z tej " _
              "funkcji, należy samodzielnie zapewnić replikację bazy danych." }
%]
