[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #%]
[%
   title = "Kopia bazy danych"
   desc = "Dodatkowa metoda zwiększająca wydajność operacji na bazie danych"
%]

[% param_descs = {
  shadowdbhost => "Host dodatkowej bazy danych.",

  shadowdbport => "Port dodatkowej bazy danych. Wartość ignorowana, jeśli " _
                  "opcja <tt>shadowdbhost</tt> jest pusta. Uwaga: jeśli hostem bazy jest " _
                  "lokalny komputer, to MySQL zignoruje ten parametr. Należy w takim " _
                  "przypadku określić gniazdo poniżej.",

  shadowdbsock => "Gniazdo połączenia do dodatkowej bazy danych jeśli znajduje się ona " _
                  "na lokalnym komputerze. Opcja ta jest wymagana ponieważ MySQL " _
                  "ignoruje podany port i łączy się z lokalnym serwerem za pomocą domyślnej " _
                  "ścieżki do gniazda (na komputerach z systemami unix). " _
                  "Pozostawienie pustej wartości w przypadku posiadania bazy na lokalnym komputerze" _
                  "(localhost) spowoduje, że opcja <tt>shadowdbport</tt> " _
                  "zostanie zignorowana.",

  shadowdb => "Wartość niepusta określa nazwę dodatkowej bazy danych, której" _
              "$terms.Bugzilla będzie używać jako kopii bazy do odczytu. " _
              "Długie, blokujące połączenia i zapytania będą wykonywane na tej bazie, " _
              "a inni użytkownicy nie będą doświadczać opóźnień. Baza ta znajduje się na " _
              "komputerze <tt>shadowdbhost</tt> i musi istnieć. " _
              "$terms.Bugzilla sama z siebie nie replikuje bazy. W przypadku korzystania z tej " _
              "opcji należy samodzielnie zapewnić replikację bazy danych." }
%]
