[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #%]
[%
   title = "Załączniki"
   desc = "Ustawienia dotyczące załączników"
%]

[% param_descs = {
  allow_attachment_deletion => "Jeśli opcja ta jest włączona, administratorzy będą mogli " _
                               "usuwać zawartość załączników.",

  allow_attach_url => "W przypadku włączenia tej opcji możliwe będzie " _
                      "podanie adresu URL podczas tworzenia załącznika " _
                      "i traktowania tego adresu URL jako załącznik.",

  maxpatchsize => "Maksymalny rozmiar łatek (w kilobajtach). System $terms.Bugzilla nie " _
                  "zaakceptuje łatek większych niż podana wartość. " _
                  "Aby włączyć akceptowanie łatek dowolnych rozmiarów (zależnie również od serwera WWW), " _
                  "należy ustawić wartość 0.",

  maxattachmentsize => "Maksymalny rozmiar załączników niebędących łatkami (w kilobajtach). " _
                       "System $terms.Bugzilla nie zaakceptuje załączników - łatek większych niż podana wartość. " _
					   "Aby włączyć akceptowanie łatek dowolnych rozmiarów (zależnie również od serwera WWW), " _
					   "należy ustawić wartość 0.",
				  
  maxlocalattachment => "Maksymalny rozmiar załączników określanych jako 'duży plik' (w megabajtach), " _
                        "które będą przechowywane na serwerze. " _
                        "Wartość zero oznacza, że załączniki nie będą przechowywane w systemie plików " _
                        "serwera.",

  convert_uncompressed_images => "W przypadku włączenia tej opcji w celu zaoszczędzenia miejsca, załączniki typu image/bmp " _
                                 "zostaną przekonwertowane do image/png i skompresowane przed zapisem do bazy danych." }
%]
