[%# 4.4rc2PL@aviary.pl %]
[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[%# INTERFACE:
  # product: object; Bugzilla::Product object representing the product to
  #               which the milestone belongs.
  # milestone: object; Bugzilla::Milestone object representing the
  #                    milestone the user wants to delete.
  #
  #%]

[% title = BLOCK %]Usuwanie wersji docelowej produktu „[% product.name FILTER html %]”
  [% END %]

[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css']
%]

<table border="1" cellpadding="4" cellspacing="0">
<tr bgcolor="#6666FF">
  <th valign="top" align="left">Pole</th>
  <th valign="top" align="left">Wartość</th>
</tr>
<tr>
  <td valign="top">Wersja docelowa:</td>
  <td valign="top">[% milestone.name FILTER html %]</td>
</tr>
<tr>
  <td valign="top">Produkt:</td>
  <td valign="top">[% product.name FILTER html %]</td>
</tr>
<tr>
  <td valign="top">[% terms.Bledy %]:</td>
  <td valign="top">
[% IF milestone.bug_count %]
  <a title="Lista [% terms.bledow %] z określoną wersją docelową „
           [% milestone.name FILTER html %]”"
     href="buglist.cgi?target_milestone=[% milestone.name FILTER uri %]&amp;product=
          [%- product.name FILTER uri %]">
          [% milestone.bug_count FILTER none %]</a>
[% ELSE %]
  Brak
[% END %]
  </td>
</tr>
</table>

<h2>Potwierdzenie</h2>
  
[% IF milestone.bug_count %]

  <p class="confirmation">
    
    [% IF milestone.bug_count > 1 %]
      Istnieją [% milestone.bug_count FILTER none %] otwarte [% terms.bledy %] dla tej wersji docelowej.
    [% ELSE %]
      Istnieje 1 otwarty [% terms.blad %] dla tej wersji docelowej.
    [% END %]
    Po usunięciu tej wersji
    <b><blink>WSZYSTKIE</blink></b> [% terms.bledy %] zostaną przypisane
    do wersji [% product.default_milestone FILTER html %] – domyślnej wersji docelowej
    produktu [% product.name FILTER html %].
  </p>
[% END %]

<p>Czy na pewno chcesz usunąć tę wersję docelową?</p>

<form method="post" action="editmilestones.cgi">
  <input type="submit" id="delete" value="Tak">
  <input type="hidden" name="action" value="delete">
  <input type="hidden" name="product" value="[% product.name FILTER html %]">
  <input type="hidden" name="milestone" value="[% milestone.name FILTER html %]">
  <input type="hidden" name="token" value="[% token FILTER html %]">
</form>

[% PROCESS admin/milestones/footer.html.tmpl %]

[% PROCESS global/footer.html.tmpl %] 
