[%# 3.6PLRC@aviary.pl %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Joel Peshkin <bugreport@peshkin.net>
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[% PROCESS global/variables.none.tmpl %]
[% title = BLOCK %]
  Potwierdzenie zmiany relacji grupa/produkt dla „[%- product.name FILTER html %]”
[% END %]

[% PROCESS global/header.html.tmpl title = title %]
[% FOREACH group = mandatory_groups %]
<P>
Grupa „[% group.name FILTER html %]” oddziałuje na [% group.count %] 
[% PROCESS ODMIEN c=group.count o1="$terms.blad" o2="$terms.bledy" o3="$terms.bledow" %], 
dla których jest ponownie obligatoryjna i zostanie dodana.
[% END %]

[% FOREACH group = na_groups %]
<P>
Grupa „[% group.name FILTER html %]” oddziałuje na [% group.count %] 
[% PROCESS ODMIEN c=group.count o1="$terms.blad" o2="$terms.bledy" o3="$terms.bledow" %], 
dla których nie ma już zastosowania i zostanie usunięta.[% END %]
<form action="editproducts.cgi" method="post" >

  [% PROCESS "global/hidden-fields.html.tmpl" exclude="^Bugzilla_(login|password)$" %]

  <br>
     Aby dokonać zmian, łącznie ze zmianami wymienionymi powyżej, naciśnij
     przycisk „Kontynuuj”. Jeśli nie chcesz dokonywać zmian, użyj
     przycisku „Wróć”, by powrócić do poprzedniej strony.
  <p>
    <input type="hidden" name="confirmed" value="confirmed">
    <input type="submit" id="update" value="Kontynuuj">
  </p>

</form>


[% PROCESS global/footer.html.tmpl %]


