[%# 4.4rc2PL@aviary.pl %]
[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[% PROCESS global/header.html.tmpl
   title = "Szukanie $terms.bledow wg numeru"
 %]

<form method="get" action="show_bug.cgi">
  <p>
    Można odszukać [% terms.blad %], wprowadzając numer [% terms.bledu %] w to pole:
    <input name="id" size="6">
    <input type="submit" id="show" value="Wyświetl [% terms.blad %]">
  </p>
</form>

[% PROCESS global/footer.html.tmpl %]
