[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[%# NOTE: Everywhere you use this template, you must call 
  # "FILTER remove('^X')" on the result. This is unfortunately the only way
  # to preserve leading whitespace in comments.
  #%]

[%# INTERFACE:
  #   comment: A Bugzilla::Comment object.
  #   is_bugmail: boolean; True if this comment is going into a plain-text
  #               bugmail.
  #%]

[%# Please don't use field-descs here. It can slow down Bugzilla. %]

[% SET comment_body = comment.body %]

[% IF comment.type == constants.CMT_DUPE_OF %]
X[% comment_body %]

*** Ten [% terms.blad %] został oznaczony jako duplikat [% terms.bledu %] [%+ comment.extra_data %]. Wyświetl [% terms.blad %] [%+ comment.extra_data %] ***

[% ELSIF comment.type == constants.CMT_HAS_DUPE %]
*** [% terms.Blad %] [%+ comment.extra_data %] został oznaczony jako duplikat tego [% terms.bledu %]. ***
[% ELSIF comment.type == constants.CMT_ATTACHMENT_CREATED %]
Utworzono załącznik [% comment.extra_data %]
Pobierz: [% urlbase _ "attachment.cgi?id=" _ comment.extra_data %]
Szczegóły: [% urlbase _ "attachment.cgi?id=" _ comment.extra_data _ "&action=edit" %]

[%+ comment.attachment.description %]

[%+ comment.body %]
[% ELSIF comment.type == constants.CMT_ATTACHMENT_UPDATED %]
Komentarz załącznika [% comment.extra_data %]
Pobierz: [% urlbase _ "attachment.cgi?id=" _ comment.extra_data %]
[%+ comment.attachment.description %]

[%+ comment.body %]
[% ELSE %]
X[% Hook.process('type') %]
[% END %]
