[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s):     Myk Melez <myk@mozilla.org>
  #                     Jeff Hedlund <jeff.hedlund@matrixsi.com>
  #%]

[% PROCESS global/variables.none.tmpl %]

[% bugidsummary = flag.target.bug.id _ ': ' _ flag.target.bug.summary %]
[% attidsummary = flag.target.attachment.id _ ': ' _
                  flag.target.attachment.summary %]
[% statuses = { '+' => "Zgoda na" , '-' => "Brak zgody na" , 'X' => "Anulowanie prośby o" ,
                '?' => "Prośba o" } %]
[% statuses2 = { '+' => "zgodził sie na prośbę o" , '-' => "nie zgodził się na" ,
                 'X' => "usunął prośbę o" , '?' => "poprosił o" } %]
[% IF flag.status == '?' %]
   [% to_email = flag.requestee.email IF flag.requestee.email_prefs.FlagRequestee %]
   [% to_identity = flag.requestee.identity %]
   [% subject_status = "Prośba o" %]
[% ELSE %]
   [% to_email = flag.setter.email IF flag.setter.email_prefs.FlagRequester %]
   [% to_identity = flag.setter.identity  %]
   [% subject_status = statuses.${flag.status} %]
[% END %]
From: bugzilla-request-daemon
To: [% to_email %]
CC: [% flag.type.cc_list %]
Subject: [% FILTER encode_mail_header -%]
[% subject_status %] [%+ flag.type.name %]: [[% terms.Blad %] [%+ flag.target.bug.id %]] [% flag.target.bug.summary %]
[%- IF flag.target.attachment.exists %] :
  [Załącznik [% flag.target.attachment.id %]] [% flag.target.attachment.summary %][% END %]
[%- END %]
Content-Type: text/plain; charset=UTF-8
Content-Transfer-Encoding: 8bit

[%+ USE wrap -%]
[%- FILTER bullet = wrap(80) -%]
[% IF flag.status == "?" -%]
[% user.identity %] [%+ statuses2.${flag.status} %] [%+ flag.type.name %] [%+ to_identity %]
[% ELSE %]
[% user.identity %] [%+ statuses2.${flag.status} %] [%+ flag.type.name %] od [%+ to_identity %]
[% END %]

[% terms.Blad %] [%+ bugidsummary %]
[% END %]
[%+ Param('urlbase') %]show_bug.cgi?id=[% flag.target.bug.id %]
[% IF flag.target.attachment.exists %]

[% FILTER bullet = wrap(80) %]
Załącznik [% attidsummary %]
[%- END %]
[%+ Param('urlbase') %]attachment.cgi?id=[% flag.target.attachment.id %]&action=edit
[%- END %]
[%- FILTER bullet = wrap(80) %]

[% IF form.comment.length > 0 %]
------- Dodatkowy komentarz dla [% user.identity %]
[%+ form.comment %]
[% END %]

[%- END %]
