[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Frédéric Buclin <LpSolit@gmail.com>
  #%]

[%# INTERFACE:
  # token: random string used to authenticate the transaction.
  # token_ts: creation date of the token.
  # email: email address of the new account.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% expiration_ts = token_ts + (constants.MAX_TOKEN_AGE * 86400) %]
From: [% Param('mailfrom') %]
To: [% email %]
Subject: [% terms.Bugzilla %]: potwierdzenie utworzenia konta
X-Bugzilla-Type: admin

[%+ terms.Bugzilla %] otrzymała żądanie utworzenie konta z użyciem tego
adresu e-mail ([% email %]).

Aby kontynuować tworzrenie konta z tym adresem email, należy otworzyć
poniższy odnośnik przed [%+ time2str("%B %o, %Y at %H:%M %Z", expiration_ts) %]:

[%+ urlbase %]token.cgi?t=[% token FILTER url_quote %]&a=request_new_account

Jeśli odbiorca tej wiadomości nie otrzymał tego emaila przed [%+ time2str("%B %o, %Y at %H:%M %Z", expiration_ts) %] lub użytkownik woli stworzyć konto z innym adresem email, można zacząć od początku odwiedzając:

[%+ urlbase %]createaccount.cgi

[% IF Param('createemailregexp') == '.*' && Param('emailsuffix') == '' %]
OSTRZEŻENIE: [% terms.Bugzilla %] jest otwartym systemem śledzenia
[% terms.bledow %]. Aktywność w większości [% terms.bledow %], włączając
w to adresy email, będzie widoczna publicznie. <b>Zalecamy</b> korzystanie
z alternatywnego konta lub darmowej usługi email (jak Gmail,
Yahoo, Hotmail, lub inne) aby uniknąć otrzymywania spamu
na adresie podstawowym.
[% END %]

Jeżeli użytkownik nie chce utworzyć konta, lub to zgłoszenie jest wynikiem
błędu można nie robić nic lub odwiedzić poniższy adres:

[%+ urlbase %]token.cgi?t=[% token FILTER url_quote %]&a=cancel_new_account

Jeżeli powyższy odnośnik nie działa, lub pojawią się jakiekolwiek inne
problemy z tym kontem, proszę skontaktować się z administratorem:
 [% Param('maintainer') %].
