[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Frédéric Buclin <LpSolit@gmail.com>
  #%]

[%# INTERFACE:
  # token: random string used to authenticate the transaction.
  # token_ts: creation date of the token.
  # email: email address of the new account.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% expiration_ts = token_ts + (constants.MAX_TOKEN_AGE * 86400) %]
From: [% Param('mailfrom') %]
To: [% email %]
Subject: [% terms.Bugzilla %]: potwierdzenie utworzenia konta
X-Bugzilla-Type: admin

Sysem [%+ terms.Bugzilla %] otrzymał żądanie utworzenie konta z użyciem tego
adresu e-mail ([% email %]).

Aby potwierdzić chęć utworzenia konta z tym adresem e-mail, należy otworzyć
poniższy odnośnik przed  [%+ time2str("%o %B %Y %H:%M %Z", expiration_ts) %]:

[%+ urlbase %]token.cgi?t=[% token FILTER url_quote %]&a=request_new_account

Jeśli użytkownik nie otrzymał tej wiadomości przed [%+ time2str("%o %B %Y %H:%M %Z", expiration_ts) %] lub 
chce utworzyć konto z innym adresem e-mail, należy rozpocząć ponownie pod adresem:

[%+ urlbase %]createaccount.cgi

[% IF Param('createemailregexp') == '.*' && Param('emailsuffix') == '' %]
UWAGA O PRYWATNOŚCI: [% terms.Bugzilla %] to otwarty system śledzenia [% terms.bledow %]. Aktywność w większości
zgłoszeń [%+ terms.bledow %], łącznie z adresami e-mail, będzie widoczna publicznie. W celu uniknięcia
otrzymywania niechcianych wiadomości, zalecamy korzystanie z 
dodatkowego konta lub darmowej usługi poczty internetowej (jak np: Gmail, Yahoo, Hotmail lub podobne).
[% END %]

Jeśli odbiorca tej wiadomości nie wysłał tego żądania lub aby anulować żądanie, 
proszę otworzyć poniższy odnośnik:  

[%+ urlbase %]token.cgi?t=[% token FILTER url_quote %]&a=cancel_new_account

Jeśli powyższe odnośniki nie działają lub wystepują inne problemy z kontem, proszę 
skontaktować się z administratorem pod adresem [% Param('maintainer') %].
