[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Marc Schumann <wurblzap@gmail.com>
  #%]

[%# INTERFACE:
  #
  # listselectionvalues:      selection values to recreate the current user
  #                           list.
  # editusers:                is viewing user member of editusers?
  # otheruser:                Bugzilla::User object of the viewed user.
  # reporter:                 number of bugs reported by the user
  # assignee_or_qa:           number of bugs the user is either the assignee
  #                           or the QA contact
  # bugs_activity:            number of bugs the viewed user has activity
  #                           entries on
  # cc                        number of bugs the viewed user is cc list member
  #                           of
  # flags.requestee:          number of flags the viewed user is being asked for
  # flags.setter:             number of flags the viewed user has set
  # longdescs:                number of bug comments the viewed user has written
  # namedqueries:             number of named queries the user has created
  # namedquery_group_map:     number of named queries the user has shared
  # profiles_activity:        number of changes made to other users' profiles
  # series:                   number of series the viewed user has created
  # votes:                    number of bugs the viewed user has voted on
  # watch.watched:            number of users the viewed user is being watched
  #                           by
  # watch.watcher:            number of users the viewed user is watching
  # whine_events:             number of whine events the viewed user has created
  # whine_schedules:          number of whine schedules the viewed user has
  #                           created
  #%]

[% title = BLOCK %]Potwierdzenie usunięcia użytkownika [% otheruser.login FILTER html %][% END %]

[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css',
                'skins/standard/editusers.css']
%]

[% PROCESS admin/users/listselectvars.html.tmpl
  listselectionvalues = listselectionvalues
%]

[% responsibilityterms = {
  'default_assignee'   => 'Domyślny właściciel',
  'default_qa_contact' => 'Domyślny kontakt QA'
  }
%]

<table class="main">
  <tr>
    <th>Nazwa użytkownika:</th>
    <td>[% otheruser.login FILTER html %]</td>
  </tr>
  <tr>
    <th>Imię i nazwisko:</th>
    <td>[% otheruser.name FILTER html %]</td>
  </tr>
  <tr>
    <th>Grupy:</th>
    <td>
      [% IF otheruser.groups.size %]
        <ul>
          [% FOREACH group = otheruser.groups.keys %]
            <li>[% group FILTER html %]</li>
          [% END %]
        </ul>
      [% ELSE %]
        Brak
      [% END %]
    </td>
  </tr>
  [% IF otheruser.product_responsibilities.size %]
    <tr>
      <th>Funkcje w produktach:</th>
      <td>
        <ul>
          [% FOREACH component = otheruser.product_responsibilities %]
            <li>
              [% andstring = '' %]
              [% FOREACH responsibility = ['default_assignee', 'default_qa_contact'] %]
                [% IF component.${responsibility}.id == otheruser.id %]
                  [% andstring %] [% responsibilityterms.$responsibility %]
                  [% andstring = ' i ' %]
                [% END %]
              [% END %]
              dla
              [% IF user.in_group("editcomponents", component.product_id) %]
                <a href="editcomponents.cgi?action=edit&amp;product=
                         [% component.product.name FILTER url_quote %]&amp;component=
                         [% component.name FILTER url_quote %]">
              [% END %]
                [%+ component.product.name FILTER html %]:
                [% component.name FILTER html %]
              [% IF user.in_group("editcomponents", component.product_id) %]
                </a>
              [% END %]
            </li>
          [% END %]
        </ul>
      </td>
    </tr>
  [% END %]
</table>

[% IF otheruser.product_responsibilities.size %]
  <p>
    Nie można usunąć teraz użytkownika
    [%+ otheruser.login FILTER html %], ponieważ ma on przypisane funkcje
    w conajmniej jednym produkcie.
  </p>
  <p>
    [% IF user.in_group("editcomponents", component.product_id) %]
      Funkcje te można zmienić korzystając z odnośników powyżej.
    [% ELSE %]
      
    [% END %]
[% ELSE %]

  <h2>Potwierdzenie</h2>

  [% display_warning = 0 %]

  [% IF reporter || bugs_activity || flags.setter || longdescs || profiles_activity %]
    <div class="criticalmessages">
      <p>Usunięcie wymienionych poniżej użytkowników jest <b>zdecydowanie niezalecane</b> i
      może spowodować niespójność danych!</p>

      <ul>
        [% IF reporter %]
          <li>
            [% terms.Bledow %] zgłoszonych przez
            <a href="buglist.cgi?emailreporter1=1&amp;emailtype1=exact&amp;email1=
               [%- otheruser.login FILTER url_quote %]">[% otheruser.login FILTER html %]
              </a>: [%+ reporter %].
			Usunięcie konta spowoduje niespójność w bazie danych,
			co oznacza, że 
			[% PROCESS ODMIEN c=reporter o1="$terms.blad"
			o2="$terms.bledy" o3="$terms.bledow" %] 
			nie pojawi się więcej w listach [% terms.bledow %]
          </li>
        [% END %]
        [% IF bugs_activity %]
          <li>
            Użytkownik [% otheruser.login FILTER html %] dokonał 			
            [% IF bugs_activity == 1 %]
              zmiany w [% terms.bledzie %]
            [% ELSE %]
              zmian w [% terms.bledach %]
            [% END %].

			Usunięcie konta spowoduje niespójność w bazie danych,
			co oznacza, że
            [% IF bugs_activity == 1 %]
              ta zmiana
            [% ELSE %]
              te zmiany
            [% END %]
			nie będą wyświetlane w logach aktywności [% terms.bug %].
          </li>
        [% END %]
        [% IF flags.setter %]
          <li>
            Użytkownik [% otheruser.login FILTER html %]
            <a href="buglist.cgi?field0-0-0=setters.login_name&amp;type0-0-0=equals&amp;value0-0-0=
               [%- otheruser.login FILTER url_quote %]">ustawił
            lub zażądał ustawienia
            [% IF flags.setter == 1 %]
              flagi
            [% ELSE %]
              [%+ flags.setter %] flag
            [% END %]</a>.
			
			
			Usunięcie konta spowoduje niespójność w bazie danych,
			co oznacza, że 
            [% IF flags.setter == 1 %]
              ta flaga
            [% ELSE %]
              te flagi
            [% END %]
			nię będą wyświetlane poprawnie.
          </li>
        [% END %]
        [% IF longdescs %]
          <li>
            Użytkownik [% otheruser.login FILTER html %] 
            <a href="buglist.cgi?emaillongdesc1=1&amp;emailtype1=exact&amp;email1=
               [%- otheruser.login FILTER url_quote %]">napisał komentarz
            [% IF longdescs == 1 %]
              do [% terms.bledu %]
            [% ELSE %]
              do [% terms.bledu %] [%+ longdescs %] razy
            [% END %]</a>.
			
			Usunięcie konta spowoduje niespójność tabeli komentarzy w bazie danych,
			co oznacza, że 
            [% IF longdescs == 1 %]
              ten komentarz
            [% ELSE %]
			  te komentarze
            [% END %]
			nie będą więcej widocznie.
          </li>
        [% END %]
        [% IF profiles_activity %]
          <li>
            Użytkownik [% otheruser.login FILTER html %] dokonał
            [% IF bugs_activity == 1 %]
              zmiany w profilu innego użytkownika
            [% ELSE %]
              zmiany w profilach inneych użytkowników
            [% END %].
			
			Usunięcie konta spowoduje niespójność tabeli profilów w bazie danych.
          </li>
        [% END %]
      </ul>
    </div>
    [% display_warning = 1 %]
  [% END %]

  [% IF assignee_or_qa || cc || email_setting || flags.requestee ||
        namedqueries || profile_setting || series || votes || watch.watched ||
        watch.watcher || whine_events || whine_schedules %]
    <div class="warningmessages">
      <p>Poniższe usunięcia są <b>bezpieczne</b> i nie spowodują 
      niespójności w bazie danych.</p>

      <ul>
        [% IF assignee_or_qa %]
          <li>
            Użytkownik [% otheruser.login FILTER html %]
            <a href="buglist.cgi?emailassigned_to1=1&amp;emailqa_contact1=1&amp;emailtype1=exact&amp;email1=
               [%- otheruser.login FILTER url_quote %]">jest domyślnym właścicielem
            lub kontaktemw QA w 
            [% IF assignee_or_qa == 1 %]
              jednym [% terms.bledzie %]
            [% ELSE %]
              [%+ assignee_or_qa %] [%+ terms.bledach %]
            [% END %]</a>.
			Usunięcie konta spowoduje, że role te zostaną przepisane na domyślnego
			właściciela i/lub kontakt QA.
          </li>
        [% END %]
        [% IF cc %]
          <li>
            Użytkownik [% otheruser.login FILTER html %]
            <a href="buglist.cgi?emailcc1=1&amp;emailtype1=exact&amp;email1=
               [%- otheruser.login FILTER url_quote %]">jest 
            na liście CC w 
            [% IF cc == 1 %]
              [%+ terms.bledzie %]
            [% ELSE %]
              [%+ cc %] [%+ terms.bledach %]
            [% END %]</a>.
			Usunięcie konta spowoduje usunięcie użytkownika z list CC.
          </li>
        [% END %]
        [% IF email_setting %]
          <li>
		    Ustawienia e-mail użytkownika zostaną usunięte wraz z kontem użytkownika.
          </li>
        [% END %]
        [% IF flags.requestee %]
          <li>
            Użytkownik [% otheruser.login FILTER html %] został 
            <a href="buglist.cgi?field0-0-0=requestees.login_name&amp;type0-0-0=equals&amp;value0-0-0=
               [%- otheruser.login FILTER url_quote %]">poproszony 
            o ustawienie
            [% IF flags.requestee == 1 %]
              flagi 
            [% ELSE %]
              [% flags.requestee %] flag
            [% END %]</a>.
			Usunięcie konta spowoduje, że żądanie
            [% IF flags.requestee == 1 %]
              tej flagi
            [% ELSE %]
              tych flag
            [% END %]
            zostaną zmienione na bezosobowe.
          </li>
        [% END %]
        [% IF namedqueries %]
          <li>
            Użytkownik [% otheruser.login FILTER html %] posiada
            [% IF namedqueries == 1 %]
              zapisane zapytanie [% 'shared' IF namedquery_group_map %]. To zapytanie zostanie
            [% ELSE %]
              zapisane zapytania [%+ namedqueries FILTER html %]. Te zapytania zostaną
            [% END %].
            usunięte razem z kontem użytkownika.
            [% IF namedquery_group_map %]
              [% IF namedqueries > 1 %]
                Wśród zapytań
                [% IF namedquery_group_map > 1 %]
                  [%+ namedquery_group_map FILTER html %] są
                [% ELSE %]
                  jedno jest 
                [% END %]
                współdzielone.
              [% END %]
			  Inni użytkownicy nie będę już mogli używać 
              [% IF namedquery_group_map > 1 %]
                tych zapisanych zapytań
              [% ELSE %]
                tego zapisanego zapytania
              [% END %]
              .
            [% END %]
          </li>
        [% END %]
        [% IF profile_setting %]
          <li>
		    Ustawienia użytkownika zostaną usunięte razem z kontem użytkownika.
          </li>
        [% END %]
        [% IF series %]
          <li>
            Użytkownik [% otheruser.login FILTER html %] utworzył 
            [% IF series == 1 %]
              serię
            [% ELSE %]
              [%+ series %] serii
            [% END %].
            [% IF series == 1 %]
              Ta seria zostanie usunięta
            [% ELSE %]
              Te serie zostaną usunięte
            [% END %]
			 razem z kontem użytkownika.
          </li>
        [% END %]
        [% IF votes %]
          <li>
            Użytkownik [% otheruser.login FILTER html %] głosował na
			[%+ votes %] [% PROCESS ODMIEN c=votes o1="$terms.blad" o2="$terms.bledy" o3="$terms.bledow" %] 
			
			Usunięcie konta spowoduje, że If you delete the user account,
            [% IF votes == 1 %]
              głos ten zostanie usunięty
            [% ELSE %]
              te głosy zostaną usunięte
            [% END %]
			razem z kontem użytkownika.
          </li>
        [% END %]
        [% IF watch.watched || watch.watcher %]
          <li>
            Użytkownik [% otheruser.login FILTER html %]
            [% IF watch.watched %]
              jest obserwowany przez
              [% IF watch.watched == 1 %]
                użytkownika 
              [% ELSE %]
                [%+ watch.watched %] użytkowników
              [% END %]
            [% END %]
            [% IF watch.watcher %]
              [%+ 'i' IF watch.watched %]
              obserwuje 
              [% IF watch.watcher == 1 %]
                użytkownika
              [% ELSE %]
                [%+ watch.watcher %] użytkowników
              [% END %]
            [% END %].
            [% IF watch.watched + watch.watcher == 1 %]
              Ustawienia obserwowania
            [% ELSE %]
              Ustawienia obserwowania 
            [% END %]
			zostaną usunięte wraz z kontem użytkownika.
          </li>
        [% END %]
        [% IF whine_events %]
          <li>
            Użytkownik [% otheruser.login FILTER html %]
               zaplanował [%+ whine_events %] [% PROCESS ODMIEN c=whine_events o1="przypomnienie" o2="przypomnienia" o3="przypomnień" %] 
            [% IF whine_schedules %]
              [%+ 'i' IF whine_events %]
              otrzymuje 
			  [%+ whine_schedules %] [% PROCESS ODMIEN c=whine_events o1="przypomnienie" o2="przypomnienia" o3="przypomnień" %] 
            [% END %].
            [% IF whine_events == 1 %]
              Przypomnienie to zostanie usunięte
            [% ELSE %]
              Przypomnienia te zostaną usunięte 
            [% END %]
			wraz z kontem użytkownika.
          </li>
        [% END %]
        [% IF whine_schedules %]
          <li>
            Użytkownik [% otheruser.login FILTER html %] otrzymuje 
			[% PROCESS ODMIEN c=whine_schedules o1="przypomnienie" o2="przypomnienia" o3="przypomnienia" %].
            Odpowiednie harmonogramy przypomnień zostaną usunięte razem z kontem użytkownika, 
            lecz same przypomnienia pozostaną niezmienione.
          </li>
        [% END %]

      </ul>
    </div>
    [% display_warning = 1 %]
  [% END %]

  [% IF display_warning %]
    <p class="areyoureallyreallysure">
      Przed dalszym potwierdzeniem, proszę zapoznać się z konsekwencjami usunięcia.
    </p>
  [% END %]

  <p>Czy na pewno usunąć to konto użytkownika?</p>

  <form method="post" action="editusers.cgi">
    <p>
      <input type="submit" id="delete" value="Tak, usuń"/>
      <input type="hidden" name="action" value="delete" />
      <input type="hidden" name="userid" value="[% otheruser.id %]" />
      <input type="hidden" name="token" value="[% token FILTER html %]">
      [% INCLUDE listselectionhiddenfields %]
    </p>
  </form>

  <p>
  [% END %]
  <a href="editusers.cgi?action=edit&amp;userid=[% otheruser.id %]
           [% INCLUDE listselectionurlparams %]">Edycja użytkownika</a> | 

 <a href="editusers.cgi?action=list[% INCLUDE listselectionurlparams %]">Lista
  użytkowników</a> | 
  [% IF editusers %]
    <a href="editusers.cgi?action=add[% INCLUDE listselectionurlparams %]">Nowy użytkownik
    </a> | 
  [% END %]
  <a href="editusers.cgi">Wyszukiwanie użytkowników</a>.
</p>

[% PROCESS global/footer.html.tmpl %]
