[%# 4.4rc2+PL@aviary.pl %]
[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[%# INTERFACE:
  #
  # editusers:          is viewing user member of editusers?
  # restrictablegroups: list of groups visible to the user:
  #                     id: group id
  #                     name: group name
  #%]
 

[% PROCESS global/header.html.tmpl
  title = "Wyszukiwanie użytkowników"
  style_urls = ['skins/standard/editusers.css']
  onload = "document.forms['f'].matchstr.focus()"
  doc_section = "useradmin.html#user-account-search"
%]

[% PROCESS admin/users/listselectvars.html.tmpl
  listselectionvalues = listselectionvalues
%]

<form name="f" method="get" action="editusers.cgi">
<input type="hidden" name="action" value="list" />
<p><label for="matchvalue">Wyświetl użytkowników o</label>
<select id="matchvalue" name="matchvalue">
  <option value="login_name">nazwie użytkownika</option>
  <option value="realname">imieniu i nazwisku</option>
  <option value="userid">identyfikatorze</option>
</select>
<label for="matchstr"></label>
<input size="32" name="matchstr" id="matchstr" />&nbsp;
<select name="matchtype">
  <option value="substr" selected="selected">nie rozróżniaj wielkości znaków</option>
  <option value="regexp">regexp (nie rozróżniaj wielkości znaków)</option>
  <option value="notregexp">regexp (rozróżniaj wielkość znaków)</option>
  <option value="exact">dokładnie tego użytkownika</option>
</select>
<input type="submit" id="search" value="Szukaj" /></p>

[% IF restrictablegroups.size %]
  <p><input type="checkbox" name="grouprestrict" value="1" id="grouprestrict" />
  <label for="grouprestrict">Zawęź do członków grupy</label>
  <select name="groupid"
          onchange="document.forms['f'].grouprestrict.checked=true">
    [% FOREACH group = restrictablegroups %]
      <option value="[% group.id FILTER html %]">[% group.name FILTER html %]</option>
    [% END %]
  </select></p>
[% END %]

<p>
  <input type="checkbox" name="enabled_only" value="1" id="enabled_only"
         checked="checked">
  <label for="enabled_only">Tylko włączone konta</label>
</p>

[% Hook.process('end') %]

</form>

[% IF editusers %]
  <p>
    <a href="editusers.cgi?action=add">Dodaj nowego użytkownika</a>
    [%- IF listselectionvalues %]
      &nbsp;&nbsp;
      <a href="editusers.cgi?action=list[% INCLUDE listselectionurlparams %]">Wyświetl
      listę użytkowników</a>
    [%- END %]
  </p>
[% END %]

[% PROCESS global/footer.html.tmpl %]
