[%# 4.0.1PLRC@aviary.pl %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Marc Schumann <wurblzap@gmail.com>
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[%# INTERFACE:
  #
  # editform:  is this an edit form? (It's a create form otherwise)
  # editusers: is viewing user member of editusers?
  # otheruser: Bugzilla::User object of user to edit
  #%]

<tr>
  <th><label for="login">Nazwa użytkownika <small>(adres e-mail)</small>:</label></th>
  <td>
    [% IF editusers %]
      <input size="64" maxlength="255" name="login" 
             id="login" value="[% otheruser.login FILTER html %]" />
      [% IF editform %]
        [% IF !otheruser.in_group('bz_sudo_protect') %]
          <br>
          <a href="relogin.cgi?action=prepare-sudo&amp;target_login=
          [%- otheruser.login FILTER url_quote %]">Przejmij tożsamość tego użytkownika</a>
        [% END %]
      [% END %]
    [% ELSE %]
      [% otheruser.login FILTER html %]
    [% END %]
  </td>
</tr>
<tr>
  <th><label for="name">Imię i nazwisko:</label></th>
  <td>
    [% IF editusers %]
      <input size="64" maxlength="255" name="name"
             autocomplete="off"
             id="name" value="[% otheruser.name FILTER html %]" />
    [% ELSE %]
      [% otheruser.name FILTER html %]
    [% END %]
  </td>
</tr>

[%# XXX This condition (can_change_password) will cause a problem
  # if we ever have a login system that can create accounts through
  # createaccount.cgi but can't change passwords.
  #%]
  
[% IF editusers %]
  [% IF user.authorizer.can_change_password %]
  <tr>
    <th><label for="password">Hasło:</label></th>
    <td>
      <input type="password" size="16" name="password" id="password"
             value="" autocomplete="off" />
      [% IF editform %]<br />
        <small>Aby zmienić hasło, należy podać nowe</small>
      [% END %]
    </td>
  </tr>
  [% END %]
  <tr>
    <th><label for="disable_mail">Poczta [% terms.bledow %] wyłączona:</label></th>
    <td>
      <input type="checkbox" name="disable_mail" id="disable_mail" value="1" 
      [% IF otheruser.email_disabled %] checked="checked" [% END %] />
      <small>(Funkcja ta dotyczy powiadomień związanych z [% terms.bledami %] i przypominaniem, a nie resetowania hasła czy innych
      niezwiązanych z [% terms.bledami %] e-maili)</small>
    </td>
  </tr>
  <tr>
    <th><label for="disabledtext">Tekst wyłączający konto:</label></th>
    <td>
      [% INCLUDE global/textarea.html.tmpl
         name           = 'disabledtext'
         id             = 'disabledtext'
         minrows        = 2
         maxrows        = 10
         defaultrows    = 10
         cols           = 60
         defaultcontent = otheruser.disabledtext
       %]<br>
      <small>(Wprowadzenie tekstu w powyższe pole spowoduje wyłączenie konta, a tekst ten będzie
      wyświetlany jako powód wyłączenia)</small>
    </td>
  </tr>
[% END %]
