[%# 4.3PL@aviary.pl %]
[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[%# INTERFACE:
  # attachment: object of the attachment the user wants to delete.
  # reason: string; The reason provided by the user.
  # date: the date when the request to delete the attachment was made.
  #%]

Zawartość załącznika [% attachment.id %] usunął użytkownik
    [%+ user.identity %]
[% IF reason %]
, podając następujący powód:

[%+ reason %]
[% ELSE %]
bez podania powodu.
[% END %]

Token użyty do usunięcia tego załącznika został wygenerowany [% date FILTER time %].
