[% 
    setting_descs.product_chooser = "Okno wyboru produktu podczas zgłaszania $terms.bledow",
    setting_descs.pretty = "Najpopularniejsze produkty wraz z ikonami",
    setting_descs.full   = "Wszystkie produkty",
    setting_descs.small  = "Wersja dla urządzeń mobilnych",
%]