[%# 4.4rc1PL@aviary.pl %]
[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]
[% IF error == "example_my_error" %]
   [% title = "Przykładowy komunikat błędu" %]
   To jest komunikat błędu! Zawiera <em>kod html</em>.
[% ELSIF error == "example_short_desc_invalid" %]
  [% title = "Nieprawidłowy krótki opis" %]
  Krótki opis musi zawierać wyraz „example”.
[% END %]
