[%# 3.4.10PLRC@aviary.pl %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Marc Schumann <wurblzap@gmail.com>
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[%# INTERFACE:
  #
  # listselectionvalues: selection values to recreate the current user list.
  # editusers:           is viewing user member of editusers?
  # users:               list of user information (id, login_name, realname,
  #                      disabledtext).
  #%]

[% PROCESS global/header.html.tmpl
  title = "Lista użytkowników"
  style_urls = ['skins/standard/editusers.css']
  doc_section = "useradmin.html"
%]

[% PROCESS admin/users/listselectvars.html.tmpl
  listselectionvalues = listselectionvalues
%]

[% listselectionurlparams = INCLUDE listselectionurlparams %]

[% columns =
  [{name               => 'login_name'
    heading            => 'Edytowanie użytkownika'
    contentlink        => 'editusers.cgi?action=edit&amp;userid=%%userid%%' _
                          listselectionurlparams
   }
   {name               => 'realname'
    heading            => 'Imię i nazwisko'
   }
   {heading            => 'Historia konta'
    content            => 'Wyświetl'
    contentlink        => 'editusers.cgi?action=activity' _
                                  '&amp;userid=%%userid%%' _
                                  listselectionurlparams
   }
  ]
%]

[% IF Param('allowuserdeletion') && editusers %]
  [% columns.push({heading     => 'Czynność'
                   content     => 'Usuń'
                   contentlink => 'editusers.cgi?action=del' _
                                  '&amp;userid=%%userid%%' _
                                  listselectionurlparams
                  }
                 )
  %]
[% END %]

[%# Disabled users are crossed out. Missing realnames are noticed in red. %]
[% overrides.login_name = {} %]
[% overrides.realname = {} %]

[% FOREACH thisuser = users %]
  [% IF !thisuser.realname %]
    [%# We cannot pass one class now and one class later. %]
    [% SET classes = (thisuser.disabledtext ? "bz_inactive missing" : "missing") %]
    [% overrides.realname.login_name.${thisuser.login_name} = {
        content          => "brak"
           override_content => 1
           class            => "$classes"
           override_class   => 1
       }
    %]
  [% ELSIF thisuser.disabledtext %]
    [% overrides.realname.login_name.${thisuser.login_name} = {
           class          => "bz_inactive"
           override_class => 1
       }
    %]
  [% END %]

  [% IF thisuser.disabledtext %]
    [% overrides.login_name.login_name.${thisuser.login_name} = {
           class          => "bz_inactive"
           override_class => 1
       }
    %]
  [% END %]
[% END %]

<p>Znaleziono [% users.size %]&nbsp;[% PROCESS ODMIEN c=users.size o1=" użytkownika" o2=" użytkowników" o3=" użytkowników" %].</p>

[% PROCESS admin/table.html.tmpl
  columns = columns
  data    = users
  overrides = overrides
%]

<p>
  Jeśli nie chcesz modyfikować konta użytkownika teraz, możesz
  <a href="editusers.cgi">poszukać innych użytkowników</a>
  [% IF editusers %]
    lub
    <a href="editusers.cgi?action=add[% INCLUDE listselectionurlparams %]">dodać 
    nowego użytkownika</a>
  [% END %].
</p>

[% PROCESS global/footer.html.tmpl %]
