[%# 3.4.6@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Marc Schumann <wurblzap@gmail.com>
  #                 David Lawrence <dkl@redhat.com>
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[%# INTERFACE:
  #
  # editusers:          is viewing user member of editusers?
  # restrictablegroups: list of groups visible to the user:
  #                     id: group id
  #                     name: group name
  #%]
 

[% PROCESS global/header.html.tmpl
  title = "Wyszukiwanie użytkowników"
  style_urls = ['skins/standard/editusers.css']
  onload = "document.forms['f'].matchstr.focus()"
  doc_section = "useradmin.html#user-account-search"
%]

[% PROCESS admin/users/listselectvars.html.tmpl
  listselectionvalues = listselectionvalues
%]

<form name="f" method="get" action="editusers.cgi">
<input type="hidden" name="action" value="list" />
<p><label for="matchvalue">Pokaż użytkowników z:</label>
<select id="matchvalue" name="matchvalue">
  <option value="login_name">nazwą użytkownika</option>
  <option value="realname">imieniem i nazwiskiem</option>
  <option value="userid">ID</option>
</select>
<label for="matchstr">pasującym do</label>
<input size="32" name="matchstr" id="matchstr" />
<select name="matchtype">
  <option value="substr" selected="selected">ciągu znaków bez rozróżniania wielkości znaków</option>
  <option value="regexp">regexp bez rozróżniania wielkości znaków</option>
  <option value="notregexp">regexp z rozróżnianiem wielkości znaków</option>
  <option value="exact">dokładnie (znajdź tego użytkownika)</option>
</select>
<input type="submit" id="search" value="Szukaj" /></p>

[% IF restrictablegroups.size %]
  <p><input type="checkbox" name="grouprestrict" value="1" id="grouprestrict" />
  <label for="grouprestrict">Zawęź do członków grupy</label>
  <select name="groupid"
          onchange="document.forms['f'].grouprestrict.checked=true">
    [% FOREACH group = restrictablegroups %]
      <option value="[% group.id FILTER html %]">[% group.name FILTER html %]</option>
    [% END %]
  </select></p>
[% END %]
</form>

[% IF editusers %]
  <p>
    Możesz także <a href="editusers.cgi?action=add">dodać nowego użytkownika</a>
    [%- IF listselectionvalues %]
      lub
      <a href="editusers.cgi?action=list[% INCLUDE listselectionurlparams %]">wyświetlić
      ponownie listę użytkowników</a>
    [%- END %].
  </p>
[% END %]

[% PROCESS global/footer.html.tmpl %]
