[%# 4.0.10PL@aviary.pl %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]
[%
   title = "Przenoszenie $terms.bledow"
   desc = "Parametry dotyczące przenoszenia $terms.bledow pomiędzy instalacjami $terms.Bugzilli"
%]

[% param_descs = {

  "move-to-url" => 
    "Adres URL bazy, do której można przenosić $terms.bledy z tejże"
    _ " bazy.",

  "move-to-address" => 
    "Podczas przenoszenia ${terms.bledow} do docelowej bazy danych wysyłany jest e-mail."
    _ " Parametr ten określa adres e-mail docelowej bazy danych przeznaczony do"
    _ " odbioru informacji o przenoszonych ${terms.bledach}.",

  movers => 
    "Lista użytkowników uprawnionych do przenoszenia ${terms.bledow}.",

} %]
