[%# 3.6.4PL@aviary.pl %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[% 
   title = "Ogólne"
   desc = "Różne ogólne ustawienia, które nie są wymagane do poprawnego działania $terms.Bugzilli" 
%]

[% param_descs = {
  maintainer => 
    "Adres e-mail osoby odpowiedzialnej za działanie tej instalacji"
    _ " ${terms.Bugzilli}.",

  docs_urlbase => 
    "Początkowa część URL wszystkich adresów prowadzących"
    _ " do dokumentacji ${terms.Bugzilli}."
    _ " Podany adres może być bezwzględny lub relatywny do adresu"
    _ " <tt>urlbase</tt>. Brak wartości wyłącza odnośniki do dokumentacji."
    _ " Wartość „%lang%” będzie zamieniana na – jeśli jest dostępny – preferowany"
    _ " język użytkownika.",

  utf8 => 
    "Użycie kodowania UTF-8 (Unicode) dla wszystkich tekstów w ${terms.Bugzilli}."
    _ " W nowych instalacjach parametr ten powinien być włączony w celu uniknięcia"
    _ " problemów z kodowaniem znaków. <strong>W istniejących bazach parametr ten"
    _ " można włączyć tylko, gdy dane zostały uprzednio skonwertowane do UTF-8"
    _ " za pomocą skryptu <kbd>contrib/recode.pl</kbd></strong>."
    _ " <p>Uwaga: Po przełączeniu tego parametru z „wyłączony” na"
    _ " „włączony”, należy niezwłocznie uruchomić skrypt checksetup.pl.</p>",

  shutdownhtml => 
    "Wpisanie tekstu w to pole spowoduje wyłączenie $terms.Bugzilli"
    _ " i wyświetlenie go zamiast stron ${terms.Bugzilli}.",

  announcehtml => 
    "Zawartość tego pola zostanie wyświetlona na górze każdej strony ${terms.Bugzilli}."
    _ " Wprowadzony w tym miejscu kod HTML nie jest umieszczany w żadnym znaczniku."
    _ " Zaleca się zawarcie kodu w znaczniku <tt>&lt;div&gt;</tt>."
    _ " Użycie identyfikatora <em>id=\"message\"</em> spowoduje wyświetlenie"
    _ " zielonego tekstu na czerwonym tle. Klasa <em>class=\"bz_private\"</em>"
    _ " definiuje ciemnoczerwony tekst na czerwonym tle. Można użyć dowolnego"
    _ " stylu z pliku <tt>skins/standard/global.css</tt> lub"
    _ " <tt>skins/custom/global.css</tt>. Wyśrodkowany tekst można uzyskać za"
    _ " pomocą stylu <em>style=\"text-align: center;\"</em>.",

  upgrade_notification => 
    "Możliwe jest otrzymywanie informacji o nowych wydaniach ${terms.Bugzilli}."
    _ " Powiadomienie będzie wyświetlane tylko dla administratorów na głównej"
    _ " stronie ${terms.Bugzilli}."
    _ " <ul><li>„development_snapshot” powiadamia o najnowszych wydaniach z"
    _ " rozwojowego kodu – z tzw. wersji deweloperskich.</li>"
    _ " <li>„latest_stable_release” powiadamia o nowych wydaniach"
    _ " z najnowszej gałęzi stabilnego kodu. Gałąź ta może być inna"
    _ " niż gałąź, na której opiera się niniejsza instalacja ${terms.Bugzilli}.</li>"
    _ " <li>„stable_branch_release” powiadamia tylko o wydaniach z"
    _ " gałęzi kodu, na której oparta jest niniejsza instalacja."
    _ " W przypadku korzystania z wersji „release candidate” wyświetlone zostaną"
    _ " także powiadomienia o najnowszych wersjach „release candidates”.</li>"
    _ " <li>„wyłączone” – nie będą wyświetlane żadne powiadomienia i nie"
    _ " będą wykonywane w tym celu żadne połączenia ze zdalnymi serwerami.</li></ul>"
    _ " <p>Informacja: Jeśli serwer $terms.Bugzilli wymaga dostępu do Internetu"
    _ " przez proxy, może także być potrzebne ustawienie parametru <tt>proxy_url</tt>"
    _ " w sekcji Zaawansowane.</p>",
} %]
