[%# 3.6.3PLRC@aviary.pl %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Gavin Shelley <bugzilla@chimpychompy.org>
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[%# INTERFACE:
  # products: array of Bugzilla::Product objects 
  #
  # classification: Bugzilla::Classification object; If classifications
  #                         are enabled, then this is 
  #                         the currently selected classification
  # showbugcounts: boolean; true if bug counts should be included in the table
  #%]

[% PROCESS global/variables.none.tmpl %]

[% IF classification %]
  [% classification_url_part = BLOCK %]&amp;classification=
    [%- classification.name FILTER url_quote %]
  [%- END %]
  [% classification_title = BLOCK %] 
    w kategorii „[% classification.name FILTER html %]”
  [% END %]
[% END %]

[% PROCESS global/header.html.tmpl
  title = "Modyfikowanie produktów $classification_title"
%]

[% edit_contentlink = BLOCK %]
  editproducts.cgi?action=edit&amp;product=%%name%%
[% END %]
[% delete_contentlink = BLOCK %]
  editproducts.cgi?action=del&amp;product=%%name%%
[% END %]
[% bug_count_contentlink = BLOCK %]
  buglist.cgi?product=%%name%%
[% END %]


[% columns = [
     { 
       name => "name"
       heading => "Wybierz produkt"
       contentlink => edit_contentlink
     },
     { 
       name => "description"
       heading => "Opis"
       allow_html_content => 1
     },
     { 
       name => "is_active"
       heading => "Zgłaszanie $terms.bledow"
       yesno_field => 1
     },
     { 
       name => "votesperuser"
       heading => "Liczba głosów na użytkownika"
       align => 'center'
     },
     { 
       name => "maxvotesperbug"
       heading => "Maksymalna liczba głosów na $terms.blad"
       align => 'center'
     },
     { 
       name => "votestoconfirm"
       heading => "Wymagana liczba głosów do potwierdzenia"
       align => 'center'
     } ]
%]

[% IF showbugcounts %]

  [% columns.push({
       name => "bug_count"
       heading => "$terms.Bledy"
       align => 'center'
       contentlink => bug_count_contentlink
     })
  %]

[% END %]

[% columns.push({
       heading => "Czynność"
       content => "Usuń"
       contentlink => delete_contentlink
     })
%]

[% Hook.process('before_table') %]

[% PROCESS admin/table.html.tmpl
     columns = columns
     data = products
%]

[% IF !showbugcounts %]

  <p><a href="editproducts.cgi?showbugcounts=1[% classification_url_part %]">
      Wyświetl kolumnę z liczbą [% terms.bledow %]</a> <small>(odświeża stronę – wolne)</small></p>

[% END %]

[% PROCESS admin/products/footer.html.tmpl
    no_edit_other_products_link = 1
 %]

[% PROCESS global/footer.html.tmpl %]
