[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Myk Melez <myk@mozilla.org>
  #                 Joel Peshkin <bugreport@peshkin.net>
  #                 Erik Stambaugh <erik@dasbistro.com>
  #                 Marc Schumann <wurblzap@gmail.com>
  #%]

[% PROCESS global/variables.none.tmpl %]
[% PROCESS "global/field-descs.none.tmpl" %]

[%# Define strings that will serve as the title and header of this page %]
[% title = BLOCK %]Tworzenie załącznika do [% terms.bledu %] #[% bug.bug_id %][% END %]
[% header = BLOCK %]Tworzenie nowego załącznika do 
  [%+ "$terms.bledu $bug.bug_id" FILTER bug_link(bug.bug_id) FILTER none %][% END %]
[% subheader = BLOCK %][% bug.short_desc FILTER html %][% END %]

[% PROCESS global/header.html.tmpl
  title = title
  header = header
  subheader = subheader
  onload="setContentTypeDisabledState(document.entryform);"
  style_urls = [ 'skins/standard/create_attachment.css' ]
  javascript_urls = [ "js/attachment.js" ]
  doc_section = "attachments.html"
%]

<form name="entryform" method="post" action="attachment.cgi" enctype="multipart/form-data">
  <input type="hidden" name="bugid" value="[% bug.bug_id %]">
  <input type="hidden" name="action" value="insert">
  <input type="hidden" name="token" value="[% token FILTER html %]">

  <table class="attachment_entry">
    [% PROCESS attachment/createformcontents.html.tmpl %]

    [%# Additional fields for attachments on existing bugs: %]
    <tr>
      <th>Dezaktualizuje:</th>
      <td>
        <em>(opcjonalne) proszę zaznaczyć istniejące załączniki, które stają się nieaktualne po dodaniu nowego załącznika.</em><br>
        [% IF attachments.size %]
          [% FOREACH attachment = attachments %]
            [% IF ((attachment.isprivate == 0) || (Param("insidergroup")
              && user.in_group(Param("insidergroup")))) %]
              <input type="checkbox" id="[% attachment.id %]"
                   name="obsolete" value="[% attachment.id %]">
              <a href="attachment.cgi?id=[% attachment.id %]&amp;action=edit">[% attachment.id %]: [% attachment.description FILTER html %]</a><br>
            [% END %]
          [% END %]
        [% ELSE %]
            [brak załączników do dezaktualizacji]
        [% END %]
      </td>
    </tr>

    [% IF (user.id != bug.assigned_to.id) AND user.in_group("editbugs", bug.product_id) %]
      <tr>
        <th>Przepisanie:</th>
        <td>
          <em>aby przepisać ten [% terms.blad %] na siebie,
              należy zaznaczyć poniższą opcję.</em><br>
          <input type="checkbox" id="takebug" name="takebug" value="1">
          <label for="takebug">przepisz [% terms.blad %] na mnie</label>
          [% bug_statuses = [] %]
          [% FOREACH bug_status = bug.status.can_change_to %]
            [% NEXT IF bug_status.name == "UNCONFIRMED" && !bug.product_obj.votes_to_confirm %]
            [% bug_statuses.push(bug_status) IF bug_status.is_open %]
          [% END %]
          [% IF bug_statuses.size %]
            <label for="takebug">i ustaw stan [% terms.bledu %] na</label>
            <select id="bug_status" name="bug_status">
              <option value="[% bug.status.name FILTER html %]">[% get_status(bug.status.name) FILTER html %] (current)</option>
              [% FOREACH bug_status = bug_statuses %]
                [% NEXT IF bug_status.id == bug.status.id %]
                <option value="[% bug_status.name FILTER html %]">[% get_status(bug_status.name) FILTER html %]</option>
              [% END %]
            </select>
          [% END %]
        </td>
      </tr>
    [% END %]
    <tr>
      <th><label for="comment">Komentarz:</label></th>
      <td>
        <em>(opcjonalne) proszę podać komentarz do [% terms.bledu %], dotyczący tego załącznika.</em><br>
        [% INCLUDE global/textarea.html.tmpl
          name    = 'comment'
          id      = 'comment'
          minrows = 6
          maxrows = 15
          cols    = constants.COMMENT_COLS
          wrap    = 'soft'
        %]
      </td>
    </tr>
    [% IF (Param("insidergroup") && user.in_group(Param("insidergroup"))) %]
      <tr>
        <th>Prywatność:</th>
        <td>
          <em>jeśli załącznik powinien być traktowany jako prywatny, proszę zaznaczyć poniższe pole.</em><br>
          <input type="checkbox" name="isprivate" id="isprivate"
          value="1" onClick="updateCommentPrivacy(this)">
        <label for="isprivate">Prywatny</label>
        </td>
      </tr>
    [% END %]
    <tr>
      <th>&nbsp;</th>
      <td><input type="submit" id="create" value="Dodaj załącznik"></td>
    </tr>
  </table>

</form>

[% PROCESS global/footer.html.tmpl %]
