[%# 4.1.2+PL@aviary.pl %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Everything Solved, Inc.
  # Portions created by the Initial Developer are Copyright (C) 2009 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Max Kanat-Alexander <mkanat@bugzilla.org>
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[% PROCESS global/variables.none.tmpl %]

Standardowe szablony należy umieszczać w tym katalogu. Można wczytywać je,
używając kodu:

use B[% %]ugzilla::Error;
my $template = B[% %]ugzilla->template;
$template->process('[% name FILTER lower %]/nazwa-szablonu.html.tmpl')
  or ThrowTemplateError($template->error());

Ten kod pokazuje, jak wczytać plik o nazwie nazwa-szablonu.html.tmpl 
znajdujący się w tym katalogu.

Należy zwrócić baczną uwagę, by pełna ścieżka do szablonu nigdy nie
kolidowała z szablonem istniejącym w [% terms.Bugzilli %], innym
rozszerzeniu lub inny szablon nie zastępował tego szablonu. Katalog
„[% name FILTER lower %]” został specjalnie stworzony po to, by umieszczać
w nim właśnie takie szablony i dzięki temu uniknąć powstawania konfliktów.
