[%# 4.4rc1PL@aviary.pl %]
[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

Pliki używane do tworzenia strony internetowej, takie jak JavaScript, CSS 
i obrazki, należy umieszczać w tym katalogu. Można odwoływać się do nich 
bezpośrednio z kodu HTML. Na przykład, jeśli plik ma nazwę „style.css”,
a rozszerzenie nosi nazwę „Foo”, można umieścić go w katalogu 
„extensions/Foo/web/style.css” i następnie odwoływać się do niego
w kodzie HTML następująco:

<link href="extensions/Foo/web/style.css" rel="stylesheet" type="text/css">
