[%# 4.4rc2+PL@aviary.pl %]
[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[%# INTERFACE:
  # target: string. URL to go to after login.
  #%]

[% IF !target %]
 [% target = "index.cgi" %]
[% END %]

[% PROCESS global/header.html.tmpl
  title = "Logowanie do $terms.Bugzilli",
  onload = "document.forms['login'].Bugzilla_login.focus()"
%]

[% USE Bugzilla %]

<p>
  Do zalogowania wymagana jest poprawna nazwa użytkownika (login) i hasło.
</p>

<form name="login" action="[% target FILTER html %]" method="POST"
[%- IF Bugzilla.cgi.param("data") %] enctype="multipart/form-data"[% END %]>
  <table>
    <tr>
      <th align="right"><label for="Bugzilla_login">Login:</label></th>
      <td>
        <input size="35" id="Bugzilla_login" name="Bugzilla_login">
        [% Param('emailsuffix') FILTER html %] <small>(adres e-mail)</small>
      </td>
    </tr>
    <tr>
      <th align="right"><label for="Bugzilla_password">Hasło:</label></th>
      <td>
        <input type="password" size="35" id="Bugzilla_password" name="Bugzilla_password">
      </td>
    </tr>

    [% IF Param('rememberlogin') == 'defaulton' || 
          Param('rememberlogin') == 'defaultoff' %]
      <tr>
        <th>&nbsp;</th>
        <td>
          <input type="checkbox" id="Bugzilla_remember" name="Bugzilla_remember" value="on"
                 [%+ "checked" IF Param('rememberlogin') == "defaulton" %]>
          <label for="Bugzilla_remember">Zapamiętaj login</label>
        </td>
      </tr>
    [% END %]

    <tr>
      <th>&nbsp;</th>
      <td>
        <input type="checkbox" id="Bugzilla_restrictlogin" name="Bugzilla_restrictlogin"
               checked="checked">
        <label for="Bugzilla_restrictlogin">Ogranicz tę sesję do aktualnego adresu IP
        <small>(funkcja ta zwiększa bezpieczeństwo)</small></label>
      </td>
    </tr>
  </table>

  [% PROCESS "global/hidden-fields.html.tmpl"
     exclude="^Bugzilla_(login|password|restrictlogin)$" %]

  <input type="submit" name="GoAheadAndLogIn" value="Zaloguj" id="log_in">
  
  <p>
    Uwaga: Zaleca się włączenie obsługi ciasteczek dla tej witryny. 
    W przeciwnym razie konieczne będzie częste logowanie.
  </p>
</form>

[% Hook.process('additional_methods') %]

[%# Allow the user to create a new account, or request a token to change
  # their password, assuming that our auth method allows that.
  #%]

  [% IF Param("createemailregexp") && user.authorizer.user_can_create_account %]
    <hr>

    <p>
      [% IF Param("requirelogin") %]
        Informacje w tej instalacji [% terms.Bugzilli %] dostępne są tylko dla zalogowanych użytkowników.
      [% ELSIF target.match("_bug\.cgi$") %]
        Założenie konta użytkownika jest wymagane, aby zgłosić nowy [% terms.blad %] lub dodać komentarz. 
        Pozwoli to także, jeśli zajdzie taka potrzeba, na wysłanie prośby o udzielenie dodatkowych informacji.
      [% END %]
      Jeśli nie masz konta w [% terms.Bugzilli %], możesz je
      <a href="createaccount.cgi">założyć</a>.
    </p>
  [% END %]

  [% IF user.authorizer.can_change_password %]
    <hr>

    <form id="forgot" method="get" action="token.cgi">
      <input type="hidden" name="a" value="reqpw">
      Jeśli masz konto, ale nie pamiętasz hasła, poniżej podaj swój login
      i wyślij prośbę o zmianę hasła.<br>
      <input size="35" name="loginname">
      <input type="hidden" id="token" name="token" value="[% issue_hash_token(['reqpw']) FILTER html %]">
      <input type="submit" id="request" value="Resetuj hasło">
    </form>
  [% END %]

[% PROCESS global/footer.html.tmpl %]
