[%# 3.6@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[%# INTERFACE:
  # header_done: boolean. True if the header has already been printed.
  # error: string. The tag of the error.
  # variables: hash. Useful data about the problem. The keys are the variable
  #  names, and the values the variable values.
  #%]

[%# This is a list of all the possible code errors. Please keep them in
  # alphabetical order by error tag, and leave a blank line between errors.
  #
  # Note that you must explicitly filter every single template variable
  # in this file; if you do not wish to change it, use the "none" filter.
  #%]

[% PROCESS "global/field-descs.none.tmpl" %]

[% DEFAULT title = "Błąd wewnętrzny" %]

[% error_message = BLOCK %]
  [% IF    error == "action_unrecognized" %]
    [% docslinks = {'query.html' => "Szukanie $terms.bledow",
                    'query.html#list'  => "Listy $terms.bledow"} %]
    Nie można rozpoznać wartości (<em>[% action FILTER html %]</em>)
    zmiennej <em>action</em>.
  
  [% ELSIF error == "attachment_already_obsolete" %]
    Załącznik #[% attach_id FILTER html %] ([% description FILTER html %]) 
    jest już oznaczony jako zdezaktualizowany.

  [% ELSIF error == "attachment_local_storage_disabled" %]
    [% title = "Przechowywanie lokalne wyłączone" %]
    Załączników nie można przechowywać lokalnie. Ta funkcja jest wyłączona.

  [% ELSIF error == "attachment_url_disabled" %]
    [% title = "Dodawanie adresu URL do załączników wyłączone" %]
    Nie można dołączać adresów URL. Ta funkcja jest obecnie wyłączona.

  [% ELSIF error == "auth_invalid_email" %]
    [% title = "Nieprawidłowy adres e-mail" %]
    Podczas próby utworzenia lub aktualizacji twojego konta otrzymaliśmy
    adres e-mail (<b>[% addr FILTER html %]</b>), który nie spełnia wymogów
    testu poprawności składni.
    [% IF default %]
      Prawidłowy adres e-mail musi zawierać dokładnie jeden znak „@”,
      i przynajmniej jeden znak „.” po @.
    [% ELSE %]
      [%+ Param('emailregexpdesc') %]
    [% END %]
    Nie może też zawierać żadnego z poniższych znaków specjalnych:
    <tt>\ ( ) &amp; &lt; &gt; , ; : &quot; [ ]</tt>, ani białych znaków.

  [% ELSIF error == "authres_unhandled" %]
    Wartość zwracana przez [% value FILTER html %] nie została obsłużona 
    przez procedurę logowania.

  [% ELSIF error == "bad_page_cgi_id" %]
    [% title = "Nieprawidłowy identyfikator strony" %]
    Identyfikator strony <code>[% page_id FILTER html %]</code> nie jest
    prawidłowym identyfikatorem.

  [% ELSIF error == "bad_arg" %]
    Do funkcji <code>[% function FILTER html %]</code> został wysłany
    nieprawidłowy argument <code>[% argument FILTER html %]</code>.

  [% ELSIF error == "bug_error" %]
    Podczas próby wyświetlenia [% terms.bledu %] [%+ bug.bug_id FILTER html %] 
    wystąpił błąd [% bug.error FILTER html %].
    
  [% ELSIF error == "chart_data_not_generated" %]
    [% admindocslinks = {'extraconfig.html' => 'Konfiguracja wykresów'} %]
    [% IF product %]
      Wykresy dla produktu <em>[% product FILTER html %]</em> nie są dostępne, ponieważ
      żadne dane nie zostały zebrane od czasu jego utworzenia.
    [% ELSE %]
      Żadne dane do wykresów nie zostały jeszcze zebrane.
    [% END %]
    Proszę odczekać dzień i spróbować ponownie.
    Jeśli ten komunikat nadal będzie wyświetlany, należy skontaktować się z
    <a href="mailto:[% Param('maintainer') %]">[% Param('maintainer') %]</a>
    i opisać problem.

  [% ELSIF error == "chart_datafile_corrupt" %]
    Plik z danymi wykresów [% file FILTER html %] jest uszkodzony.
        
  [% ELSIF error == "chart_dir_nonexistent" %]
    Jeden z katalogów <tt>[% dir FILTER html %]</tt> i
    <tt>[% graph_dir FILTER html %]</tt> nie istnieje.
  
  [% ELSIF error == "chart_file_open_fail" %]
    Nie można otworzyć pliku <tt>[% filename FILTER html %]</tt> z danymi do wykresu.
  
  [% ELSIF error == "column_not_null_without_default" %]
    Błąd podczas dodawania kolumny [% name FILTER html %]:
    Do istniejącej tabeli nie można dodać kolumny z wpisem NOT NULL bez wartości domyślnej.
    Proszę określić wartość dla argumentu <code>$init_value</code>.

  [% ELSIF error == "column_not_null_no_default_alter" %]
    Nie można zmienić własności kolumny [% name FILTER html %] na NOT NULL 
    bez określenia wartości domyślnej lub wartości dla $set_nulls_to, ponieważ
    w kolumnie istnieją wartości NULL.

  [% ELSIF error == "comment_extra_data_not_allowed" %]
    Próbowano ustawić pole <code>extra_data</code> z argumentem
    „[% extra_data FILTER html %]”, ale komentarze typu [% type FILTER html %]
    nie akceptują argumentu <code>extra_data</code>.

  [% ELSIF error == "comment_extra_data_required" %]
    Komentarze typu [% type FILTER html %] wymagają, aby był ustawiony
    argument <code>extra_data</code>.

  [% ELSIF error == "comment_extra_data_not_numeric" %]
    Próbowano ustawić pole <code>extra_data</code> z argumentem
    „[% extra_data FILTER html %]”, ale komentarze typu [% type FILTER html %]
    wymagają argumentu numerycznego <code>extra_data</code>.

  [% ELSIF error == "comment_type_invalid" %]
    „[% type FILTER html %]” nie jest prawidłowym typem komentarza.

  [% ELSIF error == "db_rename_conflict" %]
    Konflikt nazw: Nie można zmienić nazwy [% old FILTER html %] na
    [% new FILTER html %], ponieważ [% new FILTER html %] już istnieje.

  [% ELSIF error == "cookies_need_value" %]
    Wszystkie ciasteczka muszą mieć ustawioną wartość.

  [% ELSIF error == "env_no_email" %]
    [% terms.Bugzilla %] nie otrzymała adresu e-mail ze środowiska.
    [% IF Param("auth_env_email") %]
      Oznacza to, że zmienna środowiskowa „[% Param("auth_env_email") FILTER html %]”
      jest pusta lub nie istnieje.
    [% ELSE %]
      Należy ustawić wartość parametru „auth_env_email” na nazwę zmiennej
      środowiskowej, która zawiera adres e-mail użytkownika.
    [% END %]

  [% ELSIF error == "extension_must_be_subclass" %]
    <code>[% package FILTER html %]</code> z 
    <code>[% filename FILTER html %]</code> nie jest subklasą
    <code>[% class FILTER html %]</code>.

  [% ELSIF error == "extension_must_return_name" %]
    <code>[% extension FILTER html %]</code> zwrócił
    <code>[% returned FILTER html %]</code>, który nie jest prawidłową nazwą
    rozszerzenia. Rozszerzenia muszą zwracać swoją nazwę <code>1</code>
    lub liczbę. Szczegóły znajdziesz w dokumentacji
    <a href="[% docs_urlbase FILTER html %]api/Bugzilla/Extension.html">Bugzilla::Extension</a>.


  [% ELSIF error == "extension_no_name" %]
    Nie można znaleźć metody <code>NAME</code> w
    <code>[% package FILTER html %]</code> (wczytanym z
    <code>[% filename FILTER html %]</code>). Oznacza to, że
    rozszerzenie to jest obarczone jednym lub kilkoma problemami:

    <ul>
      <li><code>[% filename FILTER html %]</code> nie określa
        <code>[% package FILTER html %]</code> pakietu.</li>
      <li><code>[% package FILTER html %]</code> nie określa
        metody <code>NAME</code> lub metoda <code>NAME</code>
        zwraca pusty ciąg znaków.</li>
    </ul>

  [% ELSIF error == "extern_id_conflict" %]
    Zewnętrzny ID „[% extern_id FILTER html %]” już istnieje
    w bazie danych dla „[% username FILTER html %]”, ale źródło kont
    podaje, że „[% extern_user FILTER html %]” posiada ten ID.

  [% ELSIF error == "field_choice_must_use_type" %]
    Gdy jest wywoływana metoda class na <code>Bugzilla::Field::Choice</code>,
    trzeba wywołać <code>Bugzilla::Field::Choice-&gt;type('some_field')</code>,
    by wygenerować prawidłową klasę (nie można wywołać bezpośrednio metody class
    na Bugzilla::Field::Choice).

  [% ELSIF error == "field_not_custom" %]
    „[% field.description FILTER html %]” ([% field.name FILTER html %])
    nie jest polem dodatkowym.

  [% ELSIF error == "field_type_mismatch" %]
    Nie jest możliwe jednoczesne używanie <code>[% field FILTER html %]</code>
    z <code>[% type FILTER html %]</code>.

  [% ELSIF error == "field_type_not_specified" %]
    [% title = "Nie określono typu pola" %]
    Podczas tworzenia pola dodatkowego należy określić jego typ.

  [% ELSIF error == "illegal_content_type_method" %]
    Formularz wysyłania z jakiegoś powodu jest uszkodzony. Pole <em>Typ
    zawartości</em>, które określa sposób określenia typu zawartości, powinno być
    jedną z wartości <em>wykryj automatycznie</em>, <em>wybierz z listy</em>,
    lub <em>wprowadź ręcznie</em>. Obecna wartość pola to
    <em>[% contenttypemethod FILTER html %]</em>.

  [% ELSIF error == "illegal_field" %]
    Wymagane pole [% field FILTER html %] nie zostało wypełnione.

  [% ELSIF error == "inactive_group" %]
    Próba dodania [% terms.bledu %] do grupy „[% name FILTER html %]”, 
    która nie jest używana dla [% terms.bledow %].

  [% ELSIF error == "invalid_attach_id_to_obsolete" %]
     Numer [% attach_id FILTER html %], podany jako jeden z identyfikatorów
     załączników do oznaczenia jako zdezaktualizowany, jest nieprawidłowy.
          
  [% ELSIF error == "invalid_customfield_type" %]
    [% title = "Nieprawidłowy typ pola" %]
    Typ <em>[% type FILTER html %]</em> nie jest poprawnym typem pola.

  [% ELSIF error == "invalid_dimensions" %]
    [% title = "Nieprawidłowe wymiary" %]
    Podana wysokość lub szerokość nie jest poprawną dodatnią liczbą całkowitą.

  [% ELSIF error == "invalid_feature" %]
    [% title = "Nieprawidłowa nazwa funkcji" %]
    [% feature FILTER html %] nie jest prawidłową nazwą funkcji.
    Poprawne nazwy możesz zobaczyć w <code>OPTIONAL_MODULES</code> pliku 
    <code>Bugzilla::Install::Requirements</code> for valid names.

  [% ELSIF error == "invalid_flag_association" %]
    [% title = "Nieprawidłowe przypisanie flag" %]
    Niektóre flagi nie przynależą do
    [% IF attach_id %]
      załącznika [% attach_id FILTER html %].
    [% ELSE %]
      [%+ terms.bledu %] [%+ bug_id FILTER html %].
    [% END %]

  [% ELSIF error == "invalid_series_id" %]
    [% title = "Nieprawidłowa seria" %]
    Atrybut series_id [% series_id FILTER html %] jest nieprawidłowy. Możliwe,
    że ta seria została usunięta.

  [% ELSIF error == "invalid_webservergroup" %]
    Brak grupy: [% group FILTER html %]. Proszę sprawdzić ustawienie $webservergroup
    w [% constants.bz_locations.localconfig FILTER html %].

  [% ELSIF error == "mismatched_bug_ids_on_obsolete" %]
    Załącznik [% attach_id FILTER html %] ([% description FILTER html %]) 
    jest dołączony do [% terms.bledu %] [%+ attach_bug_id FILTER html %], 
    lecz próbowano oznaczyć go jako zdezaktualizowany podczas dodawania nowego załącznika do
    [% terms.bledu %] [%+ my_bug_id FILTER html %].

  [% ELSIF error == "feature_disabled" %]
    Funkcja [% install_string("feature_$feature") FILTER html %] jest
    niedostępna w tej instalacji [% terms.Bugzilli %]. 
    [% IF user.in_group('admin') %]
      Jeśli chcesz włączyć tę funkcję, uruchom skrypt 
      <kbd>checksetup.pl</kbd>, by zobaczyć, jak zainstalować niezbędne
      dla tej funkcji elementy.
    [% END %]

  [% ELSIF error == "flag_unexpected_object" %]
    [% title = "Nie rozpoznano obiektu" %]
    Dla obiektów typu [% caller FILTER html %] nie można ustawiać flag.
    Flagi mogą być ustawiane tylko dla [% terms.bledow %] i załączników.

  [% ELSIF error == "flag_requestee_disabled" %]
    [% title = "Flaga, o którą nie można poprosić" %]
    Nie można prosić określonej osoby o ustawienie flagi 
    <em>[% type.name FILTER html %]</em>.
  
  [% ELSIF error == "flag_status_invalid" %]
    Status <em>[% status FILTER html %]</em> flagi
    [% IF id %]
      o identyfikatorze #[% id FILTER html %]
    [% END %]
    jest niepoprawny.

  [% ELSIF error == "flag_type_inactive" %]
    [% title = "Nieaktywne typy flag" %]
    Flaga [% type FILTER html %] jest nieaktywna i nie może być używana
    do tworzenia nowych flag.

  [% ELSIF error == "flag_type_nonexistent" %]
    Nie ma flagi z identyfikatorem <em>[% id FILTER html %]</em>.

  [% ELSIF error == "flag_type_target_type_invalid" %]
    Docelowy element nie był ani <em>[% terms.bledem %]</em>, ani <em>załącznikiem</em>
    lecz <em>[% target_type FILTER html %]</em>.
  
  [% ELSIF error == "invalid_field_name" %]
    Nie można użyć [% field FILTER html %] jako nazwy pola.

  [% ELSIF error == "invalid_keyword_id" %]
    Nie znaleziono identyfikatora słowa kluczowego <em>[% id FILTER html %]</em>.

  [% ELSIF error == "invalid_user" %]
    [% title = "Nieprawidłowy użytkownik" %]
    Brak konta użytkownika
    [% IF user_id %]
      z ID <em>[% user_id FILTER html %]</em>.
    [% ELSIF user_login %]
      o nazwie <em>[% user_login FILTER html %]</em>.
    [% ELSE %]
    [% END %]

  [% ELSIF error == "jobqueue_insert_failed" %]
   [% title = "Uszkodzenie kolejkowania zadań" %]
    Wstawianie zadania <code>[% job FILTER html %]</code> do kolejki 
    nie powiodło się z powodu następującego błędu: [% errmsg FILTER html %]

  [% ELSIF error == "jobqueue_no_job_mapping" %]
    <code>Bugzilla::JobQueue</code> nie został skonfigurowany
    do podjęcia zadania „[% job FILTER html %]”. Musisz dodać ten typ zadań
    do stałej <code>JOB_MAP</code> w module <code>Bugzilla::JobQueue</code>.

  [% ELSIF error == "ldap_bind_failed" %]
    Powiązanie z serwerem LDAP się nie powiodło. Komunikat błędu:
    <code>[% errstr FILTER html %]</code>

  [% ELSIF error == "ldap_cannot_retreive_attr" %]
    Nie znaleziono podanego atrybutu LDAP [% attr FILTER html %].

  [% ELSIF error == "ldap_connect_failed" %]
    Nie można połączyć się z serwerem LDAP <code>[% server FILTER html %]</code>.

  [% ELSIF error == "ldap_start_tls_failed" %]
    Nie można uruchomić TLS dla serwera LDAP: <code>[% error FILTER html %]</code>.

  [% ELSIF error == "ldap_search_error" %]
    Wystąpił błąd podczas wyszukiwania LDAP dla 
    „[% username FILTER html %]”: 
    [% IF errstr %]
      <code>[% errstr FILTER html %]</code>
    [% ELSE %]
      Nie można znaleźć użytkownika w LDAP
    [% END %]

  [% ELSIF error == "ldap_server_not_defined" %]
    Nie określono serwera LDAP dla uwierzytelniania.

  [% ELSIF error == "mail_send_error" %]
    Błąd podczas wysyłania poczty od „[% mail.header('From') FILTER html %]”
    do „[% mail.header('To') FILTER html %]”:
    [% msg FILTER html %]

  [% ELSIF error == "missing_bug_id" %]
    Nie podano identyfikatora [% terms.bledu %].
    
  [% ELSIF error == "missing_series_id" %]
    Przy dodawaniu serii do bazy danych nie został zwrócony identyfikator serii.
    Seria: [% series.category FILTER html %] / 
    [%+ series.subcategory FILTER html %] / 
    [%+ series.name FILTER html %].
    
  [% ELSIF error == "need_quipid" %]
    Wymagany jest poprawny identyfikator sentencji.

  [% ELSIF error == "no_manual_moved" %]
    Nie można ustawić rozwiązania [% terms.bledu %] na PRZENIESIONY bez
    przeniesienia [% terms.bledu %].

  [% ELSIF error == "no_open_bug_status" %]
    [% title = "Nie można potwierdzić $terms.bledu" %]
    To nie jest prawidłowe przekształcenie z
    [%+ display_value("bug_status", "UNCONFIRMED") FILTER html %] na status otwarty.

  [% ELSIF error == "param_invalid" %]
    [% title = "Nieprawidłowy parametr" %]
    <code>[% param FILTER html %]</code> nie jest prawidłowym parametrem
    dla funkcji [% function FILTER html %].

  [% ELSIF error == "param_must_be_numeric" %]
    [% title = "Nieprawidłowy parametr" %]
    Przekazano nieprawidłowy parametr do [% function FILTER html %].
    Parametr musi być liczbą.

  [% ELSIF error == "param_required" %]
    [% title = "Brak parametru" %]
    Funkcja <code>[% function FILTER html %]</code> wymaga
    argumentu <code>[% param FILTER html %]</code>, który nie
    został określony.

  [% ELSIF error == "params_required" %]
    [% title = "Brak parametru" %]
    Funkcja <code>[% function FILTER html %]</code> wymaga
    określenia jednego z następujących parametrów:
    <code>[% params.join(', ') FILTER html %]</code>

  [% ELSIF error == "product_empty_group_controls" %]
    [% title = "Brak uprawnień grupy" %]
    Nowe ustawienia muszą mieć uprawnienia do modyfikacji uprawnień dla
    grupy [% group.name FILTER html %].

  [% ELSIF error == "product_illegal_group_control" %]
    [% title = "Nieprawidłowe uprawnienie grupy" %]
    Wartość „[% value FILTER html %]” nie jest poprawną
    wartością dla pola „[% field FILTER html %]”.

  [% ELSIF error == "protection_violation" %]
    Wywołano funkcję <code>[% function FILTER html %]</code> 

    [% IF argument %]
        z argumentem <code>[% argument FILTER html %]</code>
    [% END %]

    z
   
    [% IF caller %]
        <code>[%+ caller FILTER html %]</code>, który znajduje się
    [% END %]

    poza pakietem. Ta funkcja może być wywoływana tylko z
    podklas <code>[% superclass FILTER html %]</code>.

  [% ELSIF error == "radius_preparation_error" %]
    Wystąpił błąd podczas przygotowywania żądania uwierzytelniania do serwera RADIUS:
    <code>[% errstr FILTER html %]</code>.

  [% ELSIF error == "request_queue_group_invalid" %]
    Pole grupa <em>[% group FILTER html %]</em> jest nieprawidłowe.

  [% ELSIF error == "report_axis_invalid" %]
    <em>[% val FILTER html %]</em> nie jest prawidłową wartością dla pola
    [%+ IF    fld == "x" %]osi poziomej
    [%+ ELSIF fld == "y" %]osi pionowej
    [%+ ELSIF fld == "z" %]wielokrotnych tabel/obrazków
    [%+ ELSE %]osi raportów[% END %].

  [% ELSIF error == "setting_info_invalid" %]
    Aby utworzyć nowe ustawienie, należy podać jego nazwę, wskazać
    pary wartość/kolejność sortowania i domyślną wartość.

  [% ELSIF error == "setting_name_invalid" %]
    Nazwa opcji <em>[% name FILTER html %]</em> nie jest prawidłowa.
    Musi ona zaczynać się od litery i zawierać wyłącznie
    litery, cyfry oraz symbole „_”, „-”', „.” i „:”.

  [% ELSIF error == "setting_subclass_invalid" %]
    Nie ma takiej subklasy ustawień, jak
    <code>[% subclass FILTER html %]</code>.

  [% ELSIF error == "setting_value_invalid" %]
    Wartość "<code>[% value FILTER html %]</code>" nie znajduje się na liście
    dopuszczalnych wartości <em>[% name FILTER html %]</em>.

  [% ELSIF error == "token_generation_error" %]
    Wystąpił poważny błąd w systemie generowania tokenów.

  [% ELSIF error == "template_error" %]
    [% template_error_msg FILTER html %]

  [% ELSIF error == "template_invalid" %]
    W wywołaniu: [% name FILTER html %] napotkano szablon z nieprawidłową nazwą pliku.

  [% ELSIF error == "unable_to_retrieve_password" %]
     Nie można pobrać twojego starego hasła z bazy danych.

  [% ELSIF error == "undefined_field" %]
    Pole formularza [% field FILTER html %] nie zostało zdefiniowane.

  [% ELSIF error == "unknown_action" %]
    [% IF action %]
       Nieznana czynność [% action FILTER html %]!
    [% ELSE %]
       Nie można odgadnąć intencji użytkownika.
    [% END %]

  [% ELSIF error == "unknown_method" %]
    Nie znaleziono żądanej metody „[% method FILTER html %]”.

  [% ELSIF error == "usage_mode_invalid" %]
    Tryb „[% invalid_usage_mode FILTER html %]” nie jest poprawnym trybem użycia.

  [% ELSIF error == "must_be_patch" %]
    [% title = "Załącznik musi być łatką" %]
    Załącznik #[% attach_id FILTER html %] musi być łatką (patchem).

  [% ELSIF error == "not_in_transaction" %]
    Podjęto próbę zakończenia nie rozpoczętej wcześniej transakcji.

  [% ELSIF error == "comma_operator_deprecated" %]
    [% title = "Błąd wewnętrzny generatora zapytań SQL" %]
    Wystąpił błąd wewnętrzny generatora zapytań SQL.
    Utworzono zapytanie bez bezpośredniego użycia klauzuli JOIN.

  [% ELSIF error == "invalid_post_bug_submit_action" %]
    Błędne ustawienie dla post_bug_submit_action

  [% ELSE %]
    [%# Try to find hooked error messages %]
    [% error_message = Hook.process("errors") %]
    [% IF NOT error_message %]
      [% title = "Błąd wewnętrzny" %]
      Wystąpił błąd wewnętrzny, lecz nie można określić,
      co oznacza kod błędu: <code>[% error FILTER html %]</code>.

      Jeśli jesteś zwykłym użytkownikiem [% terms.Bugzilli %] zapisz tę stronę
      i wyślij ją do [% Param('maintainer') %].
    [% ELSE %]
      [% error_message FILTER none %]
    [% END %]
  [% END %]
[% END %]

[%# We only want HTML error messages for ERROR_MODE_WEBPAGE %]
[% USE Bugzilla %]
[% IF Bugzilla.error_mode != constants.ERROR_MODE_WEBPAGE %]
  [% IF Bugzilla.usage_mode == constants.USAGE_MODE_BROWSER %]
    [% error_message FILTER none %]
  [% ELSE %]
    [% error_message FILTER txt %]
  [% END %]
  [% RETURN %]
[% END %]

[% UNLESS header_done %]
  [% PROCESS global/header.html.tmpl %]
[% END %]

[% PROCESS global/docslinks.html.tmpl
   docslinks      = docslinks
   admindocslinks = admindocslinks
%]

<tt>
  <p>
    Wystąpił błąd wewnętrzny [% terms.Bugzilli %]. Proszę zapisać tę stronę
    i wysłać ją do [% Param("maintainer") %] wraz z opisem czynności, które
    doprowadziły do wystąpienia tego błędu.
  </p>
  <script type="text/javascript"> <!--
    document.write("<p>URL: " + 
                    document.location.href.replace(/&/g,"&amp;")
                                          .replace(/</g,"&lt;")
                                          .replace(/>/g,"&gt;") + "</p>");
  // -->
  </script>
</tt>

<table cellpadding="20">
  <tr>
    <td bgcolor="#ff0000">
      <font size="+2">
        [% error_message FILTER none %]
      </font>
    </td>
  </tr>
</table>

[% IF variables %]
  <pre>
Zmienne:
  [% FOREACH key = variables.keys %]
    [%+ key FILTER html %]: [%+ variables.$key FILTER html %]
  [% END %]
  </pre>
[% END %]

[% PROCESS global/footer.html.tmpl %]
