[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Myk Melez <myk@mozilla.org>
  #%]

[% PROCESS global/variables.none.tmpl %]

[%# Filter off the name here to be used multiple times below %]
[% name = BLOCK %][% flag_type.name FILTER html %][% END %]

[% PROCESS global/header.html.tmpl
  title = "Potwierdzenie usunięcia typu flagi: '$name'"
%]

<p>
   Występuje [% flag_count %] 
   [% PROCESS ODMIEN c=flag_count o1="flaga" o2="flagi" o3="flag" %] typu 
   [% name FILTER html %].
   Jeśli usuniesz ten typ, również odpowiadające mu flagi zostaną usunięte. 
   Pamiętaj, że zamiast usuwać flagę, możesz ją również 
   <a href="editflagtypes.cgi?action=deactivate&amp;id=[% flag_type.id %]">deaktywować</a>,
   a wtedy zarówno typ jak i jego flaga pozostaną w bazie danych lecz jedynie
   nie będą wyświetlane w interfejsie [% terms.Bugzilli %].
</p>

<table>
   <tr>
      <td colspan="2">
         Czy na pewno chcesz usunąć ten typ?
      </td>
   </tr>
   <tr>
      <td>
         <a href="editflagtypes.cgi?action=delete&amp;id=[% flag_type.id %]">
            Tak, usuń
         </a>
      </td>
      <td align="right">
         <a href="editflagtypes.cgi">
            Nie, nie usuwaj
         </a>
      </td>
   </tr>
</table>

[% PROCESS global/footer.html.tmpl %]
