[%# 4.4rc2PL@aviary.pl %]
[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[%# INTERFACE:
  # original_bug_id: number; the bug number for the bug
  #   against which a bug is being duped
  # duplicate_bug_id: number; the bug number for the bug
  #   being duped
  # cclist_accessible: boolean; whether or not users on the cc: list
  #   of the original bug can access that bug.
  #%]

[% PROCESS global/header.html.tmpl title="Ostrzeżenia związane z duplikatami" %]
[% orig_bug = "$terms.bledu $original_bug_id"
     FILTER bug_link(original_bug_id) %]

<p>
  Gdy [% terms.blad %] jest oznaczany jako duplikat, zgłaszający ten [% terms.blad %]
  jest dodawany do listy obserwatorów oryginalnego [% terms.bledu %]. Obecne ustawienia uprawnień
  [%+ orig_bug FILTER none %] (oryginału) uniemożliwiają dodanie zgłaszającego do
  listy – nie będzie on mógł widzieć [% terms.bledu %] będącego oryginałem jego zgłoszenia.
</p>

<p>
  <b>Dodanie zgłaszającego do listy obserwatorów [% orig_bug FILTER none %]
  [% IF cclist_accessible %]
    umożliwi teraz
  [% ELSE %]
    może w przyszłości umożliwić
  [% END %]
  oglądanie tego [% terms.bledu %].</b>
  Czy kontynuować?
</p>

<form method="post" action="process_bug.cgi">

[% PROCESS "global/hidden-fields.html.tmpl" exclude="^Bugzilla_(login|password)$" %]

<p>
  <input type="radio" name="confirm_add_duplicate" value="1">
    Dodaj zgłaszającego do listy obserwatorów [% orig_bug FILTER none %]
</p>
<p>
  <input type="radio" name="confirm_add_duplicate" value="0" checked="checked">
    Nie dodawaj zgłaszającego do listy obserwatorów [% orig_bug FILTER none %]
</p>
<p>
  [% "Odrzuć zmiany i przejdź do $terms.bledu $duplicate_bug_id"
     FILTER bug_link(duplicate_bug_id) FILTER none %]
</p>
<p>
  <input type="submit" id="process" value="Wyślij">
</p>

</form>

[% PROCESS global/footer.html.tmpl %]
