[%# 3.4.10+PL@aviary.pl %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Frédéric Buclin.
  #
  # Contributor(s): Frédéric Buclin <LpSolit@gmail.com>
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl title = "Sprawdzanie spójności danych"
                                   style_urls = ['skins/standard/admin.css'] %]

<div>
  <p>
    [% terms.Bugzilla %] sprawdza spójność bazy danych.
    Operacja ta może potrwać kilka minut.
  </p>

  <p>
    Błędy, jeśli są, będą <span class="alert">w ten sposób wyróżnione</span>. W zależności
    od znalezionych błędów, odnośniki będą wyświetlane w sposób ułatwiający naprawę tych
    błędów. Po dokonaniu naprawy skrypt zostanie automatycznie, ponownie uruchomiony.
    Powtórne wykonanie skryptu może zająć więcej czasu niż za pierwszym razem.
  </p>
</div>

<hr>
