[%# 3.6.3PL@aviary.pl %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Shane H. W. Travis <travis@sedsystems.ca>
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[%# INTERFACE:
  # settings:      a hash of hashes, keyed by setting name.
  #                Each hash contains:
  #                 is_enabled    - boolean
  #                 default_value - string (global default for this setting)
  #                 value         - string (user-defined preference)
  #                 is_default    - boolean (true if user has no preference)
  #%]

[% PROCESS global/header.html.tmpl
   title = "Ustawienia domyślne"
 %]

[% PROCESS "global/setting-descs.none.tmpl" %]

<p>
Na tej stronie można ustalić domyślne wartości ustawień.
</p>
<p>
Domyślna wartość wyświetlana dla każdego ustawienia zostanie zastosowana dla wszystkich
użytkowników, którzy nie określili swoich wartości i którzy nie są zalogowani.
</p>
<p>
Pole „Włączone” kontroluje dostępność danego ustawienia dla użytkowników.<br>
Jeśli jest zaznaczone, użytkownicy będą widzieć ustawienie na swojej
stronie preferencji i będą mogli wybrać swoje wartości.
Jeśli pole nie zostanie zaznaczone, ustawienie nie będzie wyświetlane
i dla wszystkich zostanie zastosowana wartość domyślna.
</p>
<hr>

[% IF settings.size %]
    <form name="adminsettingform" method="post" action="editsettings.cgi">
      <table border="1" cellpadding="4">
      <tr>
        <th>Tekst ustawienia</th>
        <th>Wartość domyślna</th>
        <th>Włączone</th>
      </tr>

      [% FOREACH name = settings.keys %]
          [% checkbox_name = name _ '-enabled' %]
          <tr>
            <td align="right">
              [% setting_descs.$name OR name FILTER html %]
            </td>
            <td>
              <select name="[% name FILTER html %]" id="[% name FILTER html %]">
                [% FOREACH x = settings.${name}.legal_values %]
                    <option value="[% x FILTER html %]"
                      [% " selected=\"selected\"" IF x == settings.${name}.default_value %]>
                      [% setting_descs.${x} OR x FILTER html %]
                    </option>
                [% END %]
              </select>
            </td>
            <td align="center">
              <input type="checkbox"
                name="[% checkbox_name FILTER html %]"
                id="[% checkbox_name FILTER html %]"
                [% " checked=\"checked\"" IF settings.${name}.is_enabled %]>
              <br>
            </td>
          </tr>
      [% END %]
      </table>

    <input type="hidden" name="action" value="update">
    <input type="hidden" name="token" value="[% token FILTER html %]">
    <table>
      <tr>
        <td width="150"></td>
        <td>
          <input type="submit" id="update" value="Zapisz zmiany">
        </td>
      </tr>
    </table>
  
  </form>
[% ELSE %]
  Brak ustawień do modyfikowania.
[% END %]

[% PROCESS global/footer.html.tmpl %]
