[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #%]

[%# INTERFACE:
  # added_quip: string. Defined if the CGI added a quip data before
  #                displaying anything; if defined, its value is that quip.
  # show_quips: boolean. True if we are showing the entire quip list.
  # quips: list of strings. Defined iff show_quips is true. List of all quips.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
           title = "Sentencje $terms.Bugzilli"
           h1 = "Dodaj coś od siebie"
 %]

[% IF added_quip %]
  <p>
    <font color="red">
      Twoja sentencja '<tt>[% added_quip FILTER html %]</tt>' została dodana.
      [% IF Param("enablequips") == "approved" AND !user.groups.admin %]
        Zostanie ona wykorzystana po jej zatwierdzeniu.
      [% END %]
    </font>
  </p>
[% END %]

[% IF deleted_quip %]
  <p>
    <font color="red">
      Sentencja '<tt>[% deleted_quip FILTER html %]</tt>' została usunięta.
    </font>
  </p>
[% END %]

[% IF approved or unapproved %]
  <p>[% approved.size %] sentencji zatwierdzonych, [% unapproved.size %] niezatwierdzonych</p>
[% END %]

<p>
  [% terms.Bugzilla %] wyświetla losowo wybraną sentencje, na każdej stronie z
  listą [% terms.bladow %]. Zbiór sentencji może zostać rozszerzony przez Ciebie.
  Wpisz coś ciekawego, zabawnego lub nudnego (lecz nie obscenicznego lub obraźliwego!)
  i kliknij na przycisk.
  [% IF Param("enablequips") == "approved" AND !user.groups.admin %]
    Twoja sentencja musi zostać zatwierdźona, zanim zostanie użyta po raz pierwszy.
  [% END %]
</p>

<form method="post" action="quips.cgi">
  <input type="hidden" name="action" value="add">
  <input size="80" name="quip">
  <p>
    <input type="submit" value="Dodaj sentencję">
  </p>
</form>

[% IF show_quips %]
  [% IF !UserInGroup('admin') %]
    <h2>
      Istniejące sentencje:
    </h2>
    <ul>
      [% FOREACH quipid = quipids %]
        [% NEXT IF NOT quips.$quipid.approved %]
        <li>[% quips.$quipid.quip FILTER html %]</li>
      [% END %]
    </ul>
  [% ELSE %]
    <h2>Edytuj istniejące sentencje:</h2>
    <p>
      <strong>Uwaga:</strong> wyświetlane będą wyłącznie sentencje, które zostały uprzednio
      zatwierdźone. Jeśli enablequips jest ustawione na <q>on</q>, nowe sentencje
      będą akceptowane automatycznie.
    </p>
    <form name="editform" method="post" action="quips.cgi">
      <input type="hidden" name="action" value="approve">
      <table border="1">
        <thead><tr>
          <th>Sentencja</th>
          <th>Autor</th>
          <th>Akcja</th>
          <th>Zatwierdzona</th>
        </tr></thead><tbody>
        [% FOREACH quipid = quipids %]
          <tr>
            <td>[% quips.$quipid.quip FILTER html %]</td>
            <td>
              [% userid = quips.$quipid.userid  %]
              [% users.$userid FILTER html      %]
              [% "Nieznany" IF NOT users.$userid %]
            </td>
            <td>
              <a href="quips.cgi?action=delete&amp;quipid=[% quipid FILTER uri%]">
                Usuń
              </a>
            </td>
            <td>
              <input type="checkbox" name="quipid_[% quipid FILTER uri%]"
                     id="quipid_[% quipid FILTER uri%]"
                     [%- ' checked="checked"' IF quips.$quipid.approved %]>
            </td>
          </tr>
        [% END %]
        </tbody>
      </table>
      <script type="text/javascript" language="JavaScript"><!--
        var numelements = document.forms.editform.elements.length;
        function SetCheckboxes(value) {
          var item;
          for (var i=0 ; i<numelements ; i++) {
            item = document.forms.editform.elements[i];
            item.checked = value;
          }
        }
        document.write(' <input type="button" name="uncheck_all" '
                      +'value="Odznacz wszystkie" onclick="SetCheckboxes(false);">');
        document.write(' <input type="button" name="check_all" '
                      +'value="Zaznacz wszystkie" onclick="SetCheckboxes(true);">');
        //--></script>

      <input type="submit" value="Zatwierdź">
    </form>
    <br>
  [% END %]
[% ELSE %]
  <p>
    Ci którzy lubią mądrość w dużej ilości mogą
    <a href="quips.cgi?action=show">obejrzeć
    [% IF UserInGroup('admin') %]
      lub edytować
    [% END %]
    całą listę</a>.
  </p>
[% END %]

[% PROCESS global/footer.html.tmpl %]
