[%# 4.2.4PL@aviary.pl %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Everything Solved, Inc.
  # Portions created by the Initial Developer are Copyright (C) 2010
  # the Initial Developer. All Rights Reserved.
  #
  # Contributor(s): 
  #   Max Kanat-Alexander <mkanat@bugzilla.org>
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[% IF san_tag == "voting_cache_rebuild_fix" %]
    <a href="sanitycheck.cgi?rebuild_vote_cache=1&amp;token=
       [%- issue_hash_token(['sanitycheck']) FILTER uri %]">Kliknij tutaj, by
    odbudować bufor głosowania</a>

[% ELSIF san_tag == "voting_cache_alert" %]
    Nieprawidłowy bufor głosowania dla [% PROCESS bug_link bug_id = id %]

[% ELSIF san_tag == "voting_count_start" %]
    Test zbuforowanej liczby głosów.

[% ELSIF san_tag == "voting_count_alert" %]
    Nieprawidłowa suma głosów dla [% terms.bledu %] [%+ id FILTER html %].

[% ELSIF san_tag == "voting_cache_rebuild_start" %]
    Odbudowywanie bufora głosowania…

[% ELSIF san_tag == "voting_cache_rebuild_end" %]
    Bufor głosowania został odbudowany.

[% END %]
