[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[%# INTERFACE:
  # none
  #%]

[% javascript = BLOCK %]
  [% INCLUDE "admin/custom_fields/cf-js.js.tmpl" %]
[% END %]

[% PROCESS global/header.html.tmpl
           title = "Dodawanie dodatkowego pola"
           onload = "document.getElementById('new_bugmail').disabled = true;"
           javascript_urls = [ 'js/util.js' ]
           doc_section = "custom-fields.html#add-custom-fields"
           style_urls = ['skins/standard/admin.css']
%]

[%# set initial editability of fields such as Reverse Relationship Description %]
<script type="text/javascript">
YAHOO.util.Event.onDOMReady(function() {onChangeType(document.getElementById('type'))});
</script>

<p>
  Dodatkowe pola mogą znacznie skomplikować interfejs [% terms.Bugzilli %]. 
  Wielu początkujących administratorów [% terms.Bugzilli %] dodaje zbyt wiele 
  pól, co z kolei powoduje narzekanie użytkowników na zbyt skomplikowany
  interfejs. Proszę dokładnie przemyśleć celowość dodawanego pola. Prawdopodobnie 
  [% terms.Bugzilla %] zawiera już poszukiwaną funkcję, która nie jest skonfigurowana 
  albo włączona.
</p>

<ul>
  <li>Pola dodatkowe muszą mieć nazwy rozpoczynające się od „cf_”. Pozwala to odróżnić
      je od pól standardowych. W przypadku pominięcia przedrostka „cf_” zostanie on 
      dodany automatycznie.</li>
  <li>Opisy to krótkie teksty objaśniające znaczenie pola. Zostaną one użyte w interfejsie 
      jako etykiety pól dodatkowych.</li>
</ul>

<form id="add_field" action="editfields.cgi" method="GET">
  [% PROCESS "admin/custom_fields/edit-common.html.tmpl" %]

  <input type="hidden" name="action" value="new">
  <input type="hidden" name="token" value="[% token FILTER html %]">
  <input type="submit" id="create" value="Utwórz">
</form>

<p>
  <a href="editfields.cgi">Lista pól dodatkowych</a>
</p>

[% PROCESS global/footer.html.tmpl %]
