[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Frédéric Buclin.
  #
  # Contributor(s): Frédéric Buclin <LpSolit@gmail.com>
  #%]

[%# INTERFACE:
  # abuser: identity of the user who created the (invalid?) token.
  # token_action: the action the token was supposed to serve.
  # expected_action: the action the user was going to do.
  # script_name: the script generating this warning.
  #%]

[% PROCESS "global/field-descs.none.tmpl" %]

[% PROCESS global/header.html.tmpl title = "Podejrzana czynność"
                                   style_urls = ['skins/standard/global.css'] %]

[% IF abuser %]
  <div class="throw_error">
    <p>Podczas wyświetlania formularza administracyjnego [% terms.Bugzilli %]
	generowany jest losowy żeton, który jest umieszczany w bazie danych i w formularzu.
	Ma to na celu zapewnienie, że zmiany administracyjne wykonywane sa tylko z formularzy
	wygenerowanych przez [% terms.Bugzille %]. Niestety w tym przypadku żeton zawarty
	w formularzy nie zgadza się z żetonem zapisanycm w bazie danych.
    Użyto następującego żetonu:</p>

    <table border="0" cellpadding="5" cellspacing="0">
      [% IF token_action != expected_action %]
        <tr>
          <th>Zapisana&nbsp;akcja:</th>
          <td>[% token_action FILTER html %]</td>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <td>
		    Akcja ta nie zgadza się ze spodziewaną akcją ([% expected_action FILTER html %]).
          </td>
        </tr>
      [% END %]

      [% IF abuser != user.identity %]
        <tr>
          <th>Wynenerowano&nbsp;przez:</th>
          <td>[% abuser FILTER html %]</td>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <td>
		    Żeton ten nie został wygenerowany przez bieżącego użytkownika.
			Możliwe jest, że ktoś probuje oszustwa!
          </td>
        </tr>
      [% END %]
    </table>

    <p>Proszę zgłosić ten problem do [%+ Param("maintainer") FILTER html %].</p>
  </div>
[% ELSE %]
  <div class="throw_error">
    Prawdopodobnie użytkownik nie otworzył tej stron z poprawnego miejsca (brak 
	ważnego żetonu dla <em>[% expected_action FILTER html %]</em> podczas przetwarzania 
    skryptu '[% script_name FILTER html%]'). Możliwe przyczyny to:<br>
    <ul>
      <li>Użycie przycisku "Wstecz" w przeglądarce po zatwierdzeniu zmian w formularzu.
	  Jest to nieszkodliwe, ale niezalecane postępowanie.</li>
      <li>Adres URL został wpisany bezpośrednio do paska adresu przeglądarki. 
	  (Generalnie bezpieczna sytuacja).</li>
      <li>Kliknięto odnośnik, który przekierował na tą stronę <b>bez zgody użytkownika</b>.
      (Ten scenariusz może być niebezpieczny).</li>
    </ul>
	Czy zatwierdzić te zmiany mimo wszystko? Może to mieć niespodziewane 
	i niepożądane rezultaty.
  </div>

  <form name="check" id="check" method="post" action="[% script_name FILTER html %]">
    [% PROCESS "global/hidden-fields.html.tmpl"
               exclude="^(Bugzilla_login|Bugzilla_password)$" %]
    <input type="submit" id="confirm" value="Confirm Changes">
  </form>
  <p>Odrzuć zmiany i wróć do <a href="[% script_name FILTER html %]">
    [%- script_name FILTER html %]</a>.</p>
[% END %]

[% PROCESS global/footer.html.tmpl %]
