[%# 4.4rc2+PL@aviary.pl %]
[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[%# Remember to PROCESS rather than INCLUDE this template. %]

[% SET search_descs = {
  "noop"           => "---",
  "equals"         => "jest taki, jak",
  "notequals"      => "jest inny niż",
  "anyexact"       => "jest taki, jak którekolwiek z wyrażeń",
  "substring"      => "zawiera wyrażenie",
  "casesubstring"  => "zawiera wyrażenie (identyczne)",
  "notsubstring"   => "nie zawiera wyrażenia",
  "anywordssubstr" => "zawiera dowolne wyrażenia",
  "allwordssubstr" => "zawiera wszystkie wyrażenia",
  "nowordssubstr"  => "nie zawiera wyrażeń",
  "regexp"         => "odpowiada wyrażeniu reg.",
  "notregexp"      => "nie odpowiada wyrażeniu reg.",
  "lessthan"       => "jest mniejszy niż",
  "lessthaneq"     => "jest mniejszy lub równy z",
  "greaterthan"    => "jest większy niż",
  "greaterthaneq"  => "jest większy lub równy z",
  "anywords"       => "zawiera dowolne ze słów",
  "allwords"       => "zawiera wszystkie słowa",
  "nowords"        => "nie zawiera słów",
  "changedbefore"  => "zmieniony przed",
  "changedafter"   => "zmieniony po",
  "changedfrom"    => "zmieniony z",
  "changedto"      => "zmieniony na",
  "changedby"      => "zmieniony przez",
  "matches"        => "pasuje do",
  "notmatches"     => "nie pasuje do",
} %]

[% field_types = {
  ${constants.FIELD_TYPE_UNKNOWN}       => "Nieznany typ",
  ${constants.FIELD_TYPE_FREETEXT}      => "Pole tekstowe",
  ${constants.FIELD_TYPE_SINGLE_SELECT} => "Lista rozwijana",
  ${constants.FIELD_TYPE_MULTI_SELECT}  => "Pole wielokrotnego wyboru",
  ${constants.FIELD_TYPE_TEXTAREA}      => "Duże pole tekstowe",
  ${constants.FIELD_TYPE_DATETIME}      => "Data/Czas",
  ${constants.FIELD_TYPE_BUG_ID}        => "Identyfikator $terms.bledu",
} %]

[% IF in_template_var %]
  [% PROCESS "global/value-descs.none.tmpl" %]
  [% SET vars.value_descs = value_descs %]
  [% SET vars.terms = terms %]

  [%# field_descs is loaded as a global template variable and cached
    # across all templates--see VARIABLES in Bugzilla/Template.pm.
    #%]
  [% vars.field_descs = {
    "[Bug creation]"           => "[Zgłaszanie $terms.bledu]",
     "actual_time"             => "Szacunek aktualny"
     "alias"                   => "Alias",
     "assigned_to"             => "Przypisany do",
     "assigned_to_realname"    => "Dane osoby odpowiedzialnej",
     "attach_data.thedata"     => "Dane załącznika",
     "attachments.description" => "Opis załącznika",
     "attachments.filename"    => "Nazwa pliku załącznika",
     "attachments.mimetype"    => "Typ MIME załącznika",
     "attachments.ispatch"     => "Załącznik jest łatką",
     "attachments.isobsolete"  => "Zdezaktualizowany załącznik",
     "attachments.isprivate"   => "Prywatny załącznik",
     "attachments.submitter"   => "Twórca załącznika",
     "blocked"                 => "Blokuje",
     "bug_file_loc"            => "URL",
     "bug_group"               => "Grupa",
     "bug_id"                  => "ID $terms.bledu",
     "bug_severity"            => "Waga $terms.bledu",
     "bug_status"              => "Status",
     "changeddate"             => "Zmieniono",
     "cc"                      => "Obserwatorzy",
     "classification"          => "Kategoria",
     "cclist_accessible"       => "Lista obserwatorów jest dostępna",
     "commenter"               => "Komentujący",
     "component_id"            => "ID komponentu",
     "component"               => "Komponent",
     "content"                 => "Zawartość",
     "creation_ts"             => "Data utworzenia",
     "days_elapsed"            => "Dni od zmiany $terms.bledu",
     "deadline"                => "Termin ostateczny",
     "delta_ts"                => "Zmieniono",
     "dependson"               => "Zależy od",
     "dup_id"                  => "Duplikat",
     "estimated_time"          => "Szacunek początkowy",
     "everconfirmed"           => "Kiedykolwiek potwierdzony",
     "flagtypes.name"          => "Flagi",
     "keywords"                => "Słowa kluczowe",
     "longdesc"                => "Komentarz",
     "longdescs.count"         => "Liczba komentarzy",
     "longdescs.isprivate"     => "Komentarz prywatny",
     "newcc"                   => "Obserwatorzy",
     "op_sys"                  => "OS/Wersja",
     "opendate"                => "Otwarto",
     "owner_idle_time"         => "Czas od momentu przypisania osoby odpowiedzialnej",
     "percentage_complete"     => "Postęp (%)",
     "priority"                => "Priorytet",
     "product_id"              => "ID produktu",
     "product"                 => "Produkt",
     "qa_contact"              => "Specjalista QA",
     "qa_contact_realname"     => "Dane specjalisty QA",
     "remaining_time"          => "Godziny pozostałe",
     "rep_platform"            => "Platforma",
     "reporter"                => "Zgłaszający",
     "reporter_accessible"     => "Dostępne dla zgłaszającego",
     "reporter_realname"       => "Dane zgłaszającego",
     "requestees.login_name"   => "Weryfikujący flagę",
     "resolution"              => "Rozwiązanie",
     "see_also"                => "Zobacz też",
     "setters.login_name"      => "Ustawiający flagę pytającą",
     "setting"                 => "Ustawienie",
     "settings"                => "Ustawienia",
     "short_desc"              => "Krótki opis",
     "short_short_desc"        => "Krótki opis",
     "status_whiteboard"       => "Tablica statusu",
     "tag"                     => "Etykiety",
     "target_milestone"        => "Wersja docelowa",
     "version"                 => "Wersja",
     "work_time"               => "Godziny przepracowane",
  } %]

  [%# Also include any custom fields or fields which don't have a
      Description here, by copying their Description from the
      database. If you want to override this for your language
      or your installation, just use a hook. %]
  [% UNLESS Param('shutdownhtml') %]
    [% FOREACH bz_field = bug_fields.values %]
      [% SET vars.field_descs.${bz_field.name} = bz_field.description
         IF !vars.field_descs.${bz_field.name}.defined %]
    [% END %]
  [% END %]

  [% PROCESS "bug/field-help.none.tmpl" %]
[% END %]

[% Hook.process("end") %]
