[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 Max Kanat-Alexander <mkanat@bugzilla.org>
  #%]

[%# This is a list of all the possible messages. Please keep them in
  # alphabetical order by message tag, and leave a blank line between messages.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS "global/field-descs.none.tmpl" %]

[% message_tag = message %]

[% message = BLOCK %]
  [% IF    message_tag == "account_created" %]
    [% title = "Utworzono konto $otheruser.login" %]
    Nowe konto [% otheruser.login FILTER html %] zostało utworzone
    [% IF groups.size %]
      Za pomocą poniższego formularza można zmienić ustawienia grup.
    [% END %]
    [% IF login_info %]
      Można teraz przejść do strony <a href="index.cgi">Logowania</a>, aby
      zalogować się i pracować w tej instalacji [% terms.Bugzilli %].
    [% END %]

  [% ELSIF message_tag == "account_creation_cancelled" %]
    [% title = "User Account Creation Canceled" %]
    Tworzenie konta użytkownika [% account FILTER html %] zostało
    anulowane.

  [% ELSIF message_tag == "account_updated" %]
    [% IF changed_fields.size
          + groups_added_to.size + groups_removed_from.size
          + groups_granted_rights_to_bless.size + groups_denied_rights_to_bless.size %]
      [% title = "Konto $loginold uaktualnione" %]
      Poniższe zmiany dla konta [%+ loginold FILTER html %] zostały zatwierdzone:
      <ul>
        [% FOREACH field = changed_fields %]
          <li>
            [% IF    field == 'login_name' %]
              Identyfikator konta został zmieniony na [% otheruser.login FILTER html %].
            [% ELSIF field == 'realname' %]
              Dane osobowe zostały uaktualnione.
            [% ELSIF field == 'cryptpassword' %]
              Nowe hasło zostało ustawione.
            [% ELSIF field == 'disabledtext' %]
              Objaśnienie powodu wyłączenia konta zostało zmodyfikowane.
            [% ELSIF field == 'disable_mail' %]
              [% IF otheruser.email_disabled %]
                Wyłączono pocztę dot. błędów (bugmail).
              [% ELSE %]
                Włączono pocztę dot. błędów (bugmail).
              [% END %]
            [% END %]
          </li>
        [% END %]
        [% IF groups_added_to.size %]
          <li>
            Konto zostało dodane do grup[% 'y' IF groups_added_to.size == 1 %]
            [%+ groups_added_to.join(', ') FILTER html %].
          </li>
        [% END %]
        [% IF groups_removed_from.size %]
          <li>
            Konto zostało usunięte z grup[% 'y' IF groups_removed_to.size == 1 %]
            [%+ groups_removed_from.join(', ') FILTER html %].
          </li>
        [% END %]
        [% IF groups_granted_rights_to_bless.size %]
          <li>
            Przyznano prawo do modyfikacji członkostwa grup[% 'y' IF groups_granted_rights_to_bless.size == 1 %]
            [%+ groups_granted_rights_to_bless.join(', ') FILTER html %].
          </li>
        [% END %]
        [% IF groups_denied_rights_to_bless.size %]
          <li>
            Odebrano prawo do modyfikacji członkostwa grup[% 'y' IF groups_granted_denied_to_bless.size == 1 %]
            [%+ groups_denied_rights_to_bless.join(', ') FILTER html %].
          </li>
        [% END %]
      </ul>
    [% ELSE %]
      [% title = "Nie dokonano żadnych zmian dla konta $otheruser.login" %]
      Nie dokonano żadnych zmian dla konta
      [%+ otheruser.login FILTER html %].
    [% END %]

  [% ELSIF message_tag == "account_deleted" %]
    [% title = "Konto $otheruser.login zostało usunięte" %]
    Konto [% otheruser.login FILTER html %] zostało pomyślnie usunięte.

  [% ELSIF message_tag == "attachment_creation_failed" %]
    [% terms.Blad %] został pomyślnie utworzony, lecz nie powiodło się utworzenie 
	załącznika.
    Proszę dodać załącznik poprzez odnośnik "Utwórz nowy załącznik"
    poniżej.

  [% ELSIF message_tag == "bug_confirmed_by_votes" %]
    *** Ten [% terms.blad %] został potwierdzony poprzez głosowanie. ***

  [% ELSIF message_tag == "bug_duplicate_of" %]
    *** Ten [% terms.blad %] został oznaczony jako duplikat [% terms.bledu %] [%+ dupe_of FILTER html %] ***

  [% ELSIF message_tag == "bug_has_duplicate" %]
    *** [% terms.Blad %] [%+ dupe FILTER html %] został oznaczony jako duplikat tego [% terms.bledu %]. ***

  [% ELSIF message_tag == "bug_moved_to" %]
    <p>[% terms.Blad %] przesunięty do [% Param("move-to-url") FILTER html %].</p>
    <p>Jeśli przesunięcie powiodło się, użytkownik [% login FILTER html %] otrzyma e-mail
    zawierający numer nowego [% terms.bledu %] w innej bazie danych.
    Jeśli wszystko zakończyło sie pomyślnie, proszę oznaczyć ten [% terms.blad %] jako VERIFIED i 
    podać odnośnik do nowego [% terms.bledu %]. W przeciwnym wypadku proszę ponownie otworzyć ten [% terms.blad %].

  [% ELSIF message_tag == "buglist_adding_field" %]
    [% title = "Dodawanie pola do strony wyszukiwania..." %]
    [% link  = "Proszę kliknąć tutaj jeśli strona nie odświeża się automatycznie." %]

  [% ELSIF message_tag == "buglist_load_named_query" %]
    [% title = BLOCK %]
      Trwa wczytywanie zapytania <code>[% namedcmd FILTER html %]</code>
    [% END %]
    [% link  = "Proszę kliknąć tutaj jeśli strona nie odświeża się automatycznie." %]

  [% ELSIF message_tag == "buglist_updated_named_query" %]
    Zapytanie <code>[% queryname FILTER html %]</code> zostało uaktualnione.

  [% ELSIF message_tag == "buglist_new_default_query" %]
    Domyślne zapytanie zostało zapisane. Można również dodać
    zakładkę do wyników dowolnego zapytania.

  [% ELSIF message_tag == "buglist_new_named_query" %]
    Zapytanie <code>[% queryname FILTER html %]</code> zostało zapisane.

  [% ELSIF message_tag == "buglist_query_gone" %]
    [% title = "Usuwanie zapytania" %]
    [% link  = "Powrót do strony zapytań." %]
    Zapytanie <code>[% namedcmd FILTER html %]</code> zostało usunięte.

  [% ELSIF message_tag == "buglist_sorted_by_relevance" %]
    [% terms.Bledy %] na tej liście są posortowane według trafności,
    z [% terms.bledami %] najbliższymi zapytaniu na górze.
    [% IF bugs.size == constants.FULLTEXT_BUGLIST_LIMIT %]
      Wyświetlanych jest wyłącznie pierwsze 
      [% constants.FULLTEXT_BUGLIST_LIMIT FILTER html %] [% terms.bledow %].
    [% END %]

  [% ELSIF message_tag == "change_columns" %]
    [% title = "Zmiana kolumn" %]
    Trwa ponowne wykonanie zapytania z nowymi kolumnami...
    Proszę kliknąć <a href="[% redirect_url FILTER html %]">tutaj</a>
    jeśli strona nie odświeży się automatycznie.

  [% ELSIF message_tag == "custom_field_created" %]
    [% title = "Pole dowolne utworzone" %]
    Nowe pole dowolne '[% field.name FILTER html %]' zostało
    pomyślnie utworzone.

  [% ELSIF message_tag == "custom_field_updated" %]
    [% title = "Uaktualniono pole dowolne" %]
    Własności pola '[% field.name FILTER html %]' zostały
    pomyślnie uaktualnione.

  [% ELSIF message_tag == "emailold_change_cancelled" %]
    [% title = "Anulowanie żądania zmiany adresu e-mail" %]
    Żądanie zmiany adresu e-mail konta na adres
    [%+ new_email FILTER html %] zostało anulowane.

  [% ELSIF message_tag == "email_change_cancelled" %]
    [% title = "Anulowanie żądania zmiany adresu e-mail" %]
    Żądanie zmiany adresu e-mail z [%+ old_email FILTER html %]
    na [%+ new_email FILTER html %] zostało anulowane.

  [% ELSIF message_tag == "email_change_cancelled_reinstated" %]
    [% title = "Anulowanie żądania zmiany adresu e-mail" %]
    Żądanie zmiany adresu e-mail z [%+ old_email FILTER html %]
    na adres [%+ new_email FILTER html %] zostało anulowane.
    Zostały przywrócone stare ustawienia.

  [% ELSIF message_tag == "flag_creation_failed" %]
    [% title = "Błąd tworzenia flagi" %]
    Napotkano błąd podczas weryfikacji flag:
    [%+ flag_creation_error FILTER none %]

  [% ELSIF message_tag == "logged_out" %]
    [% title = "Wylogowano" %]
    [% url = "index.cgi?GoAheadAndLogIn=1" %]
    [% link = "Zaloguj ponownie." %]
    <b>Wylogowano</b>.
    Ciasteczko, w którym były przechowywane informacje o danych
    logowania, zostało usunięte.
    Przy następnej próbie logowania będzie trzeba podać wymagane 
    informacje.

  [% ELSIF message_tag == "login_changed" %]
    [% title = "Zmiana identyfikatora logowania w $terms.Bugzill" %]
    Nazwa użytkownika w [% terms.Bugzilli %] została zmieniona.

  [% ELSIF message_tag == "parameters_updated" %]
    [% title = "Zaktualizowano parametry" %]
    [% IF param_changed.size > 0 %]
      [% FOREACH param = param_changed %]
        Zmieniono <em>[% param FILTER html %]</em><br>
        [% IF param == 'utf8' && Param('utf8') %]
          <strong>Należy teraz ponownie uruchomić skrypt checksetup.pl.</strong><br>
        [% END %]
      [% END %]
    [% ELSE %]
      Nie dokonano żadnych zmian.
    [% END %]

    [% IF shutdown_is_active == 1 %]
      <hr>
      [% terms.Bugzilla %] została wyłączona. Aby włączyć system ponownie, należy
      wyczyścić pole <em>shutdownhtml</em>.
    [% END%]

  [% ELSIF message_tag == "password_change_cancelled" %]
    [% title = "Anulowanie żądania zmiany hasła" %]
    Żądanie zmiany hasła zostało anulowane.

  [% ELSIF message_tag == "password_change_request" %]
    [% title = "Żądanie zmiany hasła" %]
    Żeton zmiany hasła został wysłany.
    Instrukcje zawarte w e-mailu pozwolą zmienić hasło.

  [% ELSIF message_tag == "password_changed" %]
    [% title = "Hasło zmienione" %]
    Hasło zostało zmienione.

  [% ELSIF message_tag == "flag_type_created" %]
    [% title = "Tworzenie nowej flagi" %]
      Flaga o typie <em>[% name FILTER html %]</em> została utworzona,
      <a href="editflagtypes.cgi">Powrót do panelu flag.</a>
    
  [% ELSIF message_tag == "flag_type_changes_saved" %]
    [% title = "Zmiana flagi" %]
    <p>
      Zmiany flagi typu <em>[% name FILTER html %]</em> 
      zostały zapisane.
      <a href="editflagtypes.cgi">Powrót do panelu flag.</a>
    </p>
    
  [% ELSIF message_tag == "flag_type_deleted" %]
    [% title = "Usunięto typ flag" %]
    <p>
      Flaga typu <em>[% name FILTER html %]</em> została usunięta.
      <a href="editflagtypes.cgi">Powrót do panelu flag.</a>
    </p>
    
  [% ELSIF message_tag == "flag_type_deactivated" %]
    [% title = "Deaktywacja flagi" %]
    <p>
      Flaga typu <em>[% flag_type.name FILTER html %]</em> 
      została zdeaktywowana.
      <a href="editflagtypes.cgi">Powrót do panelu flag.</a>
    </p>
    
  [% ELSIF message_tag == "install_admin_get_email" %]
    Proszę podać adres e-mail administratora:

  [% ELSIF message_tag == "install_admin_get_name" %]
    Proszę podać imię i nazwisko administratora:

  [% ELSIF message_tag == "install_admin_get_password" %]
    Proszę podać hasło dla konta administratora:

  [% ELSIF message_tag == "install_admin_get_password2" %]
    Proszę podać ponownie hasło administratora:

  [% ELSIF message_tag == "install_admin_created" %]
    Użytkownik [% user.login FILTER html %] jest teraz administratorem.

  [% ELSIF message_tag == "install_admin_setup" %]
    Prawdopodonie nie ma konta administratora.
	Może to być pierwsze uruchomienie [% terms.Bugzilli %] lub
    uprawnienia administratora zostały przypadkowo usunięte.

  [% ELSIF message_tag == "install_column_add" %]
    Dodawanie nowej kolumny '[% column FILTER html %]' do tabeli '[% table FILTER html %]'...

  [% ELSIF message_tag == "install_column_drop" %]
    Usuwanie kolumny '[% column FILTER html %]' z tabeli '[% table FILTER html %]'...

  [% ELSIF message_tag == "install_column_rename" %]
    Zmiana nazwy kolumny '[% old FILTER html %]' na '[% new FILTER html %]'...

  [% ELSIF message_tag == "install_default_classification" %]
    Tworzenie domyślnej klasyfikacji '[% name FILTER html %]'...

  [% ELSIF message_tag == "install_default_product" %]
    Tworzenie przykładowego produktu '[% name FILTER html %]'...

  [% ELSIF message_tag == "install_file_perms_fix" %]
    Ustawianie uprawnień plików...

  [% ELSIF message_tag == "install_group_create" %]
    Tworzenie grupy [% name FILTER html %]...

  [% ELSIF message_tag == "install_setting_new" %]
    Dodawanie ustawienia użytkownika '[% name FILTER html %]'

  [% ELSIF message_tag == "install_table_drop" %]
    Usuwanie tabeli '[% name FILTER html %]'...

  [% ELSIF message_tag == "install_table_rename" %]
    Zmiana nazwy tabeli '[% old FILTER html %]' na '[% new FILTER html %]'...

  [% ELSIF message_tag == "install_urlbase_default" %]
    Teraz, po instalacji [% terms.Bugzilli %], należy otworzyć stronę
    'Parametry' (odnośnik znajduje się w stopce konta Administratora),
	aby dokonać dalszych ustawień systemu. Włącznie z opcją 'urlbase',
	która określa poprawny adres URL.

  [% ELSIF message_tag == "install_webservergroup_empty" %]
    ****************************************************************************
    UWAGA! Nie podano wartości dla parametru "webservergroup" w pliku
    localconfig. Oznacza to, że pewne pliki i katalogi, które muszą być
	dostępne dla zapisu przez użytkownika i serwer www oraz inne pliki (w tym
	plik localconfig, który zawiera hasło bazy danych) muszą być dostępne do
	zapisu dla wszystkich. Oznacza to, że _ktokolwiek_ kto ma dostęp do
	tego komputera może dowolnie manipulować przy instalacji tej [%+ terms.Bugzilli %]
	i uruchomić dowolny kod Perl jako użytkownik serwera www.

    Naprawdę naprawdę należy zmienić tą opcję.
    ****************************************************************************

  [% ELSIF message_tag == "install_webservergroup_not_in" %]
    Uwaga: podano wartość parametru "webservergroup" w pliku 
    localconfig, lecz skrypt ten nie jest uruchomiony przez a) użytkownika [% constants.ROOT_USER FILTER html %]; 
    lub b) członka tej grupy. Może to spowodować problemy z uprawnieniami i zmniejszenie 
    poziomu bezpieczeństwa.  W przypadku problemów z pracą skryptów [% terms.Bugzilli %],
    należy zalogować się jako [% constants.ROOT_USER FILTER html %] i uruchomić ten skrypt ponownie, 
	zostać członkiem tej sgrupy lub usunąć parametr "webservergroup".

  [% ELSIF message_tag == "install_webservergroup_windows" %]
    Uwaga: ustawiono parametr webservergroup w [% constants.bz_locations.localconfig FILTER html %]
    Proszę zauważyć, że ustawienie to nie powoduje zwiększenia bezpieczeństwa w przypadku
	pracy systemu w środowisku Windows.
    Proszę sprawdzić uprawnienia do plików w katalogu [% terms.Bugzilli %] i usunąć niepotrzebne
	prawa zapisu.

  [% ELSIF message_tag == "product_invalid" %]
    [% title = "Opis komponentu $terms.Bugzilli" %]
    Produkt <em>[% product FILTER html %]</em> nie istnieje lub nie
    ma do niego dostępu. Poniższa lista zawiera wszystkie
    produkty dostępne dla bieżącego użytkownika.

  [% ELSIF message_tag == "remaining_time_zeroed" %]
    Wartość pola [% field_descs.remaining_time FILTER html %] została
    automatycznie zmieniona na zero, w związku z oznaczeniem [% terms.bledu %]
    na RESOLVED lub CLOSED.

  [% ELSIF message_tag == "sudo_started" %]
    [% title = "Rozpoczęto sesję sudo" %]
      Rozpoczęto sesję sudo.  Przez następne 6 godzin lub do czasu zakończenia
      sesji wszystkie działania będą wykonywane na koncie użytkownika
      ([% target FILTER html %]).
  
  [% ELSIF message_tag == "sudo_ended" %]
    [% title = "Zakończono sesję sudo" %]
      Zakończono sesję sudo. Od tego czasu wszystkie akcje wykonywane są
	  na koncie własnym użytkownika.

  [% ELSIF message_tag == "series_created" %]
    [% title = "Tworzenie serii" %]
      Seria <em>[% series.category FILTER html %] /
      [%+ series.subcategory FILTER html %] / 
      [%+ series.name FILTER html %]</em>
      została utworzona. Uwaga, dane pozwalające utworzyć wykres, zostaną
      zebrane dopiero za [%+ series.frequency * 2 %] dni.
      <br><br>
      Powrót do poprzedniej strony lub 
      <a href="query.cgi?format=create-series">utwórz inną serię</a>.
    
  [% ELSIF message_tag == "shutdown" %]
    [% title = "Wyłączanie $terms.Bugzilli" %]
    [% Param("shutdownhtml") %]
    [% IF userid %]
      <p>Ze względów bezpieczeństwa, nastąpiło automatyczne wylogowanie.
      Ciasteczko przechowujące informacje pozwalające na automatyczne
      zalogowanie zostało usunięte.
    [% END %]

  [% ELSIF message_tag == "term" %]
    [% terms.$term FILTER html %]

  [% ELSIF message_tag == "user_match_failed" %]
    Podano nazwę użytkownika która nie pasuje do żadnego konta
    [% terms.Bugzilli %], więc pole [% match_field FILTER html %] zostało
    puste.

  [% ELSIF message_tag == "user_match_multiple" %]
    Podano nazwę użytkownika która pasuje do więcej niż jednego
    konta, więc pole [% match_field FILTER html %] pozostawiono
    puste.
    
  [% ELSE %]
    [%# Give sensible error if error functions are used incorrectly.
      #%]        
    Nieprawidłowe korzystanie z funkcji przekazywania wiadomości [% terms.Bugzilli %].
    Podano napis '[% message_tag %]'. Prawidłowy sposób użycia to stworzenie
    znacznika i zdefiniowanie go wewnątrz pliku messages.html.tmpl.<br>
    <br>
    Zwykłych użytkownikowników [% terms.Bugzilli %], prosimy o przesłanie
    tej wiadomości do [% Param('maintainer') %].
  [% END %]
[% END %]
