[%# 4.0.6PL@aviary.pl %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 Max Kanat-Alexander <mkanat@bugzilla.org>
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[%# This is a list of all the possible messages. Please keep them in
  # alphabetical order by message tag, and leave a blank line between messages.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS "global/field-descs.none.tmpl" %]

[% message_tag = message %]

[% message = BLOCK %]
  [% IF    message_tag == "account_created" %]
    Zostało utworzone konto użytkownika [% otheruser.login FILTER html %].
    [% IF groups.size %]
      Za pomocą poniższego formularza możesz zmienić ustawienia grup.
    [% END %]

  [% ELSIF message_tag == "account_creation_canceled" %]
    [% title = "Anulowano tworzenie konta użytkownika" %]
    Tworzenie konta użytkownika [% account FILTER html %] zostało
    anulowane.

  [% ELSIF message_tag == "account_updated" %]
    [% IF changed_fields.size
          + groups_added_to.size + groups_removed_from.size
          + groups_granted_rights_to_bless.size + groups_denied_rights_to_bless.size %]
      [% title = "Zaktualizowano konto $loginold" %]
      Poniższe zmiany zostały zatwierdzone dla konta użytkownika
      [%+ loginold FILTER html %]:
      <ul>
        [% FOREACH field = changed_fields %]
          <li>
            [% IF    field == 'login_name' %]
              Login został zmieniony na [% otheruser.login FILTER html %].
            [% ELSIF field == 'realname' %]
              Imię i nazwisko zostały zaktualizowane.
            [% ELSIF field == 'cryptpassword' %]
              Nowe hasło zostało ustanowione.
            [% ELSIF field == 'disabledtext' %]
              Wyjaśnienie powodu wyłączenia konta zostało zmodyfikowane.
            [% ELSIF field == 'disable_mail' %]
              [% IF otheruser.email_disabled %]
                Poczta [% terms.bledow %] została wyłączona.
              [% ELSE %]
                Poczta [% terms.bledow %] została włączona.
              [% END %]
            [% END %]
          </li>
        [% END %]
        [% IF groups_added_to.size %]
          <li>
            Konto zostało dodane do grup[% 'y' IF groups_added_to.size == 1 %]
            [%+ groups_added_to.join(', ') FILTER html %].
          </li>
        [% END %]
        [% IF groups_removed_from.size %]
          <li>
            Konto zostało usunięte z grup[% 'y' IF groups_removed_to.size == 1 %]
            [%+ groups_removed_from.join(', ') FILTER html %].
          </li>
        [% END %]
        [% IF groups_granted_rights_to_bless.size %]
          <li>
            Przyznano prawo do modyfikacji członkostwa grup[% 'y' IF groups_granted_rights_to_bless.size == 1 %]
            [%+ groups_granted_rights_to_bless.join(', ') FILTER html %].
          </li>
        [% END %]
        [% IF groups_denied_rights_to_bless.size %]
          <li>
            Odebrano prawo do modyfikacji członkostwa grup[% 'y' IF groups_granted_denied_to_bless.size == 1 %]
            [%+ groups_denied_rights_to_bless.join(', ') FILTER html %].
          </li>
        [% END %]
      </ul>
    [% ELSE %]
      [% title = "Nie dokonano żadnych zmian dla konta $otheruser.login" %]
      Nie dokonano żadnych zmian dla konta
      [%+ otheruser.login FILTER html %].
    [% END %]

  [% ELSIF message_tag == "account_deleted" %]
    [% title = "Konto $otheruser.login zostało usunięte" %]
    Konto [% otheruser.login FILTER html %] zostało usunięte.

  [% ELSIF message_tag == "account_disabled" %]
    Konto [% account FILTER html %] jest wyłączone.
    Nie można zmienić jego hasła.

  [% ELSIF message_tag == "attachment_creation_failed" %]
    [% terms.Blad %] został utworzony, lecz nie powiodło się utworzenie 
    załącznika.
    Proszę dodać załącznik poprzez odnośnik „Dodaj załącznik”
    znajdujący się poniżej.

  [% ELSIF message_tag == "bug_group_description" %]
    Dostęp do [% terms.bledow %] produktu [% product.name FILTER html %]

  [% ELSIF message_tag == "buglist_adding_field" %]
    [% title = "Dodawanie pola do strony wyszukiwania…" %]
    [% link  = "Proszę kliknąć tutaj, jeśli strona nie odświeża się automatycznie." %]

  [% ELSIF message_tag == "buglist_updated_named_query" %]
    [% title = "Zaktualizowano wyszukiwanie" %]
    Twoje wyszukiwanie o nazwie <code><a 
     href="buglist.cgi?cmdtype=runnamed&amp;namedcmd=[% queryname FILTER url_quote %]"
    >[% queryname FILTER html %]</a></code> zostało zaktualizowane.

  [% ELSIF message_tag == "buglist_new_default_query" %]
    Domyślne wyszukiwanie zostało zapisane. Można również dodać
    zakładkę do wyników dowolnego wyszukiwania.

  [% ELSIF message_tag == "buglist_new_named_query" %]
    [% title = "Utworzono wyszukiwanie" %]
    Masz nowe wyszukiwanie o nazwie <code><a
     href="buglist.cgi?cmdtype=runnamed&amp;namedcmd=[% queryname FILTER url_quote %]"
    >[% queryname FILTER html %]</a></code>.

  [% ELSIF message_tag == "buglist_query_gone" %]
    [% title = "Usuwanie wyszukiwania" %]
    [% link  = "Przywróć wyszukiwanie" %]
    Wyszukiwanie <code<b>[% namedcmd FILTER html %]</b></code> zostało usunięte.

  [% ELSIF message_tag == "buglist_sorted_by_relevance" %]
    [% terms.Bledy %] na tej liście są posortowane według trafności.
    Na początku listy znajdują się [% terms.bledy %] najbliższe parametrom wyszukiwania.


  [% ELSIF message_tag == "change_columns" %]
    [% title = "Zmiana kolumn" %]
    Trwa ponowne wykonanie wyszukiwania z nowymi kolumnami…
    Kliknij <a href="[% redirect_url FILTER html %]">tutaj</a>,
    jeśli strona nie odświeży się automatycznie.

  [% ELSIF message_tag == "classification_created" %]
    [% title = "Utworzono nową kategorię" %]
    Kategoria <em>[% classification.name FILTER html %]</em> została utworzona.

  [% ELSIF message_tag == "classification_deleted" %]
    [% title = "Usunięto kategorię" %]
    Kategoria <em>[% classification.name FILTER html %]</em> została usunięta.

  [% ELSIF message_tag == "classification_updated" %]
    [% title = "Zaktualizowano kategorię" %]
    [% IF changes.keys.size %]
      Zmiany w kategorii <em>[% classification.name FILTER html %]</em>
      zostały zapisane:
      <ul>
        [% IF changes.name.defined %]
          <li>Nazwa została zmieniona na <em>[% classification.name FILTER html %]</em></li>
        [% END %]
        [% IF changes.description.defined %]
          [% IF classification.description %]
            <li>Opis został zmieniony na <em>[% classification.description FILTER html %]</em></li>
          [% ELSE %]
            <li>Opis został usunięty</li>
          [% END %]
        [% END %]
        [% IF changes.sortkey.defined %]
          <li>Klucz sortowania został zmieniony na <em>[% classification.sortkey FILTER html %]</em></li>
        [% END %]
        [% Hook.process('classification_updated_fields') %]
      </ul>
    [% ELSE %]
      Nie dokonano żadnych zmian w <em>[% classification.name FILTER html %]</em>.
    [% END %]

  [% ELSIF message_tag == "component_created" %]
    [% title = "Utworzono komponent" %]
    Komponent <em>[% comp.name FILTER html %]</em> został utworzony.

  [% ELSIF message_tag == "component_deleted" %]
    [% title = "Usunięto komponent" %]
    Komponent <em>[% comp.name FILTER html %]</em> został usunięty.
    [% IF comp.bug_count %]
      Wszystkie [% terms.bledy %] znajdujące się w tym komponencie i wszystkie odniesienia
      do niego zostały także usunięte.
    [% END %]

  [% ELSIF message_tag == "component_updated" %]
    [% title = "Zaktualizowano komponent" %]
    [% IF changes.keys.size %]
      Zmiany w komponencie <em>[% comp.name FILTER html %]</em> zostały zapisane:
      <ul>
      [% IF changes.name.defined %]
        <li>Nazwa została zmieniona na „[% comp.name FILTER html %]”</li>
      [% END %]
      [% IF changes.description.defined %]
        <li>Opis został zmieniony na „[% comp.description FILTER html_light %]”</li>
      [% END %]
      [% IF changes.initialowner.defined %]
        <li>Domyślna osoba odpowiedzialna została zmieniona na „[% comp.default_assignee.login FILTER html %]”</li>
      [% END %]
      [% IF changes.initialqacontact.defined %]
        [% IF comp.default_qa_contact.id %]
          <li>Domyślny specjalista QA został zmieniony na „[% comp.default_qa_contact.login FILTER html %]”</li>
        [% ELSE %]
          <li>Domyślny specjalista QA został usunięty</li>
        [% END %]
      [% END %]
      [% IF changes.cc_list.defined %]
        [% IF comp.initial_cc.size %]
          [% cc_list = [] %]
          [% FOREACH cc_user = comp.initial_cc %]
            [% cc_list.push(cc_user.login) %]
          [% END %]
          <li>Domyślna lista obserwatorów została zaktualizowana o [% cc_list.join(", ") FILTER html %]</li>
        [% ELSE %]
          <li>Domyślna lista obserwatorów została usunięta</li>
        [% END %]
      [% END %]
      [% Hook.process('component_updated_fields') %]
      </ul>
    [% ELSE %]
      Nie dokonano zmian w komponencie <em>[% comp.name FILTER html %]</em>.
    [% END %]

  [% ELSIF message_tag == "custom_field_created" %]
    [% title = "Utworzono pole dodatkowe" %]
    Nowe pole dodatkowe „[% field.name FILTER html %]” zostało
    utworzone.

  [% ELSIF message_tag == "custom_field_deleted" %]
    [% title = "Usunięto pole dodatkowe" %]
    Pole dodatkowe „[% field.name FILTER html %]” zostało
    usunięte.

  [% ELSIF message_tag == "custom_field_updated" %]
    [% title = "Zaktualizowano pole dodatkowe" %]
    Właściwości pola „[% field.name FILTER html %]” zostały
    zaktualizowane.

  [% ELSIF message_tag == "default_settings_updated" %]
    [% IF changes_saved %]
      Zmiany w ustawieniach domyślnych zostały zapisane.
    [% ELSE %]
      Nie dokonano żadnych zmian.
    [% END %]

  [% ELSIF message_tag == "emailold_change_canceled" %]
    [% title = "Anulowanie prośby o zmianę adresu e-mail" %]
    Prośba o zmianę adresu e-mail konta na adres
    [%+ new_email FILTER html %] została anulowana.

  [% ELSIF message_tag == "email_change_canceled" %]
    [% title = "Anulowanie prośby o zmianę adresu e-mail" %]
    Prośba o zmianę adresu e-mail konta z
    [%+ old_email FILTER html %] na
    [%+ new_email FILTER html %] została anulowana.

  [% ELSIF message_tag == "email_change_canceled_reinstated" %]
    [% title = "Anulowanie prośby o zmianę adresu e-mail" %]
    Prośba o zmianę adresu e-mail konta
    [%+ old_email FILTER html %] na adres
    [%+ new_email FILTER html %] została anulowana.
    Zostały przywrócone poprzednie ustawienia.

  [% ELSIF message_tag == "extension_created" %]
    Rozszerzenie o nazwie [% name FILTER html %] zostało utworzone
    w [% path FILTER html %]. Sprawdź, czy w kodzie zostały zmienione 
    „TWOJA NAZWA” i „TWÓJ ADRES E-MAIL” na twoją nazwę i adres e-mail.

  [% ELSIF message_tag == "field_value_created" %]
    [% title = "Utworzono nową wartość pola" %]
    Wartość <em>[% value.name FILTER html %]</em> została dodana jako
    prawidłowy wybór dla pola <em>[% field.description FILTER html %]</em>
    (<em>[% field.name FILTER html %]</em>).
    [% IF field.name == "bug_status" %]
      Przejdź na <a href="editworkflow.cgi">stronę zmian statusów [% terms.bledow %]</a>,
      by dodać nowy status [% terms.bledu %].
    [% END %]

  [% ELSIF message_tag == "field_value_deleted" %]
    [% title = "Usunięto wartość pola" %]
    Wartość <em>[% value.name FILTER html %]</em> pola
    <em>[% field.description FILTER html %]</em>
    (<em>[% field.name FILTER html %]</em>) została usunięta.

  [% ELSIF message_tag == "field_value_updated" %]
    [% title = "Zaktualizowano wartość pola" %]
    [% IF changes.keys.size %]
      Wartość <em>[% value_old FILTER html %]</em> pola
      <em>[% field.description FILTER html %]</em>
      (<em>[% field.name FILTER html %]</em>) została zmieniona:
      <ul>
        [% IF changes.value %]
          <li>Wartość pola zmieniono na
            <em>[% changes.value.1 FILTER html %]</em>.
            [% IF value.is_default %]
              (Informacja: Wartość ta jest wartością domyślną dla tego pola. Wszystkie
              odniesienia do domyślnej wartości będą teraz wskazywały na tę nową wartość.)
            [% END %]
          </li>
        [% END %]
        [% IF changes.sortkey %]
          <li>Klucz sortowania został zmieniony na 
            <em>[% changes.sortkey.1 FILTER html %]</em>.</li>
        [% END %]
        [% IF changes.visibility_value_id %]
          [% IF value.visibility_value.defined %]
            <li>Będzie wyświetlane tylko, gdy
              [%+ value.field.value_field.description FILTER html %] jest ustawione na
              „[%+ value.visibility_value.name FILTER html %]”.</li>
          [% ELSE %]
            <li>Teraz jest wyświetlane zawsze bez względu na to, co jest ustawione w
              [%+ value.field.value_field.description FILTER html %].
            </li>
          [% END %]
        [% END %]
      </ul>
    [% ELSE %]
      Wartość pola <em>[% value_old FILTER html %]</em> nie została zmieniona.
    [% END %]

  [% ELSIF message_tag == "flag_cleared" %]
    Niektóre flagi nie mają zastosowania w nowym produkcie/komponencie
    i zostały usunięte.

  [% ELSIF message_tag == "flag_creation_failed" %]
    [% title = "Błąd tworzenia flagi" %]
    Napotkano błąd podczas weryfikacji flag:
    [%+ flag_creation_error FILTER none %]

  [% ELSIF message_tag == "get_field_desc" %]
    [% field_descs.$field_name FILTER html %]

  [% ELSIF message_tag == "get_resolution" %]
    [% display_value("resolution", resolution) FILTER html %]

  [% ELSIF message_tag == "get_status" %]
    [% display_value("bug_status", status) FILTER html %]

  [% ELSIF message_tag == "group_created" %]
    [% title = "Utworzono nową grupę" %]
    Została utworzona grupa <em>[% group.name FILTER html %]</em>.

  [% ELSIF message_tag == "group_deleted" %]
    [% title = "Usunięto grupę" %]
    Grupa <em>[% name FILTER html %]</em> została usunięta.

  [% ELSIF message_tag == "group_membership_removed" %]
    [% title = "Usunięto członkostwo w grupie" %]
    [% IF users.size %]
      Usunięto bezpośrednie członkostwo w grupie <em>[% group FILTER html %]</em>
      [% IF regexp %] użytkownikom pasującym do wyrażenia regularnego „[% regexp FILTER html %]”[% END %]:
      [% FOREACH user = users %]
        [%+ user.login FILTER html %]
      [% END %]
    [% ELSE %]
      Nie ma użytkowników, których dotyczyłoby to działanie.
    [% END %]

  [% ELSIF message_tag == "group_updated" %]
    [% IF changes.keys.size %]
      W grupie „[% group.name FILTER html %]” dokonano następujących
      zmian:
      <ul>
      [% FOREACH field = changes.keys.sort %]
        [% SWITCH field %]
          [% CASE 'name' %]
            <li>Zmieniono nazwę na „[% changes.name.1 FILTER html %]”.</li>
          [% CASE 'description' %]
            <li>Zmieniono opis.</li>
          [% CASE 'userregexp' %]
            <li>Zmieniono wyrażenie regularne.</li>
          [% CASE 'isactive' %]
            [% IF changes.isactive.1 %]
              <li>Grupa będzie teraz używana do zgłaszania [% terms.bledow %].</li>
            [% ELSE %]
              <li>Grupa nie będzie już używana do zgłaszania [% terms.bledow %].</li>
            [% END %]
          [% CASE 'icon_url' %]
            <li>Zaktualizowano adres URL ikony grupy.</li>
          [% CASE 'members_add' %]
            <li>Następujące grupy są teraz członkami tej grupy:
              [%+ changes.members_add.join(', ') FILTER html %]</li>
          [% CASE 'members_remove' %]
            <li>Następujące grupy nie są już członkami tej grupy:
              [%+ changes.members_remove.join(', ') FILTER html %]</li>
          [% CASE 'member_of_add' %]
            <li>Ta grupa jest teraz członkiem następujących grup:
              [%+ changes.member_of_add.join(', ') FILTER html %]</li>
          [% CASE 'member_of_remove' %]
            <li>Ta grupa nie jest już członkiem następujących grup:
              [%+ changes.member_of_remove.join(', ') FILTER html %]</li>
          [% CASE 'bless_from_add' %]
            <li>Członkowie następujących grup mogą teraz dodawać członków do tej grupy:
              [%+ changes.bless_from_add.join(', ') FILTER html %]</li>
          [% CASE 'bless_from_remove' %]
            <li>Członkowie następujących grup nie mogą już dodawać członków do tej grupy:
              [%+ changes.bless_from_remove.join(', ') FILTER html %]</li>
          [% CASE 'bless_to_add' %]
            <li>Członkowie tej grupy mogą teraz dodawać członków do następujących grup:
              [%+ changes.bless_to_add.join(', ') FILTER html %]</li>
          [% CASE 'bless_to_remove' %]
            <li>Członkowie tej grupy nie mogą już dodawać członków do następujących grup:
              [%+ changes.bless_to_remove.join(', ') FILTER html %]</li>
          [% CASE 'visible_from_add' %]
            <li>Członkowie następujących grup mogą teraz widzieć członków tej grupy:
              [%+ changes.visible_from_add.join(', ') FILTER html %]</li>
          [% CASE 'visible_from_remove' %]
            <li>Członkowie następujących grup nie mogą już widzieć członków tej grupy:
              [%+ changes.visible_from_remove.join(', ') FILTER html %]</li>
          [% CASE 'visible_to_me_add' %]
            <li>Członkowie tej grupy mogą teraz widzieć członków następujących grup:
              [%+ changes.visible_to_me_add.join(', ') FILTER html %]</li>
          [% CASE 'visible_to_me_remove' %]
            <li>Członkowie tej grupy nie mogą już widzieć członków następujących grup:
              [%+ changes.visible_to_me_remove.join(', ') FILTER html %]</li>
        [% END %]
      [% END %]
      </ul>
    [% ELSE %]
      Nie było nic do aktualizacji, nie dokonano żadnych zmian w grupie „[% group.name FILTER html %]”.
    [% END %]

  [% ELSIF message_tag == "invalid_column_name" %]
    Określony przez użytkownika porządek sortowania zawiera jedną lub więcej
    nieprawidłowych nazw kolumn: <em>[% invalid_fragments.join(', ') FILTER html %]</em>.
    Zostały usunięte z listy.

  [% ELSIF message_tag == "job_queue_depth" %]
    [% count FILTER html %] zadań w kolejce.

  [% ELSIF message_tag == "keyword_created" %]
    [% title = "Utworzono nowe słowo kluczowe" %]
    Zostało utworzone słowo kluczowe <em>[% name FILTER html %]</em>.

  [% ELSIF message_tag == "keyword_deleted" %]
    [% title = "Usunięto słowo kluczowe" %]
    Słowo kluczowe <em>[% keyword.name FILTER html %]</em> zostało usunięte.

  [% ELSIF message_tag == "keyword_updated" %]
    [% title = "Zaktualizowano słowo kluczowe" %]
    [% IF changes.keys.size %]
      Zmiany słowa kluczowego <em>[% keyword.name FILTER html %]</em>
      zostały zapisane:
      <ul>
        [% IF changes.name.defined %]
          <li>Zmieniono nazwę słowa kluczowego na <em>[% keyword.name FILTER html %]</em>.</li>
         
        [% END %]
        [% IF changes.description.defined %]
          <li>Zmieniono opis na <em>[% keyword.description FILTER html %]</em></li>
        [% END %]
      </ul>
    [% ELSE %]
      Nie dokonano żadnych zmian.
    [% END %]

  [% ELSIF message_tag == "logged_out" %]
    [% title = "Wylogowano" %]
    [% url = "index.cgi?GoAheadAndLogIn=1" %]
    [% link = "Zaloguj ponownie" %]
    <b>Brak danych o twoim loginie</b>.
    Ciasteczko, w którym były przechowywane informacje o danych logowania, zostało usunięte.
    Przy następnej próbie logowania trzeba będzie podać wymagane informacje.

  [% ELSIF message_tag == "login_changed" %]
    [% title = "Zmieniono identyfikator logowania w $terms.Bugzilli" %]
    Nazwa użytkownika w [% terms.Bugzilli %] została zmieniona.

  [% ELSIF message_tag == "migrate_component_created" %]
    Utworzono komponent: [% comp.name FILTER html %]
    (w [% product.name FILTER html %])

  [% ELSIF message_tag == "migrate_creating_bugs" %]
    Tworzenie [% terms.bledow %]…

  [% ELSIF message_tag == "migrate_field_created" %]
    Nowe pole dodatkowe: [% field.description FILTER html %]
    ([% field.name FILTER html %])

  [% ELSIF message_tag == "migrate_product_created" %]
    Utworzono produkt: [% created.name FILTER html %]

  [% ELSIF message_tag == "migrate_reading_bugs" %]
    Wczytywanie [% terms.bledow %]…

  [% ELSIF message_tag == "migrate_reading_products" %]
    Wczytywanie produktów…

  [% ELSIF message_tag == "migrate_reading_users" %]
    Wczytywanie użytkowników…

  [% ELSIF message_tag == "migrate_translating_bugs" %]
    Konwertowanie wartości [% terms.bledu %] na format właściwy
    dla [% terms.Bugzilli %]…

  [% ELSIF message_tag == "migrate_user_created" %]
    Utworzono użytkownika: [% created.email FILTER html %]
    [% IF password %] Hasło: [% password FILTER html %][% END %]

  [% ELSIF message_tag == "migrate_value_created" %]
    [% IF product.defined %]
      [% product.name FILTER html %]
    [% END %]
    [%+ field_descs.${field.name} FILTER html %] utworzono
    wartość: [% value FILTER html %]

  [% ELSIF message_tag == "milestone_created" %]
    [% title = "Utworzono wersję docelową" %]
    Wersja docelowa <em>[% milestone.name FILTER html %]</em> została utworzona.

  [% ELSIF message_tag == "milestone_deleted" %]
    [% title = "Usunięto wersję docelową" %]
    Wersja docelowa <em>[% milestone.name FILTER html %]</em> została usunięta.
    [% IF milestone.bug_count %]
      [%+ terms.Bledy %] przypisane do tej wersji docelowej zostały przypisane do
      domyślnej wersji docelowej <em>[% product.default_milestone FILTER html %]</em>.
    [% END %]

  [% ELSIF message_tag == "milestone_updated" %]
    [% title = "Zaktualizowano wersję docelową" %]
    [% IF changes.size %]
      Zmiany wersji docelowej <em>[% milestone.name FILTER html %]</em>
      zostały zapisane:
      <ul>
        [% IF changes.value.defined %]
          <li>Zmieniono nazwę wersji docelowej na <em>[% milestone.name FILTER html %]</em></li>
        [% END %]
        [% IF changes.sortkey.defined %]
          <li>Zmieniono klucz sortowania na <em>[% milestone.sortkey FILTER html %]</em>
        [% END %]
      </ul>
    [% ELSE %]
      Nie dokonano żadnych zmian w wersji docelowej <em>[% milestone.name FILTER html %]</em>.
    [% END %]

  [% ELSIF message_tag == "parameters_updated" %]
    [% title = "Zaktualizowano parametry" %]
    [% IF param_changed.size > 0 %]
      [% FOREACH param = param_changed %]
        Zmieniono <em>[% param FILTER html %]</em><br>
        [% IF param == 'utf8' && Param('utf8') %]
          <strong>Należy teraz ponownie uruchomić skrypt <kbd>checksetup.pl</kbd>.</strong><br>
        [% END %]
      [% END %]
    [% ELSE %]
      Nie dokonano żadnych zmian.
    [% END %]

    [% IF shutdown_is_active == 1 %]
      <hr>
      [% terms.Bugzilla %] została wyłączona. Aby ją włączyć ponownie, należy
      wyczyścić pole <em>shutdownhtml</em>.
    [% END%]

  [% ELSIF message_tag == "password_change_canceled" %]
    [% title = "Anulowanie prośby o zmianę hasła" %]
    Prośba o zmianę hasła została anulowana.

  [% ELSIF message_tag == "password_change_request" %]
    [% title = "Prośba o zmianę hasła" %]
    Token zmiany hasła został wysłany.
    Instrukcje zawarte w e-mailu pozwolą zmienić hasło.

  [% ELSIF message_tag == "password_changed" %]
    [% title = "Zmiana hasła" %]
    Twoje hasło zostało zmienione.

  [% ELSIF message_tag == "flag_type_created" %]
    [% title = BLOCK %]Flaga „[% name FILTER html %]” została utworzona[% END %]
    Flaga <em>[% name FILTER html %]</em> została utworzona.

  [% ELSIF message_tag == "flag_type_changes_saved" %]
    [% title = BLOCK %]Zmiana flagi „[% name FILTER html %]” została zapisana[% END %]
    Zmiany flagi <em>[% name FILTER html %]</em> 
    zostały zapisane.

  [% ELSIF message_tag == "flag_type_deleted" %]
    [% title = BLOCK %]Usunięto flagę „[% name FILTER html %]”[% END %]
    Flaga <em>[% name FILTER html %]</em> została usunięta.

  [% ELSIF message_tag == "flag_type_deactivated" %]
    [% title = BLOCK %]Flaga „[% flag_type.name FILTER html %]” została dezaktywowana[% END %]
    Flaga <em>[% flag_type.name FILTER html %]</em> została dezaktywowana.

  [% ELSIF message_tag == "install_admin_get_email" %]
    Wprowadz adres e-mail administratora:

  [% ELSIF message_tag == "install_admin_get_name" %]
    Wprowadz imie i nazwisko administratora:

  [% ELSIF message_tag == "install_admin_get_password" %]
    Wprowadz haslo konta administratora:

  [% ELSIF message_tag == "install_admin_created" %]
    Uzytkownik [% user.login FILTER html %] jest teraz administratorem.

  [% ELSIF message_tag == "install_admin_setup" %]
    Prawdopodobnie nie ma jeszcze konta administratora.
    Moze to byc pierwsze uruchomienie [% terms.Bugzilli %] lub
    uprawnienia administratora zostaly przypadkowo usuniete.

  [% ELSIF message_tag == "install_column_add" %]
    Dodawanie nowej kolumny „[% column FILTER html %]” do tabeli „[% table FILTER html %]”…

  [% ELSIF message_tag == "install_column_drop" %]
    Usuwanie kolumny „[% column FILTER html %]” z tabeli „[% table FILTER html %]”…

  [% ELSIF message_tag == "install_column_rename" %]
    Zmiana nazwy kolumny „[% old FILTER html %]” na „[% new FILTER html %]”…

  [% ELSIF message_tag == "install_confirm_password" %]
    Podaj ponownie haslo:

  [% ELSIF message_tag == "install_default_classification" %]
    Tworzenie domyslnej kategorii „[% name FILTER html %]”…

  [% ELSIF message_tag == "install_default_product" %]
    Tworzenie przykladowego produktu „[% name FILTER html %]”…

  [% ELSIF message_tag == "install_file_perms_fix" %]
    Okreslanie uprawnien plikow…

  [% ELSIF message_tag == "install_fk_add" %]
    Dodawanie obcego klucza: [% table FILTER html %].[% column FILTER html %] -&gt; [% fk.TABLE FILTER html %].[% fk.COLUMN FILTER html %]…

  [% ELSIF message_tag == "install_fk_drop" %]
    Usuwanie obcego klucza: [% table FILTER html %].[% column FILTER html %] -&gt; [% fk.TABLE FILTER html %].[% fk.COLUMN FILTER html %]…

  [% ELSIF message_tag == "install_fk_invalid" %]
    Blad: Nieprawidlowe wartosci dla kolumn tabeli [% column FILTER html %] w [% table FILTER html %].
    (Te wartosci nie istnieja w tabeli [% foreign_table FILTER html %] w kolumnie
    [%+ foreign_column FILTER html %].)

    Przed kontynuacja wykonywania skryptu checksetup, nalezy te wartosci naprawic,
    usuwajac te wiersze z bazy danych lub zmieniajac wartosci
    kolumny [% column FILTER html %] w [% table FILTER html %] na prawidlowe wartosci w [% foreign_table FILTER html %].[% foreign_column FILTER html %].

    Nieprawidlowe wartosci z kolumny [% table FILTER html %].[% column FILTER html %] to:
    [%+ values.join(', ') FILTER html %]

  [% ELSIF message_tag == "install_fk_invalid_fixed" %]
    Ostrzezenie: Nieprawidlowe wartosci w [% table FILTER html %].[% column FILTER html %],
    ktore moga zostac [% IF action == 'delete' %]usuniete[% ELSE %]ustawione jako NULL[% END %]:
    [%+ values.join(', ') FILTER html %]

  [% ELSIF message_tag == "install_group_create" %]
    Tworzenie grupy [% name FILTER html %]…

  [% ELSIF message_tag == "install_setting_new" %]
    Dodawanie nowego ustawienia uzytkownika o nazwie „[% name FILTER html %]”

  [% ELSIF message_tag == "install_table_drop" %]
    Usuwanie tabeli „[% name FILTER html %]”…

  [% ELSIF message_tag == "install_table_rename" %]
    Zmiana nazwy tabeli „[% old FILTER html %]” na „[% new FILTER html %]”…

  [% ELSIF message_tag == "install_urlbase_default" %]
    Teraz po instalacji [% terms.Bugzilli %], nalezy przejsc na strone
    "Parametry" (odnosnik znajduje sie w stopce konta administratora),
    by sprawdzic, czy ustawienia sa zgodne z zalozeniami, wlacznie ze
    sprawdzeniem poprawnosci adresu bazowego.

  [% ELSIF message_tag == "install_reset_password" %]
    Wprowadz nowe haslo dla [% user.login FILTER html %]:

  [% ELSIF message_tag == "install_reset_password_done" %]
    Nowe haslo zostalo ustanowione.

  [% ELSIF message_tag == "install_webservergroup_empty" %]
    ****************************************************************************
    UWAGA! Nie podano wartosci dla parametru "webservergroup" w pliku
    localconfig. Oznacza to, ze pewne pliki i katalogi, ktore musza byc
    dostepne dla zapisu przez uzytkownika i serwer www oraz inne pliki (w tym
    plik localconfig, ktory zawiera haslo bazy danych), musza byc dostepne do
    zapisu dla wszystkich. Oznacza to, ze _ktokolwiek_, kto ma dostep do
    tego komputera, moze dowolnie manipulowac przy tej instalacji [%+ terms.Bugzilli %]
    i uruchomic dowolny kod Perl jako uzytkownik serwera www.

    Naprawde nalezy zmienic te opcje.
    ****************************************************************************

  [% ELSIF message_tag == "install_webservergroup_not_in" %]
    Uwaga: Podano wartosc parametru "webservergroup" w pliku 
    localconfig, lecz skrypt ten nie jest uruchomiony przez a) uzytkownika [% constants.ROOT_USER FILTER html %]; 
    lub b) czlonka tej grupy. Moze to spowodowac problemy z uprawnieniami i zmniejszenie 
    poziomu bezpieczenstwa. W przypadku problemow z praca skryptow [% terms.Bugzilli %]
    nalezy zalogowac sie jako [% constants.ROOT_USER FILTER html %] i uruchomic ten skrypt ponownie, 
    zostac czlonkiem tej grupy lub usunac parametr "webservergroup".

  [% ELSIF message_tag == "install_webservergroup_windows" %]
    Uwaga: Ustawiono parametr webservergroup w [% constants.bz_locations.localconfig FILTER html %]
    Prosze zauwazyc, ze ustawienie to nie powoduje zwiekszenia bezpieczenstwa w przypadku
    pracy systemu w srodowisku Windows.
    Sprawdz uprawnienia do plikow w katalogu [% terms.Bugzilli %] i usun niepotrzebne
    prawa zapisu.

  [% ELSIF message_tag == "install_workflow_init" %]
    Tworzenie domyslnych zmian statusow…

  [% ELSIF message_tag == "product_created" %]
    [% title = "Utworzono produkt" %]
    Produkt <em>[% product.name FILTER html %]</em> został utworzony. Należy
    <a href="editcomponents.cgi?action=add&product=[% product.name FILTER url_quote %]">
    dodać co najmniej jeden komponent</a>, zanim ktokolwiek będzie mógł zgłaszać [% terms.bledy %] w tym produkcie.

  [% ELSIF message_tag == "product_deleted" %]
    [% title = "Usunięto produkt" %]
    Produkt <em>[% product.name FILTER html %]</em> i wszystkie jego wersje,
    komponenty, wersje docelowe i relacje grupa/produkt zostały usunięte.
    [% IF product.bug_count %]
      Wszystkie [% terms.bledy %] znajdujące się w tym produkcie i wszystkie odniesienia
      do niego zostały także usunięte.
    [% END %]

  [% ELSIF message_tag == "product_invalid" %]
    [% title = "Opis komponentu" %]
    Produkt <em>[% product FILTER html %]</em> nie istnieje lub nie
    ma do niego dostępu. Poniższa lista zawiera wszystkie
    dostępne do wyboru produkty.

  [% ELSIF message_tag == "remaining_time_zeroed" %]
    W związku z zamknięciem [% terms.bledu %] lub przeniesieniem z jednego statusu zamknięcia 
    do drugiego ([% display_value("bug_status", "RESOLVED") FILTER html %] <-> [% display_value("bug_status", "CLOSED") FILTER html %]), wartość pola [% field_descs.remaining_time FILTER html %]
    została automatycznie zmieniona na zero.

  [% ELSIF message_tag == "sanitycheck" %]
    [%# We use this way to call sanitycheck-specific messages so that
      # we can still use get_text(). %]
    [% PROCESS "admin/sanitycheck/messages.html.tmpl" %]

  [% ELSIF message_tag == "series_all_open" %]
    Wszystkie otwarte

  [% ELSIF message_tag == "series_all_closed" %]
    Wszystkie zamknięte

  [% ELSIF message_tag == "series_subcategory" %]
    -Wszystkie-

  [% ELSIF message_tag == "sudo_started" %]
    [% title = "Rozpoczęto sesję sudo" %]
      Rozpoczęto sesję sudo. Przez następne 6 godzin lub do czasu zakończenia
      sesji wszystko, co zrobisz – robisz na konto użytkownika,
      którego tożsamość została przejęta ([% target FILTER html %]).
  
  [% ELSIF message_tag == "sudo_ended" %]
    [% title = "Zakończono sesję sudo" %]
      Zakończono sesję sudo. Od tego momentu wszystko, co robisz – robisz
      na własne konto.

  [% ELSIF message_tag == "series_created" %]
    [% title = "Tworzenie serii" %]
      Seria <em>[% series.category FILTER html %] /
      [%+ series.subcategory FILTER html %] / 
      [%+ series.name FILTER html %]</em>
      została utworzona. Uwaga: Na dane pozwalające utworzyć
      wykres trzeba będzie poczekać [%+ series.frequency * 2 %] dni.

  [% ELSIF message_tag == "series_deleted" %]
    [% title = "Usunięto serie" %]
    Serie <em>[% series.category FILTER html %] /
      [%+ series.subcategory FILTER html %] /
      [%+ series.name FILTER html %]</em>
      zostały usunięte.

  [% ELSIF message_tag == "shutdown" %]
    [% title = "Wyłączenie $terms.Bugzilli" %]
    [% Param("shutdownhtml") %]
    [% IF userid %]
      <p>Ze względów bezpieczeństwa nastąpiło automatyczne wylogowanie.
      Ciasteczko przechowujące informacje logowania zostało usunięte.
    [% END %]

  [% ELSIF message_tag == "term" %]
    [% terms.$term FILTER html %]

  [% ELSIF message_tag == "unexpected_flag_types" %]
    Niektórych flag nie można ustawić. Sprawdź swoje zmiany.

  [% ELSIF message_tag == "user_match_failed" %]
    Podano nazwę użytkownika, która nie pasuje do żadnego 
    użytkownika [% terms.Bugzilli %], więc pole
    [%+ match_field FILTER html %] pozostawiono puste.

  [% ELSIF message_tag == "user_match_multiple" %]
    Podano nazwę użytkownika, która pasuje do kilku użytkowników,
    więc pole [% match_field FILTER html %] pozostawiono
    puste.

  [% ELSIF message_tag == "version_created" %]
    [% title = "Utworzono wersję" %]
    Wersja <em>[% version.name FILTER html %]</em> produktu
    <em>[% product.name FILTER html %]</em> została utworzona.

  [% ELSIF message_tag == "version_deleted" %]
    [% title = "Usunięto wersję" %]
    Wersja <em>[% version.name FILTER html %]</em> produktu
    <em>[% product.name FILTER html %]</em> została usunięta.

  [% ELSIF message_tag == "version_updated" %]
    [% title = "Zaktualizowano wersję" %]
    [% IF changes.size %]
      [% IF changes.value.defined %]
    Zmieniono nazwę wersji na <em>[% version.name FILTER html %]</em>.
      [% END %]
    [% ELSE %]
      Nie dokonano zmian w wersji <em>[% version.name FILTER html %]</em>.
    [% END %]

  [% ELSIF message_tag == "whine_query_failed" %]
    Wyszukiwanie <code>[% query_name FILTER html %]</code> użytkownika [% author.login FILTER html %]
    zakończyło się błędem: [% reason FILTER html %]

  [% ELSIF message_tag == "workflow_updated" %]
    Wykaz zmian statusów został zaktualizowany.
  [% END %]
[% END %]

[% IF !message %]
  [% message = Hook.process('messages') %]
[% END %]

[%# Give sensible error if the message function is used incorrectly. #%]
[% IF !message %]
  [% message = BLOCK %]
    Nieprawidłowo korzystasz z funkcji przekazywania wiadomości. Został
    podany ciąg znaków „[% message_tag %]”. Prawidłowo należy podać
    go jako znacznik i zdefiniować wewnątrz pliku messages.html.tmpl.<br>
    <br>
    Jeśli jesteś zwykłym użytkownikiem [% terms.Bugzilli %] oglądającym tę wiadomość,
    zapisz tę stronę i wyślij do [% Param('maintainer') %].
  [% END %]
[% END %]
