[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #%]

[%# INTERFACE:
  # header_done: boolean. True if the header has already been printed.
  # error: string. The tag of the error, or the error message to be displayed
  # (deprecated). May contain HTML if it's an error message.
  #%]

[%# This is a list of all the possible user errors. Please keep them in
  # alphabetical order by error tag, and leave a blank line between errors.
  #
  # Note that you must explicitly filter every single template variable
  # in this file; if you do not wish to change it, use the "none" filter.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS "global/field-descs.none.tmpl" %]

[% DEFAULT title = "Błąd" %]

[% error_message = BLOCK %]
  [% IF    error == "account_creation_disabled" %]
    [% title = "Tworzenie kont wyłączone" %]
    Tworzenie kont zostało wyłączone lub ograniczone.
    <hr>
    Nowe konta może utworzyć tylko administrator.

  [% ELSIF error == "account_disabled" %]
    [% title = "Konto dezaktywowane" %]
    [% disabled_reason FILTER none %]
    <hr>
    Jeśli sądzisz że Twoje konto powinno zostać przywrócone,
    proszę wysłać wiadomość z wyjaśnieniami do [% Param("maintainer") %].

  [% ELSIF error == "account_exists" %]
    [% title = "Konto istnieje" %]
    Konto 
    [% IF email %]
      o identyfikatorze [% email FILTER html %].
    [% ELSE %]
      z tym identyfikatorem
    [% END %]
    już istnieje.

  [% ELSIF error == "account_inexistent" %]
    [% title = "Konto nie istnieje" %]
    Konto o tym identyfikatorze nie istnieje.

  [% ELSIF error == "alias_has_comma_or_space" %]
    [% title = "Nieprawidłowe znaki" %]
    Alias, który podałeś (<em>[% alias FILTER html %]</em>),
    zawiera przecinki lub spacje. Te dwa znaki są niedopuszczalne, ponieważ
    są one również separatorami elementów listy w których mogą wystąpić te nazwy.
    Proszę wybrać inną nazwę, bez przecinków i spacji.

  [% ELSIF error == "alias_in_use" %]
    [% title = "Alias jest już używany" %]
    [% bug_link FILTER none %] używa już nazwy
    <em>[% alias FILTER html %]</em> jako aliasu.  Proszę wybrać inną nazwę.

  [% ELSIF error == "alias_is_numeric" %]
    [% title = "Alias jest liczbą" %]
    Próbowałeś nadać alias <em>[% alias FILTER html %]</em> dla [% terms.bleu %],
    lecz alias nie może być złożony z samych cyfr. Proszę wybrać inny alias
    zawierający przynajmniej jedną literę.

  [% ELSIF error == "alias_too_long" %]
    [% title = "Alias zbyt długi" %]
    Alias [% terms.bledu %] może składać się z co najwyżej 20 znaków.
    Proszę wybrać krótszą nazwę.

  [% ELSIF error == "auth_cant_create_account" %]
    [% title = "Nie można utworzyć konta" %]
    Ta instalacja [% terms.Bugzilli %] korzysta z metod weryfikacji użytkownika,
    które nie pozwalają na tworzenie nowych kont. W celu utworzenia konta,
    proszę skontaktować się z administratorem .

  [% ELSIF error == "authorization_failure" %]
    [% title = "Nieudane uwierzytelnianie" %]
    Nie posiadasz uprawnień do [% action FILTER html %].

  [% ELSIF error == "attachment_access_denied" %]
    [% title = "Brak dostępu" %]
    Nie posiadasz uprawnień dostępu do tego załącznika.

  [% ELSIF error == "bug_access_denied" %]
    [% title = "Brak dostępu" %]
    Nie posiadasz uprawnień dostępu do [% terms.bledu %] #[% bug_id FILTER html %].

  [% ELSIF error == "bug_access_query" %]
    [% title = "Brak dostępu" %]
    Nie posiadasz uprawnień dostępu do [% terms.bledu %] #[% bug_id FILTER html %].
    Aby zobaczyć ten [% terms.blad %], musisz się
    <a href="show_bug.cgi?id=
                   [% bug_id FILTER url_quote %]&amp;GoAheadAndLogIn=1">zalogować</a>
    na konto z odpowiednimi uprawnieniami.

  [% ELSIF error == "buglist_parameters_required" %]
    [% title = "Wymagane parametry" %]
    Nie można wyszukiwać, lub zapamiętać wyszukiwania bez podanych kryteriów wyszukiwania.

  [% ELSIF error == "bugs_not_changed" %]
    [% title = BLOCK %][% terms.Blad %] nie zmieniony[% END %]
    Nic nie zostało zmienione w tym [% terms.bledzie %].

  [% ELSIF error == "chart_too_large" %]
    [% title = "Wykres zbyt duży" %]
    Wykres nie może być większy nie 2000 x 2000.

  [% ELSIF error == "comment_required" %]
    [% title = "Wymagany komentarz" %]
    Musisz podać <b>komentarz</b>.
    Proszę podać kilka słów wyjaśnienia tej zmiany.

  [% ELSIF error == "comment_too_long" %]
    [% title = "Zbyt długi komentarz" %]
    Komentarz może składać się z co najwyżej 65,535 znaków.

  [% ELSIF error == "dependency_loop_multi" %]
    [% title = "Pętla w zależnościach" %]
    Jeśli te zmiany ([% both FILTER none %]) zostaną zatwierdzone, ten 
    [% terms.blad %](y) wystąpi zarówno w części "zależy od" jak i "blokuje"
    drzewa zależności. 
    Spowoduje to powstanie pętli w zależnościach, których istnienie jest 
    niedozwolone.

  [% ELSIF error == "dependency_loop_single" %]
    [% title = "Pętla w zależnościach" %]
    Nie możesz uczynić [% terms.bledu %] blokującego samego siebie lub zależnego od siebie.

  [% ELSIF error == "description_required" %]
    [% title = "Wymagany opis" %]
    Musisz podać opis dla [% terms.bledu %].

  [% ELSIF error == "dupe_of_self_disallowed" %]
    [% title = BLOCK %]Nieprawidłowy numer [% terms.bledu %][% END %]
    Nie można oznaczyć [% terms.bledu %] jako duplikatu samego siebie.

  [% ELSIF error == "email_change_in_progress" %]
    [% title = "Zmiana adresu w toku" %]
    Zmiana adresu e-mail w toku; proszę sprawdzić swoją pocztę.

  [% ELSIF error == "email_confirmation_failed" %]
    [% title = "Nieudane potwierdzenie adresu e-mail" %]
    Nie udało się potwierdzić adresu e-mail.

  [% ELSIF error == "entry_access_denied" %]
    [% title = "Brak dostępu" %]
    Niestety nie posiadasz uprawnień dostępu do [% terms.bledu %]
    w produkcie [% product FILTER html %].

  [% ELSIF error == "file_not_specified" %]
    [% title = "Nie podano pliku" %]
    Nie podałeś pliku załącznika.

  [% ELSIF error == "file_too_large" %]
    [% title = "Plik jest zbyt duży" %]
    Plik załącznika ma [% filesize FILTER html %] kilobajtów (KB).
    Załączniki które nie są łatkami, nie mogą być większe niż [% Param('maxattachmentsize') %]
    KB.
    Jeśli twój załącznik jest obrazkiem, spróbuj zamienić go na format skompresowany,
    na przykład JPG lub PNG, lub umieścić go gdzieś w sieci i podać odnośnik do niego
    w polu URL [% terms.bledu %], lub w komentarzu do [% terms.bledu %].

  [% ELSIF error == "flag_requestee_unauthorized" %]
    [% title = "Prośba o ustawienie flagi do osoby bez uprawnień" %]
    Poprosiłeś [% requestee.identity FILTER html %]
    o ustawienie flagi <code>[% flag_type.name FILTER html %]</code> dla [% terms.bledu %] 
    #[% bug_id FILTER html -%]
    [% IF attach_id %], załącznika #[% attach_id FILTER html %][% END %], 
    lecz dostęp do tego [% terms.bledu %] został ograniczony wyłącznie do określonych grup.
    Osoba, którą poprosiłeś, nie należy do żadnej z tych grup.
    Proszę poprosić kogoś innego o ustawienie flagi, lub umożliwić
    dostęp do tego [% terms.bledu %] dla obserwatorów i dodać tą osobę do listy obserwatorów.

  [% ELSIF error == "flag_requestee_unauthorized_attachment" %]
    [% title = "Prośba o flagę do osoby bez praw dostępu" %]
    Poprosiłeś [% requestee.identity FILTER html %]
    o ustawienie flagi <code>[% flag_type.name FILTER html %]</code> dla [% terms.bledu %] 
    #[% bug_id FILTER html -%]
    załącznika #[% attach_id FILTER html %], lecz dostęp do tego załącznika, mają wyłącznie
    osoby, należące do grupy [% Param("insidergroup") FILTER html %]. Osoba którą poprosiłeś,
    nie należy do niej. Proszę poprosić kogoś innego o ustawienie flagi, lub poprosić administratora
    o dodanie tej osoby do grupy.

  [% ELSIF error == "flag_type_cc_list_invalid" %]
    [% title = "Nieprawidłowa lista obserwatorów flagi" %]
    Lista obserwatorów flagi "[% cc_list FILTER html %]" nie może być dłuższa niż 200 znaków.

  [% ELSIF error == "flag_type_description_invalid" %]
    [% title = "Nieprawidłowy opis flagi" %]
    Opis nie może zawierać więcej niż 32K znaków.

  [% ELSIF error == "flag_type_name_invalid" %]
    [% title = "Nieprawidłoawa nazwa flagi" %]
    Długość nazwy <em>[% name FILTER html %]</em> musi zawierać się pomiędzy
    1 a 50 znakami i nie może zawierać żadnej spacji lub przecinka

  [% ELSIF error == "format_not_found" %]
    [% title = "Nie znaleziono formatowania" %]
    Wybrany format <em>[% format FILTER html %]</em> nie został zdefiniowany dla
    zawartości o typie <em>[% ctype FILTER html %]</em>.
    
  [% ELSIF error == "flag_type_sortkey_invalid" %]
    [% title = "Nieprawidłowa waga sortowania flagi" %]
    Waga sortowanie musi być liczbą z przedziału 0-32767,
    nie może być równa <em>[% sortkey FILTER html %]</em>.
  
  [% ELSIF error == "illegal_at_least_x_votes" %]
    [% title = "Twoje zapytanie nie ma sensu" %]
    Pole <em>Co najmniej ___ głosów</em> musi być liczbą naturalną. 
    Podałeś nieprawidłową wartość <tt>[% value FILTER html %]</tt>.
    
  [% ELSIF error == "illegal_attachment_edit" %]
    [% title = "Brak dostępu" %]
    Nie masz uprawnień do edycji załącznika #[% attach_id FILTER html %].

  [% ELSIF error == "illegal_attachment_edit_bug" %]
    [% title = "Brak dostępu" %]
    Nie masz uprawnień do edycji załączników dla [% terms.bledu %] 
    #[%+ bug_id FILTER html %].
         
  [% ELSIF error == "illegal_attachment_is_patch" %]
    [% title = "Twoje zapytanie nie ma sensu" %]
    Jedynymi prawidłowymi wartościami dla pola <em>Załącznik jest łatką</em> jest 0 lub 1.
         
  [% ELSIF error == "illegal_change" %]
    [% title = "Brak dostępu" %]
    Próbowałeś zmienić pole
    <strong>[% field_descs.$field FILTER html %]</strong>
    z wartości <em>[% oldvalue FILTER html %]</em> na
    <em>[% newvalue FILTER html %]</em>, lecz wyłącznie
    właściciel [% terms.bledu %], zgłaszający [% terms.blad %], lub osoba
    o wystarczająco dużych uprawnieniach, może zmienić to pole.
  
  [% ELSIF error == "illegal_changed_in_last_x_days" %]
    [% title = "Twoje zapytanie nie ma sensu" %]
    Pole <em>Zmieniono w ciągu ___ dni</em> musi być liczbą naturalną. 
    Podałeś nieprawidłową wartość <tt>[% value FILTER html %]</tt>.
    
  [% ELSIF error == "illegal_date" %]
    [% title = "Nieprawidłowa data" %]
    '<tt>[% date FILTER html %]</tt>' nie jest poprawną datą.
    
  [% ELSIF error == "illegal_email_address" %]
    [% title = "Nieprawidłowy adres e-mail" %]
    Adres e-mail który podałeś(<b>[% addr FILTER html %]</b>),
    nie spełnia warunków poprawności adresu e-mail.
    [%+ Param('emailregexpdesc') %]
    Adres nie może również zawierać żadnego z tych znaków:
    <tt>\ ( ) &amp; &lt; &gt; , ; : &quot; [ ]</tt>, oraz spacji.
    
  [% ELSIF error == "illegal_frequency" %]
    [% title = "Zbyt często" %]
    Tylko administrator ma prawo utworzenia serii generowanej częściej
    niż co [% minimum FILTER html %] dni.

  [% #TODOpfx: Jak przetłumaczyć Group Control? Narazie może zostać w orginale; to błąd z /admin/ %]
 
  [% ELSIF error == "illegal_group_control_combination" %]
    [% title = "Your Group Control Combination Is Illegal" %]
    Your group control combination for group &quot;
    [% groupname FILTER html %]&quot; is illegal.

  [% ELSIF error == "illegal_is_obsolete" %]
    [% title = "Twoje zapytanie nie ma sensu" %]
    Jedynymi prawidłowymi wartościami dla pola <em>Załącznik jest przestarzały</em> jest 0 lub 1.

  [% ELSIF error == "illegal_query_name" %]
    [% title = "Nieprawidłowa nazwa zapytania" %]
    Nazwa zapytanie nie może zawierać żadnego z tych znaków: 
    &lt;, &gt;, &amp;.

  [% ELSIF error == "illegal_series_creation" %]
    Nie posiadasz uprawnień do tworzenia serii.
        
  [% ELSIF error == "illegal_series_edit" %]
    Nie posiadasz uprawnień do edycji serii. Czynność ta zarezerwowana jest dla twórcy serii
    lub administratora.
        
  [% ELSIF error == "insufficient_data" %]
    [% title = "Niewystarczające dane" %]
    Żadna z serii, które wybrałeś, nie ma wystarczającej liczby danych do utworzenia wykresu.
        
  [% ELSIF error == "insufficient_data_points" %]
    Nie ma jeszcze wystarczającej liczby danych do utworzenia wykresu.
        
  [% ELSIF error == "insufficient_privs_for_multi" %]
    [% title = "Brak dostępu" %]
    Nie masz uprawnień do jednoczesnej edycji wielu [% terms.bledow %].
    
  [% ELSIF error == "invalid_attach_id" %]
    [% title = "Nieprawidłowy identyfikator załącznika" %]
    Identyfikator załącznika [% attach_id FILTER html %] jest nieprawidłowy.

  [% ELSIF error == "invalid_bug_id_non_existent" %]
    [% title = BLOCK %]Nieprawidłowy identyfikator [% terms.bledu %][% END %]
    [% terms.Blad %] #[% bug_id FILTER html %] nie istnieje.
    
  [% ELSIF error == "invalid_bug_id_or_alias" %]
    [% title = BLOCK %]Nieprawidłowy identyfikator [% terms.bledu %][% END %]
    [% IF bug_id %]
      [% IF Param("usebugaliases") %]
      '[% bug_id FILTER html %]' nie jest prawidłowymy identyfikatorem [% terms.bledu %],
        ani aliasu.
      [% ELSE %]
      '[% bug_id FILTER html %]' nie jest prawidłowymy identyfikatorem [% terms.bledu %].
      [% END %].
    [% ELSE %]
      [% IF field %]
        Pole '[% field_descs.$field FILTER html %]' nie może być puste.
      [% END %]
      Musisz wpisać prawidłowy numer [% terms.bledu %]!
    [% END %]
    <noscript>
      Jeśli próbujesz używać szybkiego wyszukiwania, musisz mieć włączoną
      obsługę JavaScript w swojej przeglądarce.
    </noscript>

  [% ELSIF error == "invalid_changedsince" %]
    [% title = "Nieprawidłowa wartość dla 'Zmieniono w trakcie X dni'" %]
    Wartość pola 'Zmieniono w trakcie X dni' '[% changedsince FILTER html %]', musi być
    liczbą całkowitą >= 0.

  [% ELSIF error == "invalid_content_type" %]
    [% title = "Nieprawidłowa wartość typu pliku" %]
    Typ pliku <em>[% contenttype FILTER html %]</em> jest nieprawidłowy.
    Prawidłowe wartości mają postać <em>aaa/bbb</em>, gdzie <em>aaa</em>
    jest jednym z <em>application, audio, image, message, model, multipart,
    text,</em> lub <em>video</em>.
    
  [% ELSIF error == "invalid_context" %]
    [% title = "Nieprawidłowy kontekst" %]
    Kontekst [% context FILTER html %] jest nieprawidłowy (musi być liczbą, lub napisem
    "file" lub "patch").

  [% ELSIF error == "invalid_format" %]
    [% title = "Nieprawidłowy format" %]
    Format "[% format FILTER html %]" jest nieprawidłowy (musi być jednym z
    [% FOREACH my_format = formats %]
      "[% my_format FILTER html %]"
    [% END %]
    ).

  [% ELSIF error == "invalid_maxrow" %]
    [% title = "Nieprawidłowa wartość 'Maksymalna liczba wierszy'" %]
    Maksymalna liczba wierszów, '[% maxrows FILTER html %]', musi być liczbą
    całkowitą >= 0.

  [% ELSIF error == "invalid_product_name" %]
    [% title = "Nieprawidłowa nazwa produktu" %]
    Nazwa produktu '[% product FILTER html %]' jest nieprawidłowa, lub produkt o
    tej nazwie nie istnieje.
    
  [% ELSIF error == "invalid_username" %]
    [% title = "Nieprawidłowa nazwa użytkownika" %]
    Nazwa <tt>[% name FILTER html %]</tt> nie jest prawidłową nazwą użytkownika.  
    Wpisałeś nazwę z błędem, lub nie w [% terms.Bugzilli %] nie istniej konto tej osoby.

  [% ELSIF error == "invalid_username_or_password" %]
    [% title = "Nieprawidłowa nazwa użytkownika lub hasło" %]
    Nazwa użytkownika lub hasło, które podałeś, jest nieprawidłowe.

  [% ELSIF error == "keyword_access_denied" %]
    [% title = "Brak dostępu" %]
    Nie jesteś upoważniony do dodawania, modyfikacji lub usuwania słów kluczowych.
    Wyłącznie członkowie grupy 'editkeywords' posiadają takie uprawnienia.

  [% ELSIF error == "keyword_already_exists" %]
    [% title = "Słowo kluczowe już istnieje" %]
    Słowo kluczowe [% name FILTER html %] już istnieje.

  [% ELSIF error == "keyword_blank_description" %]
    [% title = "Puste pole opisu słowa kluczowego" %]
    Opis dla słowa kluczowego nie może być pusty.
     
  [% ELSIF error == "keyword_blank_name" %]
    [% title = "Pusta nazwa słowa kluczowego" %]
    Nazwa słowa kluczowego nie może być pusta.
     
  [% ELSIF error == "keyword_invalid_name" %]
    [% title = "Nieprawidłowa nazwa słowa kluczowego" %]
    Nazwa słowa kluczowego nie może zawierać przecinków i spacji.
     
  [% ELSIF error == "login_needed_for_password_change" %]
    [% title = "Wymagana nazwa konta" %]
    Aby zmienić hasło, musisz podać nazwę konta.

  [% ELSIF error == "milestone_required" %]
    [% title = "Wymagana docelowa wersja" %]
    Przypisując [% terms.blad %] #[%+ bug_id FILTER html %] dla siebie, musisz
    ustawić wersję docelową. Przypisanie błędu wymaga pewnego oszacowania czasu poprawienia 
    [% terms.bledu %].

  [% ELSIF error == "misarranged_dates" %]
    [% title = "Nieprawidłowe daty" %]
    Data początkowa ([% datefrom FILTER html %]) jest późniejsza
    niż data końcowa ([% dateto FILTER html %]).
    
  [% ELSIF error == "missing_attachment_description" %]
    [% title = "Brakujący opis załącznika" %]
    Musisz podać opis załącznika.
    
  [% ELSIF error == "missing_category" %]
    [% title = "Brakująca kategoria" %]
    Nie podałeś kategorii serii.
                
  [% ELSIF error == "missing_content_type" %]
    [% title = "Brakujące określenie typu zawartości" %]
     Poprosiłeś [% terms.Bugzille %] o automatyczne wykrycie typu zawartości załącznika,
     lecz Twoja przeglądarka nie wysłała typu zawartości podczas przysyłania pliku.
     Musisz podać typ zawartości ręcznie.
                
  [% ELSIF error == "missing_content_type_method" %]
    [% title = "Brak metody pozwalającej określić typ zawartości" %]
    Musisz wybrać metodę, która pozwoli określić typ zawartości załącznika.
    Możesz wybrać spośród <em>metody automatycznej</em>, <em>wyboru z listy</em>, lub
    <em>podać typ ręcznie</em>.
        
  [% ELSIF error == "missing_cookie" %]
    [% title = "Brakujące ciasteczko" %]
    Niestety nie można odczytać ciasteczka, w którym zapisano rezultaty
    ostatniego wyszukiwania. Będziesz zmuszony rozpocząć
    <a href="query.cgi">wyszukiwanie</a> od początku.
          
  [% ELSIF error == "missing_datasets" %]
    [% title = "Nie wybrano zbioru danych" %]
    Musisz wybrać jeden lub więcej zbiorów danych do narysowania wykresu.
    
  [% ELSIF error == "missing_email_type" %]
    [% title = "Twoje zapytanie nie ma sensu" %]
    Musisz podać jedno lub kilka pól w których należy wyszukać
    <tt>[% email FILTER html %]</tt>.
    
  [% ELSIF error == "missing_frequency" %]
    [% title = "Brakująca częstotliwość" %]
    Nie podałeś prawidłowej wartości dla częstotliwości tej serii.
                
  [% ELSIF error == "missing_name" %]
    [% title = "Brakująca nazwa" %]
    Nie podałeś nazwy dla tej serii.
                
  [% ELSIF error == "missing_query" %]
    [% title = "Brak zapytania" %]
    Zapytanie o nazwie <em>[% queryname FILTER html %]</em> nie istnieje.
        
  [% ELSIF error == "must_be_patch" %]
    [% title = "Załącznik musi być łatką" %]
    Załącznik #[% attach_id FILTER html %] musi być łatką.

  [% ELSIF error == "missing_subcategory" %]
    [% title = "Brakująca podkategoria" %]
    Nie podałeś podkategorii dla tej serii.
                
  [% ELSIF error == "need_component" %]
    [% title = "Wymagana nazwa komponentu" %]
    Musisz podać nazwę komponentu, aby możliwe było określenia właściciela tego 
    [% terms.bledu %].

  [% ELSIF error == "need_numeric_value" %]
    [% title = "Wymagana wartość numeryczna" %]
    Pole 'godzin' musi być wartością numeryczną.

  [% ELSIF error == "need_positive_number" %]
    [% title = "Wymagana dodatnia wartość numeryczna" %]
    Pole <em>[% field_descs.$field FILTER html %]</em> musi zawierać dodatnią
    wartość numeryczną.

  [% ELSIF error == "need_product" %]
    [% title = "Wymagana nazwa produktu" %]
    Musisz podać nazwę produktu, aby możliwe było określenia właściciela tego 
    [% terms.bledu %].

   [% ELSIF error == "need_quip" %]
    [% title = "Wymagana sentencja" %]
    Musisz podać sentencje w polu tekstowym.

  [% ELSIF error == "new_password_missing" %]
    [% title = "Brakujące nowe hasło" %]
    Musisz podać nowe hasło.

  [% ELSIF error == "no_axes_defined" %]
    [% title = "Niezdefiniowane osie" %]
    Nie zdefiniowałeś żadnych osi dla wykresu.

  [% ELSIF error == "no_bugs_chosen" %]
    [% title = BLOCK %]Nie wybrano żadnych [% terms.bledow %][% END %]
    Nie wybrałeś żadnych [% terms.bledow %] do modyfikacji.

  [% ELSIF error == "no_component_change_for_multiple_products" %]
    [% title = "Brak dostępu" %]
    Nie możesz zmienić komponentu dla listy [% terms.bledow %] zawierającej
    więcej niż jeden błąd.

  [% ELSIF error == "no_components" %]
    [% title = "Brak komponentu" %]
    Produkt, dla którego można zgłosić [% terms.blad %], musi zawierać
    co najmniej jeden komponent.
    [% IF UserInGroup("editcomponents") %]
      <a href="editcomponents.cgi?product=[% product FILTER url_quote %]">Utwórz nowy komponent</a>
      dla tego produktu.
    [% ELSE %]
       Proszę skontaktować się z [% Param("maintainer") %] i podać nazwę produktu, dla
       którego chcesz utworzyć nowy [% terms.blad %].
    [% END %]

  [% ELSIF error == "no_dupe_stats" %]
    [% title = "Nie można znaleźć statystyki duplikatów" %]
    Brak dzisiejszych ([% today FILTER html %]) 
    lub wczorajszych statystyk duplikatów.

  [% ELSIF error == "no_dupe_stats_error_today" %]
    [% title = "Błąd podczas odczytu pliku z dzisiejszymi duplikatami" %]
    Wystąpił błąd podczas odczytu pliku z dzisiejszymi duplikatami: [% error_msg FILTER html %].

  [% ELSIF error == "no_dupe_stats_error_whenever" %]
    [% title = "Błąd podczas odczytu pliku z poprzednimi duplikatami" %]
    Wystąpił błąd podczas odczytu pliku z duplikatami sprzed
    [% changedsince FILTER html %] dni ([% whenever FILTER html %]):
    [% error_msg FILTER html %].

  [% ELSIF error == "no_dupe_stats_error_yesterday" %]
    [% title = "Błąd podczas odczytu wczorajszego pliku z duplikatami" %]
    Nie ma pliku z dzisiejszymi statystykami duplikatów ([% today FILTER html %]), 
    a także wystąpił błąd podczas odczytu wczorajszego pliku z
    duplikatami: [% error_msg FILTER html %].

  [% ELSIF error == "no_html_in_quips" %]
    [% title = "HTML w sentencji" %]
    Ze względów bezpieczeństwa, używanie znaczników HTML wewnątrz sentencji zostało wyłączone.

  [% ELSIF error == "no_new_quips" %]
    [% title = "Nie można tworzyć nowych sentencji" %] 
    Ta instalacja nie pozwala na dodawanie nowych sentencji.

  [% ELSIF error == "no_page_specified" %]
    [% title = "Nie podano strony" %]
    Nie podałeś identyfikatora strony do wyświetlenia.

  [% ELSIF error == "no_products" %]
    [% title = "Brak produktu" %]
    Nie utworzono żadnego produktu, dla którego można utworzyć [% terms.blad %],
    lub nie masz uprawnień do dostępu do żadnego produktu.

  [% ELSIF error == "old_password_incorrect" %]
    [% title = "Niewłaściwe stare hasło" %]
    Nie podałeś prawidłowego starego hasła.

  [% ELSIF error == "old_password_required" %]
    [% title = "Wymagane podanie starego hasła" %]
    Aby zmienić adres e-mail, musisz podać stare hasło.

  [% ELSIF error == "passwords_dont_match" %]
    [% title = "Nieidentyczne hasła" %]
    Hasła które podałeś nie są identyczne.

  [% ELSIF error == "password_too_long" %]
    [% title = "Zbyt długie hasło" %]
    Hasło nie może być dłuższe niż 16 znaków.

  [% ELSIF error == "password_too_short" %]
    [% title = "Zbyt krótkie hasło" %]
    Hasło musi składać się z co najmniej trzech znaków.

  [% ELSIF error == "patch_too_large" %]
    [% title = "Zbyt duży plik" %]
    Plik który próbujesz przesłać ma rozmiar [% filesize FILTER html %] 
    kilobajtów (KB).
    Łatki nie mogą być większe niż [% Param('maxpatchsize') %] KB.
    Spróbuj podzielić łatkę na kilka części.

  [% ELSIF error == "product_edit_denied" %]
    [% title = "Brak dostępu do edycji produktu" %]
    Nie posiadasz uprawnień pozwalających na edycję [% terms.bledu %] dla produktu
    [% product FILTER html %].

  [% ELSIF error == "query_name_missing" %]
    [% title = "Nie podano nazwy zapytania" %]
    Musisz podać nazwę dla Twojego zapytania.

  [% ELSIF error == "quips_disabled" %]
    [% title = "Sentencje wyłączone" %] 
    Sentencje zostały wyłączone.

  [% ELSIF error == "quips_edit_denied" %]
    [% title = "Brak dostępu" %]
    Nie masz uprawnień do edycji sentencji.

  [% ELSIF error == "reassign_to_empty" %]
    [% title = "Nieprawidłowe przypisanie" %]
    Aby przepisać [% terms.blad %] musisz podać adres nowego właściciela.
    Jeśli pole "Przypisz [% terms.blad %] do" nie zostało wyczyszczone
    umyślnie, [% Param("browserbugmessage") %]    Nie możesz przepisać [% terms.bledu %] do nikogo.

  [% ELSIF error == "report_access_denied" %]
    [% title = "Brak dostępu" %]
    Nie masz uprawnień pozwalających na przeglądanie raportów dla tego produktu.

  [% ELSIF error == "require_component" %]
    [% title = "Wymagany komponent" %]
    Musisz wybrać komponent, dla którego chcesz zgłosić ten [% terms.blad %].
    W ostateczności spróbuj zgadnąć właściwy.

  [% ELSIF error == "require_new_password" %]
    [% title = "Wymagane nowe hasło" %]
    Nie możesz zmienić hasła, jeśli nie podasz nowego hasła.

  [% ELSIF error == "require_summary" %]
    [% title = "Potrzebne podsumowanie" %]
    Musisz podać podsumowanie dla tego [% terms.bledu %].

  [% ELSIF error == "resolving_remaining_time" %]
    [% title = "Nie można rozwiązać błędu dla którego pozostał czas pracy" %]
    Nie możesz rozwiązać [% terms.bledu %], dla którego pozostał czas pracy.
    Ustaw liczbę pozostałych godzin pracy na 0, aby rozwiązać ten [% terms.blad %].

  [% ELSIF error == "sanity_check_access_denied" %]
    [% title = "Brak dostępu" %]
    Nie masz uprawnień aby dokonać sprawdzenia poprawności systemu

  [% ELSIF error == "search_content_without_matches" %]
    [% title = "Nieprawidłowe zapytanie" %]
    Pole "zawartość" może być używane wyłącznie z zapytaniem "pasuje",
    a zapytanie "pasuje" tylko z polem "zawartość.

  [% ELSIF error == "series_already_exists" %]
    [% title = "Seria już istnieje" %]
      Seria o nazwie <em>[% series.category FILTER html %] /
      [%+ series.subcategory FILTER html %] / 
      [%+ series.name FILTER html %]</em>
      już istnieje.
    
  [% ELSIF error == "sidebar_supports_mozilla_only" %]
    Skrypt - sidebar.cgi obsługuje obecnie wyłącznie przeglądarki oparte na Mozilli.
    <a href="http://www.mozilla.org">Uaktualnij przeglądarkę</a>. :-)

  [% ELSIF error == "still_unresolved_bugs" %]
    [% IF dependency_count == 1 %]
      [% terms.Blad %] #<a href="show_bug.cgi?id=[% dependencies.0.bug_id FILTER none %]">[% dependencies.0.bu_id FILTER none %]</a>
      nadal ma [% dependencies.0.dependencies FILTER html %] 
      [% PROCESS ODMIEN c=dependencies.0.dependencies o1="nierozwiązaną zależność"
        o2="nierozwiązane zależności" o3="nierozwiązanych zależności" %].
      wyświetl
      <a href="showdependencytree.cgi?id=[% dependencies.0.bug_id FILTER none %]">drzewo zależności</a>.
    [% ELSE %]
      Jest [% dependency_count FILTER none %] otwartych [% terms.bledow %], które
      mają nie rozwiązane zależności.
      <br>
      [% FOREACH bug = dependencies %]
        [% terms.Blad %]# <a href="show_bug.cgi?id=[% bug.bug_id FILTER none %]">[% bug.bug_id FILTER none %]<        ma [% bug.dependencies FILTER html %] 
        [% PROCESS ODMIEN c=dependencies.0.dependencies o1="nierozwiązaną zależność"
             o2="nierozwiązane zależności" o3="nierozwiązanych zależności" %].
        (<a href="showdependencytree.cgi?id=[% bug.bug_id FILTER none %]">Drzewo zależności</a>)<br>
      [% END %]
    [% END %]

  [% ELSIF error == "too_many_votes_for_bug" %]
    [% title = "Nieprawidłowe głosowanie" %]
    Możesz oddać co najwyżej [% max FILTER html %] głosów na pojedynczy
    [%+ terms.blad %] dla produktu
    <tt>[% prod FILTER html %]</tt>, lecz Ty próbowałeś oddać
    [% votes FILTER html %] głosów.

  [% ELSIF error == "too_many_votes_for_product" %]
    [% title = "Nieprawidłowe głosowanie" %]
    Próbowałeś oddać [% votes FILTER html %] głosów. Dopuszczalne maksimum
    głosów to [% max FILTER html %] na jeden [% terms.blad %] dla produktu
    <tt>[% prod FILTER html %]</tt>.

  [% ELSIF error == "token_inexistent" %]
    [% title = "Nieistniejący żeton" %]
    Żeton który wysłałeś nie istnieje, przeterminował się, lub został anulowany.

  [% ELSIF error == "too_soon_for_new_token" %]
    [% title = "Zbyt krótki okres czasu pomiędzy żadaniami o nowy żeton" %]
    Zażądałeś nowego żetonu zmiany hasła, lecz poprzednie żądanie
    zostało złożone zbyt niedawno. Proszę poczekać chwilę i spróbować
    jeszcze raz.

  [% ELSIF error == "unknown_keyword" %]
    [% title = "Nieznane słowo kluczowe" %]
    <code>[% keyword FILTER html %]</code> nie jest nazwą istniejącego słowa kluczowego.
    Wszystkie istniejące słowa kluczowe są dostępne na <a href="describekeywords.cgi">tej liście</a>.

  [% ELSIF error == "unknown_tab" %]
    [% title = "Nieznana zakładka" %]
    <code>[% current_tab_name FILTER html %]</code> nie jest nazwą istniejącej zakładki.

  [% ELSIF error == "votes_must_be_nonnegative" %]
    [% title = "Liczba głosów nie może być ujemną liczbą" %]
    Liczba głosów, które możesz oddać na [% terms.blad %],
    nie może być liczbą ujemną.

  [% ELSIF error == "wrong_token_for_cancelling_email_change" %]
    [% title = "Nieprawidłowy żeton" %]
    Ten żeton nie może być użyty do anulowania zmiany adresu e-mail.

  [% ELSIF error == "wrong_token_for_changing_passwd" %]
    [% title = "Nieprawidłowy żeton" %]
    Ten żeton nie może być użyty do zmiany hasła.

  [% ELSIF error == "wrong_token_for_confirming_email_change" %]
    [% title = "Nieprawidłowy żeton" %]
    Ten żeton nie może być użyty do zmiany adresu e-mail.

  [% ELSIF error == "value_out_of_range" %]
    [% title = "Wartość poza zakresem" %]
    Wartośc poza zakresem dla pola 
    <em>[% field_descs.$field FILTER html %]</em>.

  [% ELSIF error == "zero_length_file" %]
    [% title = "Plik jest pusty" %]
    Załącznik, który próbujesz przysłać, jest pusty.

  [% ELSE %]
    [% title = "Tekst błędu nie znaleziony" %]
    Tekst dla błędu <code>[% error FILTER html %]</code> nie został znaleziony.
    Proszę wysłać wiadomość do [% Param("maintainer") %] z opisem kroków które doprowadziły
    do otrzymania tej wiadomości.
  [% END %]
[% END %]

[% UNLESS header_done %]
  [% PROCESS global/header.html.tmpl %]
[% END %]

<table cellpadding="20">
  <tr>
    <td bgcolor="#ff0000">
      <font size="+2">
        [% error_message FILTER none %]
      </font>
    </td>
  </tr>
</table>

<p>
  Proszę wrócić do poprzedniej strony i spróbować jeszcze raz.
</p>

[%# If a saved search fails, people want the ability to edit or delete it. 
  # This is the best way of getting information about that possible saved
  # search from any error call location. %]
  
[% USE Bugzilla %]
[% namedcmd = Bugzilla.cgi.param("namedcmd") %]
[% IF namedcmd AND error != "missing_query" %]
  <p>  
    Ewentualnie możesz    
    <a href="buglist.cgi?cmdtype=dorem&amp;remaction=forget&amp;namedcmd=
                  [% namedcmd FILTER html %]">usunąć</a>
                  
    [% FOREACH q = Bugzilla.user.queries %]
      [% IF q.name == namedcmd %]
        lub dokonać <a href="query.cgi?[% q.query FILTER html %]">edycji</a>
      [% END %]
    [% END %]
    
    zapamiętanego zapytania: '[% namedcmd FILTER html %]'.
  </p>
[% END %]            

[% PROCESS global/footer.html.tmpl %]
