[%# 4.2.1+PL@aviary.pl %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #                 Max Kanat-Alexander <mkanat@bugzilla.org>
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[%# INTERFACE:
  # header_done: boolean. True if the Bugzilla header has already been printed.
  # error: string. The tag of the error, or the error message to be displayed
  # (deprecated). May contain HTML if it's an error message.
  #%]

[%# This is a list of all the possible user errors. Please keep them in
  # alphabetical order by error tag, and leave a blank line between errors.
  #
  # Note that you must explicitly filter every single template variable
  # in this file; if you do not wish to change it, use the "none" filter.
  #
  # Extension- or custom-specific error handling  can be easily added 
  # via hooks: just place additional code into
  # template/en/hook/global/user-error-errors.html.tmpl
  # Note: be aware of uniqueness of error string parameter value, since
  # nobody can guarantee the hook files processing order in the future.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS "global/field-descs.none.tmpl" %]

[% DEFAULT title = "Błąd" %]

[% error_message = BLOCK %]
  [% IF    error == "account_creation_disabled" %]
    [% title = "Tworzenie kont jest wyłączone" %]
    Tworzenie kont zostało wyłączone lub ograniczone.
    <hr>
    Nowe konta może tworzyć tylko administrator. Administratorem
    jest [% Param("maintainer") %].

  [% ELSIF error == "account_creation_restricted" %]
    [% title = "Tworzenie kont jest ograniczone" %]
    Tworzenie kont zostało ograniczone.
    <hr>
    Skontaktuj się z administratorem lub opiekunem [% terms.Bugzilli %]
    ([% Param("maintainer") %]), by uzyskać informacje
    na temat utworzenia konta.

  [% ELSIF error == "account_disabled" %]
    [% title = "Konto zostało zablokowane" %]
    [% disabled_reason FILTER none %]
    <hr>
    Jeśli konto powinno zostać przywrócone, proszę
    wysłać wiadomość z wyjaśnieniami do [% Param("maintainer") %].

  [% ELSIF error == "account_exists" %]
    [% title = "Konto już istnieje" %]
    Już istnieje konto 
    [% IF email %]
      o identyfikatorze [% email FILTER html %].
    [% ELSE %]
      z tym identyfikatorem.
    [% END %]

  [% ELSIF error == "account_locked" %]
    [% title = "Konto zablokowane" %]
    Twój adres IP ([% ip_addr FILTER html %]) został zablokowany
    do [% unlock_at FILTER time %], ponieważ została
    przekroczona maksymalna dozwolona liczba prób logowania.

  [% ELSIF error == "alias_has_comma_or_space" %]
    [% title = "Nieprawidłowe znaki w aliasie" %]
    Alias, który podano <em>[% alias FILTER html %]</em>,
    zawiera przecinki lub spacje. Aliasy nie mogą zawierać tych
    znaków, ponieważ są one używane jako separatory aliasów na liście.
    Proszę wybrać inną nazwę bez przecinków i spacji.

  [% ELSIF error == "alias_in_use" %]
    [% title = "Alias jest już używany" %]
    [% terms.Blad %] [%+ bug_id FILTER bug_link(bug_id) FILTER none %]
    używa już nazwy <em>[% alias FILTER html %]</em> jako aliasu.
    Proszę wybrać inną nazwę.

  [% ELSIF error == "alias_is_numeric" %]
    [% title = "Alias jest liczbą" %]
    Próbowano nadać alias <em>[% alias FILTER html %]</em> dla [% terms.bledu %],
    lecz alias nie może być złożony z samych cyfr, ponieważ 
    może mylić się z ID [% terms.bledu %]. Proszę wybrać inny alias
    zawierający przynajmniej jedną literę.

  [% ELSIF error == "alias_too_long" %]
    [% title = "Alias zbyt długi" %]
    Alias [% terms.bledu %] nie może być dłuższy niż 20 znaków.
    Proszę wybrać krótszą nazwę.

  [% ELSIF error == "attachment_bug_id_mismatch" %]
    [% title = "Nieprawidłowa operacja" %]
    Próbowano wykonać działanie na załącznikach pochodzących z różnych [% terms.bledow %],
    jednak wszystkie muszą należeć do jednego [% terms.bledu %].

  [% ELSIF error == "auth_cant_create_account" %]
    [% title = "Nie można utworzyć konta" %]
    Ta witryna korzysta z metod weryfikacji użytkownika, które
    nie pozwalają na tworzenie nowych kont. W celu utworzenia konta
    proszę skontaktować się z administratorem.

  [% ELSIF error == "auth_failure" %]
    [% title = "Wymagana autoryzacja" %]
    [% admindocslinks = {'groups.html' => 'Grupy zabezpieczeń'} %]
    [% IF group %]
      Nie jesteś członkiem grupy „[% group FILTER html %]”,
    [% END %]

    [% IF reason %]
      [% IF group %] i [% END %]
      [% IF reason == "cant_bless" %]
        nie masz uprawnień do modyfikowania składu grup,
      [% ELSIF reason == "not_visible" %]
        są ustawione ograniczenia widzialności niektórych grup użytkowników,
      [% END %]
    [% END %]

    [% IF group || reason %] dlatego [% END %] nie masz uprawnień do
    [% IF action == "access" %]
      przeglądania
    [% ELSIF action == "add" %]
      dodawania
    [% ELSIF action == "begin" %]
      rozpoczynania
    [% ELSIF action == "modify" %]
      modyfikacji
    [% ELSIF action == "delete" %]
      usuwania
    [% ELSIF action == "edit" %]
      dodawania, modyfikacji lub usuwania
    [% ELSIF action == "run" %]
      uruchamiania
    [% ELSIF action == "schedule" %]
      tworzenia harmonogramu
    [% ELSIF action == "search" %]
      wyszukiwania
    [% ELSIF action == "use" %]
      używania
    [% ELSIF action == "approve" %]
      akceptowania
    [% ELSE %]
      [%+ Hook.process('auth_failure_action') %]
    [% END %]

    [% IF object == "administrative_pages" %]
      stron administracyjnych
    [% ELSIF object == "attachment" %]
      [% IF attach_id %]
        załącznika #[% attach_id FILTER html %]
      [% ELSE %]
        tego załącznika
      [% END %]
    [% ELSIF object == "bugs" %]
      [%+ terms.bledow %]
    [% ELSIF object == "bug_fields" %]
      pola [% field_descs.$field FILTER html %]
    [% ELSIF object == "charts" %]
      funkcji „Nowe wykresy”
    [% ELSIF object == "classifications" %]
      kategorii
    [% ELSIF object == "components" %]
      komponentów
    [% ELSIF object == "custom_fields" %]
      dodatkowych pól
    [% ELSIF object == "field_values" %]
      wartości pól
    [% ELSIF object == "flagtypes" %]
      flag
    [% ELSIF object == "group_access" %]
      dostępu do grup zabezpieczeń
    [% ELSIF object == "groups" %]
      grup
    [% ELSIF object == "keywords" %]
      słów kluczowych
    [% ELSIF object == "milestones" %]
      wersji docelowych
    [% ELSIF object == "multiple_bugs" %]
      kilku [% terms.bledow %] jednocześnie
    [% ELSIF object == "parameters" %]
      parametrów
    [% ELSIF object == "products" %]
      produktów
    [% ELSIF object == "quips" %]
      sentencji
    [% ELSIF object == "reports" %]
      przypominania
    [% ELSIF object == "sanity_check" %]
      kontroli spójności
    [% ELSIF object == "settings" %]
      ustawień
    [% ELSIF object == "sudo_session" %]
      sesji sudo
    [% ELSIF object == "timetracking_summaries" %]
      raportów śledzenia czasu
    [% ELSIF object == "user" %]  
      użytkownika [% IF userid %] z ID „[% userid FILTER html %]”
      [% ELSE %]określonego przez ciebie [% END %]
    [% ELSIF object == "users" %]
      użytkowników
    [% ELSIF object == "versions" %]
      wersji
    [% ELSIF object == "workflow" %]
      zmian statusu [% terms.bledow %]
    [% ELSE %]
      [%+ Hook.process('auth_failure_object') %]
    [% END %].

    [% Hook.process("auth_failure") %]

  [% ELSIF error == "attachment_deletion_disabled" %]
    [% title = "Usuwanie załączników jest wyłączone" %]
    Funkcja usuwania załączników jest wyłączona w tej instalacji.

  [% ELSIF error == "attachment_removed" %]
    [% title = "Usunięty załącznik" %]
    Żądany załącznik został usunięty.

  [% ELSIF error == "bug_access_denied" %]
    [% title = "Brak dostępu" %]
    [% admindocslinks = {'groups.html' => 'Grupy zabezpieczeń'} %]
    Nie masz uprawnień dostępu do [% terms.bledu %] #[% bug_id FILTER html %].

  [% ELSIF error == "bug_access_query" %]
    [% title = "Brak dostępu" %]
    [% docslinks = {'myaccount.html' => 'Tworzenie konta'} %]
    Nie masz uprawnień dostępu do [% terms.bledu %] #[% bug_id FILTER html %].
    Aby zobaczyć ten [% terms.blad %], musisz 
    najpierw <a href="show_bug.cgi?id=
                   [% bug_id FILTER uri %]&amp;GoAheadAndLogIn=1">zalogować się
    na konto</a> z odpowiednimi uprawnieniami.

  [% ELSIF error == "bug_url_invalid" %]
    [% title = "Nieprawidłowy adres URL $terms.bledu" %]
    <code>[% url FILTER html %]</code> nie jest prawidłowym adresem URL dla [% terms.bledu %].
    [% IF reason == 'http' %]
      Adresy URL muszą zaczynać się od „http” lub „https”.
    [% ELSIF reason == 'path_only' %]
      Należy podać pełny adres URL.
    [% ELSIF reason == 'show_bug' %]
      Adres URL [% terms.bledu %] powinien wskazywać na:
      <ul>
        <li>plik <code>show_bug.cgi</code>
      znajdujący się w instalacji [% terms.Bugzilli %]</li>
        <li>błąd zamieszczony w serwisie launchpad.net,</li>
        <li>zgłoszenie zamieszczone w serwisie code.google.com,</li>
        <li>błąd zamieszczony w serwisie b[% %]ugs.debian.org.</li>
        <li>zgłoszenie zamieszczone w instalacji JIRA.</li>
        <li>bilet zamieszczony w instalacji Trac.</li>
        <li>błąd zamieszczony w instalacji MantisBT.</li>
        <li>błąd zamieszczony w serwisie sourceforge.net.</li>
      </ul>
    [% ELSIF reason == 'id' %]
      Pod tym adresem URL nie ma [% terms.bledu %] o takim numerze.
    [% END %]

  [% ELSIF error == "bug_url_too_long" %]
    [% title = "Nieprawidłowy adres URL $terms.bledu" %]
    Adres URL [% terms.bledu %] nie może być dłuższy niż 
    [%+ constants.MAX_BUG_URL_LENGTH FILTER none %] znaków.
    <code>[% url FILTER html %]</code> jest za długi.

  [% ELSIF error == "buglist_parameters_required" %]
    [% title = "Wymagane parametry" %]
    [% docslinks = {'query.html' => "Wyszukiwanie $terms.bledow",
                    'query.html#list'  => "Listy $terms.bledow"} %]
    Nie można wyszukiwać lub zapamiętać wyszukiwania bez podanych kryteriów wyszukiwania.

  [% ELSIF error == "cc_remove_denied" %]
    [% title = "Zmiana jest niedozwolona" %]
    Nie masz uprawnień do usuwania użytkowników z listy obserwatorów.

  [% ELSIF error == "chart_too_large" %]
    [% title = "Wykres jest za duży" %]
    Wykres nie może być większy niż 2000 x 2000.

  [% ELSIF error == "comment_id_invalid" %]
    [% id FILTER html %] nie jest prawidłowym ID komentarza.

  [% ELSIF error == "comment_invalid_isprivate" %]
    Próbowano zmienić prywatny komentarz o ID [% id FILTER html %],
    ale nie jest to prawidłowy komentarz tego [% terms.bledu %].

  [% ELSIF error == "comment_is_private" %]
    Komentarz o ID [% id FILTER html %] jest prywatny.

  [% ELSIF error == "comment_required" %]
    [% title = "Wymagany komentarz" %]
    Należy podać
    [% IF old && new %]
      <b>komentarz</b>, gdy jest zmieniany status [% terms.bledu %] z
      [%+ old.name FILTER html %] na [% new.name FILTER html %].
    [% ELSIF new %]
      opis [% terms.bledu %].
    [% ELSE %]
      <b>komentarz</b> dotyczący tej zmiany.
    [% END %]

  [% ELSIF error == "comment_too_long" %]
    [% title = "Zbyt długi komentarz" %]
    Komentarz nie może zawierać więcej niż
    [%+ constants.MAX_COMMENT_LENGTH FILTER html %] znaków.

  [% ELSIF error == "auth_classification_not_enabled" %]
    [% title = "Kategorie nie zostały włączone" %]
    Niestety kategorie nie zostały włączone.

  [% ELSIF error == "classification_name_too_long" %]
    [% title = "Za długa nazwa kategorii" %]
    Nazwa kategorii nie może być dłuższa niż [% constants.MAX_CLASSIFICATION_SIZE FILTER html %]
    znaków. „[% name FILTER html %]” zawiera za dużo znaków ([% name.length %]).

[% ELSIF error == "classification_not_specified" %]
    [% title = "Podaj nazwę kategorii" %]
    Należy podać nazwę kategorii.

  [% ELSIF error == "classification_already_exists" %]
    [% title = "Kategoria już istnieje" %]
    Kategoria o nazwie „[% name FILTER html %]” już istnieje.

  [% ELSIF error == "classification_invalid_sortkey" %]
    [% title = "Nieprawidłowy klucz sortowania kategorii" %]
    Klucz sortowania <em>[% sortkey FILTER html %]</em> jest niepoprawny.
    Musi być liczbą całkowitą pomiędzy 0 i [% constants.MAX_SMALLINT FILTER html %].

  [% ELSIF error == "classification_not_deletable" %]
    [% title = "Nie można usunąć domyślnej kategorii" %]
    Nie można usunąć domyślnej kategorii.

  [% ELSIF error == "classification_has_products" %]
     W tej kategorii nadal istnieją produkty. Przed
     usunięciem kategorii należy przepisać te produkty do
     innej kategorii.

  [% ELSIF error == "component_already_exists" %]
    [% title = "Komponent już istnieje" %]
    Produkt <em>[% product.name FILTER html %]</em> zawiera już
    komponent o nazwie <em>[% name FILTER html %]</em>.

  [% ELSIF error == "component_blank_description" %]
    [% title = "Brak opisu komponentu" %]
    Należy podać opis dla tego komponentu.

  [% ELSIF error == "component_blank_name" %]
    [% title = "Brak nazwy komponentu" %]
    Należy podać nazwę dla tego nowego komponentu.

  [% ELSIF error == "component_has_bugs" %]
    [% title = BLOCK %]Komponent ma przypisane [% terms.bledy %][% END %]
    Znaleziono [% nb FILTER html %] [%+ PROCESS ODMIEN c=nb o1="$terms.blad" o2="$terms.bledy" o3="$terms.bledow" %]!
    Przed usunięciem komponentu należy przepisać [% PROCESS ODMIEN c=nb o1="ten $terms.blad" o2="te $terms.bledy" o3="te $terms.bledy" %] do
    innego komponentu.

  [% ELSIF error == "component_name_too_long" %]
    [% title = "Nazwa komponentu jest zbyt długa" %]
    Nazwa komponentu nie może zawierać więcej niż [% constants.MAX_COMPONENT_SIZE FILTER html %]
    znaków. „[% name FILTER html %]” zawiera więcej niż ([% name.length %] znaków).

  [% ELSIF error == "component_need_initialowner" %]
    [% title = "Komponent musi mieć domyślną osobę odpowiedzialną" %]
    Ten komponent musi mieć domyślną osobę odpowiedzialną.

  [% ELSIF error == "customfield_nonexistent" %]
    [% title = "Nieznane pole dodatkowe" %]
    Pole dodatkowe o nazwie „[% name FILTER html %]” nie istnieje.

  [% ELSIF error == "customfield_not_obsolete" %]
    [% title = "Pole dodatkowe nie jest zdezaktualizowane" %]
    Pole dodatkowe „[% name FILTER html %]” nie jest zdezaktualizowane.
    Przed usunięciem należy je zdezaktualizować.

  [% ELSIF error == "customfield_has_activity" %]
    [% title = "Pole dodatkowe jest aktywne" %]
    Nie można usunąć pola dodatkowego „[% name FILTER html %]”, ponieważ
    zanotowano w nim aktywność.

  [% ELSIF error == "customfield_has_contents" %]
    [% title = "Pole dodatkowe ma zawartość" %]
    Nie można usunąć pola dodatkowego „[% name FILTER html %]”, ponieważ
    co najmniej jeden [% terms.blad %] ma w nim zapisaną wartość.

  [% ELSIF error == "dependency_loop_multi" %]
    [% title = "Pętla w zależnościach" %]
    Następujące [% terms.blad %]/[% terms.bledy %] znajdą się 
    w polach „Blokuje” i „Zależy od” drzewa zależności, jeśli zmiany
    te zostaną zatwierdzone:
    [% FOREACH dep = deps %]
      [%+ dep FILTER bug_link(dep) FILTER none %]
    [% END %].
    Doprowadzi to do niedozwolonej pętli w zależnościach.

  [% ELSIF error == "dependency_loop_single" %]
    [% title = "Pętla w zależnościach" %]
    [% terms.Blad %] nie może blokować samego siebie lub być od siebie zależnym.

  [% ELSIF error == "dupe_id_required" %]
    [% title = "Wymagany ID duplikatu $terms.bledu" %]
    By oznaczyć ten [% terms.blad %] jako duplikat, należy
    określić ID [% terms.bledu %], którego jest duplikatem.

  [% ELSIF error == "dupe_not_allowed" %]
    [% title = "Nie można oznaczyć $terms.bledow jako duplikatów" %]
    Nie można oznaczyć [% terms.bledow %] jako duplikatów podczas
    zmiany wielu [% terms.bledow %] jednocześnie.

  [% ELSIF error == "dupe_loop_detected" %]
    [% title = "Wykryto pętle w grafie duplikatów" %]
    Nie można oznaczyć [% terms.bledu %] [%+ bug_id FILTER html %] jako
    duplikatu
    [% IF dupe_of == bug_id %]
      samego siebie
    [% ELSE %]
      [%+ terms.bledu %] [%+ dupe_of FILTER html %], ponieważ
      spowoduje to utworzenie pętli
    [% END %].

  [% ELSIF error == "email_change_in_progress" %]
    [% title = "Zmiana adresu w toku" %]
    Zmiana adresu e-mail w toku. Proszę sprawdzić swoją pocztę.

  [% ELSIF error == "email_confirmation_failed" %]
    [% title = "Nieudane potwierdzenie adresu e-mail" %]
    Nie udało się potwierdzić adresu e-mail.

  [% ELSIF error == "email_no_text_plain" %]
    Wiadomość nie zawierała żadnego tekstu. [% terms.Bugzilla %] nie
    obsługuje poczty w formacie HTML i poczty HTML z załącznikami.

  [% ELSIF error == "empty_group_description" %]
    [% title = "Opis grupy nie może być pusty" %]
    Należy podać opis grupy.

  [% ELSIF error == "empty_group_name" %]
    [% title = "Nazwa grupy nie może być pusta" %]
    Należy podać nazwę dla grupy.
  
  [% ELSIF error == "entry_access_denied" %]
    [% title = "Brak dostępu" %]
    [% admindocslinks = {'groups.html' => 'Grupy zabezpieczeń'} %]
    Produkt <em>[% product FILTER html %]</em> nie istnieje
    lub nie masz uprawnień dostępu do [% terms.bledow %] w tym
    produkcie.

  [% ELSIF error == "extension_create_no_name" %]
    Musisz określić nazwę rozszerzenia jako argument do tego skryptu.

  [% ELSIF error == "extension_first_letter_caps" %]
    Nazwa rozszerzenia musi zaczynać się dużą literą.
    (Podano „[% name FILTER html %]”.)

  [% ELSIF error == "field_already_exists" %]
    [% title = "Pole już istnieje" %]
    Pole „[% field.name FILTER html %]”     
    ([% field.description FILTER html %]) już istnieje. Proszę
    wybrać inną nazwę.

  [% ELSIF error == "field_cant_control_self" %]
    [% title = "Pole nie może kontrolować samego siebie" %]
    Pole [% field.description FILTER html %] nie może być ustawione do kontrolowania
    samego siebie.

  [% ELSIF error == "field_control_must_be_select" %]
    [% title = "Wybrano nieprawidłowy typ pola" %]
    Tylko listy rozwijane i pola wielokrotnego wyboru mogą być używane do kontrolowania
    widoczności/wartości innych pól. Pole [% field.description FILTER html %]
    nie jest prawidłowym typem pola.

  [% ELSIF error == "field_invalid_name" %]
    [% title = "Nieprawidłowa nazwa pola" %]
    Nazwa „[% name FILTER html %]” nie jest poprawną nazwą pola.
    Dozwolone są tylko znaki alfanumeryczne i znak podkreślenia.

  [% ELSIF error == "field_invalid_sortkey" %]
    [% title = "Nieprawidłowy klucz sortowania dla pola" %]
    Klucz sortowania [% sortkey FILTER html %] dla tego pola nie jest poprawną
    dodatnią liczbą całkowitą.

  [% ELSIF error == "field_missing_description" %]
    [% title = "Brak opisu pola" %]
    Należy podać opis dla tego pola.

  [% ELSIF error == "field_missing_name" %]
    [% title = "Brak nazwy pola" %]
    Należy podać nazwę dla tego pola.

  [% ELSIF error == "field_value_control_select_only" %]
    [% title = "Nieprawidłowa wartość kontrolna pola" %]
    Tylko listy rozwijane i pola wielokrotnego wyboru mogą mieć pole, które
    kontroluje ich wartości.

  [% ELSIF error == "field_visibility_values_must_be_selected" %]
    [% title = "Nieprawidłowa wartość widoczności pola" %]
    Należy wybrać przynajmniej jedną wartość określająca widoczność pola
    „[% field.name FILTER html %]”.

  [% ELSIF error == "fieldname_invalid" %]
    [% title = "Podane pole nie istnieje" %]
    Pole „[% field.name  FILTER html %]” nie istnieje lub nie może być modyfikowane przy
    użyciu tego interfejsu.

  [% ELSIF error == "fieldvalue_already_exists" %]
    [% title = "Podana wartość już istnieje" %]
    Wartość „[% value.name FILTER html %]” została już zdefiniowana dla pola 
    [%+ field.description FILTER html %].

  [% ELSIF error == "fieldvalue_is_controller" %]
    [% title = "Wartość kontrolująca inne pola" %]
    Nie można usunąć wartości [% value.field.description FILTER html %]
    „[% value.name FILTER html %]” ponieważ
    [% IF fields.size %]
      kontroluje widoczność następujących pól:
      [%+ fields.join(', ') FILTER html %].
    [% END %]
    [% ' oraz ' IF fields.size AND vals.size %]
    [% IF vals.size %]
      kontroluje widoczność następujących wartości pól:
      <ul>
        [% FOREACH field_name = vals.keys %]
          [% FOREACH val = vals.${field_name} %]
            <li>[% val.field.name FILTER html %]:
              „[% val.name FILTER html %]”</li>
          [% END %]
        [% END %]
      </ul>
    [% END %]

  [% ELSIF error == "fieldvalue_is_default" %]
    [% title = "Podana wartość pola jest domyślna" %]
    Wartość „[% value.name FILTER html %]” jest domyślna dla pola
    „[% field.description FILTER html %]” i nie może być usunięta.
    [% IF user.in_group('tweakparams') %]
      Przed usunięciem należy <a href="editparams.cgi?section=bugfields#
      [%- param_name FILTER uri %]">zmienić</a> wartość domyślną.
    [% END %]

  [% ELSIF error == "fieldvalue_name_too_long" %]
    [% title = "Zbyt długa wartość pola" %]
    Wartość pola nie może być dłuższa niż
    [%+ constants.FIELD_VALUE_MAX_SIZE FILTER none %] znaków. 
    „[% value FILTER html %]” zawiera za dużo znaków ([% value.length %]).

  [% ELSIF error == "fieldvalue_not_editable" %]
    [% title = "Nie można modyfikować wartości pola" %]
    Nazwa wartości „[% old_value.name FILTER html %]” nie może być zmieniona,
    ponieważ odgrywa specjalną rolę w polu „[% field.description FILTER html %]”.

  [% ELSIF error == "fieldvalue_not_deletable" %]
    [% title = "Nie można usunąć wartości pola" %]
    Nazwa wartości „[% value.name FILTER html %]” nie może być usunięta,
    ponieważ odgrywa specjalną rolę w polu „[% field.description FILTER html %]”.

  [% ELSIF error == "fieldvalue_reserved_word" %]
    [% title = "Niedozwolone zastrzeżone słowa" %]
    Nie można użyć wartości „[% value FILTER html %]” dla
    pola „[% field.description FILTER html %]”. Ta wartość jest używana wewnętrznie.
    Proszę wybrać inną.

  [% ELSIF error == "fieldvalue_sortkey_invalid" %]
    [% title = "Nieprawidłowy klucz sortowanie pola" %]
    Klucz sortowania „[% sortkey FILTER html %]” dla
    pola [% field.description FILTER html %] nie jest poprawną
    (dodatnią) liczbą.

  [% ELSIF error == "fieldvalue_still_has_bugs" %]
    [% title = "Nie można usunąć tej wartości pola" %]
    Nie można usunąć wartości „[% value.name FILTER html %]” dla pola
    [%+ field.description FILTER html %], ponieważ nadal
    [%+ value.bug_count FILTER html %] [%+ terms.bledy %] ją używają.

  [% ELSIF error == "fieldvalue_undefined" %]
    [% title = "Niezdefiniowane wartości są niedopuszczalne" %]
    Należy podać wartość.

  [% ELSIF error == "file_not_specified" %]
    [% title = "Nie określono pliku" %]
    Nie określono pliku do załączenia.

  [% ELSIF error == "filename_not_specified" %]
    [% title = "Nie podano nazwy" %]
    Należy podać nazwę załącznika.

  [% ELSIF error == "file_too_large" %]
    [% title = "Plik jest zbyt duży" %]
    [%# Convert maxlocalattachment from Mb to Kb %]
    [% max_local = Param('maxlocalattachment') * 1024 %]
    [% max_limit = [Param('maxattachmentsize'), max_local] %]
    Plik załącznika ma [% filesize FILTER html %] kilobajtów (KB). 
    Załączniki nie mogą być większe niż
    [%# Hack to get the max value between both limits %]
    [%+ max_limit.nsort.last FILTER html %] KB. <br>
    Zaleca się umieszczenie załącznika na zewnętrznym serwerze
    i następnie podanie adresu URL w komentarzu lub polu URL
    tego [% terms.bledu %].
    <br>Jeśli załącznik jest obrazkiem, należy skonwertować go do formatu
    JPG lub PNG i spróbować ponownie.

  [% ELSIF error == "flag_requestee_needs_privs" %]
    [% title = "Brak uprawnień" %]
    Użytkownik [% requestee.identity FILTER html %] nie ma uprawnień do weryfikowania flagi
    <em>[% flagtype.name FILTER html %]</em>. Proszę wybrać użytkownika, który jest 
    członkiem grupy <em>[% flagtype.grant_group.name FILTER html %]</em>.

  [% ELSIF error == "flag_requestee_unauthorized" %]
    [% title = "Prośba o zweryfikowanie flagi do osoby bez uprawnień" %]
    [% admindocslinks = {'flags-overview.html#flags-admin'  => 'Administracja flagami',
                         'groups.html' => 'Grupy zabezpieczeń'} %]
    [% docslinks = {'flags-overview.html' => 'Wprowadzenie do flag',
                    'flags.html' => 'Korzystanie z flag'} %]

    Poproszono [% requestee.identity FILTER html %]
    o zweryfikowanie flagi <code>[% flag_type.name FILTER html %]</code> w [% terms.bledzie %] 
    [%+ bug_id FILTER html -%]
    [% IF attach_id && attach_id > 0 %], załączniku [% attach_id FILTER html %][% END %],
    lecz dostęp do tego [% terms.bledu %] został ograniczony wyłącznie do określonych grup.
    Osoba, którą poproszono o zweryfikowanie flagi, 
    nie należy do żadnej z tych grup.
    Proszę poprosić kogoś innego o dokonanie weryfikacji lub umożliwić dostęp do
    tego [% terms.bledu %] dla obserwatorów i dodać tę osobę do listy obserwatorów.

  [% ELSIF error == "flag_requestee_unauthorized_attachment" %]
    [% title = "Prośba o zweryfikowanie flagi do osoby bez praw dostępu" %]
    [% admindocslinks = {'flags-overview.html#flags-admin'  => 'Administracja flagami',
                         'groups.html' => 'Grupy zabezpieczeń'} %]
    [% docslinks = {'flags-overview.html' => 'Wprowadzenie do flag',
                    'flags.html' => 'Korzystanie z flag'} %]

    Poproszono [% requestee.identity FILTER html %]
    o zweryfikowanie flagi <code>[% flag_type.name FILTER html %]</code> w 
    [%+ terms.bledzie %] [%+ bug_id FILTER html %],
    załączniku [% attach_id FILTER html %], lecz dostęp do tego załącznika mają wyłącznie
    osoby należące do grupy [% Param("insidergroup") FILTER html %]. Osoba, którą poproszono o
    zweryfikowanie flagi, nie należy do niej. Proszę poprosić kogoś innego o dokonanie weryfikacji
    lub poprosić administratora o dodanie tej osoby do grupy.

  [% ELSIF error == "flag_status_invalid" %]
    [% title = "Nieprawidłowy status flagi" %]
    Status <em>[% status FILTER html %]</em>
    [% IF id %]
      flagi o ID #[% id FILTER html %]
    [% END %]
    jest nieprawidłowy.

  [% ELSIF error == "flag_type_cannot_deactivate" %]
    [% title = "Flaga nie może zostać zdezaktywowana" %]
    Flaga „[% flagtype.name FILTER html %]” jest wykorzystywana przez
    produkty, do których nie masz uprawnień dostępu, dlatego jej dezaktywacja jest niemożliwa.

  [% ELSIF error == "flag_type_cannot_delete" %]
    [% title = "Flaga nie może zostać usunięta" %]
    Flaga „[% flagtype.name FILTER html %]” jest wykorzystywana przez
    produkty, do których nie masz uprawnień dostępu, dlatego jej dezaktywacja jest niemożliwa.

  [% ELSIF error == "flag_type_cc_list_invalid" %]
    [% title = "Nieprawidłowa lista obserwatorów flagi" %]
    [% admindocslinks = {'flags-overview.html#flags-admin'  => 'Administracja flagami'} %]
    Lista obserwatorów [% cc_list FILTER html %] musi mieć mniej niż 200 znaków.

  [% ELSIF error == "flag_type_component_without_product" %]
    [% title = "Brak produktu" %]
    Wybrano komponent bez wybrania produktu.

  [% ELSIF error == "flag_type_description_invalid" %]
    [% title = "Nieprawidłowy opis flagi" %]
    [% admindocslinks = {'flags-overview.html#flags-admin'  => 'Administracja flagami'} %]
    Należy podać opis flagi.

  [% ELSIF error == "flag_type_name_invalid" %]
    [% title = "Nieprawidłowa nazwa flagi" %]
    [% admindocslinks = {'flags-overview.html#flags-admin'  => 'Administracja flagami'} %]
    Długość nazwy flagi <em>[% name FILTER html %]</em> musi zawierać się pomiędzy
    1 - 50 znakami i nie może zawierać żadnej spacji lub przecinka.

  [% ELSIF error == "flag_type_not_editable" %]
    [% title = "Flaga nie może być modyfikowana" %]
    Nie posiadasz uprawnień do modyfikacji flagi „[% flagtype.name FILTER html %]”,
    gdyż jest ona wykorzystywana przez produkty, do których nie posiadasz uprawnień administracyjnych.

  [% ELSIF error == "flag_type_not_multiplicable" %]
    [% docslinks = {'flags-overview.html' => 'Ogólne informacje o flagach',
                    'flags.html' => 'Używanie flag'} %]
    Nie można mieć kilku flag <em>[% type.name FILTER html %]</em>
    dla tego [% IF attachment %] załącznika [% ELSE %] [%+ terms.bledu %] [% END %].

  [% ELSIF error == "flag_update_denied" %]
    [% title = "Modyfikacja flagi zabroniona" %]
    [% admindocslinks = {'flags-overview.html#flags-admin'  => 'Administracja flagami',
                         'groups.html' => 'Grupy zabezpieczeń'} %]
    [% docslinks = {'flags-overview.html' => 'Wprowadzenie do flag',
                    'flags.html' => 'Używanie flag'} %]
    Próbowano [% IF status == "+" %] zaakceptować [% ELSIF status == "-" %] odrzucić
    [% ELSIF status == "X" %] usunąć [% ELSE %] prosić [% END %]
    <code>[% name FILTER html %]
          [% IF status == "X" %][% old_status FILTER html %][% END %]</code>.

    Wyłącznie użytkownicy o odpowiednich uprawnieniach mogą dokonać tej zmiany.

  [% ELSIF error == "format_not_found" %]
    [% title = "Nie znaleziono formatu" %]
    Wybrany format <em>[% format FILTER html %]</em> nie istnieje
    z zawartością typu <em>[% ctype FILTER html %]</em>.
    
  [% ELSIF error == "flag_type_sortkey_invalid" %]
    [% title = "Nieprawidłowy klucz sortowania flagi" %]
    Klucz sortowania musi być liczbą z przedziału 0-[% constants.MAX_SMALLINT FILTER none %].

  [% ELSIF error == "freetext_too_long" %]
    [% title = "Za długi tekst" %]
    Tekst wprowadzony do pola <em>[% field_descs.$field FILTER html %]</em> 
    zawiera [% text.length FILTER html %] znaków.
    Dopuszczalna liczba to [% constants.MAX_FREETEXT_LENGTH FILTER none %]
    znaków.

  [% ELSIF error == "group_cannot_delete" %]
    [% title = "Nie można usunąć grupy" %]
    Grupa <em>[% group.name FILTER html %]</em> nie może być usunięta, ponieważ 
    w bazie danych znajdują się 
    <a href="editgroups.cgi?action=del&amp;group=
             [%- group.id FILTER uri %]">rekordy</a>
    odnoszące się do tej grupy. Przed usunięciem grupy należy usunąć
    wszystkie odniesienia do niej.

  [% ELSIF error == "group_exists" %]
    [% title = "Grupa już istnieje" %]
    Grupa o nazwie [% name FILTER html %] już istnieje.

  [% ELSIF error == "group_has_special_role" %]
    [% title = "Grupa jest nieusuwalna" %]
    [% IF groups.size == 1 %]
      [% attr = "wskazywał" %]
      [% param = "parametr" %]
    [% ELSE %]
      [% attr = "wskazywały" %]
      [% param = "parametry" %]
    [% END %]
    Grupa „[% name FILTER html %]” jest używana przez 
    „[% groups.join("' i '") FILTER html %]” [% param FILTER html %].
    Aby usunąć tę grupę, należy najpierw zmienić 
    [%+ param FILTER html %], aby [% attr FILTER html %] na inną grupę.


  [% ELSIF error == "group_invalid_removal" %]
    Próbujesz usunąć [% terms.blad %] [%+ bug.id FILTER html %]
    z grupy „[% name FILTER html %]”, jednak grupa nie istnieje lub nie masz uprawnień do usuwania
    [%+ terms.bledow %] z grupy 
    produktu „[% product FILTER html %]”.

  [% ELSIF error == "group_restriction_not_allowed" %]
    [% title = "Nie można zmienić grupy" %]
    Próbujesz ograniczyć [% bug_id ? "$terms.blad $bug_id" : terms.blad FILTER html %] do grupy „[% name FILTER html %]”,
    jednak grupa nie istnieje lub nie masz uprawnień do ograniczania
    [%+ terms.bledow %] do tej grupy w produkcie „[% product.name FILTER html %]”.

  [% ELSIF error == "group_not_specified" %]
    [% title = "Nie podano grupy" %]
    Nie podano żadnej grupy.

  [% ELSIF error == "group_not_visible" %]
    [% title = "Brak dostępu" %]
    Nie masz uprawnień do wyświetlania członków grupy „[% group.name FILTER html %]”.

  [% ELSIF error == "system_group_not_deletable" %]
    [% title = "Grupy systemowe nie mogą zostać usunięte" %]
    Grupa <em>[% name FILTER html %]</em> jest grupą systemową.
    Ta grupa nie może zostać usunięta.

  [% ELSIF error == "illegal_attachment_edit" %]
    [% title = "Brak dostępu" %]
    Nie masz uprawnień do modyfikowania załącznika [% attach_id FILTER html %].

  [% ELSIF error == "illegal_attachment_edit_bug" %]
    [% title = "Brak dostępu" %]
    Nie masz uprawnień do modyfikowania załączników dla [% terms.bledu %] 
    [%+ bug_id FILTER html %].
         
  [% ELSIF error == "illegal_bug_status_transition" %]
    [% title = "Nieprawidłowa zmiana statusu $terms.bledu" %]
    [% IF old.defined %]
      Nie masz uprawnień do zmiany statusu [% terms.bledu %] z
      [%+ old.name FILTER html %] na [% new.name FILTER html %].
    [% ELSE %]
      Nie masz uprawnień do zgłaszania nowego [% terms.bledu %] ze
      statusem [% new.name FILTER html %]. 
    [% END %]

  [% ELSIF error == "illegal_change" %]
    [% title = "Brak dostępu" %]
    Próbowano zmienić pole
    <strong>[% field_descs.$field FILTER html %]</strong> 
    [% IF oldvalue.defined %]
    z  <em>[% oldvalue.join(', ') FILTER html %]</em>
    [% END %]
    [% IF newvalue.defined %]
      na <em>[% newvalue.join(', ') FILTER html %]</em>,
    [% END %]
    lecz tylko
    [% IF privs < constants.PRIVILEGES_REQUIRED_EMPOWERED %]
      osoba odpowiedzialna za rozwiązanie [% terms.bledu %]
    [% IF privs < constants.PRIVILEGES_REQUIRED_ASSIGNEE %], zgłaszający [% END %]
      [%+ terms.blad %] lub
    [% END %]
    użytkownik o odpowiednich uprawnieniach może zmieniać to pole.

  [% ELSIF error == "illegal_change_deps" %]
    [% title = "Brak dostępu" %]
    Podjęto próbę zmiany pola 
    <strong>[% field_descs.$field FILTER html %]</strong>, lecz
    tylko użytkownik uprawniony do modyfikowania obu powiązanych
    [%+ terms.bledow %] może zmienić to pole.

  [% ELSIF error == "illegal_date" %]
    [% title = "Nieprawidłowa data" %]
    „<tt>[% date FILTER html %]</tt>” nie jest poprawną datą.
    [% IF format %]
      Proszę użyć formatu „<tt>RRRR-MM-DD</tt>”.
    [% END %]
    
  [% ELSIF error == "illegal_email_address" %]
    [% title = "Nieprawidłowy adres e-mail" %]
    Podany adres e-mail (<b>[% addr FILTER html %]</b>)
    nie spełnia warunków poprawności adresu e-mail.
    [% IF default %]
      Prawidłowy adres e-mail musi zawierać dokładnie jeden znak „@”
      oraz co najmniej jeden znak „.” po @.
    [% ELSE %]
      [%+ Param('emailregexpdesc') FILTER html_light %]
    [% END %]
    Adres nie może też zawierać znaków niedozwolonych ani żadnego z poniższych znaków specjalnych:
    <tt>\ ( ) &amp; &lt; &gt; , ; : &quot; [ ]</tt> oraz białych znaków.
    
  [% ELSIF error == "illegal_frequency" %]
    [% title = "Za często generowane serie" %]
    Tylko administrator ma prawo tworzenia serii generowanej częściej
    niż co [% minimum FILTER html %] dni.
    
  [% ELSIF error == "illegal_group_control_combination" %]
    [% title = "Nieprawidłowa kombinacja uprawnień grupy" %]
    [% admindocslinks = {'groups.html' => 'Modyfikowanie grup'} %]
    Kombinacja uprawnień grupy dla grupy 
    „[% groupname FILTER html %]” jest nieprawidłowa.

  [% ELSIF error == "illegal_query_name" %]
    [% title = "Nieprawidłowa nazwa wyszukiwania" %]
    Nazwa wyszukiwania nie może zawierać żadnego z następujących znaków: 
    &lt;, &gt;, &amp;.

  [% ELSIF error == "illegal_series_creation" %]
    [% admindocslinks = {'groups.html' => 'Grupy zabezpieczeń'} %]
    [% docslinks = {'reporting.html' => 'Raporty'} %]
    Nie masz uprawnień do tworzenia serii.
        
  [% ELSIF error == "illegal_series_edit" %]
    [% admindocslinks = {'groups.html' => 'Grupy zabezpieczeń'} %]
    [% docslinks = {'reporting.html' => 'Raporty'} %]
    Nie masz uprawnień do modyfikowania serii. Czynność ta zarezerwowana jest dla twórcy serii
    lub administratora.

  [% ELSIF error == "illegal_time" %]
    [% title = "Nieprawidłowy format czasu" %]
  „<tt>[% time FILTER html %]</tt>” nie jest prawidłowym formatem czasu.
    [% IF format %]
      Proszę użyć formatu „<tt>[% format FILTER html %]</tt>”.
    [% END %]

  [% ELSIF error == "illegal_regexp" %]
    [% title = "Nieprawidłowe wyrażenie regularne" %]
    Dostarczone wyrażenie regularne [% value FILTER html %] jest nieprawidłowe.
    Błąd: [% dberror FILTER html %].
        
  [% ELSIF error == "insufficient_data_points" %]
    [% docslinks = {'reporting.html' => 'Tworzenie raportów'} %]
    Nie ma jeszcze wystarczającej liczby danych do utworzenia wykresu.
        
  [% ELSIF error == "invalid_attach_id" %]
    [% title = "Nieprawidłowy identyfikator załącznika" %]
    Identyfikator załącznika [% attach_id FILTER html %] jest nieprawidłowy.

  [% ELSIF error == "bug_id_does_not_exist" %]
    [% title = BLOCK %]Nieprawidłowy identyfikator [% terms.bledu %][% END %]
    [% terms.Blad %] #[% bug_id FILTER html %] nie istnieje.
    
  [% ELSIF error == "improper_bug_id_field_value" %]
    [% title = BLOCK %]
      [% IF bug_id %]Nieprawidłowy [% ELSE %]Brakuje [% END %] ID [% terms.bledu %]
    [% END %]
    [% IF bug_id %]
      „[% bug_id FILTER html %]” nie jest poprawnym numerem [% terms.bledu %]
      [% IF Param("usebugaliases") %]
        ani aliasem [% terms.bledu %]
      [% END %].
    [% ELSE %]
      [% IF field %]
        Pole „[% field_descs.$field FILTER html %]” nie może
	być puste.
      [% END %]
      Należy podać prawidłowy numer [% terms.bledu %]!
    [% END %]

  [% ELSIF error == "invalid_changedsince" %]
    [% title = "Nieprawidłowa wartość dla „Zmieniono w trakcie ___ dni”" %]
    Wartość pola „Zmieniono w trakcie ___ dni” „[% changedsince FILTER html %]”
    musi być >= 0.

  [% ELSIF error == "invalid_content_type" %]
    [% title = "Nieprawidłowa wartość typu zawartości" %]
    Typ zawartości <em>[% contenttype FILTER html %]</em> jest nieprawidłowy.
    Prawidłowe typy mają postać <em>foo/bar</em>, gdzie <em>foo</em>
    jest jednym z <em>[% constants.LEGAL_CONTENT_TYPES.join(', ') FILTER html %]</em>,
    a <em>bar</em> nie może zawierać znaków specjalnych (takich jak "=", "?", ...).
    
  [% ELSIF error == "invalid_context" %]
    [% title = "Nieprawidłowy kontekst" %]
    Kontekst [% context FILTER html %] jest nieprawidłowy. Musi być liczbą lub napisem
    „file” lub „patch”.

  [% ELSIF error == "invalid_datasets" %]
    [% title = "Nieprawidłowe zestawy danych" %]
    Nieprawidłowe zestawy danych <em>[% datasets.join(":") FILTER html %]</em>. Dozwolone są tylko
    cyfry, litery i dwukropki.

  [% ELSIF error == "invalid_format" %]
    [% title = "Nieprawidłowy format" %]
    Format „[% format FILTER html %]” jest nieprawidłowy. Musi być jednym z
    [% FOREACH my_format = formats %]
      „[% my_format FILTER html %]”
    [% END %]
    .

  [% ELSIF error == "invalid_group_ID" %]
    [% title = "Nieprawidłowy identyfikator grupy" %]
    Podana grupa nie istnieje.

  [% ELSIF error == "invalid_group_name" %]
    [% title = "Nieprawidłowa nazwa grupy" %]
    Podana grupa „[% name FILTER html %]” nie jest prawidłowa.

  [% ELSIF error == "invalid_maxrows" %]
    [% title = "Nieprawidłowa wartość „Maksymalna liczba wierszy”" %]
    Wartość maksymalna liczba wierszy „[% maxrows FILTER html %]” musi być dodatnią
    liczbą całkowitą.

  [% ELSIF error == "invalid_parameter" %]
    [% title = "Niepoprawny parametr" %]
    Nowa wartość dla [% name FILTER html %] jest niepoprawna: [% err FILTER html %].

  [% ELSIF error == "invalid_product_name" %]
    [% title = "Nieprawidłowa nazwa produktu" %]
    Nazwa produktu „[% product FILTER html %]” jest nieprawidłowa lub produkt nie istnieje.

  [% ELSIF error == "invalid_regexp" %]
    [% title = "Nieprawidłowe wyrażenie regularne" %]
    Podane wyrażenie regularne nie jest prawidłowe.

  [% ELSIF error == "invalid_user_group" %]
    [% title = "Nieprawidłowa grupa użytkowników" %]
    [% IF users.size > 1 %] Użytkownicy [% ELSE %] Użytkownik [% END %]
    „[% users.join(', ') FILTER html %]”
    [% IF users.size > 1 %] nie mogą [% ELSE %] nie może [% END %]
    modyfikować 
    [% IF product %]
      produktu „[% product FILTER html %]”
    [% END %]
    [% IF bug_id %]
      dla [% terms.bledu %] „[% bug_id FILTER html %]”.
    [% ELSIF new %]
      i nie [% IF users.size > 1 %] mogą być dołączeni [% ELSE %] może być dołączony [% END %] do nowego [% terms.bledu %].
    [% ELSE %]
      dla co najmniej jednego zmienianego [% terms.bledu %].
    [% END %]

  [% ELSIF error == "invalid_username" %]
    [% title = "Nieprawidłowa nazwa użytkownika" %]
    Nazwa <tt>[% name FILTER html %]</tt> nie jest prawidłową nazwą użytkownika.  
    Wpisano nazwę z błędem lub w [% terms.Bugzilli %]
    nie istnieje konto tej osoby.

  [% ELSIF error == "invalid_username_or_password" %]
    [% title = "Nieprawidłowa nazwa użytkownika lub hasło" %]
    Podana nazwa użytkownika lub hasło są nieprawidłowe.
    [%# People get two login attempts before being warned about
      # being locked out.
      #%]
    [% IF remaining <=  2 %]
      Jeśli nie zostanie wprowadzone prawidłowe hasło w [% remaining FILTER html %] [%+ PROCESS ODMIEN c=remaining o1="ostatniej próbie" o2="kolejnych próbach" o3="kolejnych próbach" %], to konto
      zostanie zablokowane na
      [%+ constants.LOGIN_LOCKOUT_INTERVAL FILTER html %] minut.
    [% END %]

  [% ELSIF error == "json_rpc_get_method_required" %]
    Gdy używasz JSON-RPC, korzystając z metody GET, należy podać parametr „method”.
    Więcej szczegółów znajdziesz w dokumentacji
    [%+ docs_urlbase FILTER html %]api/Bugzilla/WebService/Server/JSONRPC.html

  [% ELSIF error == "json_rpc_illegal_content_type" %]
    Gdy używasz JSON-RPC, korzystając z metody POST, nie można wysyłać danych jako
    [%+ content_type FILTER html %]. Dozwolone typy zawartości to application/json oraz
    application/json-rpc.

  [% ELSIF error == "json_rpc_invalid_params" %]
    Nie można przetworzyć argumentu „params” jako prawidłowego zapytania JSON.
    Błąd: [% err_msg FILTER html %]
    Wartość: [% params FILTER html %]

  [% ELSIF error == "json_rpc_invalid_callback" %]
    Nie można użyć  „[% callback FILTER html %]” jako parametru typu „callback”.
    Ze względów bezpieczeństwa tylko litery, liczby oraz następujące 
    znaki specjalne są dopuszczone do wykorzystania jako parametr „callback”: <code>[]._</code>

  [% ELSIF error == "json_rpc_post_only" %]
    Z powodów bezpieczeństwa musisz użyć HTTP POST, by wywołać
    metodę „[% method FILTER html %]”.

  [% ELSIF error == "keyword_already_exists" %]
    [% title = "Słowo kluczowe już istnieje" %]
    Słowo kluczowe [% name FILTER html %] już istnieje.

  [% ELSIF error == "keyword_blank_description" %]
    [% title = "Puste pole opisu słowa kluczowego" %]
    Opis dla słowa kluczowego nie może być pusty.
     
  [% ELSIF error == "keyword_blank_name" %]
    [% title = "Pusta nazwa słowa kluczowego" %]
    Nazwa słowa kluczowego nie może być pusta.
     
  [% ELSIF error == "keyword_invalid_name" %]
    [% title = "Nieprawidłowa nazwa słowa kluczowego" %]
    Nazwa słowa kluczowego nie może zawierać przecinków i spacji.
     
  [% ELSIF error == "login_needed_for_password_change" %]
    [% title = "Wymagana nazwa konta" %]
    Aby zmienić hasło, należy podać nazwę konta.

  [% ELSIF error == "login_required_for_pronoun" %]
    [% title = "Wymagana nazwa użytkownika" %]
    Nie można użyć %user%, nie będąc zalogowanym, ponieważ zmienna %user% odnosi się
    do nieznanej w tym momencie nazwy użytkownika.

  [% ELSIF error == "login_required" %]
    [%# Used for non-web-based LOGIN_REQUIRED situations. %]
    Przed użyciem tej części [% terms.Bugzilli %] musisz się zalogować.

  [% ELSIF error == "migrate_config_created" %]
    Plik <kbd>[% file FILTER html %]</kbd> zawiera konfigurację
    zmiennych, które muszą być określone przed kontynuacją migracji.

  [% ELSIF error == "migrate_from_invalid" %]
    Nie można dokonać migracji. „[% from FILTER html %]” nie jest prawidłowym typem trackera błędów.
    Zobacz zawartość katalogu <kbd>B[% %]ugzilla/Migrate/</kbd>, by sprawdzić
    prawidłowe trackery błędów.

  [% ELSIF error == "milestone_already_exists" %]
    [% title = "Wersja docelowa już istnieje" %]
    [% admindocslinks = {'products.html' => 'Administracja produktami',
                         'milestones.html' => 'O wersjach docelowych'} %]
    Wersja docelowa „[% name FILTER html %]” została już zdefiniowana dla produktu 
     „[% product FILTER html %]”.

  [% ELSIF error == "milestone_blank_name" %]
    [% title = "Pusta nazwa dla wersji docelowej jest niedozwolona" %]
    Należy podać nazwę dla wersji docelowej.

  [% ELSIF error == "milestone_is_default" %]
    [% title = "Nie można usunąć domyślnej wersji docelowej" %]
    [% admindocslinks = {'products.html' => 'Administracja produktami',
                         'milestones.html' => 'O wersjach docelowych'} %]
    Wersja [% milestone.name FILTER html %] jest domyślną wersją docelową dla
    produktu „[% milestone.product.name FILTER html %]”, zatem nie może
    być usunięta.

  [% ELSIF error == "milestone_name_too_long" %]
    [% title = "Nazwa wersji docelowej jest zbyt długa" %]
    Nazwa wersji docelowej jest ograniczona do [% constants.MAX_MILESTONE_SIZE FILTER html %]
    znaków. „[% name FILTER html %]” zawiera za dużo znaków ([% name.length %]).

  [% ELSIF error == "milestone_required" %]
    [% title = "Wersja docelowa jest wymagana" %]
    Jeśli zamierzasz zaakceptować [% terms.blad %] [%+ bug.id FILTER html %], 
    należy określić dla niego wersję docelową. Częścią procesu akceptacji 
    jest określenie przypuszczalnego czasu jego rozwiązania.

  [% ELSIF error == "milestone_sortkey_invalid" %]
    [% title = "Nieprawidłowy klucz sortowania wersji docelowej" %]
    Klucz sortowania „[% sortkey FILTER html %]” nie mieści się w przedziale
    [%+ constants.MIN_SMALLINT FILTER html %] &le; klucz sortowania &le;
    [%+ constants.MAX_SMALLINT FILTER html %].

  [% ELSIF error == "misarranged_dates" %]
    [% title = "Nieprawidłowe daty" %]
    Data początkowa ([% datefrom FILTER html %]) jest późniejsza
    niż końcowa ([% dateto FILTER html %]).
    
  [% ELSIF error == "missing_attachment_description" %]
    [% title = "Brakujący opis załącznika" %]
    Należy podać opis załącznika.
    
  [% ELSIF error == "missing_category" %]
    [% title = "Brakująca kategoria" %]
    Nie podano kategorii dla tej serii.

  [% ELSIF error == "missing_component" %]
    [% title = "Brakujący komponent" %]
    [% admindocslinks = {'products.html'   => 'Administracja produktami',
                         'components.html' => 'Tworzenie komponentów'} %]
    Produkt <em>[% product.name FILTER html %]</em>
    musi mieć aktywny przynajmniej jeden komponent, aby możliwe było
    zgłaszanie [% terms.bledow %] dla niego.<br>
    [% IF user.in_group("editcomponents", product.id) %]
      <a href="editcomponents.cgi?action=add&amp;product=[% product.name FILTER uri %]">Utwórz
      nowy komponent</a>.
    [% ELSE %]
      Proszę skontaktować się z [% Param("maintainer") %] i poprosić o dodanie
      komponentu do tego produktu.
    [% END %]

  [% ELSIF error == "missing_content_type" %]
    [% title = "Brakujące określenie typu zawartości" %]
     Poproszono [% terms.Bugzille %] o automatyczne wykrycie typu zawartości załącznika,
     ale twoja przeglądarka podczas przysyłania pliku nie określiła typu zawartości.
     Musisz podać typ zawartości ręcznie.
                
  [% ELSIF error == "missing_content_type_method" %]
    [% title = "Brak metody pozwalającej określić typ zawartości" %]
    Wybierz metodę, która pozwoli określić typ załącznika.
    Można wybrać spośród: <em>wykryj automatycznie</em>, <em>wybierz z listy</em> lub
    <em>wprowadź ręcznie</em>.
        
  [% ELSIF error == "missing_cookie" %]
    [% title = "Brak ciasteczka" %]
    Przepraszamy, ale wydaje się, że straciliśmy ciasteczko, w którym zapisano wyniki
    ostatniego wyszukiwania. Obawiamy się, że trzeba będzie zacząć
    <a href="query.cgi">wyszukiwanie</a> od początku.
          
  [% ELSIF error == "missing_datasets" %]
    [% title = "Nie wybrano zestawu danych" %]
    [% docslinks = {'reporting.html' => 'Raporty'} %]
    Proszę wybrać jeden lub więcej zestawów danych do narysowania wykresu.
    
  [% ELSIF error == "missing_frequency" %]
    [% title = "Brakująca częstotliwość" %]
    [% docslinks = {'reporting.html' => 'Raporty'} %]
    Nie podano prawidłowej częstotliwości dla tej serii.
                
  [% ELSIF error == "missing_name" %]
    [% title = "Brak nazwy" %]
    [% docslinks = {'reporting.html' => 'Raporty'} %]
    Nie podano nazwy dla tej serii.
                
  [% ELSIF error == "missing_query" %]
    [% title = "Brak wyszukiwania" %]
    [% docslinks = {'query.html' => "Wyszukiwanie $terms.bledow",
                    'query.html#list'  => "Listy $terms.bledow"} %]
    Wyszukiwanie o nazwie <em>[% queryname FILTER html %]</em>
    [% IF sharer_id && sharer_id != user.id %]
      nie jest dla ciebie udostępnione.
    [% ELSE %]
      nie istnieje.
    [% END %]

  [% ELSIF error == "missing_resolution" %]
    [% title = "Rozwiązanie wymagane" %]
    Prawidłowe rozwiązanie jest wymagane, by oznaczyć [% terms.blad %] jako
    [%+ status FILTER upper FILTER html %].

  [% ELSIF error == "missing_subcategory" %]
    [% title = "Brak subkategorii" %]
    Nie podano subkategorii dla tej serii.
                
  [% ELSIF error == "missing_version" %]
    [% title = "Brak wersji" %]
    [% admindocslinks = {'versions.html' => 'Definiowanie wersji'} %]
    Produkt <em>[% product.name FILTER html %]</em>
    musi mieć aktywną przynajmniej jedną wersję, by możliwe było
    zgłaszanie [% terms.bledow %] dla niego.<br>
    [% IF user.in_group("editcomponents", product.id) %]
      <a href="editversions.cgi?action=add&amp;product=[% product.name FILTER uri %]">Utwórz
      nową wersję</a>.
    [% ELSE %]
      Proszę skontaktować się z [% Param("maintainer") %] i poprosić o dodanie
      wersji dla tego produktu.
    [% END %]

  [% ELSIF error == "multiple_alias_not_allowed" %]
    Nie można zmienić aliasu podczas modyfikacji wielu [% terms.bledow %]
    jednocześnie.

  [% ELSIF error == "need_quip" %]
    [% title = "Wymagana sentencja" %]
    [% docslinks = {'quips.html' => 'O sentencjach'} %]
    Proszę podać sentencję w polu tekstowym.

  [% ELSIF error == "new_password_missing" %]
    [% title = "Brakuje nowego hasła" %]
    Należy podać nowe hasło.

  [% ELSIF error == "no_axes_defined" %]
    [% title = "Niezdefiniowane osie" %]
    [% docslinks = {'reporting.html' => 'Raporty'} %]
    Nie zdefiniowano żadnych osi dla wykresu.

  [% ELSIF error == "no_bugs_chosen" %]
    [% title = BLOCK %]Nie wybrano żadnych [% terms.bledow %][% END %]
    Nie wybrano żadnych [% terms.bledow %]
    [% IF action == "modify" %]
      do modyfikacji.
    [% ELSIF action == "view" %]
      do przeglądania.
    [% END %]

  [% ELSIF error == "no_tag_to_edit" %]
    [% title = "Nie wybrano etykiety" %]
    Nie wybrano etykiety, z/do której miałyby być usunięte/dodane [% terms.bledy %].

  [% ELSIF error == "no_initial_bug_status" %]
    [% title = "Brak początkowego statusu $terms.bledu" %]
    Nie podano statusu [% terms.bledu %] podczas tworzenia zgłoszenia.
    Proszę zgłosić problem do [% Param("maintainer") %].

  [% ELSIF error == "no_new_quips" %]
    [% title = "Nie można tworzyć nowych sentencji" %] 
    [% admindocslinks = {'quips.html' => 'Ustawienia sentencji'} %]
    Ta instalacja nie pozwala na dodawanie nowych sentencji.

  [% ELSIF error == "no_page_specified" %]
    [% title = "Nie podano ID strony" %]
    Nie podano identyfikatora strony do wyświetlenia.

  [% ELSIF error == "no_products" %]
    [% title = "Brak produktów" %]
    [% admindocslinks = {'products.html'   => 'Ustawienia produktu',
                         'components.html' => 'Dodawanie komponentów',
                         'groups.html'     => 'Grupy zabezpieczeń'} %]
    Nie utworzono żadnego produktu, dla którego można utworzyć [% terms.blad %]
    lub nie masz uprawnień dostępu do produktów.

  [% ELSIF error == "number_not_numeric" %]
    [% title = "Wymagana wartość liczbowa" %]
    Wartość „[% num FILTER html %]” dla pola 
    <em>[% field_descs.$field FILTER html %]</em> nie 
    jest liczbą.

  [% ELSIF error == "number_too_large" %]
    [% title = "Zbyt duża liczba" %]
    Wartość „[% num FILTER html %]” dla pola 
    <em>[% field_descs.$field FILTER html %]</em> jest większa
    niż maksymalna dopuszczalna wartość „[% max_num FILTER html %]”.

  [% ELSIF error == "number_too_small" %]
    [% title = "Zbyt mała liczba" %]
    Wartość „[% num FILTER html %]” dla pola 
    <em>[% field_descs.$field FILTER html %]</em> jest mniejsza
    niż minimalna dopuszczalna wartość „[% min_num FILTER html %]”.

  [% ELSIF error == "object_not_specified" %]
    [% type = BLOCK %][% INCLUDE object_name class = class %][% END %]
    [% title = BLOCK %]Nie określono [% type FILTER ucfirst FILTER html %] 
    [% END %]
    Należy wybrać/podać [% type FILTER html %].

  [% ELSIF error == "object_does_not_exist" %]
    [% type = BLOCK %][% INCLUDE object_name class = class %][% END %]
    [% title = BLOCK %]Nieprawidłowy [% type FILTER ucfirst FILTER html %][% END %]
    Nie ma [% type FILTER html %]
    [% IF id.defined %]
      z ID „[% id FILTER html %]”
    [% ELSE %]
      o nazwie „[% name FILTER html %]”
    [% END %]
    [% IF product.defined %]
      w produkcie „[% product.name FILTER html %]”
    [% END %].
    [% IF class == "Bugzilla::User" %]
      Popełniono błąd w nazwie lub użytkownik nie ma jeszcze zarejestrowanego
      konta w [% terms.Bugzilli %].
    [% ELSIF class == "Bugzilla::Keyword" %]
	  Wszystkie istniejące słowa kluczowe są dostępne na <a href="describekeywords.cgi">tej liście</a>.
	[% END %]
	
  [% ELSIF error == "old_password_incorrect" %]
    [% title = "Nieprawidłowe poprzednie hasło" %]
    Nie podano prawidłowego poprzedniego hasła.

  [% ELSIF error == "old_password_required" %]
    [% title = "Wymagane podanie poprzedniego hasła" %]
    Aby zmienić adres e-mail, należy podać poprzednie hasło.

  [% ELSIF error == "password_change_requests_not_allowed" %]
    [% title = "Zmiana hasła jest niedozwolona" %]
    Konfiguracja systemu nie zezwala na zmianę hasła.

  [% ELSIF error == "passwords_dont_match" %]
    [% title = "Niezgodne hasła" %]
    Podane hasła nie są identyczne.
  [% ELSIF error == "password_current_too_short" %]
    [% title = "Wymagana zmiana hasła" %]
    Konfiguracja minimalnej długości hasła została zmieniona.
    Hasło nie może mieć mniej niż
    [%+ constants.USER_PASSWORD_MIN_LENGTH FILTER html %] znaków.
    Należy <a href="token.cgi?a=reqpw&amp;loginname=[% locked_user.email FILTER uri %]">
    zmienić hasło</a> aby się zalogować.

  [% ELSIF error == "password_too_short" %]
    [% title = "Zbyt krótkie hasło" %]
    Hasło nie może mieć mniej niż
    [%+ constants.USER_PASSWORD_MIN_LENGTH FILTER html %] znaków.

  [% ELSIF error == "password_not_complex" %]	
     [% title = "Hasło nie spełnia wymagań dotyczących złożoności" %]	
     [% passregex = Param('password_complexity') %]	
     Hasło musi zawierać przynajmniej:	
     <ul>	
       [% IF passregex.search('letters') %]	
         <li>jedną WIELKĄ literę</li>	
         <li>jedną małą literę</li>	
       [% END %]	
       [% IF passregex.search('numbers') %]	
         <li>jedną cyfrę</li>	
       [% END %]	
       [% IF passregex.search('specialchars') %]	
         <li>jeden znak specjalny</li>	
       [% END %]	
     </ul>	
	
  [% ELSIF error == "product_access_denied" %]
    [% title = "Odmowa dostępu" %]
    Produkt 
    [%+ IF id.defined %]
      z ID [% id FILTER html %]
    [% ELSE %]
      „[% name FILTER html %]”
    [% END %]
    nie istnieje lub nie masz uprawnień dostępu do niego.


  [% ELSIF error == "product_illegal_group" %]
    [% title = "Niepoprawna grupa" %]
    Grupa [% group.name FILTER html %] nie jest aktywną grupą dla [% terms.bledu %]
    i nie możesz modyfikować elementów kontrolnych dla niej.

  [% ELSIF error == "product_name_already_in_use" %]
    [% title = "Nazwa produktu jest już używana" %]
    [% admindocslinks = {'products.html' => 'Administracja produktami'} %]
    Nazwa „[% product FILTER html %]” jest już używana przez inny produkt.
  
  [% ELSIF error == "product_name_diff_in_case" %]
    [% title = "Nazwa produktu różni się tylko wielkością liter" %]
    [% admindocslinks = {'products.html' => 'Administracja produktami'} %]
    Nazwa produktu „[% product FILTER html %]” różni się od istniejącego produktu
    „[% existing_product FILTER html %]” tylko wielkością liter.

  [% ELSIF error == "product_name_too_long" %]
    [% title = "Nazwa produktu jest za długa" %]
    Nazwa produktu może zawierać maksymalnie [% constants.MAX_PRODUCT_SIZE FILTER html %]
    znaków. „[% name FILTER html %]” zawiera za dużo znaków ([% name.length %]).

  [% ELSIF error == "product_must_define_defaultmilestone" %]
    [% title = "Wymagane zdefiniowanie nowej wersji docelowej" %]
    [% admindocslinks = {'products.html' => 'Administracja produktami',
                         'milestones.html' => 'O wersjach docelowych'} %]
    Należy <a href="editmilestones.cgi?action=add&amp;product=[% product FILTER uri %]">
    utworzyć wersję docelową „[% milestone FILTER html %]”</a>, zanim będzie
    można ją uczynić domyślną wersją docelową dla produktu „[% product FILTER html %]”.

  [% ELSIF error == "product_admin_denied" %]
    [% title = "Brak dostępu do produktu" %]
    Nie masz uprawnień do modyfikowania właściwości produktu „[% product FILTER html %]”.

  [% ELSIF error == "product_blank_name" %]
    [% title = "Niedozwolone puste pole nazwy produktu" %]
    [% admindocslinks = {'products.html' => 'Administracja produktami'} %]
    Należy podać nazwę produktu.
  
  [% ELSIF error == "product_disabled" %]
    [% title = BLOCK %]Produkt zamknięty dla zgłaszania [% terms.bledow %][% END %]
    [% admindocslinks = {'products.html' => 'Administracja produktami'} %]
    Zgłaszanie nowych [% terms.bledow %] dla
    produktu <em>[% product.name FILTER html %]</em> zostało wyłączone.

  [% ELSIF error == "product_edit_denied" %]
    [% title = "Brak dostępu do modyfikowania produktu" %]
    [% admindocslinks = {'products.html' => 'Administracja produktami',
                         'groups.html'   => 'Grupy zabezpieczeń'} %]
    Nie masz uprawnień do modyfikowania [% terms.bledu %] dla produktu
    [%+ product FILTER html %].

  [% ELSIF error == "product_has_bugs" %]
    [% title = BLOCK %]Produkt nadal ma przypisane [% terms.bledy %][% END %]
    [% admindocslinks = {'products.html' => 'Administracja produktami'} %]
    Nadal [% nb FILTER html %] [%+ terms.bledow %] jest przypisanych do tego
    produktu. Aby usunięcie produktu było możliwe, należy przypisać te
    [%+ terms.bledy %] do innego produktu.

  [% ELSIF error == "product_must_have_description" %]
    [% title = "Wymagany opis produktu" %]
    [% admindocslinks = {'products.html' => 'Administracja produktami'} %]
    Należy podać opis dla tego produktu.

  [% ELSIF error == "product_must_have_version" %]
    [% title = "Wymagana wersja produktu" %]
    [% admindocslinks = {'products.html' => 'Administracja produktami',
                         'versions.html' => 'Administracja wersjami'} %]
    Aby utworzyć nowy produkt, należy podać jego wersję.

  [% ELSIF error == "product_unknown_component" %]
    [% title = "Nieznany komponent" %]
    Produkt „[% product FILTER html %]” nie posiada komponentu
    [% IF comp_id %]
      z ID [% comp_id FILTER html %].
    [% ELSE %]
      „[% comp FILTER html %]”.
    [% END %]

  [% ELSIF error == "query_name_missing" %]
    [% title = "Nie podano nazwy wyszukiwania" %]
    [% docslinks = {'query.html#list' => "Listy $terms.bledow"} %]
    Należy podać nazwę dla wyszukiwania.

  [% ELSIF error == "query_name_too_long" %]
    [% title = "Zbyt długa nazwa wyszukiwania" %]
    Nazwa wyszukiwania nie może zawierać więcej niż [% constants.MAX_LEN_QUERY_NAME FILTER html %]
    znaków.	
  [% ELSIF error == "quicksearch_invalid_query" %]
    [% title = "Nieprawidłowe wyszukiwanie" %]
    Wyszukiwanie jest nieprawidłowe.
    [% IF operators %]
      Po operatorze [% operators.shift FILTER html %] nie może wystąpić operator
      [%+ operators.shift FILTER html %].
    [% ELSE %]
      Wyszukiwanie nie może rozpoczynać się od AND lub OR, ani być zakończone AND, OR lub NOT.
      Są to zastrzeżone operatory logiczne i, w przypadku konieczności ich wyszukania, 
      muszą być umieszczone w cudzysłowie.
    [% END %]

  [% ELSIF error == "quicksearch_unbalanced_quotes" %]
    [% title = "Nieprawidłowa składnia wyszukiwania" %]
    [% terms.Bugzilla %] nie może wykonać wyszukiwania:
    <em>[% string FILTER html %]</em>.<br>
    W przypadku korzystania ze znaków cudzysłowu podczas wyszukiwania należy upewnić się, że cudzysłowowi
    otwierającemu towarzyszy cudzysłów zamykający.
    W przypadku wyszukiwania znaku cudzysłowu należy wprowadzić \" zamiast ",
    np. <em>"Jest \"cudnie\""</em> (ze znakami cudzysłowu) 
    zostanie zinterpretowane jako <em>Jest "cudnie"</em>.

  [% ELSIF error == "quicksearch_unknown_field" %]
    [% title = "Nieznane pole szybkiego wyszukiwania" %]
    Jest problem z twoim wyszukiwaniem:
    [% FOREACH field = unknown %]
      <p><code>[% field FILTER html %]</code> nie jest poprawną nazwą pola.</p>
    [% END %]
    [% FOREACH field = ambiguous.keys %]
      <p><code>[% field FILTER html %]</code> pasuje do więcej niż jednego pola:
        [%+ ambiguous.${field}.join(', ') FILTER html %]</p>
    [% END %]

    [% IF unknown.size %]
      <p>Poprawne nazwy pól są
        <a href="page.cgi?id=quicksearch.html#fields">podane tutaj</a>.</p>
    [% END %]

  [% ELSIF error == "reassign_to_empty" %]
    [% title = "Nieprawidłowe przypisanie" %]
    Aby przepisać [% terms.blad %], należy podać adres nowej osoby 
    odpowiedzialnej za rozwiązanie [% terms.bledu %].

  [% ELSIF error == "require_component" %]
    [% title = "Wymagany komponent" %]
    Aby zgłosić ten [% terms.blad %], należy najpierw wybrać komponent.
    W ostateczności można zgadywać.

  [% ELSIF error == "relationship_loop_single" %]
    [% title = "Wykryto pętlę zależności" %]
    Pole [% field_descs.$field_name FILTER html %]
    [%+ terms.bledu %] [%+ bug_id FILTER html %]
    ma cykliczną zależność od [% terms.bledu %] [%+ dep_id FILTER html %].

  [% ELSIF error == "request_queue_group_invalid" %]
    Grupa <em>[% group FILTER html %]</em> jest nieprawidłowa.

  [% ELSIF error == "require_new_password" %]
    [% title = "Wymagane nowe hasło" %]
    Nie można zmienić hasła bez podania nowego hasła.

  [% ELSIF error == "required_field" %]
    [% title = "Wymagana wartość" %]
    Wymagane jest podanie wartości dla pola „[% field_descs.${field.name} FILTER html %]”.

  [% ELSIF error == "require_summary" %]
    [% title = "Wymagany krótki opis" %]
    Należy podać krótki opis tego [% terms.bledu %].

  [% ELSIF error == "resolution_cant_clear" %]
    [% terms.Blad %] [%+ bug_id FILTER bug_link(bug_id) FILTER none %] nie jest 
    zamknięty, więc nie można sklarować jego rozwiązania.

  [% ELSIF error == "resolution_not_allowed" %]
    [% title = "Nie można ustawić rozwiązania" %]
    Nie można określić rozwiązania dla otwartego [% terms.bledu %].

  [% ELSIF error == "saved_search_used_by_whines" %]
    [% title = "Zapisane wyszukiwanie jest używane" %]
    [% docslinks = {'whining.html' => 'O przypominaniu'} %]
    Zapisane wyszukiwanie <em>[% search_name FILTER html %]</em> jest używane
    przez następujące <a href="editwhines.cgi">raporty przypominania</a>:
    [%+ subjects FILTER html %]

  [% ELSIF error == "search_content_without_matches" %]
    [% title = "Nieprawidłowe wyszukiwanie" %]
    Pole „zawartość” może być używane wyłącznie z wyszukiwaniem „pasuje”,
    a wyszukiwanie „pasuje” tylko z polem „zawartość”.

  [% ELSIF error == "search_field_operator_invalid" %]
    [% terms.Bugzilla %] nie obsługuje wykorzystywania operatora wyszukiwania
    „[% search_descs.$operator FILTER html %]” dla pola
	„[%+ field_descs.$field FILTER html %]” ([% field FILTER html %]).

  [% ELSIF error == "see_also_self_reference" %]
    [% terms.Blad %] nie może wskazywać na samego siebie w polu
    [%+ field_descs.see_also FILTER html %].

  [% ELSIF error == "series_already_exists" %]
    [% title = "Seria już istnieje" %]
    [% docslinks = {'reporting.html' => 'Raporty'} %]
      Seria o nazwie <em>[% series.category FILTER html %] /
      [%+ series.subcategory FILTER html %] / 
      [%+ series.name FILTER html %]</em>
      już istnieje.
    
  [% ELSIF error == "still_unresolved_bugs" %]
    [% title = "Nierozwiązane zależności" %]
      [% terms.Blad %] [%+ bug_id FILTER bug_link(bug_id) FILTER none %]
    [% IF dep_count == 1 %]
      nadal ma nierozwiązaną zależność.
    [% ELSE %]
      nadal ma [% dep_count FILTER none %] 
      [% PROCESS ODMIEN c=dep_count o1="nierozwiązaną zależność"
        o2="nierozwiązane zależności" o3="nierozwiązanych zależności" %].
    [% END %]
    Należy je rozwiązać lub usunąć z pola „Zależy od” przed zmianą 
    statusu [% terms.bledu %] na [% display_value("resolution", "FIXED") FILTER html %].

  [% ELSIF error == "sudo_invalid_cookie" %]
    [% title = "Nieprawidłowe ciasteczko sesji sudo" %]
    Twoje ciasteczko sesji sudo jest nieprawidłowe - wygasło lub sesja sudo
    nie została prawidłowo rozpoczęta. Aby kontynuować pracę, używając własnej tożsamości, odśwież tę stronę
    lub przejdź na inną.

  [% ELSIF error == "sudo_illegal_action" %]
    [% title = "Brak uprawnień do przejęcia tożsamości" %]
    [% IF NOT sudoer.in_group("bz_sudoers") %]
      Nie masz uprawnień do przejęcia tożsamości innych użytkowników.
    [% ELSIF target_user AND target_user.in_group("bz_sudo_protect") %]
      Nie masz uprawnień do przejęcia tożsamości użytkownika [% target_user.identity FILTER html %].
    [% ELSE %]
      Próbowano przejąć tożsamość nieistniejącego użytkownika.
    [% END %]

  [% ELSIF error == "sudo_in_progress" %]
    [% title = "Sesja sudo jest aktywna" %]
    Trwa sesja sudo z tożsamością [% target FILTER html %].  
    Przed rozpoczęciem nowej sesji należy zakończyć (odnośnik w stopce) trwającą sesję.

  [% ELSIF error == "sudo_password_required" %]
    [% title = "Wymagane hasło" %]
    Aby rozpocząć sesję sudo, wymagane jest podanie hasła do [% terms.Bugzilli %].
    Proszę <a href="relogin.cgi?action=prepare-sudo&amp;target_login=
    [%- target_login FILTER uri %]&amp;reason=
    [%- reason FILTER uri %]">się cofnąć</a> i podać hasło.
    
  [% ELSIF error == "sudo_preparation_required" %]
    [% title = "Wymagane przygotowanie" %]
    Nie można bezpośrednio rozpocząć sesji sudo. Proszę 
    <a href="relogin.cgi?action=prepare-sudo&amp;target_login=
    [%- target_login FILTER uri %]&amp;reason=
    [%- reason FILTER uri %]">rozpocząć sesję w normalny sposób</a>.

  [% ELSIF error == "sudo_protected" %]
    [% title = "Chroniony użytkownik" %]
    Podczas sesji sudo nie można użyć tożsamości użytkownika [% login FILTER html %].

  [% ELSIF error == "tag_name_too_long" %]
    [% title = "Nazwa etykiety jest zbyt długa" %]
    Etykieta nie może zawierać więcej niż [% constants.MAX_LEN_QUERY_NAME FILTER html %] 
    znaków.

  [% ELSIF error == "token_does_not_exist" %]
    [% title = "Nieistniejący token" %]
    Wysłany token nie istnieje, jest przeterminowany lub
    został anulowany.

  [% ELSIF error == "too_soon_for_new_token" %]
    [% title = "Zbyt krótki okres pomiędzy prośbami o nowy token" %]
    Poproszono o token dla nowego
    [% IF type == "password" %]
      hasła
    [% ELSIF type == "account" %]
      konta
    [% END %]
    w zbyt krótkim odstępie czasu od poprzedniej próby. Proszę odczekać chwilę i spróbować ponownie.

  [% ELSIF error == "unknown_action" %]
    [% IF action %]
       Nieznana czynność [% action FILTER html %]!
    [% ELSE %]
       Wykonano nieznaną czynność. Nie można określić, co chcesz zrobić.
    [% END %]

  [% ELSIF error == "unknown_tab" %]
    [% title = "Nieznana etykieta" %]
    <code>[% current_tab_name FILTER html %]</code> nie jest nazwą istniejącej etykiety.

  [% ELSIF error == "version_already_exists" %]
    [% title = "Wersja już istnieje" %]
    [% admindocslinks = {'versions.html' => 'Administracja wersjami'} %]
    Wersja „[% name FILTER html %]” już istnieje dla produktu
    „[%- product FILTER html %]”.

  [% ELSIF error == "version_blank_name" %]
    [% title = "Puste pole nazwy wersji" %]
    Należy podać nazwę dla tej wersji.

  [% ELSIF error == "version_has_bugs" %]
    [% title = BLOCK %]Wersja ma przypisane [% terms.bledy %][% END %]
    Nadal [% nb FILTER html %] [%+ terms.bledow %] jest przypisanych do tej
    wersji. Należy przypisać te [% terms.bledy %] do innej wersji, aby
    możliwe było usunięcie tej wersji.

  [% ELSIF error == "users_deletion_disabled" %]
    [% title = "Usuwanie nie zostało uaktywnione" %]
    [% admindocslinks = {'useradmin.html' => 'Administracja użytkownikami'} %]
    Usuwanie kont użytkowników nie jest dozwolone.

  [% ELSIF error == "user_has_responsibility" %]
    [% title = "Nie można usunąć konta użytkownika" %]
    [% admindocslinks = {'useradmin.html' => 'Administracja użytkownikami'} %]
    Usuwany użytkownik jest domyślną osobą odpowiedzialną za rozwiązanie [% terms.bledow %]
    [% IF Param('useqacontact') %]
      lub specjalistą QA
    [% END %]
    dla co najmniej jednego komponentu.
    Z tego powodu nie jest możliwe usunięcie tego konta.

  [% ELSIF error == "user_access_by_id_denied" %]
    [% title = "Dostęp do użytkowników przez określenie ID jest zabronione" %]
    Wylogowani użytkownicy nie mogą używać argumentu „ids”, by uzyskać
    dostęp do informacji o użytkowniku.

  [% ELSIF error == "user_access_by_match_denied" %]
    [% title = "Dopasowywanie nazw użytkowników jest zabronione" %]
    Wylogowani użytkownicy nie mogą używać argumentu „match”, by uzyskać
    dostęp do informacji o użytkowniku.

  [% ELSIF error == "user_login_required" %]
    [% title = "Wymagana nazwa użytkownika" %]
    [% admindocslinks = {'useradmin.html' => 'Administracja użytkownikami'} %]
    Należy podać nazwę (login) nowego użytkownika.

  [% ELSIF error == "user_match_failed" %]
    [% title = "Nic nie znaleziono" %]
    Nie ma użytkownika o nazwie <tt>[% name FILTER html %]</tt> lub 
    nie masz uprawnień do oglądania jego danych.

  [% ELSIF error == "user_match_too_many" %]
    [% title = "Brak rozstrzygnięcia" %]
    [% terms.Bugzilla %] nie może wykonać rozstrzygającego dopasowania
    dla jednej lub więcej nazw i adresów e-mail podanych dla pól
    [% fields.join(', ') FILTER html %].

  [% ELSIF error == "user_not_insider" %]
    [% title = "Użytkownik nie jest w grupie poufnej" %]
    Nie masz uprawnień do zaznaczania/odznaczania komentarzy lub załączników
    jako prywatne.

  [% ELSIF error == "wrong_token_for_cancelling_email_change" %]
    [% title = "Nieprawidłowy token" %]
    Ten token nie może być użyty do anulowania zmiany adresu e-mail.

  [% ELSIF error == "wrong_token_for_changing_passwd" %]
    [% title = "Nieprawidłowy token" %]
    Ten token nie może być użyty do zmiany hasła.

  [% ELSIF error == "wrong_token_for_confirming_email_change" %]
    [% title = "Nieprawidłowy token" %]
    Ten token nie może być użyty do zmiany adresu e-mail.

  [% ELSIF error == "wrong_token_for_creating_account" %]
    [% title = "Nieprawidłowy token" %]
    Ten token nie może być użyty do utworzenia konta.

  [% ELSIF error == "xmlrpc_invalid_value" %]
    Wartość „[% value FILTER html %]” nie jest prawidłową wartością dla pola
    &lt;[% type FILTER html %]&gt;. Więcej szczegółów uzyskasz w
    specyfikacji XML-RPC.

  [% ELSIF error == "xmlrpc_illegal_content_type" %]
    Typ zawartości <em>[% contenttype FILTER html %]</em> jest nieprawidłowy.
    Gdy używasz XML-RPC, prawidłowe typy to text/xml 
    oraz application/xml.

  [% ELSIF error == "zero_length_file" %]
    [% title = "Plik jest pusty" %]
    Wysyłany plik załącznika jest pusty, nie istnieje lub nie masz uprawnień
    do jego odczytu.

  [% ELSIF error == "illegal_user_id" %]
    [% title = "Niepoprawny ID użytkownika" %]
    Identyfikator „[% userid FILTER html %]” nie jest poprawną liczbą całkowitą.
  [% ELSIF error == "extern_id_exists" %]
    [% title = "Konto już istnieje" %]
    Już istnieje konto
    [% IF existing_login_name %]
      ([% existing_login_name FILTER html %])
    [% END %]
    z identyfikatorem „[% extern_id FILTER html %]”.

  [% ELSE %]

    [%# Try to find hooked error messages %]
    [% error_message = Hook.process("errors") %]

    [% IF not error_message %]
      [% title = "Nie znaleziono opisu błędu" %]
      Nie znaleziono opisu błędu użytkownika <code>[% error FILTER html %]</code>.
      Proszę wysłać wiadomość do [% Param("maintainer") %] opisującą kroki, które
      doprowadziły do wyświetlenia tej wiadomości.
    [% ELSE %]
      [% error_message FILTER none %]
    [% END %]
  [% END %]
[% END %]

[%# We only want HTML error messages for ERROR_MODE_WEBPAGE %]
[% USE Bugzilla %]
[% IF Bugzilla.error_mode != constants.ERROR_MODE_WEBPAGE %]
  [% IF Bugzilla.usage_mode == constants.USAGE_MODE_BROWSER %]
    [% error_message FILTER none %]
  [% ELSE %]
    [% error_message FILTER txt %]
  [% END %]
  [% RETURN %]
[% END %]

[% UNLESS header_done %]
  [% PROCESS global/header.html.tmpl %]
[% END %]

[% PROCESS global/docslinks.html.tmpl
   docslinks      = docslinks
   admindocslinks = admindocslinks
%]

<table cellpadding="20">
  <tr>
    <td id="error_msg" class="throw_error">
      [% error_message FILTER none %]
    </td>
  </tr>
</table>

<p>
  Proszę wrócić do poprzedniej strony i spróbować jeszcze raz.
</p>

[%# If a saved search fails, people want the ability to edit or delete it. 
  # This is the best way of getting information about that possible saved
  # search from any error call location. %]

[% namedcmd = Bugzilla.cgi.param("namedcmd") %]
[% sharer_id = Bugzilla.cgi.param("sharer_id") %]
[% IF namedcmd AND error != "missing_query" 
               AND error != "saved_search_used_by_whines"
               AND !sharer_id %]
  <p>  
    Ewentualnie można
    <a href="buglist.cgi?cmdtype=dorem&amp;remaction=forget&amp;namedcmd=
                  [% namedcmd FILTER uri %]">usunąć</a>
                  
    [% FOREACH q = Bugzilla.user.queries %]
      [% IF q.name == namedcmd %]
        lub <a href="query.cgi?[% q.url FILTER uri %]">dokonać modyfikacji</a>
      [% END %]
    [% END %]
    
    zapisanego wyszukiwania „[% namedcmd FILTER html %]”.
  </p>
[% END %]            

[% PROCESS global/footer.html.tmpl %]

[% BLOCK object_name %]
  [% IF class == "Bugzilla::Attachment" %]
    załącznik
  [% ELSIF class == "Bugzilla::User" %]
    użytkownika
  [% ELSIF class == "Bugzilla::Classification" %]
    kategoria
  [% ELSIF class == "Bugzilla::Product" %]
    produkt
  [% ELSIF class == "Bugzilla::Component" %]
    komponent
  [% ELSIF class == "Bugzilla::Version" %]
    wersja
  [% ELSIF class == "Bugzilla::Milestone" %]
    wersja docelowa
  [% ELSIF class == "Bugzilla::Status" %]
    status
  [% ELSIF class == "Bugzilla::Flag" %]
    flaga
  [% ELSIF class == "Bugzilla::FlagType" %]
    flaga
  [% ELSIF class == "Bugzilla::Field" %]
    pole
  [% ELSIF class == "Bugzilla::Group" %]
    grupa
  [% ELSIF class == "Bugzilla::Keyword" %]
    słowo kluczowe
  [% ELSIF class == "Bugzilla::Search::Recent" %]
    ostatnie wyszukiwanie
  [% ELSIF class == "Bugzilla::Search::Saved" %]
    zapisane wyszukiwanie
  [% ELSIF ( matches = class.match('^Bugzilla::Field::Choice::(.+)') ) %]
    [% SET field_name = matches.0 %]
    [% field_descs.$field_name FILTER html %]
  [% END %]
  [% Hook.process('end_object_name', 'global/user-error.html.tmpl') %]
[% END %]
