[%# 3.4.9PLRC@aviary.pl %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@syndicomm.com>
  #                 Joel Peshkin <bugreport@peshkin.net>
  #                 Jacob Steenhagen <jake@bugzilla.org>
  #                 Vlad Dascalu <jocuri@softhome.net>
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[%# INTERFACE:
  # gid: number. The group ID.
  # name: string. The name of the group.
  # description: string. The description of the group.
  # hasusers: boolean int. True if the group includes users in it.
  # hasbugs: boolean int. True if the group includes bugs in it.
  # hasproduct: boolean int. True if the group is binded to a product.
  # hasflags: boolean int. True if the group is used by a flag type.
  # shared_queries: int. Number of saved searches being shared with this group.
  # buglist: string. The list of bugs included in this group.
  #%]


[% PROCESS global/header.html.tmpl
  title = "Usuwanie grupy"
  doc_section = "groups.html"
%]

<table border="1">
  <tr>
    <th>ID</th>
    <th>Nazwa</th>
    <th>Opis</th>
  </tr>
  <tr>
    <td>[% gid FILTER html %]</td>
    <td>[% name FILTER html %]</td>
    <td>[% description FILTER html_light %]</td>
  </tr>
</table>

<form method="post" action="editgroups.cgi">
  [% IF hasusers %]
    <p><b>Do grupy należy jeden lub więcej użytkowników. Nie można usunąć tej grupy 
    dopóki są w niej użytkownicy.</b>

    <br><a href="editusers.cgi?action=list&groupid=[% gid FILTER html %]&grouprestrict=1">Wyświetl
    użytkowników</a>&nbsp;&nbsp;<input type="checkbox" name="removeusers">Usuń
    wszystkich użytkowników z tej grupy</p>
  [% END %]

  [% IF hasbugs %]
    <p><b>Jedno lub więcej zgłoszeń [% terms.bledow %] jest widocznych tylko dla tej grupy.
    Nie można usunąć grupy dopóki jakiekolwiek [% terms.bledy %] używają tej grupy.</b>

    <br><a href="buglist.cgi?bug_id=[% buglist FILTER html %]">Wyświetl 
    [% terms.bledy %]</a>&nbsp;&nbsp;<input type="checkbox" name="removebugs">Usuń
    wszystkie [% terms.bledy %] z tej grupy</p>

    <p><b>Uwaga:</b> Zaznaczając tę funkcję można spowodować ujawnienie poufnych [% terms.bledow %].
    <b>Zdecydowanie</b> zaleca się przejrzenie [% terms.bledow %] w tej grupie
    przed zaznaczeniem funkcji.</p>
  [% END %]

  [% IF hasproduct %]
    <p><b>Ta grupa powiązana jest z produktem <u>[% name FILTER html %]</u>.
    Nie można usunąć tej grupy dopóki jest ona powiązana z produktem.</b>

    <br><input type="checkbox" name="unbind">Usuń grupę mimo wszystko
    i uczyń produkt <u>[% name FILTER html %]</u> publicznie widocznym.</p>
  [% END %]
  
  [% IF hasflags %]
    <p><b>Ta grupa określa kto może zmieniać niektóre flagi.
    Nie można usunąć grupy dopóki istnieją flagi z niej korzystające.</b>

    <br><a href="editflagtypes.cgi?action=list&group=[% gid FILTER html %]">Wyświetl
    flagi</a>&nbsp;&nbsp;<input type="checkbox" name="removeflags">Usuń wszystkie
    flagi z tej grupy</p>
  [% END %]

  [% IF shared_queries %]
    <p>
      <b>
      [% IF shared_queries > 1 %]
        Istnieją [% shared_queries %] zapisane wyszukiwania
      [% ELSE %]
        Istnieje zapisane wyszukiwanie
      [% END %]
      współdzielone z tą grupą.</b>
      Jeśli grupa zostanie usunięta,
      [% IF shared_queries > 1 %]
        zapisane wyszukiwania
      [% ELSE %]
        zapisane wyszukiwanie
      [% END %]
      stanie/staną się na powrót prywatnymi.
    </p>
  [% END %]

  <h2>Potwierdzenie</h2>

  <p>Czy na pewno chcesz usunąć tę grupę?</p>
  [% IF (hasusers || hasbugs || hasproduct || hasflags) %]
    <p><b>By móc kontynuować, należy zaznaczyć wszystkie powyższe opcje
          lub wyjaśnić wskazane problemy.</b></p>
  [% END %]

  <p>
    <input type="submit" id="delete" value="Tak">
    <input type="hidden" name="action" value="delete">
    <input type="hidden" name="group" value="[% gid FILTER html %]">
    <input type="hidden" name="token" value="[% token FILTER html %]">
  </p>
</form>

<a href="editgroups.cgi">Lista grup</a>

[% PROCESS global/footer.html.tmpl %] 
