[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Myk Melez <myk@mozilla.org>
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS "global/js-products.html.tmpl" %]

[% PROCESS global/header.html.tmpl
  title = 'Administracja typami flag'
  style = "
    table#flag_types_bugs tr th,
    table#flag_types_attachments tr th { text-align: left; }
    .inactive { color: #787878; }
    .multiplicable { display: block; }
  "
  onload="selectProduct(document.forms[0], 'product', 'component', '__Any__');"
  javascript_urls=["productmenu.js"]
%]

<p>
  Flagi są znacznikami określającymi, czy [% terms.blad %] lub załącznik uzyskały 
  lub nie pewien status. Flagi pojawiają się w interfejsie jako nazwy i symbol statusu
  ("+" dla przyznanych, "-" dla odrzuconych i "?" dla statusów zażądanych przez użytkowników).
</p>

<p>
  Można na przykład zdefinować status "review", aby użytkownicy mogli zażądać sprawdzenia 
  ich łatek. Gdy autor łatki zażąda jej sprawdzenia, obok załącznika pojawi się napis "review?"
  Gdy łatka zostanie sprawdzona przez odpowiednią osobę,
  obok łatki pojawi się napis "review+" lub "review-",
  w zależności od tego, czy kontrola powiodła się czy nie.
</p>

<p>
  Można także ograniczyć listę typów flag do dostępnych dla danego produktu lub komponentu. 
  Jeśli wybrany jest produkt bez komponentów, wyświetlane są tylko typy flag, które dostępne 
  są dla co najmniej jednego komponentu wybranego produktu.
</p>

<form action="editflagtypes.cgi" method="get">
  <table>
    <tr>
      <th><label for="product">Produkt:</label></th>
      <td>
        <select name="product" onchange="selectProduct(this.form, 'product', 'component', '__Any__');">
          <option value="">__Any__</option>
          [% FOREACH prod = products %]
            <option value="[% prod.name FILTER html %]"
                    [% " selected" IF selected_product == prod.name %]>
                    [% prod.name FILTER html %]</option>
          [% END %]
        </select>
      </td>
      <th><label for="component">Komponent:</label></th>
      <td>
        <select name="component">
          <option value="">__Any__</option>
          [% FOREACH comp = components %]
            <option value="[% comp FILTER html %]"
                    [% " selected" IF selected_component == comp %]>
                    [% comp FILTER html %]</option>
          [% END %]
        </select>
      </td>
      <td><input type="submit" id="submit" value="Filtruj"></td>
    </tr>
  </table>
</form>

<h3>Typy flag dla [% terms.bledow %]</h3>

[% PROCESS display_flag_types types=bug_types types_id='bugs' %]

<p>
  <a href="editflagtypes.cgi?action=enter&amp;target_type=bug">Utwórz typ flagi dla [% terms.bledow %]</a>
</p>

<h3>Typy flag dla załączników</h3>

[% PROCESS display_flag_types types=attachment_types types_id='attachments' %]

<p>
  <a href="editflagtypes.cgi?action=enter&amp;target_type=attachment">Utwórz typ flagi dla załączników</a>
</p>

[% PROCESS global/footer.html.tmpl %]


[% BLOCK display_flag_types %]
  <table id="flag_types_[% types_id FILTER html %]" cellspacing="0" cellpadding="4" border="1">

    <tr>
      <th>Nazwa</th>
      <th>Opis</th>
      <th>Klucz sortowania</th>
      <th>Właściwości</th>
      <th>Grupa nadająca</th>
      <th>Grupa żądająca</th>
      <th>Czynności</th>
    </tr>

    [% FOREACH type = types %]

      <tr class="[% IF type.is_active %]aktywny[% ELSE %]nieaktywny[% END %]">
        <td><a href="editflagtypes.cgi?action=edit&amp;id=[% type.id %]">[% type.name FILTER html FILTER no_break %]</a></td>
        <td>[% type.description FILTER html %]</td>
        <td align="right">[% type.sortkey FILTER html %]</td>
        <td>
          [% IF type.is_requestable %]
            <span class="requestable">żądalny</span>
          [% END %]
          [% IF type.is_requestable && type.is_requesteeble %]
            <span class="requesteeble">(specifically)</span>
          [% END %]
          [% IF type.is_multiplicable %]
            <span class="multiplicable">wielokrotny</span>
          [% END %]
        </td>
        <td>[% IF type.grant_group %][% type.grant_group.name FILTER html %][% END %]</td>
        <td>[% IF type.request_group %][% type.request_group.name FILTER html %][% END %]</td>
        <td>
          <a href="editflagtypes.cgi?action=copy&amp;id=[% type.id %]">Kopiuj</a>
          | <a href="editflagtypes.cgi?action=confirmdelete&amp;id=[% type.id %]">Usuń</a>
        </td>
      </tr>

    [% END %]

  </table>
[% END %]
