[%# 4.0.2PL@aviary.pl %]
[%# -*- mode: html -*- %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Terry Weissman <terry@mozilla.org>
  #                 Jacob Steenhagen <jake@bugzilla.org>
  #                 Vitaly Harisov  <vitaly@rathedg.com>
  #                 Guy Pyrzak <guy.pyrzak@gmail.com>
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[%# INTERFACE:
  # release: a hash containing data about new releases, if any.
  #%]

[% PROCESS global/variables.none.tmpl %]


[% PROCESS global/header.html.tmpl
   title = "$terms.Bugzilla – Strona główna"
   header = "Strona główna" 
   header_addl_info = "wersja $constants.BUGZILLA_VERSION (4.0.2 PL)"
   style_urls = [ 'skins/standard/index.css' ]
%]


<script type="text/javascript">
<!--
function onLoadActions() {
  quicksearchHelpText('quicksearch_main', 'show');
  if( window.external.AddSearchProvider ){
    YAHOO.util.Dom.removeClass('quicksearch_plugin', 'bz_default_hidden');
  }
  document.getElementById('quicksearch_top').focus();
}
function addSidebar() {
  var sidebarname=window.location.host;
  if (!/bug/i.test(sidebarname))
    sidebarname="[% terms.Bugzilla %] "+sidebarname;
  window.sidebar.addPanel (sidebarname, "[% urlbase FILTER html %]sidebar.cgi", "");
}
var quicksearch_message = "Wprowadź numer [% terms.bledu %] lub szukane wyrażenie";

function checkQuicksearch( form ) {
  if (form.quicksearch.value == '' || form.quicksearch.value == quicksearch_message ) { 
    alert('Wprowadź najpierw szukane wyrażenia.');
    return false; 
  }
  return true;         
}

function quicksearchHelpText(el_id, action){
  var el = document.getElementById(el_id);
  if ( action == "show") {
    if( el.value == "" ) {
      el.value = quicksearch_message
      YAHOO.util.Dom.addClass(el, "quicksearch_help_text");
    }
  } else {
    if( el.value == quicksearch_message ) {
      el.value = "";
      YAHOO.util.Dom.removeClass(el, "quicksearch_help_text");
    }
  }
}
YAHOO.util.Event.onDOMReady(onLoadActions);
//-->
</script>

[% IF release %]
  <div id="new_release">
    [% IF release.data %]
      [% IF release.deprecated %]
        <p>[% terms.Bugzilla %] [%+ release.deprecated FILTER html %] nie jest już obsługiwana.
        Ze względów bezpieczeństwa systemu radzimy zaktualizować wersję
        do najnowszej.</p>
      [% END %]

      <p>Nowa wersja [% terms.Bugzilli %] ([% release.data.latest_ver FILTER html %])
      jest dostępna pod adresem
      <a href="[% release.data.url FILTER html %]">[% release.data.url FILTER html %]</a>.<br>
      Data wydania: [% release.data.date FILTER html %]</p>

      <p class="notice">Ta wiadomość jest wyświetlana jedynie zalogowanym użytkownikom z uprawnieniami administratora.
      Sposób sprawdzania nowych wersji można skonfigurować na stronie
      <a href="editparams.cgi?section=general#upgrade_notification_desc">parametrów</a>.</p>
    [% ELSIF release.error == "cannot_download" %]
      <p>Nie można utworzyć lokalnego pliku XML „[% release.xml_file FILTER html %]”.
      Sprawdź, czy serwer WWW może zapisywać do tego katalogu i czy sieć jest dostępna.
      Jeśli korzystasz z serwera proxy, określ poprawnie parametr
      <a href="editparams.cgi?section=core#proxy_url_desc">proxy_url</a>.</p>
    [% ELSIF release.error == "no_update" %]
      <p>Nie można zaktualizować lokalnego pliku XML „[% release.xml_file FILTER html %]”
      Sprawdź, czy serwer sieciowy może zapisywać do tego pliku.</p>
    [% ELSIF release.error == "no_access" %]
      <p>Nie można odczytać lokalnego pliku XML „[% release.xml_file FILTER html %]”.
      Sprawdź, czy ten plik ma odpowiednie uprawnienia.</p>
    [% ELSIF release.error == "corrupted" %]
      <p>Lokalny plik XML „[% release.xml_file FILTER html %]” ma błędny format XML.
      Usuń plik i otwórz tę stronę ponownie.</p>
    [% ELSIF release.error == "unknown_parameter" %]
      <p>Parametr „[% Param("upgrade_notification") FILTER html %]” nie jest poprawnym parametrem powiadamiania.
      Sprawdź ten parametr na stronie 
      <a href="editparams.cgi?section=core#upgrade_notification_desc">parametrów</a>.</p>
    [% END %]
  </div>
[% END %]

<div id="page-index">
  <table>
    <tr>
      <td>
        <h1 id="welcome"> Witamy w [% terms.Bugzilli %]</h1>
        <div class="intro">[% Hook.process('intro') %]</div>
        <a id="enter_bug" class="bz_common_actions"
           href="enter_bug.cgi"><span>Zgłoś [% terms.blad %]</span></a>
      
        <a id="query" class="bz_common_actions" 
           href="query.cgi"><span>Szukaj</span></a>
      
        <a id="account" class="bz_common_actions"
          [% IF user.id %]
            href="userprefs.cgi"><span>Preferencje</span></a>
          [% ELSIF Param('createemailregexp')
                   && user.authorizer.user_can_create_account 
          %]
            href="createaccount.cgi"><span>Nowe konto</span></a>
          [% ELSE %]
            href="?GoAheadAndLogIn=1"><span>Zaloguj się</span></a>
          [% END %]

        <form id="quicksearchForm" name="quicksearchForm" action="buglist.cgi"
              onsubmit="return checkQuicksearch(this);">
          <div>
            <input id="quicksearch_main" type="text" name="quicksearch"
              onfocus="quicksearchHelpText(this.id, 'hide');"
              onblur="quicksearchHelpText(this.id, 'show');"
            >
            <input id="find" type="submit" value="Szybkie szukanie">
            <ul class="additional_links" id="quicksearch_links">
              <li>
                <a href="page.cgi?id=quicksearch.html">Wyszukiwanie – pomoc</a>
              </li>
              <li class="bz_default_hidden" id="quicksearch_plugin">
                |
                <a href="javascript:window.external.AddSearchProvider('[% urlbase FILTER html %]search_plugin.cgi')">
                 Zainstaluj wtyczkę wyszukiwarki
                </a>
              </li>
            </ul>
            <ul class="additional_links">
              <li>
                <a href="[% docs_urlbase FILTER html %]using.html">
                  Podręcznik użytkownika</a>
              </li>
              <li>
                |
                <a href="page.cgi?id=release-notes.html">Informacje o wydaniu</a>
              </li>
              [% Hook.process('additional_links') %]
            </ul>
          </div>
        </form>
        <div class="outro">[% Hook.process('outro') %]</div>
      </td>
    </tr>
  </table>
</div>

[% PROCESS global/footer.html.tmpl %]
