[%# 3.6.10+PL@aviary.pl %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Frédéric Buclin <LpSolit@gmail.com>
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[%# INTERFACE:
  # none
  #%]

[% PROCESS global/variables.none.tmpl %]

[% title = BLOCK %]Witamy w [% terms.Bugzilli %][% END %]

[% PROCESS global/header.html.tmpl
   title = title
   header_addl_info = "wersja $constants.BUGZILLA_VERSION (3.6.10+ PL)"
   style_urls = [ 'skins/standard/index.css' ]
%]

<div id="welcome-admin">
  <p>Witaj [% user.identity FILTER html %].</p>

  <p>Widzisz tę stronę, ponieważ pewne podstawowe parametry nie zostały jeszcze ustawione.
  Na tej stronie uzyskasz informacje o końcowych czynnościach wymaganych do poprawnego
  skonfigurowania tej instalacji.</p>

  <p>Jako administrator masz dostęp do wszystkich stron administracyjnych osiągalnych za
  pomocą odnośnika <a href="admin.cgi">Administracja</a>, który dla administratorów jest
  widoczny na dole i na górze tej i wszystkich innych stron. Używając go, odwiedź przynajmniej
  stronę <a href="editparams.cgi">Parametry</a>, z poziomu której można określić wszystkie
  najważniejsze parametry tej instalacji. Na tej stronie można między innymi określić:</p>

  <ul>
    <li><a href="editparams.cgi?section=core#maintainer">maintainer</a> – osoba odpowiedzialna
    za wszystko, co dobre i złe będzie działo się z tą instalacją,</li>

    <li><a href="editparams.cgi?section=core#urlbase">urlbase</a> – podstawowy adres URL
    wskazujący na tę instalację, który będzie również używany w wiadomościach wysyłanych
    do użytkowników. Do czasu ustawienia tego parametru niniejsza strona będzie
    wyświetlana jako startowa,</li>

    <li><a href="editparams.cgi?section=core#cookiepath">cookiepath</a> – ważny parametr
    wykorzystywany przez przeglądarki do poprawnego zarządzania ciasteczkami,</li>

    <li><a href="editparams.cgi?section=core#utf8">utf8</a> – parametr umożliwiający kodowanie
    wszystkich tekstów za pomocą standardu UTF-8. Zaleca się pozostawić ten parametr
    włączony.</li>
  </ul>

  <p>Ważne są także następujące parametry:</p>

  <ul>
    <li><a href="editparams.cgi?section=auth#requirelogin">requirelogin</a> – jeśli ten parametr jest
    włączony, instalacja będzie zabezpieczona przed użytkownikami nieposiadającymi konta. Innymi słowy,
    użytkownicy, by cokolwiek zobaczyć i dokonać jakichkolwiek zmian, będą musieli się zarejestrować i
    zalogować. Funkcja przydatna, jeśli istnieje potrzeba zachowania poufności danych,</li>

    <li><a href="editparams.cgi?section=auth#createemailregexp">createemailregexp</a>
    – parametr ten określa, którzy użytkownicy mają prawo założyć konto w tej instalacji.
    Jeśli jest określony jako „.*” (wartość domyślna), każdy może utworzyć konto. Gdy
    jest określony jako „@mojafirma.com”, tylko użytkownicy mający adres w domenie
    @mojafirma.com będą mogli utworzyć konto. Jeśli żadna wartość nie zostanie podana,
    konta będą mogły być zakładane tylko przez administratora. W przypadku, gdy instalacja ma
    być instalacją prywatną, należy dla tego parametru ustawić wartość inną od domyślnej,</li>

    <li><a href="editparams.cgi?section=mta#mail_delivery_method">mail_delivery_method</a>
    – parametr ten określa metodę używaną do wysyłania poczty np. Sendmail lub SMTP. Musi być
    ustawiony poprawnie, by system mógł wysyłać wiadomości e-mail.</li>
  </ul>

  <p>
    Po ustawieniu tych parametrów zalecamy przejrzenie innych parametrów [% terms.Bugzilli %],
    aby je poznać i mieć rozeznanie, co jeszcze można i należy skonfigurować.
  </p>
</div>

[% PROCESS global/footer.html.tmpl %]
