[%# 3.6.1PLRC@aviary.pl %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Lawrence <dkl@redhat.com>
  #                 Pascal Held <paheld@gmail.com>
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
  title = "Zmiana kolumn"
  javascript_urls = "js/change-columns.js"
  onload = "initChangeColumns()"
%]

<p>
  Wybierz kolumny, które mają być wyświetlane na listach [% terms.bledow %].
  Aby funkcja działała, wymagana jest obsługa ciasteczek.
</p>

[% PROCESS "global/field-descs.none.tmpl" %]
[% field_descs.short_short_desc     = "Krótki opis (maks. 60 znaków)" %]
[% field_descs.short_desc           = "Pełne podsumowanie" %]
[% field_descs.assigned_to_realname = "Dane przypisanej osoby" %]
[% field_descs.reporter_realname    = "Dane zgłaszającego" %]
[% field_descs.qa_contact_realname  = "Dane specjalisty QA" %]

<form name="changecolumns" action="colchange.cgi" onsubmit="change_submit();">
  <input type="hidden" name="rememberedquery" value="[% buffer FILTER html %]">
    <table>
      <tr>
        <th><div id="avail_header" class="bz_default_hidden">Dostępne kolumny</div></th>
        <th></th>
        <th>Wybrane kolumny</th>
        <th></th>
      </tr>
      <tr>
        <td>
          <select name="available_columns" id="available_columns" 
                  size="15" multiple="multiple" onchange="updateView();"
                  class="bz_default_hidden"> 
          </select>
        </td>
        <td>
          <input class="image_button bz_default_hidden" type="button" 
                 id="select_button" name="select" onclick="move_select()">
          <br><br>
          <input class="image_button bz_default_hidden" type="button" 
                 id="deselect_button" name="deselect" onclick="move_deselect()">
        </td>
        <td>
          <select name="selected_columns" id="selected_columns" 
                  size="15" multiple="multiple" onchange="updateView();">
            [% FOREACH column = collist %]
                <option value="[% column FILTER html %]" selected="selected">
                [% (field_descs.${column} || column) FILTER html %]
              </option>
            [% END %]
            [% FOREACH column = masterlist %]
              [% IF lsearch(collist, column) == -1 %]
                <option value="[% column FILTER html %]">
                  [% (field_descs.${column} || column) FILTER html %]
                </option>
              [% END %]
            [% END %]
          </select>
        </td>
        <td>
          <input class="image_button bz_default_hidden" type="button" 
                 id="up_button" name="up" onclick="move_up()">
          <br><br>
          <input class="image_button bz_default_hidden" type="button"
                 id="down_button" name="down" onclick="move_down()">
        </td>
      </tr>
    </table>

  <p>
    <input id="nosplitheader" type="radio" name="splitheader" value="0"
      [%+ "checked='checked'" IF NOT splitheader %]>
    <label for="nosplitheader">
      Normalne nagłówki (ładniejsze)
    </label>
    <br>

    <input id="splitheader" type="radio" name="splitheader" value="1"
      [%+ "checked='checked'" IF splitheader %]>
    <label for="splitheader">
      Skondensowane nagłówki (bardziej kompaktowy wygląd listy)
    </label>
  </p>

  [% IF saved_search %]
    <p>
      <input type="hidden" name="saved_search"
             value="[% saved_search.id FILTER html%]" >
      <input type="checkbox" id="save_columns_for_search" checked="checked" 
             name="save_columns_for_search" value="1">
      <label for="save_columns_for_search">Zapisz tę listę kolumn tylko
        do wyszukiwania „[% saved_search.name FILTER html %]”</label>
    </p>
  [% END %]

  <p>
    <input type="submit" id="change" value="Zmień kolumny">
  </p>

  <input type="submit" id="resetit" name="resetit" 
         value="Przywróć domyślne">
</form>

[% PROCESS global/footer.html.tmpl %]

