[%# 1.0@mozilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 Christine Begle <cbegle@mozilla.org>
  #%]

[%# INTERFACE:
  # This template has the same interface as create.html.tmpl
  #%]

[% PROCESS global/variables.none.tmpl %]

[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]

[% PROCESS global/header.html.tmpl
   title = "Utwórz nowy raport o $terms.bledzie"
   onload = "PutDescription()"
 %]

<p>
  <font color="red">
    Ten wzorzec formularza, wraz z comment-guided.txt.tmpl, jest używany przez
    mozilla.org. Został on umieszczony wyłącznie jako przykład tego co może
    zostać osiągnięte przy użyciu własnych wzorców, a zwłaszcza własnych wzorców
    wprowadzania nowych raportów o [% terms.bledach %]. Prawdopodobnie będziesz
    zmuszony dostosować go do swoich potrzeb, we własnej instalacji [% terms.Bugzilli %].
  </font>
</p>

[% tablecolour = "#FFFFCC" %]

[%# This script displays the descriptions for selected components. %]
<script type="text/javascript">
var descriptions = [
[% FOREACH c = component_ %]
  '[% c.description FILTER js %]',
[% END %]
];

function PutDescription() {
    if ((document.getElementById) && (document.body.innerHTML)) {
        var componentIndex = document.getElementById('component').selectedIndex;
        if (componentIndex != -1) {
            var description = document.getElementById('description');
            description.innerHTML = descriptions[componentIndex];
        }
    }
}
</script>

[%# Browser sniff to try and reduce the incidence of Netscape 6/7 bugs %]

[% IF cgi.user_agent('Netscape(\d)') %]
  [% matches = cgi.user_agent().match('Netscape(\d)') %]
  <div style="background-color: lightgrey;
              border: 1px solid black;
              padding: 2px">
    <font color="#990000">
      <b>
        Używasz Netscape [% matches.0 %].
        [% terms.Bledy %] dotyczące tej przeglądarki możesz zgłosić w
        <a href="http://home.netscape.com/browsers/[% matches.0 %]/feedback/index.html">
         Netscape [% matches.0 %] Feedback Center.</a>
      </b>
    </font>
    Ten formularz służy wyłącznie do zgłaszania [% terms.bledow %] w przeglądarce
    Mozilli oraz w innych produktach oferowanych przez mozilla.org. Aby w tym
    formularzu zgłosić [% terms.blad %] który znalazłeś w Netscape [% matches.0 %],
    musisz najpierw sprawdzić czy występuje on w którejś z aktualnych wersji
    <a href="http://ftp.mozilla.org/pub/mozilla.org/mozilla/nightly/latest/">Mozilli</a>,
    <a href="http://ftp.mozilla.org/pub/mozilla.org/firefox/nightly/latest-trunk/">Firefoxa</a>,
    <a href="http://ftp.mozilla.org/pub/mozilla.org/thunderbird/nightly/latest-trunk/">Thunderbird</a> lub
    <a href="http://ftp.mozilla.org/pub/mozilla.org/camino/nightly/latest/">Camino</a>
  </div>
[% END %]

[% IF cgi.user_agent('Gecko/') %]
  [% matches = cgi.user_agent().match('Gecko/(\d+)') %]
  
[% END %]

<!-- @@@ Need UA checking here -->
  <a href="http://ftp.mozilla.org/pub/mozilla.org/firefox/nightly/latest-trunk/">Firefoxa</a>,

<a name="step1"></a>
<h3>Step 1 of 3 - has your [% terms.bug %] already been reported?</h3>
<h3>Krok 1 z 3 - czy Twój [% terms.blad %] został już zgłoszony?</h3>

<p>
  <font color="red">Please don't skip this step - half of all 
  [% terms.bugs %] filed are
  reported already.</font>
    Check the two lists of frequently-reported [% terms.bugs %]:
  Proszę sprawdzić czy Twój [% terms.blad %] nie został już zgłoszony wcześniej.
  <font color="red">Prosimy o niepomijanie tego kroku - połowa wszystkich
  raportów została już wsześniej zgłoszona.</font>
    Sprawdż obie listy najczęściej zgłaszanych [% terms.bledow %]
</p>

[%# Include other products if sensible %]
[% IF product == "Firefox" %]
  [% productstring = "product=Mozilla%20Application%20Suite&amp;product=Firefox" %]
[% ELSIF product == "Thunderbird" %]
  [% productstring = "product=Mozilla%20Application%20Suite&amp;product=Thunderbird" %]
[% ELSE %]
  [% productstring = BLOCK %]product=[% product FILTER url_quote %][% END %]
[% END %]

<p>
    <a href="duplicates.cgi?[% productstring %]&format=simple" target="somebugs">Sto najczęściej zgłaszanych [% terms.bledow %]</a> (wczytane początkowo) |
    <a href="duplicates.cgi?[% productstring %]&format=simple&sortby=delta&reverse=1&maxrows=100&changedsince=14" target="somebugs">Najczęstsze z ostatnich dwóch tygodni</a>  
</p>

<iframe name="somebugs" width="100%" height="80%"
  style="border: 2px black solid"
  src="duplicates.cgi?[% productstring %]&format=simple">
</iframe>

<p>
    Jeśli nie znajdziesz tam opisu swojego problemu, spróbuj znajeźdz swój 
    [% terms.blad %], w poniższe okienko wpisując kilka słów pasujących do Twojego 
    [% terms.bladu %]. Może być to przykładowo: <tt><b>pop3 mail</b></tt> lub
    <tt><b>kopiuj wklej</b></tt>.
    Wyniki zostaną wyświetlone powyżej.
  </p>

[%# All bugs opened inside the past six months %]
  <form action="buglist.cgi" method="get" target="somebugs">
    <input type="hidden" name="format" value="simple">
    <input type="hidden" name="order" value="relevance desc">
    <input type="hidden" name="bug_status" value="__all__">
    <input type="hidden" name="product" value="[% product FILTER html %]">
    [% IF product == "Firefox" OR 
          product == "Thunderbird" OR 
          product == "Mozilla Application Suite" OR
          product == "Camino" %]
      <input type="hidden" name="product" value="Core">
      <input type="hidden" name="product" value="Toolkit">
      <input type="hidden" name="product" value="PSM">
      <input type="hidden" name="product" value="NSPR">
      <input type="hidden" name="product" value="NSS">
    [% END %]      
    <input type="hidden" name="chfieldfrom" value="-6m">
    <input type="hidden" name="chfieldto" value="Now">
    <input type="hidden" name="chfield" value="[Bug creation]">
    <input type="text" name="content" size="40">
    <input type="submit" value="Szukaj">
  </form>

<p>
  Przejrzyj wyniki wyszukiwania. Jeśli otrzymasz
  <tt><b>Nie znaleziono błędów</b></tt>, [% terms.Bugzilla %] nie znalazła
  [% terms.bledow %] pasujących do Twojego zapytania.
  Sprawdź czy nie zrobiłeś jakiejś literówki, lub spróbuj z innymi słowami.
  Jeśli znalazłeś [% terms.blad %] który wygląda tak jak Twój, możesz
  dodać do niego komentarz, lecz nie twórz nowego raportu.
</p>


<a name="step2"></a>
<h3>Krok 2 z 3 - podawanie informacji</h3>

<p>
  If you've tried a few searches and your [% terms.bug %] really isn't in 
  there, tell us all about it.
  Jeśli próbowałeć znaleźć Twój [% terms.blad %] kilka razy i faktycznie nie ma
  go w bazie, zgłoś nam swój problem.
</p>

<form method="post" action="post_bug.cgi">
  <input type="hidden" name="format" value="guided">
  <input type="hidden" name="assigned_to" value="">
  <input type="hidden" name="priority"
         value="[% default.priority FILTER html %]">
  <input type="hidden" name="version"
         value="[% default.version FILTER html %]">

<table valign="top" cellpadding="5" cellspacing="5" border="0">

  <tr bgcolor="[% tablecolour %]">
    <td align="right" valign="top">
      <b>Produkt</b>
    </td>
    <td valign="top">
      <input type="hidden" name="product" value="[% product FILTER html %]">
      [% product FILTER html %]
    </td>
  </tr>

  <tr>
    <td align="right" valign="top">
      <b>Komponent</b>
    </td>
    <td valign="top">
      <table border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top">
            <select name="component" id="component"
                    size="5" onchange="PutDescription()">
              [% FOREACH c = component_ %]
                <option value="[% c.name FILTER html %]"
                  [% " selected=\"selected\"" IF c == default.component_ %]>
                  [% c.name FILTER html %]
                </option>
              [% END %]
            </select>
          </td>
          <td valign="top" width="100%">
              <div id="description" style="color: green; margin-left: 10px;
                                           height: 5em; overflow: auto;">
                <script type="text/javascript">
                  if ((document.getElementById) && (document.body.innerHTML)) {
                    document.write("\
                    Wybierz komponent żeby zobaczyć jego opis.");
                  }
                </script>
              </div>
          </td>
        </tr>
      </table>
      
      <p>XXXTRANS
        The area where the problem occurs.
        To pick the right component, you could use the same one as
        similar [% terms.bugs %] you found in your search, or read the full list of
        <a target="_blank" href="describecomponents.cgi?product=
            [% product FILTER url_quote %]">component
        descriptions</a> (opens in new window) if you need more help.
      </p>
    </td>
  </tr>

  [%# We override rep_platform and op_sys for simplicity. The values chosen
      are based on which are most common in the b.m.o database %]
  [% rep_platform = [ "PC", "Macintosh", "All", "Other" ] %]

  <tr bgcolor="[% tablecolour %]">
    <td align="right" valign="top">
      <b>Platforma sprzętowa</b>
    </td>
    <td valign="top">
      [% PROCESS select sel = 'rep_platform' %]
    </td>
  </tr>

  [% op_sys = [ "Windows 98", "Windows NT", "Windows 2000", "Windows XP",
                "Mac System 9.x", "MacOS X",
                "Linux", "All", "other" ] %]

  <tr>
    <td align="right" valign="top">
      <b>System operacyjny</b>
    </td>
    <td valign="top">
      [% PROCESS select sel = 'op_sys' %]
    </td>
  </tr>

  [% matches = cgi.user_agent('Gecko/(\d+)') %]
  [% buildid = cgi.user_agent() IF matches %]

  <tr bgcolor="[% tablecolour %]">
    <td align="right" valign="top">
      <b>Identyfikator wersji przeglądarki<br>(User Agent)</b>
    </td>
    <td valign="top">
      <input type="text" size="80" name="buildid" value="[% buildid %]">
      <p>
        Ta linia jednoznacznie identyfikuje wersję produktu którego używasz.
        Jeśli problem dotyczy tej konkretnej kopii Mozilli, informacja ta
        jest poprawna i nie musisz jej zmieniać. Jeśli sprawiająca problemy Mozilla nie
        uruchamia się, wpisz tutaj URL z którego ją ściągnąłeś.
      </p>
    </td>
  </tr>

  <tr>
    <td align="right" valign="top">
      <b>URL</b>
    </td>
    <td valign="top">
      <input type="text" size="80" name="bug_file_loc" value="http://">
      <p>
        URL strony która pokazuje problem (opcjonalne).
        <!--
        <b>UWAGA</b>: Problemy z wadliwym działaniem
        jakiejś strony, prosimy 
        <a href="http://write-this-webtool/">zgłaszać przy użyciu tego formularza</a>.
        -->
      </p>
   </td>
  </tr>

  <tr bgcolor="[% tablecolour %]">
    <td align="right" valign="top">
      <b>Podsumowanie</b>
    </td>
    <td valign="top">
      <input type="text" size="80" name="short_desc" id="short_desc">
      <p>
        Krótki tekst wyjaśniający problem.
        Powinien być opisowy i zawierać sporą ilości słów kluczowych.
      </p>
      <p>
        <tt>
          <font color="#990000">Zły przykład</font>: program pocztowy nawalił
        </tt>
        <br>
        <tt>
          <font color="#009900">Dobry przykład</font>:
          crash podczas zamykania okno programu pocztowego gdy jest
          sprawdzana poczta przy użyciu POP3
        </tt>
      </p>
    </td>
  </tr>

  <tr>
    <td align="right" valign="top">
      <b>Detale</b>
    </td>
    <td valign="top">
      <textarea rows="6" cols="80" name="comment"></textarea>
      <p>
        Dodatkowe informacje do tego co zawarto w podsumowaniu. Powinny być tak
        szczegółowe jak to tylko możliwe.
      </p>
      <p>
        <tt>
          <font color="#990000">Zły przykład</font>: Ta strona wygląda strasznie
          w Mozilli. Inne przeglądarki wyświetlają ją prawidłowo!
        </tt>
        <br>
        <tt>
          <font color="#009900">Good example</font>: Na pierwszej stronie
          http://www.foo.com/, tekst w pierwszej kolumnie powinien być
          w pełni wyjustowany -- tekst powinien przylegać i do lewej jak i
          prawej krawędzi. W Mozilli tekst jest przyciągany wyłącznie do
          lewej krawędzi.
        </tt>
      </p>
    </td>
  </tr>

  <tr bgcolor="[% tablecolour %]">
    <td align="right" valign="top">
      <b>Powtarzalność</b>
    </td>
    <td valign="top">
      <select name="reproducible">
        <option name="AlwaysReproducible" value="Zawsze">
          Występuje za każdym razem.
        </option>
        <option name="Sometimes" value="Czasami">
          Występuje czasami, lecz nie zawsze.
        </option>
        <option name="DidntTry" value="Nie próbowałem">
          Nie próbowałem powtórzyć.
        </option>
        <option name="NotReproducible" value="Nie udało się powtórzyć">
          Próbowałem powtórzyć lecz nie udało się.
        </option>
      </select>
    </td>
  </tr>

  <tr>
    <td align="right" valign="top">
      <b>Kroki aby powtórzyć</b>
    </td>
    <td valign="top">
<textarea rows="4" cols="80" name="reproduce_steps">
1.
2.
3.
</textarea>
      <p>
        Opisz, krok po kroku,  metodę która pozwoli powtórzyć problem. Zamieść
        również opis wymaganych czynności początkowych.
      </p>
    </td>
  </tr>

  <tr bgcolor="[% tablecolour %]">
    <td valign="top" align="right">
      <b>Otrzymany rezultat</b>
    </td>
    <td valign="top">
      <textarea rows="4" cols="80" name="actual_results"></textarea>
      <p>
        Co uzyskałeś po wykonaniu powyższych czynności?
      </p>
    </td>
  </tr>

  <tr>
    <td valign="top" align="right">
      <b>Oczekiwane rezultaty</b>
    </td>
    <td valign="top">
      <textarea rows="4" cols="80" name="expected_results"></textarea>
      <p>
        Co powinieneś otrzymać w wyniku tych czynności?
      </p>
    </td>
  </tr>

  <tr bgcolor="[% tablecolour %]">
    <td valign="top" align="right">
      <b>Dodatkowe informacje</b>
    </td>
    <td valign="top">
      <textarea rows="8" cols="80" name="additional_info"></textarea>
      <p>
        Umieść tutaj wszelkie dodatkowe dane, które Twoim zdaniem są związane
        z zaobserwowanym [% terms.bledem %], przykładowo może to być używany
        <b>motyw</b> (czy [% terms.blad %] występuje z domyślnym motywem?),
        <b>identyfikator awarii Talkbacka</b>, lub specjalne informacje na
        temat <b>konfiguracji Twojego komputera</b>. Wszelkie informacje dłuższe
        niż kilka linii, takie jak <b>zrzut stosu</b> lub <b>przykład w HTMLu</b>,
        powinien zostać dodany przy użyciu odnośnika "Utwórz nowy załącznik" ze
        strony [% terms.bledu %], już po wypełnieniu raportu. Jeśli uważasz że 
        informacje o opcjach użytych przy budowie Twojego pakietu są istotne,
        możesz je dodać używając danych pochodzących ze strony <tt>about:buildconfig</tt>.
        <br>
        <br>
        Jeśli raportujesz awarię krytyczną, staraj się podać moduł w którym się to
        zdarzyło (np. <tt>Application Violation w gkhtml.dll</tt>).
      </p>
    </td>
  </tr>

  <tr>
    <td valign="top" align="right">
      <b>Waga [% terms.bledu %]</b>
    </td>
    <td valign="top">
      <select name="bug_severity">
        <option name="critical" value="critical">
          Krytyczny: Krytyczna awaria, zawieszenie programu lub inny problem prowadzący
          do utraty danych.
        </option>
        <option name="major" value="major">
          Ważny: Braki w poważnej funkcjonalności.
        </option>
        <option name="normal" value="normal" selected="selected">
          Normalny: [% terms.Blad %] który powinien być naprawiony.
        </option>
        <option name="minor" value="minor">
          Drobny: Pomniejsze braki funkcjonalności, lub takie na dla których istnieją
          łatwe sposoby ominięcia.
        </option>
        <option name="trivial" value="trivial">
          Trywialne: Kosmetyczne problemy, takie jak literówka lub źle ułożony tekst.
        </option>
        <option name="enhancement" value="enhancement">
          Propozycja: Prośba o nową funkcjonalność.
        </option>
      </select>
      <p>
        Określ jak poważny jest ten problem, lub czy jest to tylko
        prośba o dodatkową funkcjonalność..
      </p>
    </td>
  </tr>
</table>


<a name="step3"></a>
<h3>Krok 3 z 3 - wysyłanie raportu o [% terms.bledzie %]</h3>

<p>
  <input type="submit" value="    Wyślij raport o [% terms.bledzie %]    "
   onclick="if (this.form.comment.value == '')
   { alert('Proszę podać trochę informacji o swoim [% terms.bledzie %].');
     this.form.comment.focus();
     return false; } return true;">
</p>

<p>
  To wszystko! Dziękujemy bardzo. Zostaniesz poinformowany o wszelkich postępach
  przy rozwiązywania tego [% terms.bledu %] przy użyciu poczty elektronicznej.

<p>  
  XXXTRANS Please be warned
  that we get a lot of [% terms.bug %] reports filed - it may take quite a 
  while to get around to yours. You can help the process by making sure your 
  [%+ terms.bug %] is
  complete and easy to understand, and by quickly replying to any questions
  which may arrive by email.
</p>

    </form>

[% PROCESS global/footer.html.tmpl %]

[%############################################################################%]
[%# Block for SELECT fields                                                  #%]
[%############################################################################%]

[% BLOCK select %]
  [%- transTable = selectTransTable.$sel -%]

  <select name="[% sel %]">
    [%- IF default.$sel %]
      <option value="[% default.$sel FILTER html %]" selected="selected">
        [% (transTable.${default.$sel} || default.$sel ) FILTER html -%]
      </option>
    [% END %]
    [%- FOREACH x = $sel %]
      [% NEXT IF x == default.$sel %]
      <option value="[% x FILTER html %]">
        [%- (transTable.$x || x) FILTER html -%]
      </option>
    [%- END %]
  </select>
[% END %]
