[%# 4.4rc2+PL@aviary.pl %]
[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[%# Migration note: this file corresponds to the old Param
  # 'entryheaderhtml'
  #%]

[%# You can make the output of this template product-specific by using
  # Template Toolkit IF statements.  The current product name is stored in
  # the 'product' variable.
  #%]


Przed zgłoszeniem [% terms.bledu %] proszę zapoznać się z 
<a href="page.cgi?id=bug-writing.html">
zasadami zgłaszania [% terms.bledow %]</a>, listą
<a href="duplicates.cgi">najczęściej zgłaszanych [% terms.bledow %]</a> i 
<a href="query.cgi">sprawdzić</a>, czy taki [% terms.blad %] nie został już zgłoszony.
