[%# 4.4rc2PL@aviary.pl %]
[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[% IF    san_tag == "example_check_au_user" %]
  <em>PRZYKŁADOWE ROZSZERZENIE</em> - Wyszukiwanie użytkowników nie będących Australijczykami.
[% ELSIF san_tag == "example_check_au_user_alert" %]
  Użytkownik &lt;[% login FILTER html %]&gt; nie jest Australijczykiem.
  [% IF user.in_group('editusers') %]
    <a href="editusers.cgi?id=[% userid FILTER none %]">Edytuj użytkownika</a>.
  [% END %]
[% ELSIF san_tag == "example_check_au_user_prompt" %]
  <a href="sanitycheck.cgi?example_repair_au_user=1&amp;token=
     [%- issue_hash_token(['sanitycheck']) FILTER url_quote %]">Zmień narodowość użytkowników</a>.
[% ELSIF san_tag == "example_repair_au_user_start" %]
  <em>PRZYKŁADOWE ROZSZERZENIE</em> - OK, zmiana narodowości użytkowników na
Australijczyków.
[% ELSIF san_tag == "example_repair_au_user_end" %]
  <em>PRZYKŁADOWE ROZSZERZENIE</em> - Użytkownicy będą teraz Australijczykami.
[% END %]
