[%# 4.0.1PL@aviary.pl %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Terry Weissman <terry@mozilla.org>
  #                 Gervase Markham <gerv@gerv.net>
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[% PROCESS global/variables.none.tmpl %]
[% INCLUDE global/header.html.tmpl title = "Głosowanie" %]

<p>[% terms.Bugzilla %] wyposażona jest w funkcję „głosowania”. W każdym
produkcie użytkownik ma możliwość oddania określonej liczby głosów. Jeśli w jakimś
produkcie wartość tę określono jako 0, użytkownik nie ma możliwości głosowania na
[%+ terms.bledy %] tego produktu. Oddając głos na dany [% terms.blad %], użytkownik
wskazuje, iż właśnie ten powinien być rozwiązany w pierwszej kolejności.</p>

<p>W zależności od tego, jak administrator skonfigurował dany produkt, użytkownik
może mieć możliwość oddania na [% terms.blad %] więcej niż jednego głosu. Należy jednak pamiętać, 
że liczba głosów, jaką posiada użytkownik, jest ograniczona. Gdy jest dozwolone
oddawanie wielu głosów i użytkownik dysponuje odpowiednią liczbą głosów,
będzie musiał zdecydować, czy oddać swoje głosy na dużą liczbę [% terms.bledow %],
wskazując na swoje minimalne zainteresowanie tymi [% terms.bledami %], czy
skoncentrować się na kilku [% terms.bledach %], udzielając im dużego poparcia.</p>

<p>Aby zobaczyć głosy</p>

<ul>
  <li>należy wejść na stronę wyszukiwania i wykonać standardowe wyszukiwanie, ale w pole
  „Tylko [% terms.bledy %] z liczbą głosów co najmniej: ___” należy wpisać 1. Dzięki temu można zobaczyć 
  [% terms.bledy %], na które ktoś oddał przynajmniej jeden głos.</li>
</ul>

<p>Aby zagłosować na [% terms.blad %], należy:</p>

<ul>
  <li>otworzyć stronę odpowiedniego [% terms.bledu %],</li>

  <li>kliknąć odnośnik (głosuj) znajdujący się po prawej stronie pola „Ważność”.
  Jeśli nie ma takiego odnośnika, głosowanie na [% terms.bledy %] w tym produkcie
  może być niedozwolone,</li>

  <li>wpisać liczbę głosów, która ma być oddana na [% terms.blad %]. Na tej stronie
  można również zobaczyć głosy oddane przez użytkownika na inne [% terms.bledy %]
  i - jeśli potrzeba - powtórnie rozdysponować głosy.</li>
</ul>

<p>Użytkownik zostanie poinformowany poprzez e-mail o wszystkich zmianach w 
[% terms.bledach %], na które zagłosował.</p>

<p>W każdej chwili można przejrzeć swoje głosy, klikając odnośnik (głosuj) lub
przejść na stronę „<a href="page.cgi?id=voting/user.html">Zmiana liczby głosów</a>”.</p>

[% INCLUDE global/footer.html.tmpl %]
