[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s):     John Vandenberg <zeroj@null.net>
  #                     Tobias Burnus <burnus@net-b.de>
  #%]

[% PROCESS global/variables.none.tmpl %]

From: bugzilla-admin-daemon
To: [% emailaddress %]
Subject: [% PROCESS subject %]
MIME-Version: 1.0
Content-Type: text/plain; charset=UTF-8
Content-Transfer-Encoding: 8bit

Zgłoszenie z [% remoteaddress %] zostało anulowane.

Jeśli zgłoszenie nie zostało złożone przez Ciebie, ktoś próbuje
włamać się na Twoje konto [% terms.Bugzilli %], lub potwierdzenie
zostało wysłane pomyłkowo.

Przyjrzyj się informacjom zawartym w tym e-mailu i w wypadku podejrzeń prześlij tą
wiadomość do [% maintainer %].

            Żeton: [% token %]
       Typ żetonu: [% tokentype %]
       Użytkownik: [% emailaddress %]
  Data zgłoszenia: [% issuedate %]
   Data zdarzenia: [% eventdata %]
 Powód anulowania:
[% PROCESS cancelactionmessage %]

[% BLOCK subject %]
  [% IF tokentype == 'password' %]
    Anulowano zmianę hasła
  [% ELSIF tokentype == 'emailnew' OR tokentype == 'emailold' %]
    Anulowano zmianę adresu e-mail
  [% ELSE %]
    Żeton [% tokentype %] został anulowany
  [% END %]
[% END %]

[% BLOCK cancelactionmessage %]
  [% IF cancelaction == 'account_exists' %]
    Adres [% email %] już jest zarejestrowany.

  [% ELSIF cancelaction == 'email_change_cancelled' %]
    Żądanie zmiany adresu z [% old_email %] na [% new_email %] zostało
    anulowane.

  [% ELSIF cancelaction == 'email_change_cancelled_reinstated' %]
    Żądanie zmiany Twojego adresu e-mail na [% new_email %] zostało
    anulowane. Twój pierwotny adres został przywrócony.

  [% ELSIF cancelaction == 'emailold_change_cancelled' %]
    Żądanie zmiany Twojego adresu e-mail na [% new_email %] zostało
    anulowane.

  [% ELSIF cancelaction == 'password_change_cancelled' %]
    Żądanie zostało anulowane.

  [% ELSIF cancelaction == 'user_logged_in' %]
    Zalogowałeś się.

  [% ELSIF cancelaction == 'wrong_token_for_changing_passwd' %]
    Próbowałeś użyć tego żetonu do zmiany hasła.

  [% ELSIF cancelaction == 'wrong_token_for_cancelling_email_change' %]
    Próbowałeś użyć tego żetonu do anulowania zmiany adresu.

  [% ELSIF cancelaction == 'wrong_token_for_confirming_email_change' %]
    Próbowałeś użyć tego żetonu do potwierdzenia zmiany adresu.

  [% ELSE %]
    [%# Give sensible error if the cancel-token function is used incorrectly.
      #%]
    Nieprawidłowo użyłeś żetonów. Podałeś napis '[% cancelaction %]'. Prawidłową
    metodą użycia żetonu jest podanie go jako znacznika i zdefiniowanie znacznika
    wewnątrz pliku cancel-token.txt.tmpl.

    Jeśli jesteś zwykłym użytkownikiem [% terms.Bugzilli %], prosimy o przesłanie
    tej wiadomości do [% Param('maintainer') %].
  [% END %]
[% END %]
