[%# 4.0.2+PL@aviary.pl %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[%# INTERFACE
  # none
  # 
  # Param("maintainer") is used to display the maintainer's email.
  # Param("emailsuffix") is used to pre-fill the email field.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% title = BLOCK %]
  Tworzenie nowego konta w [% terms.Bugzilli %]
[% END %]

[% PROCESS global/header.html.tmpl
           title = title
           onload = "document.forms['account_creation_form'].login.focus();" %]

<p>
  Aby utworzyć konto w [% terms.Bugzilli %] wystarczy podać
[% IF Param('emailsuffix') == '' %]
  poprawny adres e-mail.
[% ELSE %]
  nazwę konta, która w połączeniu z domeną [% Param('emailsuffix') %],
  utworzy poprawny adres e-mail.
[% END %]
  Na ten adres otrzymasz wiadomość z danymi do potwierdzenia utworzenia konta.
  <b>Aby móc się zalogować, musisz najpierw potwierdzić utworzenia konta.</b>
  Jeśli nie otrzymasz wiadomości w rozsądnym czasie, możesz skontaktować się z
  opiekunem tej instalacji [% terms.Bugzilli %] pod adresem
  <a href="mailto:[% Param("maintainer") %]">[% Param("maintainer") %]</a>.
</p>

[% IF Param('createemailregexp') == '.*' && Param('emailsuffix') == '' %]
<p>
  [% terms.Bugzilla %] jest otwartym systemem śledzenia [% terms.bledow %].
  Wszelkie treści publikowane w związku z [% terms.bledami %], włącznie z adresami e-mail,
  będą ogólnie dostępne. By zapobiec otrzymywaniu niechcianych wiadomości, <b>zalecamy</b> użycie
  drugorzędnego konta lub konta utworzonego w jednym z serwisów sieciowych, takich jak
  Gmail, Yahoo, Hotmail lub podobne serwisy.
</p>
[% END %]

<form id="account_creation_form" method="get" action="createaccount.cgi">
  <table>
    <tr>
      <td align="right">
        <b>Adres e-mail:</b>
      </td>
      <td>
        <input size="35" id="login" name="login">
        [% Param('emailsuffix') FILTER html %]
      </td>
    </tr>
  </table>
  <br>
  <input type="submit" id="send" value="Wyślij">
</form>

[% PROCESS global/footer.html.tmpl %]
