[%# 4.0+PL@aviary.pl %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Frédéric Buclin.
  # Portions created by the Initial Developer are Copyright (C) 2009
  # the Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #  Frédéric Buclin <LpSolit@gmail.com>
  #
  # Translated by Zespół Aviary.pl <team@aviary.pl>
  #%]

[% series_name = BLOCK %]
  [% series.category FILTER html %] /
  [%+ series.subcategory FILTER html %] /
  [%+ series.name FILTER html %]
[% END %]

[% PROCESS global/header.html.tmpl title = "Usuwanie serii"
                                   style_urls = ['skins/standard/admin.css'] %]

<p>
  Zamierzasz bezpowrotnie usunąć serie <b>[% series_name FILTER none %]</b>
  z bazy danych. Wszystkie powiązane dane z tymi seriami zostaną całkowicie usunięte.
</p>
<p>
  [% IF series.creator %]
    Te serie zostały utworzone przez <a href="mailto:[% series.creator.email FILTER html %]">
    [% series.creator.email FILTER html %]</a>
  [% ELSE %]
    Te serie zostały automatycznie utworzone przez [% terms.Bugzille %]
  [% END %]

  [% IF series.public %]
    i są ogólnie dostępne.
  [% ELSIF series.creator %]
    i są widoczne tylko dla tego użytkownika.
  [% ELSE %]
    i nie mogą być wyświetlane przez wszystkich.
  [% END %]
</p>

<p class="areyoureallyreallysure">Czy na pewno chcesz usunąć te serie?</p>

<p>
  <a href="chart.cgi?action=delete&amp;series_id=[% series.series_id FILTER html %]&amp;token=
           [%- issue_hash_token([series.id, series.name]) FILTER url_quote %]">Tak</a> |
  <a href="chart.cgi">Nie, wróć do strony wykresów</a>
</p>

[% PROCESS global/footer.html.tmpl %]
