[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #%]

[%# INTERFACE:
  # products: list of strings. The products this user can see.
  #
  # sortby: string. the column on which we are sorting the buglist.
  # reverse: boolean. True if we are reversing the current sort.
  # maxrows: integer. Max number of rows to display.
  # changedsince: integer. The number of days ago for the changedsince column.
  # openonly: boolean. True if we are only showing open bugs.
  # query_products: list of strings. The set of products we check for dups.
  #
  # Additionally, you need to fulfill the interface to
  # duplicates-table.html.tmpl.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% IF query_products.size %]
  [% title = "Najczęściej zgłaszane $terms.bledy dla ${query_products.join(', ')}" %]
[% ELSE %]
  [% title = "Najczęściej zgłaszane $terms.bledy" %]
[% END%]

[% PROCESS global/header.html.tmpl
   style = ".resolved { background-color: #d9d9d9; color: #000000; }"
%]

<p>
  <a href="#explanation">Co to za dane?</a>
  <br>
  <a href="#params">Zmień parametry</a>
</p>

[% PROCESS "reports/duplicates-table.html.tmpl" %]

[%# *** Parameters *** %]

[% bug_ids_string = vis_bug_ids.join(',') %]

<h3><a name="params">Zmiana parametrów</a></h3>

<form method="get" action="duplicates.cgi">
  <input type="hidden" name="sortby" value="[% sortby FILTER html %]">
  <input type="hidden" name="reverse" value="[% reverse %]">
  <input type="hidden" name="bug_id" value="[% bug_ids_string %]">
  <table>
    <tr>
      <td>Podczas sortowania lub ograniczania pracuj z:</td>
      <td>
        <input type="radio" name="sortvisible" id="entirelist" value="0"
          [% "checked" IF NOT sortvisible %]>
        <label for="entirelist">
          całą listą
        </label>
        <br>
        <input type="radio" name="sortvisible" id="visiblelist" value="1"
          [% "checked" IF sortvisible %]>
        <label for="visiblelist">
          obecnie widoczną listą
        </label>
      </td>
      <td rowspan="4" valign="top">Ogranicz do produktów:</td>
      <td rowspan="4" valign="top">
        <select name="product" size="5" multiple="multiple">
          [% FOREACH p = products %]
            <option name="[% p FILTER html %]"
            [% " selected" IF lsearch(query_products, p) != -1 %]
            >[% p FILTER html %]</option>
          [% END %]
        </select>
      </td>
     </tr>

    <tr>
      <td>Maksymalna liczba wierszy:</td>
      <td>
        <input size="4" name="maxrows" value="[% maxrows %]">
      </td>
    </tr>

    <tr>
      <td>Kolumna 'Zmian w ostatnich dniach' dotyczy:</td>
      <td>
        <input size="4" name="changedsince" value="[% changedsince %]"> dni
      </td>
    </tr>

    <tr>
      <td>
        <label for="openonly">
          Wyłącznie otwarte [% terms.bledy %]:
        </label>
      </td>
      <td>
        <input type="checkbox" name="openonly" id="openonly" value="1"
          [% "checked" IF openonly %]>
      </td>
    </tr>

  </table>

  <input type="submit" value="Zmień">
</form>

<form method="post" action="buglist.cgi">
  <input type="hidden" name="bug_id" value="[% bug_ids_string %]">
  <input type="hidden" name="order" value="Reuse same sort as last time">
  Lub wyświetl to jako <input type="submit" value="listę [% terms.bledow %]">.
  (Uwaga: porządek sortowania może nie być taki sam.)
</form>

<hr>

<b>
  <a name="explanation">Co to jest "Najczęściej zgłaszane [% terms.bledy %]"?</a>
</b>

<blockquote>
  Na stronie najczęściej zgłaszanych [% terms.bledow %] wyświetlana jest lista
  otwartych [% terms.bledow %], które są najczęściej zgłaszane. Jest ona generowana
  codziennie z zawartości bazy danych [% terms.Bugzilli %], poprzez
  zliczanie liczby bezpośrednich i pośrednich duplikatów [% terms.bledow %].
  Ta informacja tworzona jest aby ograniczyć do minimum liczbę duplikatów 
  [% terms.bledow %] zgłaszanych poprzez [% terms.Bugzille %]. Pozwala to
  oszczędzić czas osób odpowiedzialnych za QA.
</blockquote>

<b>Jak używać tej listy?</b>

<ul>
  <li>Przejrzyj listę najczęściej zgłaszanych [% terms.bledow %].</li>
  <li>Jeśli Twój problem pojawił się na liście:</li>

  <ul>
    <li>Kliknij na numerze [% terms.bledu %], aby przekonać się czy raport 
      [% terms.bledu %] odnosi sie do Twojego problemu i ewentualnie dodaj
      komentarz, jeśli posiadasz dodatkowe informacje o [% terms.bledzie %].
    </li>
  </ul>

  <li>Jeśli Twój problem nie został wyświetlony na liście:</li>

  <ul>
    <li><a href="query.cgi">Spróbuj znaleźć podobny raport o [% terms.bledzie %]</a>,
        który został zgłoszony przez kogoś innego.</li>
    <li>Jeśli znalazłeś raport o [% terms.bledzie %] w [% terms.Bugzilli %] odpowiadający
        Twojemu problemowi możesz dodać komentarz z nowymi lub dodatkowymi
        informacjami.</li>
    <li>Jeśli nie znalazłeś opisu swojego problemu w [% terms.Bugzilli %],
        <a href="enter_bug.cgi">zgłoś nowy [% terms.blad %]</a>.</li>
  </ul>
</ul>

[% PROCESS global/footer.html.tmpl %]
