[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #%]

[%# INTERFACE:
  # products: an array of product objects this user can see.
  #
  # sortby: string. the column on which we are sorting the buglist.
  # reverse: boolean. True if we are reversing the current sort.
  # maxrows: integer. Max number of rows to display.
  # changedsince: integer. The number of days ago for the changedsince column.
  # openonly: boolean. True if we are only showing open bugs.
  # query_products: list of strings. The set of products we check for dups.
  #
  # Additionally, you need to fulfill the interface to
  # duplicates-table.html.tmpl.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% IF query_products.size %]
  [% title = BLOCK %]
    Najczęściej zgłaszane [% terms.bledy %] dla [% query_products.join(', ') FILTER html %]
  [% END %]
[% ELSE %]
  [% title = "Najczęściej zgłaszane $terms.bledy" %]
[% END%]

[% PROCESS global/header.html.tmpl
   title = title
   style = ".resolved { background-color: #d9d9d9; color: #000000; }"
%]

<p>
  <a href="#explanation">Co to za dane?</a>
  <br>
  <a href="#params">Zmiana parametrów</a>
</p>

[% PROCESS "reports/duplicates-table.html.tmpl" %]

[%# *** Parameters *** %]

[% bug_ids_string = vis_bug_ids.join(',') %]

<h3><a name="params">Zmiana parametrów</a></h3>

<form method="get" action="duplicates.cgi">
  <input type="hidden" name="sortby" value="[% sortby FILTER html %]">
  <input type="hidden" name="reverse" value="[% reverse %]">
  <input type="hidden" name="bug_id" value="[% bug_ids_string %]">
  <table>
    <tr>
      <td>Podczas sortowania lub ograniczania pracuj z:</td>
      <td>
        <input type="radio" name="sortvisible" id="entirelist" value="0"
          [% "checked" IF NOT sortvisible %]>
        <label for="entirelist">
          całą listą
        </label>
        <br>
        <input type="radio" name="sortvisible" id="visiblelist" value="1"
          [% "checked" IF sortvisible %]>
        <label for="visiblelist">
          aktualnie widoczną listą
        </label>
      </td>
      <td rowspan="4" valign="top">Ogranicz do produktów:</td>
      <td rowspan="4" valign="top">
        <select name="product" size="5" multiple="multiple">
          [% FOREACH p = products %]
            <option name="[% p.name FILTER html %]"
            [% " selected" IF lsearch(query_products, p.name) != -1 %]
            >[% p.name FILTER html %]</option>
          [% END %]
        </select>
      </td>
     </tr>

    <tr>
      <td>Maksymalna liczba wierszy:</td>
      <td>
        <input size="4" name="maxrows" value="[% maxrows %]">
      </td>
    </tr>

    <tr>
      <td>Kolumna Zmiany odnośi się do ostatnich:</td>
      <td>
        <input size="4" name="changedsince" value="[% changedsince %]"> dni
      </td>
    </tr>

    <tr>
      <td>
        <label for="openonly">
          Tylko otwarte [% terms.bledy %]:
        </label>
      </td>
      <td>
        <input type="checkbox" name="openonly" id="openonly" value="1"
          [% "checked" IF openonly %]>
      </td>
    </tr>

  </table>

  <input type="submit" id="change" value="Zmień">
</form>

<form method="post" action="buglist.cgi">
  <input type="hidden" name="bug_id" value="[% bug_ids_string %]">
  <input type="hidden" name="order" value="Reuse same sort as last time">
  Wyświetl jako <input type="submit" id="list" 
                                value="Listę [% terms.bledow %]">.
  (Uwaga: kolejność może być zmieniona.)
</form>

<hr>

<b>
  <a name="explanation">Czym są "Najczęściej zgłaszane [% terms.bledy %]"?</a>
</b>

<blockquote>
  Na stronie najczęściej zgłaszanych [% terms.bledow %] wyświetlana jest lista
  otwartych [% terms.bledow %], które są najczęściej zgłaszane. Jest ona generowana
  codziennie z zawartości bazy danych [% terms.Bugzilli %], poprzez
  zliczanie liczby bezpośrednich i pośrednich duplikatów [% terms.bledow %].
  Ta informacja tworzona jest, aby ograniczyć do minimum liczbę duplikatów 
  [% terms.bledow %] zgłaszanych poprzez [% terms.Bugzille %]. Pozwala to
  oszczędzić czas osób odpowiedzialnych za QA.
</blockquote>

<b>Jak korzystać z tej listy?</b>

<ul>
  <li>Należy przejrzeć listę najcześciej zgłaszanych [% terms.bledow %].</li>
  <li>Jeśli dany problem znajduje się na liście, należy:</li>

  <ul>
    <li>Otworzyć raport dotyczący [% terms.bledy %] (kliknąć na jego numer), potwierdzić
      że napotkano ten sam  [% terms.blad %] i ewentualnie dodać komentarz z dodatkowymi
      informacjami lub przejść do dalszego testowania produktu.
    </li>
  </ul>

  <li>Jeśli problem nie znajduje się na liście, należy:</li>

  <ul>
    <li><a href="query.cgi">Spróbować znaleźć podobny [% terms.blad %]</a>,
        który został już zgłoszony.</li>
    <li>Jeśli [% terms.blad %] został znaleziony w [% terms.Bugzilli %], należy
        dodać komentarz z dodatkowymi danymi lub informacjami.</li>
    <li>Jeśli nie w bazie [% terms.Bugzilli %] nie istnieje podobny problem, 
        należy <a href="enter_bug.cgi">zgłosić nowy [% terms.blad %]</a>.</li>
  </ul>
</ul>

[% PROCESS global/footer.html.tmpl %]
